<ng-container *ngIf="data$ | async; else loading">
  <ng-container *ngIf="page.layout === FrontendContentLayoutEnum.FULL">
    <div
      *ngIf="page.type === 'iframe'; else content"
      class="flex-grow-1 d-flex flex-column"
      [innerHTML]="page.content | trust"></div>
  </ng-container>
  <page-layout *ngIf="page.layout !== FrontendContentLayoutEnum.FULL">
    <page-content [heading]="page.title || page.name" [mobileHeading]="page.name" last [mode]="cardMode">
      <div
        *ngIf="page.type === 'iframe'; else content"
        class="flex-grow-1 d-flex flex-column"
        [innerHTML]="page.content | trust"></div>
    </page-content>
  </page-layout>
</ng-container>
<ng-template #content>
  <div class="custom-content-container" [innerHTML]="page.content | trust"></div>
</ng-template>
<ng-template #loading>
  <spinner></spinner>
</ng-template>
