<page-content [heading]="title"
  [mobileHeading]="i18n.account.mobileTitle.account"
  [headingActions]="headingActions" hideBack>
  <div class="balance" *ngIf="balance">
    <div class="balance-label">{{ i18n.account.balance }}</div>
    <div class="balance-value" [ngClass]="{
        negative: format.isNegative(balance),
        positive: format.isPositive(balance)
      }">
      {{ balance | currency:currency }}
    </div>
  </div>
  <balance-history-graph [account]="account"></balance-history-graph>
  <ng-container *ngTemplateOutlet="transfersTpl"></ng-container>
</page-content>

<ng-template #transfersTpl>
  <div class="flex-grow-1 d-flex flex-column justify-content-end">
    <h3 class="last-transfers">{{ i18n.dashboard.lastPayments }}</h3>
    <table
      class="table table-fixed table-hover table-auto-height mb-0 cursor-pointer"
      *ngIf="account.lastTransfers.length > 0; else noTransfers">
      <tr *ngFor="let transfer of account.lastTransfers; let last = last"
        (click)="viewTransfer(transfer, $event)">
        <td style="width:20%" class="text-left pl-0 text-muted"
          [ngClass]="{'border-0': last}">
          {{ transfer.date | date }}
        </td>
        <td style="width:55%" class="text-center text-muted"
          [ngClass]="{'border-0': last}">
          <div class="single-line">{{ subjectName(transfer) }}</div>
        </td>
        <td style="width:25%" class="text-right" [ngClass]="{
          negative: format.isNegative(transfer.amount),
          positive: format.isPositive(transfer.amount),
          'border-0': last
          }">
          {{ transfer.amount | currency: currency }}
        </td>
      </tr>
    </table>
    <ng-template #noTransfers>
      {{ i18n.dashboard.noPayments }}
    </ng-template>
  </div>
</ng-template>
