<page-content [heading]="i18n.dashboard.accounts" hideBack>
  <div class="row no-gutters flex-grow-1">
    <ng-container *ngFor="let entry of accounts; let i = index">
      <div class="mt-1 col-12" *ngIf="lineBreak(i)"></div>
      <div class="col" [ngClass]="cellClass(i)">
        <div class="balance">
          <div class="balance-label">
            <a href="#" class="account-name" (click)="menu.navigate({
                entry: this.menu.accountEntry(entry.account.type),
                clear: false,
                event: $event
              })" [tooltip]="entry.account.type.name">
              {{ entry.account.type.name }}
            </a>
          </div>
          <div class="balance-value" *ngIf="entry.balance" [ngClass]="{
            negative: format.isNegative(entry.balance),
            positive: format.isPositive(entry.balance)
            }">
            {{ entry.balance | currency:entry.account.currency }}
          </div>
        </div>
        <div class="px-3">
          <balance-history-graph [account]="entry"></balance-history-graph>
        </div>
      </div>
    </ng-container>
  </div>
</page-content>
