<page-content
  [heading]="i18n.dashboard.quickAccess"
  hideBack
  [mode]="(layout.xxs$ | async) ? 'fullHeightTight' : 'tight'"
  [headingActions]="headingActions$ | async">
  <div class="quick-access">
    <div class="quick-access-container">
      <ng-container *ngFor="let action of actions">
        <div *ngIf="action.entry" class="quick-access-item-container" [ngClass]="itemClass$ | async">
          <a
            #anchor
            [attr.href]="router.createUrlTree([action.url || action.entry.url])"
            class="quick-access-item"
            (click)="navigate(action, $event); blurIfClick(anchor, $event)">
            <div class="quick-access-icon">
              <icon [icon]="action.icon" size="2.2rem"></icon>
            </div>
            <div class="quick-access-text">
              <ng-container *ngIf="shortcutKey(action); else plainLabel">
                {{
                  i18n.dashboard.quickAccessShortcutTemplate({
                    shortcut: shortcutKey(action),
                    label: action.label
                  })
                }}
              </ng-container>
              <ng-template #plainLabel>
                {{ action.label }}
              </ng-template>
            </div>
          </a>
        </div>
      </ng-container>
    </div>
  </div>
</page-content>
