<page-layout [ready]="data$ | async" [ngSwitch]="step$ | async">

  <page-content *ngSwitchCase="'form'" [heading]="data.document.name"
    [mobileHeading]="data.document.name">
    <label-value *ngFor="let cf of formFields; let first = first"
      [label]="cf.name" [kind]="'field'" [fieldSize]="fieldSize(cf)"
      [required]="cf.required" [focused]="first"
      [labelPosition]="cf.type === 'boolean' ? 'sideForced' : 'auto'">
      <custom-field-input [field]="cf" hideLabel
        [formControl]="formControl(cf.internalName)">
      </custom-field-input>
    </label-value>
    <actions>
      <action-button (action)="process()" [disabled]="requesting$ | async"
        [label]="i18n.general.submit">
      </action-button>
    </actions>
  </page-content>

  <page-content *ngSwitchCase="'preview'" [heading]="data.document.name"
    [mobileHeading]="data.document.name" printContentOnly
    [headingActions]="headingActions$ | async" last>
    <div [innerHTML]="result | trust"></div>
  </page-content>

</page-layout>
