<page-layout [ready]="data$ | async">
  <page-content
    *ngIf="data"
    last
    [heading]="i18n.imports.title.edit"
    [mobileHeading]="i18n.imports.mobileTitle.edit"
    [headingActions]="headingActions$ | async">
    <div class="d-flex flex-grow-1 flex-column" [formGroup]="form">
      <textarea-field formControlName="description" [label]="i18n.general.description"></textarea-field>

      <actions>
        <action-button [disabled]="requesting$ | async" (action)="save()" [label]="i18n.general.save"> </action-button>
      </actions>
    </div>
  </page-content>
</page-layout>
