<page-layout [ready]="data$ | async">
  <ng-container *ngIf="data then content"></ng-container>
</page-layout>

<ng-template #content>
  <page-content mode="filters" [heading]="heading"
    [mobileHeading]="mobileHeading">
    <form [formGroup]="form" class="filters-form">
      <div class="row">
        <ng-container *ngIf="data.user && !self">
          <div class="col-12 col-md-6">
            <label-value [label]="i18n.general.user" kind="fieldView">
              <user-link [user]="data.user"></user-link>
            </label-value>
          </div>
          <div *ngIf="layout.gtsm$" class="col-12 col-md-6">
          </div>
        </ng-container>
        <div class="col-12 col-md-6">
          <single-selection-field labelPosition="side"
            formControlName="status" [label]="i18n.general.status"
            [fieldOptions]="statusOptions"
            [emptyOption]="i18n.general.notApplied">
          </single-selection-field>
        </div>
        <div *ngIf="isPaymentRequest()" class="col-12 col-md-6">
          <radio-group-field labelPosition="side"
            [label]="i18n.transaction.direction" formControlName="direction">
            <field-option value="all" [text]="i18n.general.all">
            </field-option>
            <field-option value="credit" [text]="i18n.transaction.sender">
            </field-option>
            <field-option value="debit" [text]="i18n.transaction.receiver">
            </field-option>
          </radio-group-field>
        </div>
        <div *ngIf="hasTransactionNumber" class="col-12 col-md-6">
          <input-field labelPosition="side"
            formControlName="transactionNumber"
            [mask]="transactionNumberPattern"
            [label]="i18n.transaction.number"></input-field>
        </div>
        <div class="col-12 col-md-6"
          *ngIf="!isPaymentRequest() && (data.accountTypes?.length > 1)">
          <single-selection-field labelPosition="side"
            formControlName="accountType" [label]="i18n.transaction.account"
            [emptyOption]="i18n.general.notApplied">
            <field-option *ngFor="let at of data.accountTypes" [value]="at.id"
              [text]="at.name"></field-option>
          </single-selection-field>
        </div>
        <div class="col-12 col-md-6"
          *ngIf="data.preselectedPeriods?.length > 0">
          <single-selection-field labelPosition="side"
            formControlName="preselectedPeriod" [label]="i18n.general.period">
            <field-option *ngFor="let period of data.preselectedPeriods"
              [id]="period['id']" [value]="period" [text]="period.name">
            </field-option>
          </single-selection-field>
        </div>
        <div *ngIf="(transferFilters$ | async).length > 0"
          class="col-12 col-md-6">
          <single-selection-field labelPosition="side"
            formControlName="transferFilter"
            [label]="i18n.account.transferFilter"
            [emptyOption]="i18n.general.notApplied">
            <field-option *ngFor="let filter of transferFilters$.value"
              [value]="filter" [id]="filter.id" [text]="filter.name">
            </field-option>
          </single-selection-field>
        </div>
        <div
          *ngIf="(form.value || (form.valueChanges | async))?.preselectedPeriod?.begin == null"
          class="col-12 col-md-6">
          <date-field labelPosition="side" formControlName="periodBegin"
            [label]="i18n.general.beginDate" minDate="past5" maxDate="today"
            fieldSize="full">
          </date-field>
        </div>
        <div
          *ngIf="(form.value || (form.valueChanges | async))?.preselectedPeriod?.end == null"
          class="col-12 col-md-6">
          <date-field labelPosition="side" formControlName="periodEnd"
            [label]="i18n.general.endDate" minDate="past5" maxDate="today"
            fieldSize="full">
          </date-field>
        </div>
        <div class="col-12 col-md-6">
          <user-field labelPosition="side" formControlName="user"
            [label]="i18n.general.user">
          </user-field>
        </div>
      </div>
    </form>
  </page-content>

  <results-layout resultType="list" [results]="results$ | async"
    (update)="update($event)" [toLink]="toLink" [rendering$]="rendering$">

    <mobile-result *mobileResult="let row"
      [avatarImage]="bankingHelper.avatarImage(row.related)"
      [avatarIcon]="bankingHelper.avatarIcon(row.related)" [date]="row.date"
      [amount]="row.amount" [currency]="currencies.get(row.currency)"
      forceSign>
      <div class="cell-text cell-main">
        {{ bankingHelper.subjectName(row.related) }}
      </div>
    </mobile-result>

    <table *resultTable class="table table-hover cursor-pointer">
      <thead>
        <th class="avatar"></th>
        <th>{{ i18n.general.date }}</th>
        <th *ngIf="!isPaymentRequest()">{{ i18n.transaction.fromTo }}</th>
        <ng-container *ngIf="isPaymentRequest()">
          <th>{{ i18n.transaction.senderOrReceiver }}</th>
          <th>{{ i18n.general.status }}</th>
        </ng-container>
        <th>{{ i18n.transaction.scheduling }}</th>
        <th class="amount">{{ i18n.transaction.amount }}</th>
      </thead>
      <tbody>
        <ng-container *ngFor="let row of (results$ | async)?.results">
          <tr (click)="router.navigate(bankingHelper.transactionPath(row))">
            <td class="avatar">
              <avatar [image]="bankingHelper.avatarImage(row.related)"
                [icon]="bankingHelper.avatarIcon(row.related)">
              </avatar>
            </td>
            <td>
              <a [routerLink]="bankingHelper.transactionPath(row)">
                {{ row.date | date }}
              </a>
            </td>
            <td>
              <a [routerLink]="bankingHelper.transactionPath(row)">
                {{ bankingHelper.subjectName(row.related) }}
              </a>
            </td>
            <td *ngIf="isPaymentRequest()">
              <a class="d-inline-block"
                [routerLink]="bankingHelper.transactionPath(row)">
                {{ transactionStatusService.transactionStatus(row) }}
              </a>
            </td>
            <td>
              <a class="d-inline-block"
                [routerLink]="bankingHelper.transactionPath(row)">
                {{ bankingHelper.scheduling(row) }}
              </a>
            </td>
            <td class="amount" [ngClass]="{'pb-0': layout.xxs$ | async}">
              <a [routerLink]="bankingHelper.transactionPath(row)" [ngClass]="{
                  positive: format.isPositive(row.amount),
                  negative: format.isNegative(row.amount)
                }">
                {{ row.amount | currency:currencies.get(row.currency):true }}
              </a>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </results-layout>
</ng-template>
