<page-layout [ready]="data$ | async">
  <ng-container *ngIf="loaded$ | async; else loading">
    <transaction-filters [heading]="i18n.transaction.title.scheduled"
      [mobileHeading]="i18n.transaction.mobileTitle.scheduled" [form]="form"
      [data]="data" [statusOptions]="statusOptions"
      [transferFilters]="transferFilters$ | async"></transaction-filters>

    <results-layout resultType="list" [results]="results$ | async"
      (update)="update($event)" [toLink]="toLink">

      <mobile-result *mobileResult="let row" [avatarImage]="avatarImage(row)"
        [avatarIcon]="avatarIcon(row)" [date]="row.date" [amount]="row.amount"
        [currency]="currencies.get(row.currency)" forceSign>
        <div class="cell-text cell-main">
          {{ subjectName(row) }}
        </div>
      </mobile-result>

      <table *resultTable class="table table-hover cursor-pointer">
        <thead>
          <th class="avatar"></th>
          <th>{{ i18n.general.date }}</th>
          <th>{{ i18n.transaction.fromTo }}</th>
          <th>{{ i18n.transaction.scheduling }}</th>
          <th class="amount">{{ i18n.transaction.amount }}</th>
        </thead>
        <tbody>
          <ng-container *ngFor="let row of (results$ | async).results">
            <tr (click)="router.navigate(path(row))">
              <td class="avatar" [ngClass]="{'pb-0': layout.xxs$ | async}">
                <avatar [image]="avatarImage(row)" [icon]="avatarIcon(row)">
                </avatar>
              </td>
              <td>
                <a [routerLink]="path(row)">
                  {{ row.date | date }}
                </a>
              </td>
              <td>
                <a [routerLink]="path(row)">
                  {{ subjectName(row) }}
                </a>
              </td>
              <td>
                <a class="d-inline-block" [routerLink]="path(row)">
                  {{ scheduling(row) }}
                </a>
              </td>
              <td class="amount">
                <a [routerLink]="path(row)" [ngClass]="{
                        positive: format.isPositive(row.amount),
                        negative: format.isNegative(row.amount)
                      }">
                  {{ row.amount | currency:currencies.get(row.currency):true }}
                </a>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </results-layout>
  </ng-container>
</page-layout>

<ng-template #loading>
  <page-content>
    <spinner></spinner>
  </page-content>
</ng-template>

<ng-template #loadingIndicators>
  <spinner class="p-3"></spinner>
</ng-template>
