<page-layout [ready]="data$ | async">
  <ng-container *ngIf="loaded$ | async; else loading">
    <transaction-filters i18n-heading heading="Payment authorizations" [form]="form"
      [data]="data" [statusOptions]="statusOptions" [transferFilters]="transferFilters$ | async"></transaction-filters>

    <results-layout resultType="list" [results]="results$ | async" (update)="update($event)">
      <table *resultTable class="table table-hover cursor-pointer">
        <thead *ngIf="layout.gtxs$ | async">
          <th class="avatar"></th>
          <th i18n>Date</th>
          <th i18n>From / to</th>
          <th i18n>Scheduling</th>
          <th i18n class="amount">Amount</th>
        </thead>
        <tbody>
          <ng-container *ngFor="let row of (results$ | async).results">
            <tr (click)="router.navigate(path(row))">
              <td class="avatar" [ngClass]="{'pb-0': layout.xxs$ | async}">
                <avatar [image]="avatarImage(row)" [icon]="avatarIcon(row)"></avatar>
              </td>
              <td *ngIf="layout.xs$ | async">
                <!-- Aggregated cell for xs -->
                <a [routerLink]="path(row)">
                  <div class="cell-text cell-main">{{ subjectName(row) }}</div>
                  <div class="cell-text cell-date">{{ row.date | date }}</div>
                </a>
              </td>
              <td *ngIf="layout.gtxs$ | async">
                <a [routerLink]="path(row)">
                  {{ row.date | date }}
                </a>
              </td>
              <td *ngIf="layout.gtxs$ | async">
                <a [routerLink]="path(row)">
                  {{ subjectName(row) }}
                </a>
              </td>
              <td>
                <a class="d-inline-block" [routerLink]="path(row)">
                  {{ scheduling(row) }}
                </a>
              </td>
              <td class="amount" [ngClass]="{'pb-0': layout.xxs$ | async}">
                <a [routerLink]="path(row)" [ngClass]="{
                        positive: format.isPositive(row.amount),
                        negative: format.isNegative(row.amount)
                      }">
                  {{ row.amount | currency:currencies.get(row.currency):true
                  }}
                </a>
              </td>
            </tr>
            <tr *ngIf="layout.xxs$ | async" (click)="router.navigate(path(row))">
              <td class="border-0" colspan="3">
                <a [routerLink]="path(row)">
                  <div class="cell-text cell-main">{{ subjectName(row) }}</div>
                  <div class="cell-text cell-date">{{ row.date | dateTime }}</div>
                </a>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </results-layout>
  </ng-container>
</page-layout>

<ng-template #loading>
  <page-content>
    <spinner></spinner>
  </page-content>
</ng-template>

<ng-template #loadingIndicators>
  <spinner class="p-3"></spinner>
</ng-template>
