<page-content mode="filters" [heading]="heading"
  [mobileHeading]="mobileHeading">
  <form [formGroup]="form" class="filters-form">
    <div class="row">
      <div class="col-12 col-md-6">
        <single-selection-field labelPosition="side" formControlName="status"
          [label]="i18n.general.status" [fieldOptions]="statusOptions">
        </single-selection-field>
      </div>
      <div class="col-12 col-md-6" *ngIf="data.accountTypes?.length > 1">
        <single-selection-field labelPosition="side"
          formControlName="accountType" [label]="i18n.transaction.account"
          [emptyOption]="i18n.general.notApplied">
          <field-option *ngFor="let at of data.accountTypes" [value]="at.id"
            [text]="at.name"></field-option>
        </single-selection-field>
      </div>
      <div class="col-12 col-md-6">
        <single-selection-field labelPosition="side"
          formControlName="preselectedPeriod" [label]="i18n.general.period">
          <field-option *ngFor="let period of data.preselectedPeriods"
            [id]="period['id']" [value]="period" [text]="period.name">
          </field-option>
        </single-selection-field>
      </div>
      <div *ngIf="transferFilters?.length > 0" class="col-12 col-md-6">
        <single-selection-field labelPosition="side"
          formControlName="transferFilter"
          [label]="i18n.account.transferFilter"
          [emptyOption]="i18n.general.notApplied">
          <field-option *ngFor="let filter of transferFilters"
            [value]="filter" [id]="filter.id" [text]="filter.name">
          </field-option>
        </single-selection-field>
      </div>
      <div
        *ngIf="(form.value || (form.valueChanges | async))?.preselectedPeriod?.begin == null"
        class="col-12 col-md-6">
        <date-field labelPosition="side" formControlName="periodBegin"
          [label]="i18n.general.beginDate" minDate="past5" maxDate="today"
          fieldSize="full">
        </date-field>
      </div>
      <div
        *ngIf="(form.value || (form.valueChanges | async))?.preselectedPeriod?.end == null"
        class="col-12 col-md-6">
        <date-field labelPosition="side" formControlName="periodEnd"
          [label]="i18n.general.endDate" minDate="past5" maxDate="today"
          fieldSize="full">
        </date-field>
      </div>
    </div>
  </form>
</page-content>
