<page-layout [ready]="data$ | async">
  <page-content [heading]="i18n.transaction.title.authorizationHistory"
    [mobileHeading]="i18n.transaction.mobileTitle.authorizationHistory">
    <ng-container *ngIf="transaction.transactionNumber">
      <label-value [label]="i18n.transaction.number">
        {{ transaction.transactionNumber }}
      </label-value>
      <hr>
    </ng-container>
    <ng-container
      *ngFor="let auth of transaction.authorizations; let first = first">
      <hr *ngIf="!first">
      <label-value [label]="i18n.general.action">
        {{ actionLabel(auth) }}
      </label-value>
      <label-value *ngIf="auth.by" [label]="i18n.general.performedBy">
        {{ auth.by.display}}
      </label-value>
      <label-value [label]="i18n.general.date">
        {{ auth.date | dateTime}}
      </label-value>
      <label-value *ngIf="auth.comments" [label]="i18n.general.comments"
        [value]="auth.comments" valueFormat="break">
      </label-value>
    </ng-container>
  </page-content>
</page-layout>
