<page-layout [ready]="data$ | async">
  <page-content *ngIf="data$ | async" last mode="viewForm" [heading]="title"
    [headingActions]="headingActions$ | async">
    <transfer-details *ngIf="transaction.transfer; else transactionFields"
      [transfer]="transaction.transfer"></transfer-details>
  </page-content>
</page-layout>

<ng-template #transactionFields>
  <label-value *ngIf="transaction.transactionNumber"
    [label]="i18n.transaction.number">
    {{ transaction.transactionNumber }}
  </label-value>
  <label-value [label]="i18n.transaction.status.name" [value]="status">
  </label-value>
  <label-value [label]="i18n.general.date">
    {{ transaction.date | dateTime }}
  </label-value>
  <label-value [label]="i18n.transaction.amount">
    {{ transaction.amount | currency:transaction.currency }}
  </label-value>
  <label-value *ngIf="hasDueAmount" [label]="i18n.transaction.dueAmount">
    {{ transaction.dueAmount | currency:transaction.currency }}
  </label-value>
  <label-value *ngIf="transaction.by" [label]="i18n.general.performedBy">
    {{ transaction.by.display }}
  </label-value>
  <label-value *ngIf="transaction?.receivedBy"
    [label]="i18n.transaction.receivedBy">
    {{ transaction.receivedBy.display }}
  </label-value>
  <label-value [label]="i18n.transaction.from">
    <user-link *ngIf="transaction.fromUser; else fromSystem"
      [user]="transaction.fromUser"></user-link>
    <ng-template #fromSystem>
      {{ transaction.type.from.name }}
    </ng-template>
  </label-value>
  <label-value [label]="i18n.transaction.to">
    <user-link *ngIf="transaction.toUser; else toSystem"
      [user]="transaction.toUser"></user-link>
    <ng-template #toSystem>
      {{ transaction.type.to.name }}
    </ng-template>
  </label-value>
  <label-value [label]="i18n.transaction.type">
    {{ transaction.type.name }}
  </label-value>
  <custom-field-value *ngFor="let value of transaction.customValues"
    [fieldValue]="value">
  </custom-field-value>
  <label-value *ngIf="transaction.channel" [label]="i18n.transaction.channel">
    {{ transaction.channel.name }}
  </label-value>

  <label-value *ngIf="(transaction.installments || []).length === 1"
    [label]="i18n.transaction.dueDate">
    {{ transaction.installments[0].dueDate | date }}
  </label-value>

  <label-value *ngIf="transaction.nextOccurrenceDate"
    [label]="i18n.transaction.nextOccurrence">
    {{ transaction.nextOccurrenceDate | date }}
  </label-value>

  <label-value *ngIf="transaction.occurrencesCount"
    [label]="i18n.transaction.occurrencesCount">
    {{ transaction.occurrencesCount }}
  </label-value>

  <label-value *ngIf="lastAuthComment"
    [label]="i18n.transaction.authorizationComments" [value]="lastAuthComment"
    valueFormat="break">
  </label-value>

  <label-value *ngIf="transaction.description"
    [label]="i18n.general.description" [value]="transaction.description"
    valueFormat="break">
  </label-value>

  <ng-container *ngIf="(transaction.installments || []).length > 1">
    <h2 class="border-0 mt-4">{{ i18n.transaction.installments }}</h2>
    <table class="table table-hover">
      <thead *ngIf="layout.gtxs$ | async">
        <th>{{ i18n.transaction.installmentNumber }}</th>
        <th>{{ i18n.transaction.dueDate }}</th>
        <th>{{ i18n.transaction.status.name }}</th>
        <th class="amount">{{ i18n.transaction.amount }}</th>
        <th class="actions" *ngIf="hasInstallmentActions"></th>
      </thead>
      <tbody>
        <tr *ngFor="let installment of transaction.installments"
          [ngClass]="{'cursor-pointer': path(installment)}"
          (click)="path(installment) ? router.navigate(path(installment)) : null">
          <td>
            <maybe-link [link]="path(installment)">
              {{ installment.number }}
            </maybe-link>
          </td>
          <td>
            <maybe-link [link]="path(installment)">
              {{ installment.dueDate | date }}
            </maybe-link>
          </td>
          <td>
            <maybe-link [link]="path(installment)">
              {{ installmentStatus(installment.status) }}
            </maybe-link>
          </td>
          <td class="text-right">
            <maybe-link [link]="path(installment)">
              {{ installment.amount | currency:transaction.currency }}
            </maybe-link>
          </td>
          <td *ngIf="hasInstallmentActions" class="actions">
            <button *ngIf="installment.canProcess"
              [tooltip]="i18n.transaction.processInstallment"
              class="btn btn-icon" (click)="processInstallment(installment)">
              <icon icon="play_circle_outline"></icon>
            </button>
            <button *ngIf="installment.canSettle"
              [tooltip]="i18n.transaction.settleInstallment"
              class="btn btn-icon" (click)="settleInstallment(installment)">
              <icon icon="thumb_up"></icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </ng-container>

  <ng-container *ngIf="(transaction.occurrences || []).length > 0">
    <h2 class="border-0 mt-4">
      {{ i18n.transaction.occurrences }}
    </h2>
    <table class="table table-hover cursor-pointer">
      <thead *ngIf="layout.gtxs$ | async">
        <th>{{ i18n.transaction.installmentNumber }}</th>
        <th>{{ i18n.general.date }}</th>
        <th>{{ i18n.transaction.status.name }}</th>
        <th class="text-right">{{ i18n.transaction.amount }}</th>
      </thead>
      <tbody>
        <tr *ngFor="let occurrence of transaction.occurrences"
          [ngClass]="{'cursor-pointer': path(occurrence)}"
          (click)="path(occurrence) ? router.navigate(path(occurrence)) : null">
          <td>
            <maybe-link [link]="path(occurrence)">
              {{ occurrence.number }}
            </maybe-link>
          </td>
          <td>
            <maybe-link [link]="path(occurrence)">
              {{ occurrence.date | date }}
            </maybe-link>
          </td>
          <td>
            <maybe-link [link]="path(occurrence)">
              {{ occurrenceStatus(occurrence.status) }}
            </maybe-link>
          </td>
          <td class="text-right">
            <maybe-link [link]="path(occurrence)">
              {{ occurrence.amount | currency:transaction.currency }}
            </maybe-link>
          </td>
        </tr>
      </tbody>
    </table>
  </ng-container>
</ng-template>
