<h1>
  {{ i18n.phone.verify.title(phone.number) }}
</h1>

<div class="row">
  <div class="col-3 col-form-label">
    <label for="smsCode">
      {{ i18n.phone.verify.code }}
    </label>
  </div>
  <div class="col-6">
    <input-field #codeField id="smsCode" [formControl]="code" fieldSize="small" type="number" focused></input-field>
  </div>
  <div class="col-3">
    <countdown-button
      class="d-block w-100"
      (action)="sendCode()"
      [label]="i18n.phone.verify.send"
      [disabledKey]="disableLabel"
      [disabledSeconds]="30">
    </countdown-button>
  </div>
</div>

<div class="mt-3 pb-1">{{ message$ | async }}</div>

<actions>
  <action-button [disabled]="requesting$ | async" (action)="verify()" [label]="i18n.general.confirm"> </action-button>
  <action-button outline (action)="modalRef.hide()" [label]="i18n.general.cancel"> </action-button>
</actions>
