<page-layout [ready]="data$ | async">
  <page-content *ngIf="data" last mode="viewForm" [heading]="title"
    [mobileHeading]="mobileTitle" [headingActions]="headingActions$ | async">

    <ng-container *ngIf="showActions$ | async">
      <div class="row no-gutters">
        <div *ngIf="bankingActions.length > 0" class="col-12 col-sm-6">
          <h2 class="border-0">{{ i18n.user.profile.banking }}</h2>
          <ng-container *ngFor="let action of bankingActions">
            <ng-container
              *ngTemplateOutlet="actionTpl; context: {$implicit: action}">
            </ng-container>
          </ng-container>
        </div>
        <div *ngIf="managementActions.length > 0" class="col-12 col-sm-6">
          <h2 class="border-0">{{ i18n.user.profile.management }}</h2>
          <ng-container *ngFor="let action of managementActions">
            <ng-container
              *ngTemplateOutlet="actionTpl; context: {$implicit: action}">
            </ng-container>
          </ng-container>
        </div>
      </div>
      <hr>
    </ng-container>

    <profile-images
      *ngIf="imageEnabled && user.image && (layout.ltsm$ | async)"
      [image]="user.image" [additionalImages]="user.additionalImages">
    </profile-images>

    <div class="d-flex flex-row-reverse">
      <profile-images *ngIf="imageEnabled && (layout.gtxs$ | async)"
        [image]="user.image" [additionalImages]="user.additionalImages"
        icon="user">
      </profile-images>
      <div class="d-flex flex-grow-1 flex-column">
        <label-value *ngIf="showOperatorOwner"
          [label]="i18n.user.operatorOwner">
          <user-link [user]="user.user"></user-link>
        </label-value>
        <label-value *ngIf="user.groupSet" [label]="i18n.user.groupSet"
          [value]="user.groupSet.name"></label-value>
        <label-value *ngIf="user.group" [label]="i18n.user.group"
          [value]="user.group.name"></label-value>
        <label-value *ngIf="user.status" [label]="i18n.general.status"
          [value]="userHelper.userStatus(user.status)"></label-value>
        <label-value *ngIf="user.name" [label]="i18n.user.name"
          [value]="user.name"></label-value>
        <label-value *ngIf="user.username" [label]="i18n.user.username"
          [value]="user.username"></label-value>
        <label-value *ngIf="user.registrationDate"
          [label]="i18n.user.registrationDate"
          [value]="user.registrationDate | date"></label-value>
        <label-value *ngIf="showActivationDate"
          [label]="i18n.user.activationDate"
          [value]="user.activationDate | date"></label-value>
        <label-value *ngIf="user.email" [label]="i18n.user.email">
          <a [href]="'mailto:' + user.email" class="link-with-icon">
            <icon icon="email"></icon>
            <span>{{ user.email }}</span>
          </a>
        </label-value>
        <label-value *ngIf="mobilePhone" [label]="i18n.phone.mobile">
          <a [href]="'tel:' + mobilePhone.normalizedNumber"
            class="link-with-icon">
            <icon icon="smartphone"></icon>
            <span>{{ mobilePhone.number }}</span>
          </a>
        </label-value>
        <label-value *ngFor="let phone of mobilePhones" [label]="phone.name">
          <a [href]="'tel:' + phone.normalizedNumber" class="link-with-icon">
            <icon icon="smartphone"></icon>
            <span>{{ phone.number }}</span>
          </a>
        </label-value>
        <label-value *ngIf="landLinePhone" [label]="i18n.phone.landLine">
          <a [href]="'tel:' + landLinePhone.normalizedNumber"
            class="link-with-icon">
            <icon icon="phone"></icon>
            <span>{{ landLinePhone.number }}</span>
          </a>
        </label-value>
        <label-value *ngFor="let phone of landLinePhones"
          [label]="phone.name">
          <a [href]="'tel:' + phone.normalizedNumber" class="link-with-icon">
            <icon icon="phone"></icon>
            <span>{{ phone.number }}</span>
          </a>
        </label-value>
        <custom-field-value *ngFor="let value of user.customValues"
          [fieldValue]="value"></custom-field-value>
        <label-value *ngIf="data.references"
          [label]="i18n.user.profile.references">
          <a [routerLink]="referencesPath()">
            <rating-stats *ngIf="data.references.count > 0"
              [score]="data.references.score" [textRight]="data.references.count > 1 ?
            i18n.reference.count.multi(data.references.count) :
            i18n.reference.count.single">
            </rating-stats>
            <ng-container *ngIf="data.references.count === 0">
              {{ i18n.reference.notGiven }}</ng-container>
          </a>
        </label-value>
      </div>
    </div>
    <div class="d-flex flex-grow-1 flex-column">
      <profile-addresses [addresses]="user.addresses"></profile-addresses>

      <!-- Contact infos -->
      <ng-container *ngIf="user.contactInfos?.length > 0">
        <h2 class="mt-3">{{ i18n.user.contactInfo }}</h2>
        <div class="row no-gutters">
          <div class="text-center col-12 col-sm-6 col-md-4 col-lg-3 pb-3"
            *ngFor="let contactInfo of user.contactInfos; let first=first">
            <avatar size="140" useLightbox [image]="contactInfo.image"
              class="mb-2">
            </avatar>
            <div class="font-weight-bold">{{ contactInfo.name }}</div>
            <a class="d-block" *ngIf="contactInfo.email"
              [href]="'mailto:' + contactInfo.email">
              {{ contactInfo.email }}
            </a>
            <a class="d-block"
              [href]="'tel:' + contactInfo.normalizedMobilePhone">
              {{ contactInfo.mobilePhone }}
            </a>
            <a class="d-block"
              [href]="'tel:' + contactInfo.normalizedLandLinePhone">
              {{ contactInfo.landLinePhone }}
            </a>
            <div *ngFor="let value of contactInfo.customValues">
              <format-field-value [fieldValue]="value"></format-field-value>
            </div>
            <div *ngIf="contactInfo.address" class="text-accent">
              <span class="inline-label">{{
                i18n.user.contactInfoAtAddress
                }}</span>
              {{ contactInfo.address.name }}
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </page-content>
</page-layout>

<ng-template #actionTpl let-action>
  <div class="profile-action">
    <heading-action-button class="heading-action-button" [action]="action">
    </heading-action-button>
  </div>
</ng-template>
