<page-layout [ready]="data$ | async">
  <page-content *ngIf="data" last mode="viewForm" [heading]="title"
    [mobileHeading]="mobileTitle" [headingActions]="headingActions$ | async">

    <ng-container *ngIf="showActions$ | async">
      <div class="row no-gutters">
        <div *ngIf="bankingActions.length > 0" class="col-12 col-sm-6">
          <h2 class="border-0 mb-2">{{ i18n.user.profile.banking }}</h2>
          <ng-container *ngFor="let action of bankingActions">
            <ng-container
              *ngTemplateOutlet="actionTpl; context: {$implicit: action}">
            </ng-container>
          </ng-container>
        </div>
        <div *ngIf="managementActions.length > 0" class="col-12 col-sm-6">
          <h2 class="border-0 mb-2">{{ i18n.user.profile.management }}</h2>
          <ng-container *ngFor="let action of managementActions">
            <ng-container
              *ngTemplateOutlet="actionTpl; context: {$implicit: action}">
            </ng-container>
          </ng-container>
        </div>
      </div>
      <hr>
    </ng-container>

    <profile-images
      *ngIf="imageEnabled && user.image && (layout.ltsm$ | async)"
      [image]="user.image" [additionalImages]="user.additionalImages">
    </profile-images>

    <float-labels>
      <profile-images *ngIf="imageEnabled && (layout.gtxs$ | async)"
        [image]="user.image" [additionalImages]="user.additionalImages"
        [icon]="SvgIcon.PersonCircle" class="float-right">
      </profile-images>
      <label-value *ngIf="showOperatorOwner"
        [label]="i18n.user.operatorOwner">
        <user-link [user]="user.user"></user-link>
      </label-value>
      <label-value *ngIf="user.groupSet" [label]="i18n.user.groupSet"
        [value]="user.groupSet.name"></label-value>
      <label-value *ngIf="user.group" [label]="i18n.user.group"
        [value]="user.group.name"></label-value>
      <label-value *ngIf="user.status" [label]="i18n.general.status"
        [value]="userHelper.userStatus(user.status)"></label-value>
      <label-value *ngIf="user.name"
        [label]="data.nameLabel || i18n.user.name" [value]="user.name">
      </label-value>
      <label-value *ngIf="user.username" [label]="i18n.user.username"
        [value]="user.username"></label-value>
      <label-value *ngIf="mainBroker" [label]="i18n.user.mainBroker">
        <user-link [user]="mainBroker"></user-link>
      </label-value>
      <label-value *ngIf="otherBrokers?.length > 0"
        [label]="i18n.user.otherBrokers">
        <ng-container
          *ngFor="let otherBroker of otherBrokers; let last = last;">
          <user-link [user]="otherBroker"
            [ngClass]="{'mb-1': !last}"></user-link>
        </ng-container>
      </label-value>
      <label-value *ngIf="user.registrationDate"
        [label]="i18n.user.registrationDate"
        [value]="user.registrationDate | date"></label-value>
      <label-value *ngIf="user.invitedBy" [label]="i18n.user.invitedBy">
        <user-link [user]="user.invitedBy"></user-link>
      </label-value>
      <label-value *ngIf="showActivationDate"
        [label]="i18n.user.activationDate"
        [value]="user.activationDate | date"></label-value>
      <label-value *ngIf="user.email" [label]="i18n.user.email">
        <a [href]="'mailto:' + user.email" class="link-with-icon">
          <icon [icon]="SvgIcon.Envelope"></icon>
          <span>{{ user.email }}</span>
        </a>
      </label-value>
      <label-value *ngIf="data.emailPendingValidation"
        [label]="i18n.user.emailPending">
        {{ data.emailPendingValidation }}
      </label-value>
      <label-value *ngIf="mobilePhone" [label]="i18n.phone.mobile">
        <a [href]="'tel:' + mobilePhone.normalizedNumber"
          class="link-with-icon">
          <icon [icon]="SvgIcon.Phone"></icon>
          <span>{{ mobilePhone.number }}</span>
        </a>
      </label-value>
      <label-value *ngFor="let phone of mobilePhones" [label]="phone.name">
        <a [href]="'tel:' + phone.normalizedNumber" class="link-with-icon">
          <icon [icon]="SvgIcon.Phone"></icon>
          <span>{{ phone.number }}</span>
        </a>
      </label-value>
      <label-value *ngIf="landLinePhone" [label]="i18n.phone.landLine">
        <a [href]="'tel:' + landLinePhone.normalizedNumber"
          class="link-with-icon">
          <icon [icon]="SvgIcon.Telephone"></icon>
          <span>{{ landLinePhone.number }}</span>
        </a>
      </label-value>
      <label-value *ngFor="let phone of landLinePhones" [label]="phone.name">
        <a [href]="'tel:' + phone.normalizedNumber" class="link-with-icon">
          <icon [icon]="SvgIcon.Telephone"></icon>
          <span>{{ phone.number }}</span>
        </a>
      </label-value>
      <custom-field-value *ngFor="let value of fieldsWithoutSection"
        [fieldValue]="value"></custom-field-value>
      <ng-container *ngFor="let key of fieldsWithSection.keys()">
        <h3>{{ key.name }}</h3>
        <div class="mb-2" *ngIf="key.informationText">
          {{ key.informationText }}</div>
        <custom-field-value *ngFor="let value of fieldsWithSection.get(key)"
          [fieldValue]="value"></custom-field-value>
      </ng-container>
      <h3 *ngIf="
          data.online ||
          (data.lastLogin && !data.online) ||
          (data.lastLogin == null && data.online != null) ||
          data.references?.count > 0 ||
          data.paymentFeedbacks?.count > 0" class="mb-1">
        {{ i18n.user.activities }}</h3>
      <label-value *ngIf="data.online" [label]="i18n.user.connectionStatus"
        [value]="i18n.user.connected">
      </label-value>
      <label-value *ngIf="data.lastLogin && !data.online"
        [label]="i18n.user.connectionStatus"
        [value]="i18n.user.disconnectedStatus(format.formatAsDateTime(data.lastLogin))">
      </label-value>
      <label-value *ngIf="data.lastLogin == null && data.online != null"
        [label]="i18n.user.connectionStatus" [value]="i18n.user.neverLogged">
      </label-value>
      <label-value *ngIf="data.references?.count > 0"
        [label]="i18n.user.profile.references">
        <a [routerLink]="referencesPath()">
          <rating-stats *ngIf="data.references.count > 0"
            [score]="data.references.score" [textRight]="data.references.count > 1 ?
            i18n.reference.count.multi(data.references.count) :
            i18n.reference.count.single">
          </rating-stats>
        </a>
      </label-value>
      <label-value *ngIf="data.paymentFeedbacks?.count > 0"
        [label]="i18n.user.profile.feedbacks">
        <a [routerLink]="feedbackPath()">
          <rating-stats *ngIf="data.paymentFeedbacks.count > 0"
            [score]="data.paymentFeedbacks.score" [textRight]="data.paymentFeedbacks.count > 1 ?
          i18n.feedback.count.multi(data.paymentFeedbacks.count) :
          i18n.feedback.count.single">
          </rating-stats>
        </a>
      </label-value>
      <ng-container *ngFor="let acc of data.accounts">
        <ng-container *ngIf="acc.status">
          <h3> {{ i18n.account.accountInformation(acc.type.name) }} </h3>
          <label-value
            *ngIf="acc.status.balance || acc.status.availableBalance" [label]="
            i18n.account.balance">
            <ng-container *ngIf="acc.status.balance">
              {{
              i18n.user.profile.balance(format.formatAsCurrency(acc.currency,
              acc.status.balance))}}
            </ng-container>
            <ng-container *ngIf="acc.status.availableBalance">
              <br *ngIf="acc.status.balance" />
              {{
              i18n.user.profile.availableBalance(format.formatAsCurrency(acc.currency,
              acc.status.availableBalance))}}
            </ng-container>
          </label-value>
          <ng-container *ngIf="acc.status.transactionsAllTime">
            <label-value [label]="i18n.user.profile.activityInPeriod">
              {{
              i18n.user.profile.transactions(acc.status.transactionsInPeriod)
              }}<br>
              {{
              i18n.user.profile.totalReceived(format.formatAsCurrency(acc.currency,
              acc.status.receivedInPeriod)) }}<br />
              {{
              i18n.user.profile.totalPaid(format.formatAsCurrency(acc.currency,
              acc.status.paidInPeriod)) }}<br />
            </label-value>
            <label-value [label]="i18n.user.profile.activityAllTime">
              {{
              i18n.user.profile.transactions(acc.status.transactionsAllTime)
              }}<br>
              {{
              i18n.user.profile.totalReceived(format.formatAsCurrency(acc.currency,
              acc.status.receivedAllTime)) }}<br />
              {{
              i18n.user.profile.totalPaid(format.formatAsCurrency(acc.currency,
              acc.status.paidAllTime)) }}<br />
            </label-value>
          </ng-container>
        </ng-container>
      </ng-container>
    </float-labels>
    <div class="d-flex flex-grow-1 flex-column">
      <profile-addresses [addresses]="user.addresses"></profile-addresses>

      <!-- Contact infos -->
      <ng-container *ngIf="user.contactInfos?.length > 0">
        <h2 class="mt-3">{{ i18n.user.contactInfo }}</h2>
        <div class="additional-contacts row no-gutters">
          <div class="text-center col-12 col-sm-6 col-md-4 col-lg-3 pb-3"
            *ngFor="let contactInfo of user.contactInfos; let first=first">
            <div class="data-item">
              <avatar-lightbox size="140" [image]="contactInfo.image">
              </avatar-lightbox>
            </div>
            <div class="data-item font-weight-bold">{{ contactInfo.name }}
            </div>
            <a class="data-item" *ngIf="contactInfo.email"
              [href]="'mailto:' + contactInfo.email">
              {{ contactInfo.email }}
            </a>
            <a class="data-item"
              [href]="'tel:' + contactInfo.normalizedMobilePhone">
              {{ contactInfo.mobilePhone }}
            </a>
            <a class="data-item"
              [href]="'tel:' + contactInfo.normalizedLandLinePhone">
              {{ contactInfo.landLinePhone }}
            </a>
            <div class="data-item"
              *ngFor="let value of contactInfo.customValues">
              <format-field-value [fieldValue]="value"></format-field-value>
            </div>
            <div *ngIf="contactInfo.address" class="data-item text-accent">
              <span class="inline-label">{{
                i18n.user.contactInfoAtAddress
                }}</span>
              {{ contactInfo.address.name }}
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </page-content>
</page-layout>

<ng-template #actionTpl let-action>
  <div class="profile-action">
    <heading-action-button class="heading-action-button" [action]="action">
    </heading-action-button>
  </div>
</ng-template>
