<page-layout>
  <page-content [heading]="i18n.setting.title"
    [mobileHeading]="i18n.setting.mobileTitle" last>
    <radio-group-field [label]="i18n.setting.theme"
      [formControl]="darkThemeControl">
      <field-option [value]="false" [text]="i18n.setting.themeLight">
      </field-option>
      <field-option [value]="true" [text]="i18n.setting.themeDark">
      </field-option>
    </radio-group-field>

    <ng-container *ngIf="localeControl">
      <radio-group-field [label]="i18n.setting.locale"
        [formControl]="localeControl"
        *ngIf="(layout.gtxs$ | async) && localeOptions.length <= 2"
        [fieldOptions]="localeOptions">
      </radio-group-field>
      <single-selection-field [label]="i18n.setting.locale"
        [formControl]="localeControl"
        *ngIf="(layout.ltsm$ | async) || localeOptions.length > 2"
        [fieldOptions]="localeOptions">
      </single-selection-field>
    </ng-container>

    <actions kind="secondary" *ngIf="canSwitchFrontend">
      <span></span>
      <action-button [label]="i18n.setting.useClassicFrontend" outline
        (action)="switchFrontend()"></action-button>
    </actions>
  </page-content>
</page-layout>
