<page-layout [ready]="data$ | async">
  <ng-container *ngIf="data">
    <page-content mode="viewForm" [heading]="i18n.ad.title.webshopSettings"
      [mobileHeading]="i18n.ad.mobileTitle.webshopSettings"
      [headingActions]="headingActions$ | async">
      <label-value *ngIf="!self" [label]="i18n.general.user"
        labelPosition="side">
        <user-link [user]="data.user"></user-link>
      </label-value>
      <h2 [ngClass]="{'border-0' : self, 'mt-4': !self}">
        {{ i18n.ad.productNumber }}</h2>
      <label-value [label]="i18n.ad.productNumberGenerationType"
        [value]="resolveGenerationTypeLabel()">
      </label-value>
      <label-value *ngIf="!data.productNumberGenerated"
        [label]="i18n.ad.productNumberMask" [value]="data.productNumberMask">
      </label-value>
      <ng-container *ngIf="data.customOrderNumberFormat">
        <h2>{{ i18n.ad.orderNumber }}</h2>
        <label-value [label]="i18n.ad.prefix"
          [value]="data.orderNumberPrefix">
        </label-value>
        <label-value [label]="i18n.ad.length"
          [value]="data.orderNumberInnerLength">
        </label-value>
        <label-value [label]="i18n.ad.suffix"
          [value]="data.orderNumberSuffix">
        </label-value>
      </ng-container>
    </page-content>
  </ng-container>
</page-layout>
