<h1 i18n>Change password</h1>

<form [formGroup]="form">
  <input-field required focused formControlName="oldPassword" type="password" i18n-label
    label="Old password"></input-field>
  <input-field required formControlName="newPassword" type="password" i18n-label
    label="New password"></input-field>
  <input-field required formControlName="newPasswordConfirmation" type="password"
    i18n-label label="Password confirmation"></input-field>
</form>

<actions forceRow>
  <button class="btn btn-primary" [disabled]="(form.statusChanges | async) !== 'VALID'"
    i18n (click)="submit()">Submit</button>
  <button class="btn btn-outline-primary" i18n (click)="modalRef.hide()">Cancel</button>
</actions>
