<h1>
  {{ messages.auth.password.changeTitle }}
</h1>

<form [formGroup]="form">
  <input-field *ngIf="requireOld" required focused formControlName="oldPassword"
    type="password" [label]="messages.auth.password.oldPassword"></input-field>
  <input-field required formControlName="newPassword" type="password" [label]="messages.auth.password.newPassword"></input-field>
  <input-field required formControlName="newPasswordConfirmation" type="password"
    [label]="messages.auth.password.passwordConfirmation"></input-field>
</form>

<actions forceRow>
  <button class="btn btn-primary" [disabled]="requesting$ | async" (click)="submit()">
    {{ messages.general.submit }}
  </button>
  <button class="btn btn-outline-primary" (click)="modalRef.hide()">
    {{ messages.general.cancel }}
  </button>
</actions>
