<page-layout [ready]="data$ | async">
  <page-content *ngIf="data != null" i18n-heading heading="Passwords">
    <ng-container *ngFor="let password of data.passwords; let first = first">
      <hr *ngIf="!first" class="mt-4">
      <div class="d-flex">
        <avatar [size]="64" iconSize="64px" icon="vpn_key"></avatar>
        <div class="ml-4 flex-grow-1">
          <h2 class="border-0 mb-3" [ngClass]="{'mt-0': first}">
            {{ password.type.name }}</h2>
          <div>{{ status(password) }}</div>
          <div class="mt-2" i18n>
            Since {{ password.date | dateTime }}
          </div>
        </div>
      </div>
      <div class="mt-3">
        <button class="btn btn-primary mr-3 px-3" *ngFor="let action of actions(password)"
          (click)="action.onClick()">
          {{ action.label }}
        </button>
      </div>
    </ng-container>
  </page-content>
</page-layout>
