<page-layout [ready]="data$ | async">
  <ng-container *ngIf="data then content"></ng-container>
</page-layout>

<ng-template #content>
  <page-content [heading]="title" [mobileHeading]="mobileTitle"
    [last]="!(data?.dataForSetSecurityAnswer)">
    <ng-container *ngIf="data.user && !self">
      <user-info [user]="data.user"></user-info>
      <hr>
    </ng-container>
    <ng-container *ngFor="let password of data.passwords; let first = first">
      <hr *ngIf="!first" class="mt-4">
      <div class="d-flex">
        <avatar *ngIf="layout.gtxxs$ | async"
          class="ml-2 mr-5 management-icon" [size]="64" iconSize="64px"
          icon="vpn_key"></avatar>
        <div class="flex-grow-1">
          <h2 *ngIf="multiple" class="border-0 mb-3"
            [ngClass]="{'mt-0': first}">
            {{ password.type.name }}</h2>
          <div>{{ status(password) }}</div>
          <div class="mt-2">
            {{ i18n.password.statusSince(password.date | dateTime)
            }}
          </div>
        </div>
      </div>
      <div class="mt-3">
        <button class="btn btn-primary mb-xs-0 mr-xs-3 px-3"
          *ngFor="let action of actions(password); let last = last"
          [ngClass]="{'mb-3': !last}" (click)="action.onClick()">
          {{ action.label }}
        </button>
      </div>
    </ng-container>
  </page-content>

  <page-content *ngIf="data?.dataForSetSecurityAnswer" hideBack
    [heading]="i18n.password.title.securityAnswer"
    [mobileHeading]="i18n.password.mobileTitle.securityAnswer" last>
    <alert type="info">{{ i18n.securityQuestion.message }}</alert>
    <form [formGroup]="securityAnswer">
      <single-selection-field formControlName="securityQuestion" required
        [label]="i18n.securityQuestion.question">
        <field-option
          *ngFor="let question of data.dataForSetSecurityAnswer.securityQuestions"
          [value]="question.internalName" [text]="question.name">
        </field-option>
      </single-selection-field>
      <input-field formControlName="securityAnswer" required
        [label]="i18n.securityQuestion.answer"></input-field>
    </form>
    <actions>
      <button class="btn btn-primary" (click)="setSecurityAnswer()">
        {{ i18n.general.save }}
      </button>
    </actions>
  </page-content>
</ng-template>
