<label-value *ngIf="transfer.transactionNumber" [label]="i18n.transaction.number">
  {{ transfer.transactionNumber }}
</label-value>
<label-value [label]="i18n.general.date">
  {{ transfer.date | dateTime }}
</label-value>
<label-value [label]="i18n.transaction.amount">
  {{ transfer.amount | currency : transfer.currency }}
</label-value>
<label-value [label]="i18n.transaction.from">
  <user-link [account]="transfer.from"></user-link>
</label-value>
<label-value [label]="i18n.transaction.to">
  <user-link [account]="transfer.to"></user-link>
</label-value>
<label-value [label]="i18n.transaction.type">
  {{ transfer.type.name }}
</label-value>
<label-value
  *ngIf="transfer.description || transfer.transaction?.description"
  [label]="i18n.general.description"
  valueFormat="break"
  [value]="transfer.description || transfer.transaction?.description">
</label-value>
