<page-layout [ready]="data$ | async">
  <ng-container *ngIf="data then content"></ng-container>
</page-layout>

<ng-template #content>
  <page-content mode="filters"
    [heading]="self ? i18n.user.title.myOperators : i18n.user.title.userOperators"
    [mobileHeading]="self ? i18n.user.mobileTitle.myOperators : i18n.user.mobileTitle.userOperators"
    [headingActions]="headingActions$ | async">
    <div [formGroup]="form" class="filters-form filters-form-separator">
      <div class="row">
        <div class="col-12 col-md-6" *ngIf="!self">
          <label-value [label]="i18n.general.user" kind="fieldView">
            <user-link [user]="data.user"></user-link>
          </label-value>
        </div>
        <div class="col-12 col-md-6" *ngIf="data.groups?.length > 1">
          <multi-selection-field formControlName="operatorGroups"
            [label]="i18n.user.groupFilter">
            <field-option *ngFor="let group of data.groups"
              [value]="ApiHelper.internalNameOrId(group)"
              [internalName]="group.internalName" [id]="group.id"
              [text]="group.name">
            </field-option>
          </multi-selection-field>
        </div>
        <ng-container *ngIf="layout.gtxxs$ | async">
          <div class="col-12 col-md-6">
            <multi-selection-field formControlName="statuses"
              [label]="i18n.general.status" [fieldOptions]="statusOptions">
            </multi-selection-field>
          </div>
          <div class="col-12 col-md-6">
            <date-field formControlName="creationBegin"
              [label]="i18n.user.creationBegin" fieldSize="full">
            </date-field>
          </div>
          <div class="col-12 col-md-6">
            <date-field formControlName="creationEnd"
              [label]="i18n.user.creationEnd" fieldSize="full">
            </date-field>
          </div>
        </ng-container>
      </div>
    </div>
  </page-content>

  <users-results [results]="results$ | async" [rendering$]="rendering$"
    [data]="data$ | async" resultType="list" [resultKind]="'operator'"
    (update)="update($event)">
  </users-results>
</ng-template>
