<page-layout [ready]="data$ | async" [ngSwitch]="step$ | async">

  <!-- <page-content *ngSwitchCase="'select-type'"
    [heading]="i18n.voucher.title.buy"
    [mobileHeading]="i18n.voucher.mobileTitle.buy">
    <list-voucher-types-for-buy [types]="data.types"
    (typeSelected)="toForm($event)">
  </list-voucher-types-for-buy>
</page-content> -->

  <!-- Step 1: Select voucher type -->
  <ng-container *ngSwitchCase="'select-type'">
    <buy-vouchers-step-list-types [types]="data.types"
      (typeSelected)="toForm($event)">
    </buy-vouchers-step-list-types>
  </ng-container>

  <!-- Step 2: Buy form -->
  <page-content *ngSwitchCase="'form'"
    [heading]="dataTypeForBuy.type.voucherTitle"
    [mobileHeading]="dataTypeForBuy.type.voucherTitle">

    <buy-vouchers-step-form [data]="dataTypeForBuy" [form]="form">
    </buy-vouchers-step-form>

    <actions ngClass="mt-3" forceRow>
      <button class="btn btn-primary" [disabled]="requesting$ | async"
        (click)="toConfirm()">{{ i18n.general.next }}</button>

      <button *ngIf="!singleType" class="btn btn-outline-primary"
        (click)="backToSelectType()">
        {{ i18n.general.previous }}
      </button>
    </actions>
  </page-content>

  <!-- Step 3: Buy confirmation -->
  <page-content *ngSwitchCase="'confirm'"
    [heading]="dataTypeForBuy.type.voucherTitle"
    [mobileHeading]="dataTypeForBuy.type.voucherTitle">
    <buy-vouchers-step-confirm [buyVoucher]="form.value"
      [confirmationPasswordInput]="dataTypeForBuy.confirmationPasswordInput"
      [confirmationPassword]="confirmationPassword"
      (confirmationModeChanged)="confirmationMode$.next($event)"
      (confirmed)="buy($event)">
    </buy-vouchers-step-confirm>

    <actions ngClass="mt-3" forceRow>
      <button
        *ngIf="(confirmationMode$ | async) != ConfirmationMode.Device; else spacer"
        class="btn btn-primary"
        [disabled]="!canConfirm || (requesting$ | async)" (click)="buy()">
        {{ i18n.general.confirm }}
      </button>
      <ng-template #spacer>&nbsp;</ng-template>
      <button class="btn btn-outline-primary" (click)="backToForm()">
        {{ i18n.general.previous }}
      </button>
    </actions>
  </page-content>

  <!-- Step 4: Submit buy -->
  <page-content *ngSwitchCase="'done'"
    [heading]="dataTypeForBuy.type.voucherTitle"
    [mobileHeading]="dataTypeForBuy.type.voucherTitle">
    DONE
  </page-content>

  <page-content *ngSwitchDefault>
    <spinner></spinner>
  </page-content>

</page-layout>
