<page-layout [ready]="data$ | async" [ngSwitch]="step$ | async">
  <page-content *ngSwitchCase="'form'" [heading]="data.type.voucherTitle"
    [mobileHeading]="data.type.voucherTitle">
    <ng-con <!-- description + image -->
      <label-value [label]="i18n.voucher.buy.originAccount">
        {{ data.account.type.name }}
      </label-value>
      <label-value [label]="i18n.account.availableBalance">
        {{ data.account.status.availableBalance | currency:currency }}
      </label-value>
      <label-value *ngIf="data.minimumTimeToRedeem"
        [label]="i18n.voucher.buy.minTimeToRedeem">
        {{ data.minimumTimeToRedeem }}
      </label-value>
      <input-field formControlName="count" required
        [label]="i18n.voucher.buy.numberOfVouchers">
      </input-field>
      <decimal-field formControlName="amount" required
        [label]="i18n.voucher.buy.amountPerVoucher">
      </decimal-field>
      <label-value *ngIf="data.amountRange?.min"
        [label]="i18n.voucher.buy.amountRange.min">
        {{ data.amountRange?.min | currency:currency }}
      </label-value>
      <label-value *ngIf="data.amountRange?.max"
        [label]="i18n.voucher.buy.amountRange.max">
        {{ data.amountRange?.min | currency:currency }}
      </label-value>
      <!-- custom fields -->
      <actions ngClass="mt-3" forceRow>
        <button class="btn btn-primary" [disabled]="requesting$ | async"
          (click)="toConfirm()">{{ i18n.general.next }}</button>
      </actions>
  </page-content>
  <page-content *ngSwitchCase="'confirm'" [heading]="data.type.voucherTitle"
    [mobileHeading]="data.type.voucherTitle">
    CONFIRM
  </page-content>

  <page-content *ngSwitchCase="'done'" [heading]="data.type.voucherTitle"
    [mobileHeading]="data.type.voucherTitle">
    DONE
  </page-content>

  <page-content *ngSwitchDefault>
    <spinner></spinner>
  </page-content>

</page-layout>
