<page-layout [ready]="data$ | async" [ngSwitch]="step$ | async">
  <page-content *ngSwitchCase="'form'" [heading]="data.type.voucherTitle"
    [mobileHeading]="data.type.voucherTitle">
    FORM
  </page-content>
  <page-content *ngSwitchCase="'confirm'" [heading]="data.type.voucherTitle"
    [mobileHeading]="data.type.voucherTitle">
    CONFIRM
  </page-content>

  <page-content *ngSwitchCase="'done'" [heading]="data.type.voucherTitle"
    [mobileHeading]="data.type.voucherTitle">
    DONE
  </page-content>

  <page-content *ngSwitchDefault>
    <spinner></spinner>
  </page-content>

</page-layout>
