<page-layout [ready]="data$ | async" [ngSwitch]="step$ | async">
  <page-content *ngSwitchCase="'form'" [heading]="i18n.voucher.redeem.title"
    [mobileHeading]="i18n.voucher.redeem.mobileTitle">

    <input-field type="text" [label]="i18n.voucher.token" [mask]="mask"
      [formControl]="token" [placeholder]="mask"></input-field>
    <actions>
      <button class="btn btn-primary" [disabled]="requesting$ | async"
        (click)="submit()">{{ i18n.general.submit }}</button>
    </actions>
  </page-content>
  <page-content *ngSwitchCase="'confirm'"
    [heading]="i18n.voucher.redeem.title"
    [mobileHeading]="i18n.voucher.redeem.mobileTitle">

    <notification ngClass="mb-3" type="warning">
      {{ i18n.voucher.redeem.confirm }}
    </notification>

    <div *ngIf="layout.gtxxs$ | async" class="row no-gutters ">
      <div *ngIf="dataForRedeem.type.voucherDescription"
        class="col-12 col-xs-7 col-md-9">
        <label-value type=text>{{ dataForRedeem.type.voucherDescription }}
        </label-value>
      </div>
      <div *ngIf="dataForRedeem.type.image" class="col-12 col-xs-5 col-md-3">
        <avatar iconSize="128px" [image]="dataForRedeem.type.image">
        </avatar>
      </div>
    </div>

    <div ngClass="mt-3">

      <label-value [label]="i18n.voucher.token"> {{ dataForRedeem.token}}
      </label-value>
      <label-value [label]="i18n.voucher.buyer">
        <user-link [user]="dataForRedeem.buyer"></user-link>
      </label-value>
      <label-value [label]="i18n.transaction.amount">
        {{ dataForRedeem.amount | currency:dataForRedeem.type.configuration.currency }}
      </label-value>

      <custom-field-value *ngFor="let fv of dataForRedeem.customFields"
        [fieldValue]="fv">
      </custom-field-value>

    </div>
    <actions>
      <button class="btn btn-primary" [disabled]="requesting$ | async"
        (click)="submit()">{{ i18n.general.submit }}</button>
    </actions>
  </page-content>
</page-layout>
