<page-layout [ready]="data$ | async">
  <ng-container *ngIf="data then content"></ng-container>
</page-layout>

<ng-template #content>
  <page-content mode="filters" [heading]="i18n.voucher.title.search"
    [mobileHeading]="i18n.voucher.mobileTitle.search">
    <ng-container *ngIf="!self">
      <user-info class="pt-3" [user]="data.user"></user-info>
      <hr class="pt-0 pb-0 mb-0 mt-3">
    </ng-container>
    <form [formGroup]="form" class="filters-form filters-form-separator">
      <div class="row no-gutters">
        <div *ngIf="data.types?.length > 1" class="col-12 col-md-6">
          <multi-selection-field labelPosition="side" formControlName="types"
            [label]="i18n.general.type">
            <field-option *ngFor="let type of data.types" [value]="type.id"
              [internalName]="type.internalName" [id]="type.id"
              [text]="type.name">
            </field-option>
          </multi-selection-field>
        </div>
        <div *ngIf="data.operators?.length > 0" class="col-12 col-md-6">
          <single-selection-field labelPosition="side"
            [emptyOption]="i18n.general.notApplied" formControlName="operator"
            [label]="i18n.general.operator">
            <field-option *ngFor="let operator of data.operators"
              [value]="operator.id" [id]="operator.id"
              [text]="operator.display">
            </field-option>
          </single-selection-field>
        </div>
        <div class="row no-gutters col-12">
          <div class="col-12 col-md-6">
            <date-field labelPosition="side" formControlName="periodBegin"
              [label]="i18n.general.beginDate" minDate="past100"
              maxDate="todayEnd" fieldSize="full" class>
            </date-field>
          </div>
          <div class="col-12 col-md-6">
            <date-field labelPosition="side" formControlName="periodEnd"
              [label]="i18n.general.endDate" minDate="past100"
              maxDate="todayEnd" fieldSize="full">
            </date-field>
          </div>
        </div>
      </div>
    </form>
  </page-content>
  <results-layout resultType="list" [results]="results$ | async"
    [toLink]="toLink" (update)="update($event)">

    <mobile-result *mobileResult="let row" [date]="row.redeemDate"
      [amount]="row.amount" [currency]="row.type.configuration.currency"
      [amountColor]=false>
      <div class="cell-text cell-main">
        {{ row.type.name}}
      </div>
    </mobile-result>

    <table *resultTable class="table table-hover cursor-pointer">
      <thead>
        <th>{{ i18n.voucher.redeem.date }}</th>
        <th *ngIf="data.operators.length > 0">{{ i18n.general.operator }}</th>
        <th>{{ i18n.general.type }}</th>
        <th class="amount">{{ i18n.transaction.amount }}</th>
      </thead>
      <tbody>
        <ng-container *ngFor="let row of (results$ | async).results">
          <tr (click)="router.navigate(path(row))">
            <td> <a [routerLink]="path(row)"> {{ row.redeemDate | date }} </a>
            </td>
            <td *ngIf="data.operators.length > 0">
              <ng-container *ngIf="row.redeemBy">
                {{ row.redeemBy?.user ? row.redeemBy.display : '' }}
              </ng-container>
            </td>
            <td> {{ row.type.name}} </td>
            <td class="amount">
              {{ row.amount | currency:row.type.configuration.currency }}
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </results-layout>
</ng-template>
