<page-layout [ready]="data$ | async">
  <ng-container *ngIf="data then content"></ng-container>
</page-layout>

<ng-template #content>
  <voucher-filters [adminData]="data" [form]="form"
    [heading]="i18n.voucher.redeem.searchTitle"
    [mobileHeading]="i18n.voucher.redeem.searchMobileTitle"
    [moreFilters]="(moreFilters$ | async)"
    [headingActions]="(headingActions$ | async)"></voucher-filters>
  <results-layout resultType="list" [results]="results$ | async"
    [toLink]="toLink" (update)="update($event)">

    <mobile-result *mobileResult="let row" [date]="row.redeemDate"
      [amount]="row.amount" [currency]="row.type.configuration.currency"
      forceSign>
      <div class="cell-text cell-main">
        {{ row.type.name}}
      </div>
    </mobile-result>

    <table *resultTable class="table table-hover cursor-pointer">
      <thead>
        <th>{{ i18n.general.creationDate }}</th>
        <th>{{ i18n.general.expirationDate }}</th>
        <th>{{ i18n.general.status }}</th>
        <th>{{ i18n.general.type }}</th>
        <th class="amount">{{ i18n.transaction.amount }}</th>
      </thead>
      <tbody>
        <ng-container *ngFor="let row of (results$ | async).results">
          <tr (click)="router.navigate(path(row))">
            <td>{{ row.creationDate | date }}</td>
            <td> {{ row.expirationDate | date }}</td>
            <td> {{ bankingHelper.voucherStatus(row.status) }} </td>
            <td> {{ row.type.name}} </td>
            <td class="amount">
              {{ row.amount | currency:row.type.configuration.currency }}
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </results-layout>
</ng-template>
