<page-layout>
  <page-content class="no-padding"
    [mode]="simpleQuestions && webshopQuestions ? 'filters' : 'empty'"
    [heading]="i18n.ad.title.unansweredQuestions"
    [mobileHeading]="i18n.ad.mobileTitle.unansweredQuestions">
    <form [formGroup]="form" class="filters-form filters-form-separator">
      <div *ngIf="simpleQuestions && webshopQuestions"
        class="col-12 col-md-6">
        <single-selection-field labelPosition="side" formControlName="kind"
          [label]="i18n.general.type">
          <field-option [text]="i18n.ad.type.simple" value="simple">
          </field-option>
          <field-option [text]="i18n.ad.type.webshop" value="webshop">
          </field-option>
        </single-selection-field>
      </div>
    </form>
  </page-content>
  <results-layout [results]="results$ | async" resultType="list"
    [toLink]="toLink" (update)="update($event)" [rendering$]="rendering$">
    <mobile-result *mobileResult="let row"
      [avatarImage]="row.advertisement.image" avatarIcon="shopping_basket">
      <div class="d-flex">
        <div>
          <div class="cell-main">
            {{ row.advertisement.name }}
          </div>
          <div class="cell-date">
            {{ row.questionDate | dateTime }}
          </div>
          <div class="cell-text">
            {{ row.question }}
          </div>
        </div>
        <div class="ml-auto text-right d-flex flex-column">
          <button [tooltip]="i18n.general.remove" class="btn btn-icon mt-2"
            (click)="remove(row); $event.stopPropagation(); $event.preventDefault()">
            <icon icon="clear"></icon>
          </button>
        </div>
      </div>
    </mobile-result>

    <table *resultTable class="table table-hover cursor-pointer">
      <thead>
        <th class="avatar"></th>
        <th width="30%">{{ i18n.ad.name }}</th>
        <th>{{ i18n.ad.question }}</th>
        <th>{{ i18n.general.date }}</th>
        <th class="actions"></th>
      </thead>
      <tbody>
        <tr *ngFor="let row of (results$ | async)?.results"
          (click)="router.navigate(path(row))">
          <td class=" avatar" [ngClass]="{
              'pb-0': layout.xxs$ | async,
              'border-0': layout.xxs$ | async
            }">
            <avatar [image]="row.advertisement.image"
              [tooltip]="row.advertisement.name" icon="shopping_basket">
            </avatar>
          <td class="link">
            <span
              (click)="navigateToAd(row)">{{ row.advertisement.name }}</span>
          </td>
          <td>
            {{ row.question }}
          </td>
          <td>
            {{ row.questionDate | date }}
          </td>
          <td class="actions actions-multiple">
            <button [tooltip]="i18n.general.remove" class="btn btn-icon"
              (click)="remove(row); $event.stopPropagation()">
              <icon icon="clear"></icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </results-layout>

</page-layout>
