<page-layout [ready]="data$ | async">
  <ng-container *ngIf="data then content"></ng-container>
</page-layout>

<ng-template #content>
  <page-content mode="filters" [heading]="resolveHeading(false)"
    [mobileHeading]="resolveHeading(true)"
    [headingActions]="headingActions$ | async">
    <form [formGroup]="form" class="filters-form filters-form-separator">
      <div class="row">
        <div class="col-12 col-md-6" *ngIf="!self">
          <label-value [label]="i18n.general.user" kind="fieldView"
            labelPosition="side">
            <user-link [user]="data.user"></user-link>
          </label-value>
        </div>
        <div class="col-12 col-md-6">
          <input-field labelPosition="side" formControlName="keywords"
            [label]="i18n.general.keywords" fieldSize="full"></input-field>
        </div>
        <div *ngIf="!simple" class="col-12 col-md-6">
          <input-field labelPosition="side" formControlName="productNumber"
            [label]="i18n.ad.productNumber" fieldSize="full"></input-field>
        </div>
        <div class="col-12 col-md-6">
          <single-selection-field labelPosition="side"
            formControlName="orderBy" [label]="i18n.general.orderBy"
            [emptyOption]="i18n.general.noOptionSelected">
            <field-option value="date" [text]="i18n.ad.orderBy.date">
            </field-option>
            <field-option value="distance" [text]="i18n.ad.orderBy.distance">
            </field-option>
            <field-option value="priceDesc"
              [text]="i18n.ad.orderBy.priceDesc">
            </field-option>
            <field-option value="priceAsc" [text]="i18n.ad.orderBy.priceAsc">
            </field-option>
            <field-option value="relevance"
              [text]="i18n.ad.orderBy.relevance">
            </field-option>
          </single-selection-field>
        </div>
        <div class="col-12 col-md-6">
          <multi-selection-field labelPosition="side"
            formControlName="statuses" [label]="i18n.general.status"
            [emptyLabel]="i18n.general.all">
            <field-option value="active" [text]="i18n.ad.status.active">
            </field-option>
            <field-option *ngIf="isManager" value="disabled"
              [text]="i18n.ad.status.disabled">
            </field-option>
            <field-option *ngIf="canViewDraft" value="draft"
              [text]="i18n.ad.status.draft">
            </field-option>
            <field-option *ngIf="canViewPending" value="pending"
              [text]="i18n.ad.status.pending">
            </field-option>
            <field-option value="expired" [text]="i18n.ad.status.expired">
            </field-option>
            <field-option value="hidden" [text]="i18n.ad.status.hidden">
            </field-option>
            <field-option value="scheduled" [text]="i18n.ad.status.scheduled">
            </field-option>
          </multi-selection-field>
        </div>
      </div>
    </form>
    <div class="filters-row">
      <result-type-field [formControl]="resultTypeControl"
        [allowedResultTypes]="allowedResultTypes$ | async">
      </result-type-field>
    </div>
  </page-content>
  <ads-results [results]="results$ | async" [rendering$]="rendering$"
    singleUser [data]="data$ | async" [resultType]="resultType$ | async"
    (update)="update($event)">
  </ads-results>
</ng-template>
