<page-layout [ready]="data$ | async">
  <ng-container *ngIf="data; then content"></ng-container>
</page-layout>

<ng-template #content>
  <page-content [heading]="i18n.product.title.history" [mobileHeading]="i18n.product.mobileTitle.history">
    <label-value [label]="i18n.general.user">
      <user-link [user]="data.user"></user-link>
    </label-value>
  </page-content>
  <results-layout [results]="data.history" [onClick]="onClick">
    <mobile-result *mobileResult="let row">
      <div class="cell-main">
        {{ row.product.name }}
      </div>
      <div class="cell-date">
        {{ row.date | dateTime }}
      </div>
      <div class="cell-text">
        {{ i18n.product.action }}
        {{ row.action === ProductAssignmentActionEnum.ASSIGN ? i18n.product.assign : i18n.product.unassign }}
      </div>
      <div class="cell-text">
        {{ i18n.general.performedBy }}
        {{ row.by.display }}
      </div>
    </mobile-result>
    <table *resultTable class="table table-hover">
      <thead>
        <th>{{ i18n.general.date }}</th>
        <th>{{ i18n.product.product }}</th>
        <th>{{ i18n.product.action }}</th>
        <th>{{ i18n.general.performedBy }}</th>
      </thead>
      <tbody>
        <tr *ngFor="let row of data.history">
          <td>{{ row.date | dateTime }}</td>
          <td>{{ row.product.name }}</td>
          <td>
            {{ row.action === ProductAssignmentActionEnum.ASSIGN ? i18n.product.assign : i18n.product.unassign }}
          </td>
          <td>{{ row.by.display }}</td>
        </tr>
      </tbody>
    </table>
  </results-layout>
</ng-template>
