<div class="form" [formGroup]="form">
  <div class="container">
    <div class="row flex-row-reverse flex-sm-row">
      <div class="col-12 col-sm-6 auth-container">
        <div class="auth">
          <input-field formControlName="user"
            [placeholder]="i18n.login.principal" focused
            (keyup.escape)="state.deny(); $event.preventDefault(); $event.stopPropagation()"
            (keyup.enter)="password.focus(); $event.preventDefault(); $event.stopPropagation()">
          </input-field>
          <password-input #password [passwordInput]="data.passwordInput"
            formControlName="password" class="mt-3"
            (keyup.escape)="state.deny(); $event.preventDefault(); $event.stopPropagation()"
            (keyup.enter)="authorize(); $event.preventDefault(); $event.stopPropagation()"
            [placeholder]="i18n.login.password"></password-input>
          <div *ngIf="!data.openidOnly || data.offlineAccess"
            class="expiration">
            <ng-container *ngIf="!data.offlineAccess; else neverExpires">
              {{ i18n.consent.expiration.time(data.expiresAfter) }}
            </ng-container>
            <ng-template #neverExpires>
              {{ i18n.consent.expiration.never }}
            </ng-template>
          </div>
          <div *ngIf="data.openidOnly; else permissionDetails"
            class="details-openid-only">
            {{ i18n.consent.permission.openIdOnly(data.client.name) }}
          </div>
          <ng-template #permissionDetails>
            <div class="permissions">
              {{ i18n.consent.permission.requesting(data.client.name) }}
            </div>
            <div class="mb-4" *ngIf="singleScope; else multipleScopes">
              {{ singleScope }}
            </div>
            <ng-template #multipleScopes>
              <ul>
                <li *ngFor="let scope of data.scopes">
                  {{ scope }}
                </li>
              </ul>
            </ng-template>
          </ng-template>
          <div class="actions actions-primary container-fluid"
            [ngClass]="{'openid-only': data.openidOnly}">
            <div class="row">
              <div class="col-12 col-sm-6 p-0 pr-sm-2">
                <action-button class="w-100"
                  [disabled]="(state.processing$ | async)"
                  (action)="authorize()" [label]="i18n.consent.authorize">
                </action-button>
              </div>
              <div class="col-12 col-sm-6 p-0 pl-sm-2">
                <action-button [disabled]="(state.processing$ | async)"
                  outline class="w-100 mt-3 mt-sm-0" (action)="state.deny()"
                  [label]="i18n.consent.deny"></action-button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 client-container">
        <div class="client">
          <div class="client-title">
            <div *ngIf="data.client.image" class="client-image-holder">
              <img [src]="data.client.image.url" class="client-image">
            </div>
            <div class="client-title-holder">
              <div class="client-name">{{ data.client.name }}</div>
              <a *ngIf="data.client.website" class="client-link"
                target="_blank" [href]="data.client.website">{{
                data.client.website }}</a>
            </div>
          </div>
          <div *ngIf="data.client.description" class="client-description">{{
            data.client.description
            }}</div>
          <a *ngIf="data.client.privacyPolicyUrl" class="client-link"
            target="_blank" [href]="data.client.privacyPolicyUrl">{{
            i18n.consent.privacyPolicy }}</a>
          <a *ngIf="data.client.termsOfServiceUrl" class="client-link"
            target="_blank" [href]="data.client.termsOfServiceUrl">{{
            i18n.consent.termsOfService }}</a>
        </div>
      </div>
    </div>
  </div>
</div>
