<h1>
  {{ self ? i18n.password.title.changeSelf : i18n.password.title.changeUser }}
</h1>

<form [formGroup]="form">
  <input-field *ngIf="requireOld" required focused
    formControlName="oldPassword" type="password"
    [label]="i18n.password.oldPassword"></input-field>
  <input-field required formControlName="newPassword" type="password"
    [label]="i18n.password.newPassword"></input-field>
  <input-field required formControlName="newPasswordConfirmation"
    type="password" [label]="i18n.password.passwordConfirmation">
  </input-field>
</form>

<actions forceRow>
  <action-button [disabled]="requesting$ | async" (action)="submit()"
    [label]="i18n.general.submit">
  </action-button>
  <action-button outline (action)="modalRef.hide()"
    [label]="i18n.general.cancel">
  </action-button>
</actions>
