<ng-container *ngIf="data.status === TotpStatusEnum.ACTIVE; else notActive">
  {{ i18n.password.totp.active(data.activationDate | date) }}
</ng-container>
<ng-template #notActive>
  <ng-container *ngIf="data.canActivate; else cannotActivate">
    <div class="text-left"
      [innerHTML]="(layout.ltmd$ | async) ? i18n.password.totp.neverCreatedMessageMobile : i18n.password.totp.neverCreatedMessage">
    </div>
    <div class="mt-3">
      <ng-container *ngIf="(secretUrl$ | async) == null; else totpTpl">
        <send-otp-field *ngIf="(otpResult$ | async) == null"
          [label]="i18n.password.otp.sendMedium"
          [formControl]="sendOtpControl"
          [data]="data.sendVerificationCodeData">
        </send-otp-field>
        <input-field numbersOnly *ngIf="(otpResult$ | async) != null"
          [label]="i18n.password.otp.verificationCode"
          [formControl]="otpControl">
        </input-field>
      </ng-container>
    </div>
  </ng-container>
</ng-template>
<ng-template #totpTpl>
  <div class="clientSideQrCodeContainer mb-3"
    *ngIf="layout.gtsm$ | async; else launchAuthenticator">
    <canvas #qrCodeCanvas></canvas>
  </div>
  <ng-template #launchAuthenticator>
    <action-button class="w-100 mb-3" (action)="openAuthenticatorLink()"
      [label]="i18n.password.totp.openApp">
    </action-button>
  </ng-template>
  <input-field numbersOnly [label]="i18n.password.totp.firstTotp"
    [formControl]="totpControl">
  </input-field>
</ng-template>
<ng-template #cannotActivate>
  {{ i18n.password.totp.neverCreatedManagers }}
</ng-template>
<actions *ngIf="data.canActivate || data.canRemove">
  <ng-container *ngIf="data.canActivate">
    <ng-container *ngIf="(secretUrl$ | async) == null">
      <action-button *ngIf="(otpResult$ | async) == null"
        (action)="sendVerificationCode()" [label]="i18n.password.otp.send">
      </action-button>
      <ng-container *ngIf="(otpResult$ | async) != null">
        <action-button (action)="verifyCode()" [label]="i18n.general.submit">
        </action-button>
        <action-button (action)="cancelCode()" [label]="i18n.general.cancel">
        </action-button>
      </ng-container>
    </ng-container>
  </ng-container>
  <action-button *ngIf="secretUrl$ | async" (action)="activate()"
    [label]="i18n.general.submit"></action-button>
  <action-button *ngIf="data.canRemove" (action)="remove()"
    [label]="i18n.password.totp.remove"></action-button>
</actions>
