<page-layout [ready]="data$ | async" [size]="loginConfirmation ? 'medium' : 'full'">
  <ng-container *ngIf="data; then content"></ng-container>
</page-layout>

<ng-template #content>
  <alert *ngIf="loginConfirmationMessage" class="mt-3" type="warning">{{ loginConfirmationMessage }}</alert>
  <page-content
    *ngIf="showPasswords"
    [heading]="title"
    [mobileHeading]="mobileTitle"
    [last]="!data?.totpSecret && !data?.dataForSetSecurityAnswer"
    [layout]="loginConfirmation ? 'centered' : 'normal'"
    [headingActions]="headingActions$ | async"
    [ngClass]="{ 'mt-0': loginConfirmation }">
    <ng-container *ngIf="data.user && !self">
      <user-info [user]="data.user"></user-info>
      <hr />
    </ng-container>
    <ng-container *ngFor="let password of data.passwords; let first = first">
      <hr *ngIf="!first" class="mt-4" />
      <div class="row no-gutters">
        <div class="col-4 col-md-2">
          <avatar
            *ngIf="layout.gtxxs$ | async"
            class="ml-2 mr-5 management"
            [size]="64"
            iconSize="64px"
            [icon]="SvgIcon.Key"></avatar>
        </div>
        <div class="col-8 col-md-7">
          <h2 *ngIf="multiple" class="border-0 mb-3" [ngClass]="{ 'mt-0': first }">
            {{ password.type.name }}
          </h2>
          <div>{{ status(password) }}</div>
          <div *ngIf="password.date" class="mt-2">
            {{ i18n.password.statusSince(password.date | dateTime) }}
          </div>
        </div>
        <div class="col-12 col-md-3 mt-3 mt-md-0">
          <action-button
            class="d-block ml-auto"
            *ngFor="let action of actions(password); let last = last"
            [ngClass]="{ 'mb-3': !last }"
            (action)="action.onClick()"
            [label]="action.label">
          </action-button>
        </div>
      </div>
    </ng-container>
  </page-content>

  <page-content
    *ngIf="data?.totpSecret"
    hideBack
    [heading]="i18n.password.title.totp"
    [mobileHeading]="i18n.password.mobileTitle.totp"
    last="!(data?.dataForSetSecurityAnswer)"
    [layout]="loginConfirmation ? 'centered' : 'normal'"
    [ngClass]="{ 'mt-0': loginConfirmation && !showPasswords }">
    <manage-totp-secret [data]="data.totpSecret" (totpModified)="reload()"> </manage-totp-secret>
  </page-content>

  <page-content
    *ngIf="data?.dataForSetSecurityAnswer"
    hideBack
    [heading]="i18n.password.title.securityAnswer"
    [mobileHeading]="i18n.password.mobileTitle.securityAnswer"
    last>
    <alert type="info">{{ i18n.securityQuestion.message }}</alert>
    <ng-container [formGroup]="securityAnswer">
      <single-selection-field formControlName="securityQuestion" required [label]="i18n.securityQuestion.question">
        <field-option
          *ngFor="let question of data.dataForSetSecurityAnswer.securityQuestions"
          [value]="question.internalName"
          [text]="question.name">
        </field-option>
      </single-selection-field>
      <input-field formControlName="securityAnswer" required [label]="i18n.securityQuestion.answer"></input-field>
    </ng-container>
    <actions>
      <action-button (action)="setSecurityAnswer()" [label]="i18n.general.save"> </action-button>
    </actions>
  </page-content>
</ng-template>
