<page-layout [ready]="data$ | async">
  <ng-container *ngIf="data; then content"></ng-container>
</page-layout>

<ng-template #content>
  <page-content [heading]="i18n.password.title.history" [mobileHeading]="i18n.password.mobileTitle.history">
    <user-info [user]="data.user"></user-info>
  </page-content>
  <results-layout [results]="logs" [onClick]="onClick">
    <mobile-result *mobileResult="let row">
      <div class="cell-date">
        {{ row.log.date | date }}
      </div>
      <div class="cell-text">
        {{ i18n.general.performedBy }}:
        {{ row.log.by ? row.log.by.display : i18n.general.administration }}
      </div>
      <div class="cell-text">
        {{ i18n.general.type }}:
        {{ row.type.name }}
      </div>
      <div class="cell-text">
        {{ i18n.general.action }}:
        {{ showActionLabel(row) }}
      </div>
    </mobile-result>
    <table *resultTable class="table table-hover">
      <thead>
        <th>{{ i18n.general.date }}</th>
        <th>{{ i18n.general.performedBy }}</th>
        <th>{{ i18n.general.type }}</th>
        <th>{{ i18n.general.action }}</th>
      </thead>
      <tbody>
        <tr *ngFor="let row of logs">
          <td>{{ row.log.date | date }}</td>
          <td>
            {{ row.log.by ? row.log.by.display : i18n.general.administration }}
          </td>
          <td>{{ row.type.name }}</td>
          <td>{{ showActionLabel(row) }}</td>
        </tr>
      </tbody>
    </table>
  </results-layout>
</ng-template>
