<page-layout [ready]="data$ | async" [ngSwitch]="step$ | async">
  <page-content
    *ngSwitchCase="'error'"
    [heading]="title"
    [mobileHeading]="mobileTitle"
    [mode]="(layout.ltsm$ | async) ? 'fullHeight' : 'normal'"
    last>
    <alert type="danger">{{ generalError }}</alert>
  </page-content>

  <page-content
    *ngSwitchCase="'form'"
    [heading]="title"
    [mobileHeading]="mobileTitle"
    [mode]="(layout.ltsm$ | async) ? 'fullHeight' : 'normal'"
    last>
    <external-payment-step-form
      class="flex-grow-1 d-flex flex-column"
      [data]="data"
      [form]="form"
      [currency]="currency$ | async"
      [paymentTypeData$]="paymentTypeData$"
      (availablePaymentTypes)="availablePaymentTypes = $event"
      [customValuesControlGetter]="customValuesControlGetter">
    </external-payment-step-form>
    <actions forceRow>
      <action-button
        [disabled]="requesting$ | async"
        (action)="toConfirm()"
        [label]="i18n.general.next"></action-button>
    </actions>
  </page-content>

  <page-content
    *ngSwitchCase="'confirm'"
    hideBack
    [heading]="i18n.transaction.title.paymentConfirmation"
    [mobileHeading]="i18n.transaction.mobileTitle.paymentConfirmation"
    [mode]="(layout.ltsm$ | async) ? 'fullHeight' : 'normal'"
    last>
    <external-payment-step-confirm
      class="flex-grow-1 d-flex flex-column"
      [preview]="preview"
      [confirmationPassword]="confirmationPassword"
      (showSubmit)="showSubmit$.next($event)"
      (confirmed)="perform($event)"
      [showPaymentType]="(availablePaymentTypes || []).length > 1">
    </external-payment-step-confirm>
    <actions forceRow>
      <action-button
        *ngIf="showSubmit$ | async; else spacer"
        [disabled]="!canConfirm || (requesting$ | async)"
        (action)="perform()"
        [label]="i18n.general.confirm">
      </action-button>
      <ng-template #spacer>&nbsp;</ng-template>
      <action-button outline (action)="backToForm()" [label]="i18n.general.previous"> </action-button>
    </actions>
  </page-content>

  <page-content *ngSwitchDefault>
    <spinner></spinner>
  </page-content>
</page-layout>
