<page-layout [ready]="data$ | async">
  <ng-container *ngIf="data">
    <page-content [heading]="i18n.notificationSettings.title" [mobileHeading]="i18n.notificationSettings.mobileTitle">
      <ng-container [formGroup]="form">
        <label-value
          *ngIf="data.forwardMessagesAllowed"
          [forId]="'forwardMessages'"
          [label]="i18n.notificationSettings.forwardMessages"
          kind="view">
          <boolean-field formControlName="forwardMessages" switch [disabled]="!data.canEdit" [id]="'forwardMessages'">
          </boolean-field>
        </label-value>
        <label-value
          *ngIf="data.emailMailingsAllowed"
          [forId]="'emailMailings'"
          [label]="i18n.notificationSettings.emailMailings"
          kind="view">
          <boolean-field formControlName="emailMailings" switch [disabled]="!data.canEdit" [id]="'emailMailings'">
          </boolean-field>
        </label-value>
        <label-value
          *ngIf="data.smsMailingsAllowed"
          [forId]="'smsMailings'"
          [label]="i18n.notificationSettings.smsMailings"
          kind="view">
          <boolean-field formControlName="smsMailings" switch [disabled]="!data.canEdit" [id]="'smsMailings'">
          </boolean-field>
        </label-value>
        <label-value
          *ngIf="data.appMailingsAllowed"
          [forId]="'appMailings'"
          [label]="i18n.notificationSettings.appMailings"
          kind="view">
          <boolean-field formControlName="appMailings" switch [disabled]="!data.canEdit" [id]="'appMailings'">
          </boolean-field>
        </label-value>
        <ng-container *ngFor="let at of data.userAccounts; let first = first">
          <ng-container *ngIf="form.get('userAccounts').get(at.id) as accountForm">
            <h2 *ngIf="first" [ngClass]="{ 'border-top-0': !data.forwardMessagesAllowed }">
              {{ i18n.notificationSettings.payments }}
            </h2>
            <ng-container [formGroup]="accountForm">
              <h3 class="mt-3 mb-0" *ngIf="!singleAccount">
                {{ at.name }}
              </h3>
              <ng-container *ngTemplateOutlet="accountDetails; context: { $implicit: at }"> </ng-container>
            </ng-container>
          </ng-container>
        </ng-container>
        <multi-selection-field
          *ngIf="data.messageCategories.length > 0"
          [label]="i18n.notificationSettings.forwardMessages"
          formControlName="forwardMessageCategories">
          <field-option
            *ngFor="let cat of data.messageCategories"
            [value]="ApiHelper.internalNameOrId(cat)"
            [id]="cat.id"
            [internalName]="cat.internalName"
            [text]="cat.name">
          </field-option>
        </multi-selection-field>
        <ng-container *ngFor="let section of notificationSections.keys(); let first = first">
          <h2
            *ngIf="section !== ''"
            [ngClass]="{
              'border-top-0':
                first &&
                data.userAccounts.length === 0 &&
                data.messageCategories.length === 0 &&
                !data.forwardMessagesAllowed
            }"
            class="d-flex flex-column flex-xs-row justify-content-between">
            <div class="mb-2 mb-xs-0">
              {{ section }}
            </div>
            <div
              [ngClass]="{ 'section-title-action': layout.gtsm$ | async }"
              *ngIf="!adminSettings && notificationSections.get(section).length > 3 && data.canEdit">
              <action-button
                outline
                [ngClass]="{ 'mr-3': !(layout.ltxs$ | async), 'mb-2': layout.ltxs$ | async }"
                (action)="enableNotifications(section, true)"
                [label]="i18n.notificationSettings.enableAll">
              </action-button>
              <action-button
                outline
                (action)="enableNotifications(section, false)"
                [label]="i18n.notificationSettings.disableAll">
              </action-button>
            </div>
          </h2>
          <ng-container *ngFor="let notification of notificationSections.get(section)">
            <label-value [label]="resolveNotificationLabel(notification)" kind="field">
              <notification-type-setting
                [setting]="notification"
                [options]="typeFieldOptionsMap.get(notification.type)"
                [form]="resolveControl(notification.type)"
                [multiSelectionControl]="typeControlsMap.get(notification.type)"
                [disabled]="!data.canEdit">
              </notification-type-setting>
            </label-value>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="data.smsAllowed">
          <h2>{{ i18n.general.sendMedium.sms }}</h2>
          <label>{{
            i18n.notificationSettings.smsCount({ count: data.smsCountThisMonth, total: data.maxSmsPerMonth })
          }}</label>
        </ng-container>
      </ng-container>
      <actions>
        <action-button
          *ngIf="data.canEdit"
          [disabled]="requesting$ | async"
          (action)="save()"
          [label]="i18n.general.save">
        </action-button>
      </actions>
    </page-content>
  </ng-container>
</page-layout>

<ng-template #accountDetails let-at>
  <ng-container [formGroup]="form.get('userAccounts').get(at.id).get('paymentAmount')">
    <decimal-field
      [label]="i18n.notificationSettings.paymentNotificationsAbove"
      formControlName="min"
      [scale]="at.currency.decimalDigits"
      [prefix]="at.currency.prefix"
      [suffix]="at.currency.suffix"
      [disabled]="!data.canEdit"
      [emptyLabel]="i18n.general.notSet">
    </decimal-field>
    <decimal-field
      [label]="i18n.notificationSettings.paymentNotificationsBelow"
      formControlName="max"
      [scale]="at.currency.decimalDigits"
      [prefix]="at.currency.prefix"
      [suffix]="at.currency.suffix"
      [disabled]="!data.canEdit"
      [emptyLabel]="i18n.general.notSet">
    </decimal-field>
  </ng-container>
</ng-template>
