@import 'src/definitions';

.balance {
  display: flex;
  margin: 0.2rem auto 0.8rem auto;
}

.balance-label {
  font-size: 1.1rem;
  line-height: 2rem;
  text-align: end;
  margin-right: 1rem;
}

.balance-value {
  font-size: 1.2rem;
  line-height: 2rem;
}

td {
  padding: 0.3rem !important;
}

.last-transfers {
  color: $body-color;
  border: none;
  margin-bottom: 0.3rem;
  margin-top: 1rem;
}
body.dark :host ::ng-deep .last-transfers {
  color: $body-color-dark;
}

@include media-breakpoint-up(lg) {
  .last-transfers {
    margin-top: 1.7rem;
  }
}

@include media-breakpoint-up(xl) {
  .last-transfers {
    margin-top: 0.7rem;
  }
}