<page-content *ngIf="history$ | async as history" [heading]="title"
  [headingActions]="headingActions" hideBack>
  <div class="balance">
    <div class="balance-label" i18n>Balance</div>
    <div class="balance-value" [ngClass]="{
      negative: format.isNegative(balance),
      positive: format.isPositive(balance)
    }">
      {{ balance | currency:currency }}
    </div>
  </div>

  <canvas balanceHistoryChart [history]="history" width="400" height="100"></canvas>

  <ng-container *ngIf="maxTransfers > 0">
    <ng-container *ngTemplateOutlet="transfersTpl"></ng-container>
  </ng-container>

</page-content>

<ng-template #transfersTpl>

  <h3 class="border-0 mb-2 text-body" [ngClass]="{'mt-4': layout.lg$ | async}"
    i18n>Last incoming payments</h3>
  <ng-container *ngIf="(lastPayments$ | async) != null; else loadingTransfers">
    <table class="table table-hover mb-0 cursor-pointer" *ngIf="lastPayments$.value?.length > 0; else noTransfers">
      <tr *ngFor="let transfer of lastPayments$.value; let last = last"
        (click)="router.navigate(transferPath(transfer))">
        <td style="width:20%" class="text-left pl-0 text-muted" [ngClass]="{'border-0': last}">
          {{ transfer.date | date }}
        </td>
        <td style="width:45%" class="text-center text-muted" [ngClass]="{'border-0': last}">
          {{ subjectName(transfer) }}
        </td>
        <td style="width:35%" class="text-right" [ngClass]="{
            negative: format.isNegative(transfer.amount),
            positive: format.isPositive(transfer.amount),
            'border-0': last
          }">
          {{ transfer.amount | currency: currency }}
        </td>
      </tr>
    </table>
    <ng-template #noTransfers>
      <ng-container i18n>No incoming payments</ng-container>
    </ng-template>
  </ng-container>
  <ng-template #loadingTransfers>
    <spinner></spinner>
  </ng-template>

</ng-template>
