.balance {
  display: flex;
  margin: 0.2rem auto 0.8rem auto;
}

.balance-label {
  font-size: 1.2rem;
  line-height: 2rem;
  text-align: end;
  margin-right: 1rem;
}

.balance-value {
  font-size: 1.4rem;
  line-height: 2rem;
}

td {
  padding: 0.3rem !important;
}
