@import 'src/definitions';

:host {
  display: block;
  width: 100%;
  break-inside: avoid;
  margin-left: auto;
  margin-right: auto;
}

:host > * {
  display: flex;
  flex-direction: column;
}

@include media-breakpoint-up(md) {
  :host {
    margin-bottom: $layout-spacer;
    @include make-container-max-widths();
  }
}