<ng-container [ngSwitch]="config.type">
  <quick-access *ngSwitchCase="DashboardItemType.QUICK_ACCESS" [last]="last"
    [minHeight]="minHeight$ | async" [descriptors]="data.descriptors">
  </quick-access>

  <account-status *ngSwitchCase="DashboardItemType.ACCOUNT_STATUS"
    [last]="last" [minHeight]="minHeight$ | async" [account]="data.account"
    [maxTransfers]="data.maxTransfers"></account-status>

  <latest-ads *ngSwitchCase="DashboardItemType.LATEST_ADS" [last]="last"
    [minHeight]="minHeight$ | async" [groups]="data.groups" [max]="data.max"
    [showOwner]="data.showOwner">
  </latest-ads>

  <latest-users *ngSwitchCase="DashboardItemType.LATEST_USERS" [last]="last"
    [minHeight]="minHeight$ | async" [groups]="data.groups" [max]="data.max">
  </latest-users>

  <dashboard-content *ngSwitchCase="DashboardItemType.CONTENT" [last]="last"
    [minHeight]="minHeight$ | async" [content]="data.content"
    [title]="data.title" [mobileTitle]="data.mobileTitle"
    [tight]="data.tight"></dashboard-content>

</ng-container>
