@import 'src/definitions';

.container {
  margin-top: -1.4rem;
  margin-bottom: 0.6rem;
}

.content-text {
  flex-grow: 1;
  @include text-truncate;
  text-align: center;
  margin-top: 0.5rem;
}

.avatar-container {
  display: inline-block;
  position: relative;
  text-align: center;
}

.owner-image {
  position: absolute;
  right: -0.4rem;
  bottom: 0;
}

a {
  margin-top: 2rem;
}