<page-content [heading]="i18n.dashboard.latestAds" hideBack [last]="last"
  [ngStyle]="{minHeight: minHeight}" [headingActions]="headingActions">
  <div *ngIf="(ads$ | async) != null; else spinner" class="container">
    <div class="row">
      <ng-container *ngFor="let ad of ads$.value">
        <div class="col-12 col-xs-6 col-sm-4">
          <a class="d-flex flex-column undecorated" [routerLink]="path(ad)"
            (click)="navigate(ad, $event)">
            <div class="text-center">
              <div class="images">
                <avatar [roundBorders]="false" class="main-image" size="huge"
                  [image]="ad.image"></avatar>
                <avatar *ngIf="showOwner" class="owner-image solid-icon"
                  icon="user_full" size="medium-large"
                  [image]="ad.owner.image" [tooltip]="ad.owner.display"
                  (click)="navigateToOwner(ad, $event)"></avatar>
              </div>
            </div>
            <div class="content-text" [title]="ad.name">
              {{ ad.name }}
            </div>
          </a>
        </div>
      </ng-container>
    </div>
  </div>
  <ng-template #spinner>
    <spinner class="flex-grow-1"></spinner>
  </ng-template>
</page-content>
