@import 'src/definitions';

.container {
  margin-top: -1.4rem;
  margin-bottom: 0.6rem;
}

.content-text {
  flex-grow: 1;
  @include text-truncate;
  text-align: center;
  margin-top: 0.5rem;
}

.images {
  display: inline-block;
  position: relative;
  text-align: center;
  width: 128px;
  height: 128px;
}

.owner-image {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(25%,25%);
}

a {
  margin-top: 2rem;
}

a:hover {
  filter: brightness(80%);
}
