@import 'src/definitions';

.container {
  margin-top: -2rem;
}

.content-text {
  flex-grow: 1;
  @include text-truncate;
  color: $text-muted;
  text-align: center;
  margin-top: 0.5rem;
}

.avatar-container {
  display: inline-block;
  position: relative;
  text-align: center;
}

.owner-image {
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
}

a {
  margin-top: 2rem;
}