@import 'src/definitions';

.quick-access-item {
  text-decoration: none;
  padding: 0.1rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  transition: background-color .4s;
  min-height: 6.2rem;
}

.quick-access-icon {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $quick-access-icon-color;
}

.quick-access-text {
  text-align: center;
  color: $quick-access-color;
}

.quick-access-item:hover {
  text-decoration: none;

  .quick-access-text {
    color: $quick-access-hover-color;
  }
  .quick-access-icon {
    color: $quick-access-hover-icon-color;
  }
}


@include media-breakpoint-up(xs) {
  .quick-access-container {
    padding: 1rem;
  }
  .quick-access-item {
    padding: 1rem;
  }
  .quick-access-icon {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: $quick-access-bg;
    margin-bottom: 0.7rem;
  }
  .quick-access-item:hover {
    .quick-access-icon {
      background-color: $quick-access-hover-bg;
    }
  }
}

$spacing: 0.5rem;
@include media-breakpoint-up(sm) {
  .quick-access-container {
    margin: -$spacing 0 0 -$spacing;
    padding: 1.4rem 0.5rem 1.8rem 0.3rem;
  }

  .quick-access-item, .quick-access-item:hover {
    margin: $spacing 0 0 $spacing;
  }
}

@include media-breakpoint-up(md) {
  .quick-access-item {
    padding: $spacing;
  }
}

.lg :host ::ng-deep .quick-access-container {
  padding: 1.2rem 0.5rem 1.7rem 0.3rem;
}


body.dark :host ::ng-deep {
  .quick-access-icon {
    color: $quick-access-icon-color-dark;
  }

  .quick-access-text {
    color: $quick-access-color-dark;
  }

  .quick-access-item:hover {
    .quick-access-text {
      color: $quick-access-hover-color-dark;
    }
    .quick-access-icon {
      color: $quick-access-hover-icon-color-dark;
    }
  }

  @include media-breakpoint-up(xs) {
    .quick-access-icon {
      background-color: $quick-access-bg-dark;
    }
    .quick-access-item:hover {
      .quick-access-icon {
        background-color: $quick-access-hover-bg-dark;
      }
    }
  }
}