@import 'src/definitions';

.quick-access-item {
  text-decoration: none;
  padding: 1rem 0.1rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  transition: background-color .4s;
  min-height: 6.2rem;
}

.quick-access-icon {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background-color: $quick-access-bg;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.4rem;
  color: $quick-access-icon-color;
}

.quick-access-text {
  text-align: center;
  color: $quick-access-color;
}

.quick-access-item:hover {
  text-decoration: none;

  .quick-access-text {
    color: $quick-access-hover-color;
  }
  .quick-access-icon {
    color: $quick-access-hover-icon-color;
    background-color: $quick-access-hover-bg;
  }
}


.quick-access-container {
  padding: 1rem;
}

$spacing: 0.5rem;
@include media-breakpoint-up(sm) {
  .quick-access-container {
    margin: -$spacing 0 0 -$spacing;
    padding: 1.6rem 0.5rem 2.4rem 0.3rem;
  }

  .quick-access-item, .quick-access-item:hover {
    margin: $spacing 0 0 $spacing;
  }

  .quick-access-icon {
    margin-bottom: 0.8rem;
  }
}

@include media-breakpoint-up(md) {
  .quick-access-item {
    padding: $spacing;
  }
}