<page-content i18n-heading heading="Quick access" mode="tight" hideBack>
  <div class="row no-gutters flex-grow-1 quick-access-container">
    <ng-container *ngFor="let action of actions">
      <div *ngIf="layout.visible(action.breakpoints, layout.breakpointChanges$ | async)"
        class="d-flex col-6 col-sm-4 justify-content-center align-items-center">
        <div class="text-center">
          <a [routerLink]="action.entry.url" class="quick-access-item"
            (click)="menu.navigate(action.entry, $event)">
            <div class="quick-access-icon">
              <icon [icon]="action.icon" size="2.2rem"></icon>
            </div>
            <div class="quick-access-text">
              {{ action.label }}
            </div>
          </a>
        </div>
      </div>
    </ng-container>
  </div>
</page-content>
