<ng-container *ngIf="((data$ | async) && data.length > 0) else noProducts">
  <form [formGroup]="form">
    <table class="table table-hover">
      <thead>
        <th class="no-border" width="13%">{{ i18n.ad.number }}</th>
        <th class="no-border" width="13%" [ngStyle]="{'max-width': '130px'}">
          {{ i18n.ad.product }}</th>
        <th class="no-border text-right" width="13%">{{ i18n.ad.basePrice }}
        </th>
        <th class="no-border text-right" width="13%">{{ i18n.ad.discount }}
        </th>
        <th class="no-border text-right" width="13%">{{ i18n.ad.price }}</th>
        <th class="no-border text-right" width="13%">{{ i18n.ad.quantity }}
        </th>
        <th class=" no-border text-right ellipsis"
          [ngStyle]="{'max-width': '130px'}">
          {{ i18n.transaction.amount }}</th>
        <th class="actions"></th>
      </thead>
      <tbody>
        <tr *ngFor="let row of data">
          <td>{{ row.product.productNumber }}
          </td>
          <td class="link" [ngStyle]="{'max-width': '130px'}"
            (click)="navigate(row)">
            <span class="ellipsis-clamp-2">{{ row.product.name }}</span></td>
          <td class="text-right">
            {{  row.product.price | currency: currency }}
          </td>
          <td class="text-right">
            <decimal-field [formControl]="form.controls[discount(row)]"
              [scale]="2">
            </decimal-field>
          </td>
          <td class="text-right">
            <decimal-field [formControl]="form.controls[price(row)]"
              [scale]="currency.decimalDigits">
            </decimal-field>
          </td>
          <td class="text-right">
            <decimal-field [formControl]="form.controls[quantity(row)]"
              [minRange]="row.product.allowDecimalQuantity ? null : 1"
              [maxRange]="row.product.allowDecimalQuantity ? null : 10"
              [customValueLabel]="i18n.ad.customQuantity"
              [scale]="row.product.allowDecimalQuantity ? 2 : 0">
            </decimal-field>
          </td>
          <td class="text-right ellipsis" [ngStyle]="{'max-width': '130px'}">
            <ng-container
              *ngIf=" (form.valueChanges | async) || row.totalPrice">
              {{ rowTotal(row) | currency: currency }}
            </ng-container>
          </td>
          <td class="actions actions-multiple">
            <button [tooltip]="i18n.general.remove" class="btn btn-icon"
              (click)="remove(row)">
              <icon icon="delete"></icon>
            </button>
          </td>
        </tr>
        <tr class="no-hover">
          <td class="table-head-color" [attr.colspan]="4">
            {{ i18n.ad.subtotal }}</td>
          <td class="table-head-color text-right ellipsis" [attr.colspan]="3">
            <ng-container *ngIf="(form.valueChanges | async) || data">
              {{ subtotal | currency: currency }}
            </ng-container>
          </td>
          <td></td>
        </tr>
        <tr class="no-hover">
          <td [attr.colspan]="4">
            <ng-container *ngIf="deliveryMethod$ | async">
              {{ i18n.ad.deliveryMethod + ': ' + (deliveryMethod.name || '')}}
            </ng-container>
          </td>
          <td class="text-right ellipsis" [attr.colspan]="3">
            <ng-container *ngIf="deliveryMethod$ | async">
              {{ deliveryMethod.price ?
              (deliveryMethod.price | currency: currency) :
            i18n.general.notSet }}
            </ng-container>
          </td>
          <td></td>
        </tr>
        <tr class="totalAmount no-hover">
          <td class="border-bottom-0 label label-value-label"
            [attr.colspan]="4">
            {{ i18n.ad.total }}</td>
          <td class="border-bottom-0 text-right label-value-value ellipsis"
            [attr.colspan]="3">
            <ng-container
              *ngIf="(deliveryMethod$ | async) || (form.valueChanges | async) || data">
              {{ total | currency: currency }}
            </ng-container>
          </td>
          <td class="border-bottom-0"></td>
        </tr>
      </tbody>
    </table>
  </form>
</ng-container>
<ng-template #noProducts>
  <div>{{ i18n.ad.itemsNone }}</div>
</ng-template>
