<div [ngClass]="elementClass" *ngIf="address.addressLine1">
  {{ address.addressLine1 }}
</div>
<div [ngClass]="elementClass" *ngIf="address.addressLine2">
  {{ address.addressLine2 }}
</div>
<div [ngClass]="elementClass" *ngIf="address.street">
  {{ addressHelper.addressStreet(address) }}
</div>
<div [ngClass]="elementClass" *ngIf="address.neighborhood">
  <span class="inline-label">{{ i18n.address.neighborhood }}</span>
  {{ address.neighborhood }}
</div>
<div [ngClass]="elementClass" *ngIf="address.poBox">
  <span class="inline-label">{{ i18n.address.poBox }}</span>
  {{ address.poBox }}
</div>
<div [ngClass]="elementClass" *ngIf="address.zip">
  <span class="inline-label">{{ i18n.address.zip }}</span>
  {{ address.zip }}
</div>
<div [ngClass]="elementClass" *ngIf="address.city">
  <span class="inline-label">{{ i18n.address.city }}</span>
  {{ address.city }}
</div>
<div [ngClass]="elementClass" *ngIf="address.region">
  <span class="inline-label">{{ i18n.address.region }}</span>
  {{ address.region }}
</div>
<div [ngClass]="elementClass"
  *ngIf="address.country && countriesResolve.data | async">
  <span class="inline-label">{{ i18n.address.country }}</span>
  {{ country }}
</div>
<ng-container *ngIf="contactInfo">
  <div [ngClass]="elementClass" *ngIf="contactInfo.email">
    <span class="inline-label">{{ i18n.user.email }}</span>
    <a [href]="'mailTo:' + contactInfo.email">
      {{ contactInfo.email }}
    </a>
  </div>
  <div [ngClass]="elementClass" *ngIf="contactInfo.mobilePhone">
    <span class="inline-label">{{ i18n.phone.mobile }}</span>
    <a [href]="'tel:' + contactInfo.normalizedMobilePhone">
      {{ contactInfo.mobilePhone }}
    </a>
  </div>
  <div [ngClass]="elementClass" *ngIf="contactInfo.landLinePhone">
    <span class="inline-label">{{ i18n.phone.landLine }}</span>
    <a [href]="'tel:' + contactInfo.normalizedLandLinePhone">
      {{ contactInfo.landLinePhone }}
    </a>
  </div>
</ng-container>
