<ng-container *ngIf="content$ | async as content; else loading">
  <div #content>
    <h1>
      {{ agreement.name }}
    </h1>
    <div class="mb-3" [innerHTML]="content | trust"></div>
  </div>
  <actions forceRow>
    <action-button (action)="print(content, printOutput)"
      [label]="i18n.general.print">
    </action-button>
    <action-button outline (action)="modalRef.hide()"
      [label]="i18n.general.close">
    </action-button>
  </actions>
  <iframe class="d-none" #printOutput></iframe>
</ng-container>
<ng-template #loading>
  <spinner></spinner>
</ng-template>
