@import 'src/definitions';

:host {
  display: inline-block;
}

.btn {
  max-width: 100%; // Makes text ellipis work
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  height: calc(#{$input-height} - 3px);
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  padding-left: calc(#{$btn-padding-x} - 2px);
  box-shadow: none;

  color: $toolbar-button-color;
  background-color: $toolbar-button-bg;
  border-color: $toolbar-button-border-color;

  icon {
    position: relative;
    top: -1px;
    color: $toolbar-button-icon-color;
  }

  &:active, &.focus, &:hover {
    color: $toolbar-button-hover-color;
    background-color: $toolbar-button-hover-bg;
    border-color: $toolbar-button-hover-border-color;
  }

  & > div {
    padding-left: 0.5rem;
    text-align: start;
    @include text-truncate();
  }  
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
}

body.dark :host ::ng-deep {
  .btn {
    color: $toolbar-button-color-dark;
    background-color: $toolbar-button-bg-dark;
    border-color: $toolbar-button-border-color-dark;
  
    icon {
      color: $toolbar-button-icon-color-dark;
    }
  
    &:active, &.focus, &:hover {
      color: $toolbar-button-hover-color-dark;
      background-color: $toolbar-button-hover-bg-dark;
      border-color: $toolbar-button-hover-border-color-dark;
    }
  }  
}
