<div>{{ i18n.password.hints.preface }}</div>
<ul>
  <li *ngIf="fixedLength" [ngClass]="(fixedLength$ | async) ? 'valid' : 'invalid'">
    {{
      (fixedLength$ | async)
        ? i18n.password.hints.ok(
            this.passwordType.onlyNumeric
              ? i18n.password.hints.fixedLengthNumbers(fixedLength)
              : i18n.password.hints.fixedLength(fixedLength)
          )
        : i18n.password.hints.fail(
            this.passwordType.onlyNumeric
              ? i18n.password.hints.fixedLengthNumbers(fixedLength)
              : i18n.password.hints.fixedLength(fixedLength)
          )
    }}
  </li>
  <li *ngIf="minLength" [ngClass]="(minLength$ | async) ? 'valid' : 'invalid'">
    {{
      (minLength$ | async)
        ? i18n.password.hints.ok(
            this.passwordType.onlyNumeric
              ? i18n.password.hints.minLengthNumbers(minLength)
              : i18n.password.hints.minLength(minLength)
          )
        : i18n.password.hints.fail(
            this.passwordType.onlyNumeric
              ? i18n.password.hints.minLengthNumbers(minLength)
              : i18n.password.hints.minLength(minLength)
          )
    }}
  </li>
  <li *ngIf="lowerCaseLetters" [ngClass]="(lowerCaseLetters$ | async) ? 'valid' : 'invalid'">
    {{
      (lowerCaseLetters$ | async)
        ? i18n.password.hints.ok(i18n.password.hints.lowerCaseLetters)
        : i18n.password.hints.fail(i18n.password.hints.lowerCaseLetters)
    }}
  </li>
  <li *ngIf="upperCaseLetters" [ngClass]="(upperCaseLetters$ | async) ? 'valid' : 'invalid'">
    {{
      (upperCaseLetters$ | async)
        ? i18n.password.hints.ok(i18n.password.hints.upperCaseLetters)
        : i18n.password.hints.fail(i18n.password.hints.upperCaseLetters)
    }}
  </li>
  <li *ngIf="!this.passwordType.onlyNumeric && numbers" [ngClass]="(numbers$ | async) ? 'valid' : 'invalid'">
    {{
      (numbers$ | async)
        ? i18n.password.hints.ok(i18n.password.hints.numbers)
        : i18n.password.hints.fail(i18n.password.hints.numbers)
    }}
  </li>
  <li *ngIf="specialCharacters" [ngClass]="(specialCharacters$ | async) ? 'valid' : 'invalid'">
    {{
      (specialCharacters$ | async)
        ? i18n.password.hints.ok(i18n.password.hints.specialCharacters)
        : i18n.password.hints.fail(i18n.password.hints.specialCharacters)
    }}
  </li>
</ul>
