<ng-container *ngIf="operator else regularUser">
  <label-value *ngIf="authHelper.isSelf(user.user)"
    [label]="i18n.user.operatorOwner" [kind]="kind" [labelCols]="labelCols">
    <user-link [user]="user.user"></user-link>
  </label-value>
  <label-value [label]="i18n.general.operator" [kind]="kind"
    [labelCols]="labelCols">
    <user-link [user]="user"></user-link>
  </label-value>
</ng-container>
<ng-template #regularUser>
  <label-value *ngIf="layout.gtxs$ | async; else mobile"
    [label]="i18n.general.user" [kind]="kind" [labelCols]="labelCols">
    <user-link [user]="user"></user-link>
  </label-value>
</ng-template>
<ng-template #mobile>
  <user-link class="my-3" [user]="user"></user-link>
</ng-template>
