@import 'src/definitions';

.display-text {
  flex-grow: 1;
  line-height: 1.5rem;
  font-weight: $font-weight-normal;
}

:host ::ng-deep {
  icon {
    opacity: 0.5;
  }
  .has-link icon {
    color: $link-color;
  }
}

body.dark :host ::ng-deep .has-link icon {
  color: $link-color-dark;
}

@media print {
  avatar {
    display: none;
  }
}