<page-layout [title]="messages.userPhones()"
  [loaded]="loaded">
  <page-content *ngIf="loaded | async">
    <tiled-results *ngIf="data.phones.length > 0; else noResults">
      <tiled-result *ngFor="let phone of data.phones"
        [title]="phone.name"
        [icon]="icon(phone.type)"
        [actions]="actions(phone)"
        fxFlex="nogrow">
        <div class="tile-data">
          {{ phone.number }}
        </div>
        <div class="tile-data">
          {{ phone.hidden ? messages.visibilityPrivate() : messages.visibilityPublic() }}
        </div>
        <ng-container *ngIf="data.smsEnabled">
          <div *ngIf="phone.type === 'mobile'; else blankLine"
            class="tile-data">
            {{ phone.verified ? phone.enabledForSms ? messages.phoneSmsEnabled() : messages.phoneSmsDisabled()
            : messages.phoneNotVerified() }}
          </div>
        </ng-container>
      </tiled-result>
    </tiled-results>
    <fab-speed-dial *ngIf="createActions.length > 0"
      [actions]="createActions">
    </fab-speed-dial>
  </page-content>
</page-layout>
<ng-template #blankLine>
  <br>
</ng-template>
<ng-template #noResults>
  <div class="no-results">{{ messages.phoneNoResults() }}</div>
</ng-template>
