<h1>{{ i18n.user.title.addContact }}</h1>

<user-field #field focused [filters]="{ excludeContacts: true }"
  [container]="null" [allowContacts]="false" [allowPrincipal]="false"
  [formControl]="control" [label]="i18n.user.contact">
</user-field>

<actions forceRow>
  <button class="btn btn-primary" [disabled]="requesting$ | async"
    (click)="addContact()">
    {{ i18n.general.submit }}
  </button>
  <button class="btn btn-outline-primary" (click)="modalRef.hide()">
    {{ i18n.general.cancel }}
  </button>
</actions>
