<page-layout [title]="messages.userSearchTitle()"
  [hasHeader]="true"
  [loaded]="loaded"
  [filtersForm]="form"
  [tightContent]="true"
  [invisibleContent]="resultType.value === ResultType.TILES && !(dataSource.empty | async)">
  <page-header>
    <result-type-field *ngIf="allowedResultTypes.length > 1"
      [formControl]="resultType"
      [allowedResultTypes]="allowedResultTypes"></result-type-field>
  </page-header>
  <page-filters>
    <form *ngIf="query != null"
      fxLayout="column"
      [formGroup]="form">
      <mat-form-field>
        <input formControlName="keywords"
          matInput
          focused
          [placeholder]="messages.keywords()">
      </mat-form-field>
    </form>
  </page-filters>
  <page-content>
    <!-- Shouldn't grow when no results, or the message would take all the remaining height -->
    <users-results *ngIf="loaded | async"
      [fxFlex]="((dataSource.data | async)?.length || 0) > 0 ? 'grow' : 'nogrow'"
      [dataSource]="dataSource"
      [query]="query"
      [data]="data | async"
      [resultType]="resultType"
      (update)="update()"></users-results>
  </page-content>
</page-layout>
