<page-layout [ready]="data$ | async">
  <ng-container *ngIf="loaded$ | async; else loading">
    <page-content mode="filters" [heading]="messages.user.title.search"
      [headingActions]="headingActions$ | async">
      <form [formGroup]="form" class="filters-form border-bottom">
        <div class="row">
          <div class="col-12 col-md-6">
            <input-field labelPosition="side" formControlName="keywords"
              [label]="messages.general.keywords"></input-field>
          </div>
          <div class="col-12 col-md-6" *ngIf="(basicField$ | async) as cf">
            <custom-field-filter labelPosition="side" [field]="cf"
              [formControl]="form.get('customValues').get(cf.internalName)">
            </custom-field-filter>
          </div>
          <ng-container *ngIf="moreFilters$ | async">
            <div class="col-12 col-md-6" *ngFor="let cf of advancedFields$ | async">
              <custom-field-filter labelPosition="side" [field]="cf"
                [formControl]="form.get('customValues').get(cf.internalName)">
              </custom-field-filter>
            </div>
          </ng-container>
        </div>
      </form>
      <div class="row filters-row">
        <div class="col-12 col-xs-7 col-md-9">
          <result-type-field [allowedResultTypes]="allowedResultTypes$ | async"
            [formControl]="resultTypeControl">
          </result-type-field>
        </div>
        <div *ngIf="(layout.gtxxs$ | async)" class="col-12 col-xs-5 col-md-3">
          <single-selection-field [formControl]="form.get('orderBy')"
            [display]="messages.general.orderBy" [emptyOption]="messages.general.orderByRelevance">
            <field-option value="alphabeticallyAsc" [text]="messages.user.orderBy.alphabeticallyAsc"></field-option>
            <field-option value="alphabeticallyDesc" [text]="messages.user.orderBy.alphabeticallyDesc"></field-option>
          </single-selection-field>
        </div>
      </div>
    </page-content>

    <users-results [results]="results$ | async" [rendering$]="rendering$"
      [data]="data$ | async" [resultType]="resultType$ | async" (update)="update($event)">
    </users-results>
  </ng-container>
</page-layout>

<ng-template #loading>
  <page-content>
    <spinner></spinner>
  </page-content>
</ng-template>
