<page-layout [ready]="data$ | async" size="small" hideMenu>
  <page-content *ngIf="data" layout="centered" [heading]="messages.auth.pendingAgreements.title">
    <notification type="warning">
      <div [innerHTML]="messages.auth.pendingAgreements.message | trust"></div>
    </notification>
    <div class="mt-3 text-left">
      <boolean-field [formControl]="accept">
        <div #agreementsContent class="pl-2"></div>
      </boolean-field>
    </div>
    <actions>
      <button class="btn btn-primary" [disabled]="requesting$ | async"
        (click)="submit()">{{ messages.general.submit }}</button>
      <button class="btn btn-outline-primary" (click)="cancel()">
        {{ messages.general.cancel }}
      </button>
    </actions>
  </page-content>
</page-layout>
