<page-layout [ready]="data$ | async" size="small" hideMenu>
  <page-content *ngIf="data" layout="centered" [heading]="title"
    [mobileHeading]="mobileTitle">
    <notification type="warning">
      <div [innerHTML]="message | trust"></div>
    </notification>
    <div class="mt-3 text-left">
      <accept-agreements [agreements]="agreements" [formControl]="accepted">
      </accept-agreements>
    </div>
    <actions>
      <button class="btn btn-primary" [disabled]="requesting$ | async"
        (click)="submit()">{{ i18n.general.submit }}</button>
      <button class="btn btn-outline-primary" (click)="cancel()">
        {{ i18n.general.cancel }}
      </button>
    </actions>
  </page-content>
</page-layout>
