<page-layout [ready]="data$ | async" size="small" hideMenu>
  <page-content *ngIf="data" layout="centered" [heading]="i18n.auth.password.title.change">
    <form [formGroup]="form" (submit)="$event.preventDefault()">
      <ng-container *ngIf="data.securityQuestion">
        <h3>{{ i18n.auth.securityQuestion.question }}</h3>
        <div class="mb-2">{{ data.securityQuestion }}</div>
        <input-field labelPosition="above" required formControlName="securityAnswer"
          focused [placeholder]="i18n.auth.securityQuestion.answer"></input-field>
      </ng-container>

      <div *ngIf="data.generated; else passwordInput">
        {{ i18n.auth.password.forgotten.generatedMessage }}
      </div>

      <ng-template #passwordInput>
        <h3 class="mt-5 mb-4">{{ i18n.auth.password.newPassword }}</h3>
        <input-field ngClass="mb-3" labelPosition="above" required
          formControlName="newPassword" type="password" [focused]="!data.securityQuestion"
          [placeholder]="i18n.auth.password.newPassword"></input-field>
        <input-field labelPosition="above" required formControlName="newPasswordConfirmation"
          type="password" [placeholder]="i18n.auth.password.passwordConfirmation"></input-field>
      </ng-template>

      <actions>
        <button class="btn btn-primary" [disabled]="requesting$ | async"
          (click)="submit()">
          {{ i18n.general.submit }}
        </button>
        <button class="btn btn-outline-primary" (click)="cancel()">
          {{ i18n.general.cancel }}
        </button>
      </actions>
    </form>
  </page-content>
</page-layout>
