<page-layout [ready]="data$ | async" size="small" hideMenu>
  <page-content *ngIf="data" layout="centered" [heading]="i18n.auth.password.title.change">
    <form [formGroup]="form" (submit)="$event.preventDefault()">
      <notification *ngIf="!(generatedValue$ | async); else generatedValue"
        type="warning">
        <div>{{ i18n.auth.password.expired.preface(typeName) }}</div>
        <div *ngIf="generated" [innerHTML]="i18n.auth.password.expired.messageGenerated | trust"></div>
        <div *ngIf="!generated" [innerHTML]="i18n.auth.password.expired.messageManual | trust"></div>
      </notification>

      <ng-template #generatedValue>
        <notification *ngIf="generatedValue$ | async">
          <div [innerHTML]="i18n.auth.password.expired.generatedValue({
            type: typeName,
            value: generatedValue$.value
          }) | trust"></div>
        </notification>
      </ng-template>

      <ng-container *ngIf="!generated">
        <input-field ngClass="my-3" labelPosition="above" required
          formControlName="newPassword" type="password" focused [placeholder]="i18n.auth.password.newPassword"></input-field>
        <input-field labelPosition="above" required formControlName="newPasswordConfirmation"
          type="password" [placeholder]="i18n.auth.password.passwordConfirmation"></input-field>
      </ng-container>

      <actions>
        <button *ngIf="generated && !(generatedValue$ | async)" class="btn btn-primary"
          [disabled]="requesting$ | async" (click)="submit()">
          {{ i18n.auth.password.expired.generateNew }}
        </button>
        <button *ngIf="generated && (generatedValue$ | async)" class="btn btn-primary"
          [disabled]="requesting$ | async" (click)="reload()">
          {{ i18n.general.close }}
        </button>
        <button *ngIf="!generated" class="btn btn-primary" [disabled]="requesting$ | async"
          (click)="submit()">
          {{ i18n.general.submit }}
        </button>
        <button *ngIf="!(generatedValue$ | async)" class="btn btn-outline-primary"
          (click)="cancel()">
          {{ i18n.general.cancel }}
        </button>
      </actions>
    </form>
  </page-content>
</page-layout>
