<page-layout [loaded]="loaded"
  [hasMenu]="false"
  contentSize="small">
  <page-content *ngIf="data | async">
    <form [formGroup]="form"
      fxLayout="column">
      <h1>{{ messages.forgotPasswordChangeTitle() }}</h1>

      <ng-container *ngIf="data.value.securityQuestion">
        <h3>{{ messages.forgotPasswordSecurityQuestion() }}</h3>
        <div class="form-info-light">{{ data.value.securityQuestion }}</div>
        <mat-form-field fxFlex="grow"
          floatPlaceholder="never">
          <input matInput
            formControlName="securityAnswer"
            type="text"
            required
            focused
            [placeholder]="messages.forgotPasswordSecurityAnswer()">
        </mat-form-field>
      </ng-container>

      <ng-container *ngIf="!data.value.generated">
        <h3>{{ messages.forgotPasswordNewPassword() }}</h3>
        <mat-form-field fxFlex="grow">
          <input matInput
            type="password"
            formControlName="newPassword"
            required
            [focused]="!data.value.securityQuestion"
            [placeholder]="messages.forgotPasswordNewPassword()" />
        </mat-form-field>

        <mat-form-field fxFlex="grow">
          <input matInput
            type="password"
            formControlName="newPasswordConfirmation"
            required
            [placeholder]="messages.forgotPasswordNewPasswordConfirmation()" />
        </mat-form-field>
      </ng-container>
      <div *ngIf="data.value.generated"
        class="form-info-light">{{ messages.forgotPasswordGeneratedPassword() }}</div>

      <actions align="center">
        <button mat-button
          (click)="cancel()">
          {{ messages.cancel() }}
        </button>

        <button mat-raised-button
          [disabled]="!form.valid"
          color="accent"
          (click)="submit()">
          {{ messages.submit() }}
        </button>
      </actions>
    </form>
  </page-content>
</page-layout>
