<page-layout [ready]="data$ | async" size="small" hideMenu>
  <page-content *ngIf="data" layout="centered" i18n-heading heading="Change your password">
    <form [formGroup]="form" (submit)="$event.preventDefault()">
      <ng-container *ngIf="data.securityQuestion">
        <h3 i18n>Security question</h3>
        <div class="mb-2">{{ data.securityQuestion }}</div>
        <input-field labelPosition="above" required formControlName="securityAnswer" focused
          i18n-placeholder placeholder="Your answer"></input-field>
      </ng-container>

      <div *ngIf="data.generated; else passwordInput" i18n>
        Once you submit, a new password will be generated and sent to your e-mail address
      </div>

      <ng-template #passwordInput>
        <h3 class="mt-5 mb-4" i18n>New password</h3>
        <input-field ngClass="mb-3" labelPosition="above" required formControlName="newPassword"
          type="password" [focused]="!data.securityQuestion" i18n-placeholder placeholder="New password"></input-field>
        <input-field labelPosition="above" required formControlName="newPasswordConfirmation"
          type="password" [focused]="!data.securityQuestion" i18n-placeholder placeholder="Password confirmation"></input-field>
      </ng-template>

      <actions>
        <button class="btn btn-primary" [disabled]="(form.statusChanges | async) !== 'VALID'"
          (click)="submit()" i18n>Submit</button>
        <button class="btn btn-outline-primary" (click)="cancel()" i18n>Cancel</button>
      </actions>
    </form>
  </page-content>
</page-layout>
