<page-layout [ready]="data$ | async" size="small" hideMenu>
  <page-content *ngIf="data" [layout]="(layout.ltmd$ | async) ? 'normal' : 'centered'"
    [heading]="messages.auth.password.forgotten.title" last>
    <form [formGroup]="form" (submit)="$event.preventDefault()">
      <div class="mt-0 mt-xs-3 mt-sm-0 mb-4 text-left">
        {{ messages.auth.password.forgotten.preface }}
        <ul>
          <li *ngFor="let pt of principalTypes">{{ pt.name }}</li>
        </ul>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text input-group-icon">
            <icon size="1.3rem" icon="account_circle"></icon>
          </span>
        </div>
        <input type="text" formControlName="user" autocomplete="username"
          class="form-control" focused [placeholder]="messages.auth.password.forgotten.principal">
      </div>

      <ng-container *ngIf="data.forgotPasswordCaptchaProvider != null">
        <div class="mb-2">{{ messages.auth.password.forgotten.captcha }}</div>
        <div class="d-flex justify-content-center">
          <captcha [form]="form.get('captcha')"></captcha>
        </div>
      </ng-container>

      <actions>
        <button class="btn btn-primary" (click)="submit()">
          {{ messages.general.submit }}
        </button>
        <button class="btn btn-outline-primary" (click)="cancel()">
          {{ messages.general.cancel }}
        </button>
      </actions>
    </form>
  </page-content>
</page-layout>
