<page-layout [loaded]="loaded"
  [hasMenu]="false"
  contentSize="small">
  <page-content>
    <form [formGroup]="form"
      fxLayout="column">
      <h1>{{ messages.forgotPasswordTitle() }}</h1>
      <div class="text"
        fxFlex="grow">{{ text }}</div>

      <mat-form-field fxFlex="grow"
        floatLabel="never">
        <input matInput
          formControlName="user"
          type="text"
          required
          focused
          [placeholder]="messages.forgotPasswordUser()">
      </mat-form-field>

      <ng-container *ngIf="dataForLogin.forgotPasswordCaptchaProvider != null">
        <div class="text"
          fxFlex="grow">
          {{ messages.forgotPasswordCaptcha() }}
        </div>
        <div class="captchaField"
          fxFlex="grow"
          fxLayout="column"
          fxLayoutAlign="center">
          <captcha fxFlex="nogrow"
            [form]="form.get('captcha')"></captcha>
        </div>
      </ng-container>

      <actions fxFlex="grow"
        fxLayout="row"
        fxLayout.xs="column-reverse"
        fxLayoutAlign="center">
        <button mat-button
          (click)="cancel()">
          {{ messages.cancel() }}
        </button>

        <button mat-raised-button
          color="accent"
          (click)="submit()">
          {{ messages.submit() }}
        </button>
      </actions>
    </form>
  </page-content>
</page-layout>
