<ng-container *ngIf="loaded | async">
  <!-- View for small to large devices -->
  <div *ngIf="layout.gtxs"
    fxLayout="row"
    fxLayout.sm="column">
    <mat-card fxFlex="grow">
      <mat-card-title>{{ messages.loginTitle() }}</mat-card-title>
      <mat-card-content>
        <div class="text">
          You can login with your username and password
        </div>
        <login-form [loginForm]="loginForm"
          [dataForLogin]="dataForLogin"
          (submit)="doLogin()"
          [showActions]="false"></login-form>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button
          color="accent"
          (click)="doLogin()">
          {{ messages.submit() }}
        </button>
        <a href="#"
          class="forgotPassword">
          Forgot your password?
        </a>
      </mat-card-actions>
    </mat-card>
  </div>

  <!-- Tabbed view for extra small devices when registration is enabled -->
  <mat-tab-group *ngIf="canRegister && layout.xs">
    <mat-tab [label]="messages.loginTitle()">
      <login-form class="topMargin"
        [loginForm]="loginForm"
        [dataForLogin]="dataForLogin"
        (submit)="doLogin()"
        [showActions]="true"></login-form>
    </mat-tab>
    <mat-tab [label]="messages.loginRegisterTitle()">
      <div class="register">
        <div>
          {{ messages.loginRegisterText() }}
        </div>
        <actions>
          <button mat-raised-button
            color="accent"
            (click)="register()">
            {{ messages.submit() }}
          </button>
        </actions>
      </div>
    </mat-tab>
  </mat-tab-group>

  <!-- Login page for extra small devices when registration is disabled -->
  <ng-container *ngIf="!canRegister && layout.xs">
    <h2>{{ messages.loginTitle() }}</h2>
    <login-form [loginForm]="loginForm"
      [dataForLogin]="dataForLogin"
      (submit)="doLogin($event)"
      [showActions]="true"></login-form>
  </ng-container>

</ng-container>
