<form focusFirst fxLayout="column" [formGroup]="loginForm" fxFlex="grow">
  <mat-form-field fxFlex="grow" floatPlaceholder="never">
    <input matInput formControlName="principal" type="text" required
      [placeholder]="generalMessages.loginPrincipal()"
      (keyup.enter)="passwordComponent.focus()">
    <mat-icon matPrefix ngClass="mat-24">account_circle</mat-icon>
  </mat-form-field>
  <password-input #passwordComponent
    fxFlex="grow"
    [showIcon]="true"
    [placeholder]="generalMessages.loginPassword()"
    [passwordInput]="dataForLogin.loginPasswordInput"
    formControlName="password"
    (onEnter)="emit()"
  ></password-input>
  <actions *ngIf="showActions" fxFlex="grow">
    <button [disabled]="!loginForm.valid" mat-raised-button color="accent" (click)="emit()">
      {{generalMessages.loginAction()}}
    </button>
  </actions>
</form>