<page-layout [loaded]="loaded"
  [hasMenu]="false"
  contentSize="small">
  <page-content *ngIf="loaded | async">
    <form [formGroup]="form"
      fxLayout="column"
      focusFirst>
      <h1>{{ messages.loginTitle() }}</h1>
      <div class="text">
        {{ text }}
      </div>

      <mat-form-field fxFlex="grow"
        floatPlaceholder="never">
        <input matInput
          formControlName="principal"
          type="text"
          required
          [focused]
          [placeholder]="messages.loginPrincipal()"
          (keyup.enter)="passwordComponent.focus()">
        <mat-icon matPrefix
          ngClass="mat-24">account_circle</mat-icon>
      </mat-form-field>

      <password-input #passwordComponent
        fxFlex="grow"
        [showIcon]="true"
        [placeholder]="messages.loginPassword()"
        [passwordInput]="dataForLogin.loginPasswordInput"
        formControlName="password"
        (enter)="doLogin()">
      </password-input>

      <actions fxFlex="grow"
        fxLayout="row"
        fxLayoutAlign="center">
        <button mat-raised-button
          color="accent"
          (click)="doLogin()">
          {{ messages.submit() }}
        </button>
      </actions>

      <a class="forgotPassword"
        routerLink="/forgot-password">
        {{ messages.loginForgotPassword()}}
      </a>
    </form>
  </page-content>
</page-layout>
