<form focusFirst fxLayout="column" #form="ngForm" fxFlex="grow">
  <md-input-container fxFlex="grow" floatPlaceholder="never">
    <input mdInput name="principal" type="text" required
      [placeholder]="generalMessages.loginPrincipal()"
      [(ngModel)]="data.principal"
      (keyup.enter)="passwordComponent.focus()">
    <md-icon mdPrefix class="md-24">account_circle</md-icon>
  </md-input-container>
  <password-input #passwordComponent
    [showIcon]="true"
    [placeholder]="generalMessages.loginPassword()"
    [passwordInput]="dataForLogin.loginPasswordInput"
    [(ngModel)]="data.password" name="password"
    (onEnter)="emit()"
  ></password-input>
  <actions *ngIf="showActions">
    <button [disabled]="!valid" md-raised-button color="accent" (click)="emit()">
      {{generalMessages.loginAction()}}
    </button>
  </actions>
</form>