<div #content>
  <h1 *ngIf="agreements?.length > 1" i18n>Registration agreement</h1>
  <h1 *ngIf="agreements?.length === 1">{{ agreements[0].name }}</h1>
  <ng-container *ngFor="let agreement of agreements">
    <h2 *ngIf="agreements?.length > 1">{{ agreement.name }}</h2>
    <div class="mb-3" [innerHTML]="agreement.content | trust"></div>
  </ng-container>
</div>
<actions forceRow>
  <button class="btn btn-primary" (click)="print(content, printOutput)" i18n>Print</button>
  <button class="btn btn-outline-primary" (click)="modalRef.hide()" i18n>Close</button>
</actions>
<iframe class="d-none" #printOutput></iframe>
