@import '~@angular/material/theming';

@mixin tiled-result-component-theme($theme) {
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  tiled-result {
    .mat-card {
      color: mat-color($foreground, text);
    }

    .top-avatar {
      border-bottom: 1px solid mat-color($foreground, divider);
    }
  }

  .tiled-results:not(.standalone) tiled-result {
    .mat-card {
      background-color: darken(mat-color($background, card), 1%);
    }
  }
}
