<div class="row no-gutters">
  <ng-container *ngIf="status.beginDate">
    <div class="status-label col-12 col-xs-6 col-md-3" i18n>
      Begin date
    </div>
    <div class="status-value col-12 col-xs-6 col-md-3">
      {{ status.beginDate | date }}
    </div>
  </ng-container>
  <ng-container *ngIf="status.endDate">
    <div class="status-label col-12 col-xs-6 col-md-3" i18n>
      End date
    </div>
    <div class="status-value col-12 col-xs-6 col-md-3">
      {{ status.endDate | date }}
    </div>
  </ng-container>
  <ng-container *ngFor="let indicator of indicators">
    <div class="status-label col-12 col-xs-6 col-md-3">
      {{ indicator.label }}
    </div>
    <div class="status-value col-12 col-xs-6 col-md-3" [ngClass]="{
        negative:(indicator.alwaysNegative || format.isNegative(indicator.amount)),
        positive:(!indicator.alwaysNegative && format.isPositive(indicator.amount))
      }">
      {{ indicator.amount | currency:currency }}
    </div>
  </ng-container>
</div>
