<div [ngClass]="{
    actions: true,
    root: [true, 'true', ''].includes(root),
    'top-margin-none': topMargin === 'none',
    'top-margin-normal': topMargin === 'normal',
    'top-margin-double': topMargin === 'double',
    'top-margin-half': topMargin === 'half',
    'top-margin-small': topMargin === 'small',
    'button-space-normal': buttonSpace === 'normal',
    'button-space-small': buttonSpace === 'small',
    'button-space-equidistant': buttonSpace === 'equidistant',
    'xs-row': xsMode === 'row',
    'xs-column': xsMode === 'column',
    'xs-column-reverse': xsMode === 'column-reverse'
  }"
  fxLayout="row"
  [fxLayout.xs]="xsMode"
  [fxLayoutAlign]="align">
  <ng-content></ng-content>
</div>
