@import 'src/definitions';

.actions-toolbar-container {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid $border-color;
  padding-bottom: 0.55rem;
}

.actions-toolbar-item-right {
  flex-grow: 1;
  text-align: end;
}

.btn {
  margin-left: 0.75rem;
  margin-top: 0.6rem;
}

body.dark :host ::ng-deep {
  .actions-toolbar-container {
    border-bottom: 1px solid $border-color-dark;
  }
}

@media print {
  :host {
    display: none;
  }
}
