@import 'src/definitions';

:host {
  flex: 1 1 100%;
  width: 100%;
}
.actions.top-margin-none {
  margin-top: 0;
}
.actions.top-margin-small {
  margin-top: 8px;
}
.actions.top-margin-half {
  margin-top: 12px;
}
.actions.top-margin-normal {
  margin-top: 24px;
}
.actions.top-margin-double {
  margin-top: 48px;
}
.gt-xs :host /deep/ .actions.button-space-normal {
  button, a {
    margin-right: 22px;
  }
}
.gt-xs :host /deep/ .actions.button-space-small {
  button, a {
    margin-right: 4px;
  }
}
.gt-xs :host /deep/ .actions.button-space-equidistant {
  justify-content: space-between !important;

  button, a {
    margin-right: 0;
  }
}

.gt-xs :host /deep/ {
  *:last-child {
    margin-right: 0;
  }
}

.lt-sm :host /deep/ {
  button, a {
    flex: 1 1 100%;
    margin-bottom: 12px;
  }

  *:last-child {
    margin-bottom: 0;
  }
}
