@import 'src/definitions';

:host {
  flex: 1 1 100%;
}
.actions.top-margin-none {
  margin-top: 0;
}
.actions.top-margin-normal {
  margin-top: 24px;
}
.actions.top-margin-double {
  margin-top: 48px;
}
.gt-xs :host /deep/ {
  button, a {
    flex: 0;
    margin-right: 22px;
  }

  *:last-child {
    margin-right: 0;
  }
}
.lt-sm :host /deep/ {
  button, a {
    flex: 1 1 100%;
    margin-bottom: 12px;
  }

  *:last-child {
    margin-bottom: 0;
  }
}
