@import 'src/definitions';

:host {
  margin-top: 2rem;
}

:host ::ng-deep {
  button + button, button + .button, .button + button, .button + .button {
    margin-top: 1rem;
  }
}

@include media-breakpoint-up(xs) {
  :host.force-row ::ng-deep {
    button, .button, a, input[type=button], input[type=submit] {
      min-width: 7rem;
    }

    button + button, button + .button, .button + button, .button + .button {
      margin-top: 0;
    }
  }
}

@include media-breakpoint-up(sm) {
  :host ::ng-deep {
      button, .button, a, input[type=button], input[type=submit] {
        min-width: 10rem;
      }

      button + button, button + .button, .button + button, .button + .button {
        margin-top: 0;
      }
  }
}

@media print {
  :host {
    display: none !important;
  }
}
