<div [ngClass]="classNames" *ngIf="address.addressLine1">
  {{ address.addressLine1 }}
</div>
<div [ngClass]="classNames" *ngIf="address.addressLine2">
  {{ address.addressLine2 }}
</div>
<div [ngClass]="classNames" *ngIf="address.street">
  {{ addressHelper.addressStreet(address) }}
</div>
<div [ngClass]="classNames" *ngIf="address.neighborhood">
  {{ address.neighborhood }}
</div>
<div [ngClass]="classNames" *ngIf="address.poBox">
  {{ messages.general.labelValue({
  label: messages.address.poBox,
  value: address.poBox
  }) }}
</div>
<div [ngClass]="classNames" *ngIf="address.zip">
  {{ messages.general.labelValue({
  label: messages.address.zip,
  value: address.zip
  }) }}
</div>
<div [ngClass]="classNames" *ngIf="address.city">
  {{ address.city }}
</div>
<div [ngClass]="classNames" *ngIf="address.region">
  {{ address.region }}
</div>
<div [ngClass]="classNames" *ngIf="address.country && countriesResolve.data | async">
  {{ country }}
</div>
