<div [ngClass]="classNames" *ngIf="address.addressLine1">
  {{ address.addressLine1 }}
</div>
<div [ngClass]="classNames" *ngIf="address.addressLine2">
  {{ address.addressLine2 }}
</div>
<div [ngClass]="classNames" *ngIf="address.street">
  {{ addressHelper.addressStreet(address) }}
</div>
<div [ngClass]="classNames" *ngIf="address.neighborhood">
  {{ address.neighborhood }}
</div>
<div [ngClass]="classNames" *ngIf="address.poBox">
  {{ i18n.general.labelValue({
  label: i18n.address.poBox,
  value: address.poBox
  }) }}
</div>
<div [ngClass]="classNames" *ngIf="address.zip">
  {{ i18n.general.labelValue({
  label: i18n.address.zip,
  value: address.zip
  }) }}
</div>
<div [ngClass]="classNames" *ngIf="address.city">
  {{ address.city }}
</div>
<div [ngClass]="classNames" *ngIf="address.region">
  {{ address.region }}
</div>
<div [ngClass]="classNames"
  *ngIf="address.country && countriesResolve.data | async">
  {{ country }}
</div>
<ng-container *ngIf="contactInfo">
  <div [ngClass]="classNames" *ngIf="contactInfo.email">
    <a [href]="'mailTo:' + contactInfo.email">
      {{ contactInfo.email }}
    </a>
  </div>
  <div [ngClass]="classNames" *ngIf="contactInfo.mobilePhone">
    <a [href]="'tel:' + contactInfo.normalizedMobilePhone">
      {{ contactInfo.mobilePhone }}
    </a>
  </div>
  <div [ngClass]="classNames" *ngIf="contactInfo.landLinePhone">
    <a [href]="'tel:' + contactInfo.normalizedLandLinePhone">
      {{ contactInfo.landLinePhone }}
    </a>
  </div>
  <div *ngFor="let fieldValue of contactInfo.customValues"
    [ngClass]="classNames">
    <format-field-value [fieldValue]="fieldValue"></format-field-value>
  </div>
</ng-container>
