<div *ngIf="image != null"
  class="container"
  [ngStyle]="{
    width: maxSize + 'px',
    height: maxSize + 'px'
  }">
  <img [src]="url"
    [ngStyle]="{
      width: imageWidth + 'px',
      height: imageHeight + 'px',
      left: imageLeft + 'px',
      top: imageTop + 'px'
    }">
</div>
<mat-icon *ngIf="image == null && svgIcon != null"
  [color]="iconColor"
  [ngClass]="iconClass"
  [svgIcon]="svgIcon"></mat-icon>
<mat-icon *ngIf="image == null && svgIcon == null"
  [color]="iconColor"
  [ngClass]="iconClass">
  {{ icon }}
</mat-icon>
