<div *ngIf="image != null"
  class="container"
  [ngClass]="{
    'round-borders': roundBorders
  }"
  [ngStyle]="{
    width: maxSize + 'px',
    height: maxSize + 'px'
  }">
  <img [src]="url"
    (click)="showLightbox()"
    [ngStyle]="{
      width: imageWidth + 'px',
      height: imageHeight + 'px',
      left: imageLeft + 'px',
      top: imageTop + 'px'
    }">
</div>
<span [ngStyle]="{color: iconCustomColor}">
  <mat-icon *ngIf="image == null && svgIcon != null"
    [color]="iconColor"
    [ngClass]="iconClass"
    [svgIcon]="svgIcon"></mat-icon>
  <mat-icon *ngIf="image == null && svgIcon == null"
    [color]="iconColor"
    [ngClass]="iconClass">
    {{ icon }}
  </mat-icon>
  <span>
