@import 'src/definitions';

:host {
  display: inline-flex;
  line-height: 0;
  position: relative;
}
:host.card-img-top {
  border-bottom: 1px solid $card-border-color;
}
.avatar-container {
  position: relative;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
  background-repeat: no-repeat;
}
.avatar-container.full-size {
  width: 100%;
  height: auto;
  padding-top: 100%;
}
.avatar-container.round-borders {
  border-radius: 50%;
}
.avatar-container.with-lightbox {
  cursor: pointer;
  -webkit-transition: all ease-out 0.4s;
  transition: all ease-out 0.4s;
}
.avatar-container.with-lightbox:hover {
  -webkit-filter: brightness(90%);
  filter: brightness(90%);
}

.avatar-container {
  img, icon {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
}

:host.management icon {
  color: $management-icon-color;
}

body.dark {
  :host.card-img-top {
    border-color: $card-border-color-dark;
  }
  :host.management icon {
    color: $management-icon-color-dark;
  }
}
