@import 'src/definitions';

:host {
  margin-top: $section-margin;
  position: relative;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  background-color: $card-bg;
  background-clip: border-box;
  border: $card-border-width solid $card-border-color;
  @include border-radius($card-border-radius);
  box-shadow: $box-shadow-sm;
  padding: $card-spacer-x;
}
