@import 'src/definitions';

.gt-sm :host .breadcrumb {
  margin: 16px 0 0 16px;
}
.lt-md :host /deep/ .breadcrumb {
  margin: 8px 0 0 8px;
}
.lt-md :host .breadcrumb {
  padding-left: 0;
  padding-top: 0;
}
a {
  display: block;
  text-decoration: none;
  padding-top: 3px;
  white-space: nowrap;
}
.current {
  opacity: 0.6;
  padding-top: 3px;
  white-space: nowrap;
}
.divider {
  opacity: 0.6;
  display: block;
  padding: 3px 6px 0;
}
