@import 'src/definitions';

:host {
  min-width: 16.15rem;
  display: flex;
  flex-direction: column;
}

button {
  border: 1px solid transparent;
  background: transparent;
  border-radius: $calendar-header-height;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1em;
  transition: background-color 0.4s;
  cursor: pointer;

  &:hover, &:focus {
    background-color: $calendar-hover-bg;
    color: $calendar-hover-color !important;
  }
  &, &:hover, &:focus {
    outline: none;
  }
}
button[disabled] {
  text-decoration: line-through;
}

.calendar-header {
  display: flex;
  align-items: center;
  color: $calendar-header-color;
  background-color: $calendar-header-bg;
  padding: 0.4rem;
  height: $calendar-header-height;

  button, .year-range {
    height: $calendar-header-height;
    color: $calendar-header-color;
  }
  button[disabled], button[disabled]:hover {
    cursor: default !important;
    background-color: transparent !important;
    color: transparent !important;
  }
  .month {
    width: $calendar-month-width;
  }
  .year {
    width: $calendar-year-width;
  }
  .month, .year {
    height: $calendar-header-nav-size;
    margin: 0 0.5rem;
  }
  .calendar-nav {
    width: $calendar-header-nav-size;
    height: $calendar-header-nav-size;
  }
  .year-range {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1em;
    height: $calendar-header-nav-size;
  }
}

.calendar-body {
  padding: 0.5rem 0;
  height: calc(#{7 * $calendar-cell-height} + 2px + 1rem);
}
.calendar-days, .calendar-months, .calendar-years {
  width: 100%;
}

td, th {
  padding: 0.2rem !important;
  height: $calendar-cell-height !important;
}

.weekday {
  text-align: center;
  font-weight: $font-weight-bold;
  color: $text-muted;
}

.select-day, .select-month, .select-year {
  height: $calendar-cell-height;
  text-align: center;
  display: block;
  margin: 0 auto;
}
.select-day {
  width: $calendar-cell-height;
}
.select-month {
  width: $calendar-month-width;
}
.select-year {
  width: $calendar-year-width;
}
.today, .today:hover,
.this-month, .this-month:hover,
.this-year, .this-year:hover {
  border: 1px solid $calendar-today-border-color;
}
.calendar-days, .calendar-months, .calendar-years {
  button[disabled] {
    cursor: default;
    background-color: transparent;
    color: $calendar-disabled-color !important;
    background-color: $calendar-disabled-bg !important;
  }
}
.select-day.selected-date, .select-day.selected-date:hover {
  background-color: $calendar-selected-bg !important;
  color: $calendar-selected-color !important;
}


body.dark :host ::ng-deep {
  button {
    &:hover, &:focus {
      background-color: $calendar-hover-bg-dark;
      color: $calendar-hover-color-dark !important;
    }
  }
  .calendar-header {
    color: $calendar-header-color-dark;
    background-color: $calendar-header-bg-dark;

    button, .year-range {
      color: $calendar-header-color-dark;
    }
  }
  .calendar-body button {
    color: $body-color-dark;
  }
  .weekday {
    color: $text-muted-dark;
  }
  .today, .today:hover,
  .this-month, .this-month:hover,
  .this-year, .this-year:hover {
    border-color: $calendar-today-border-color-dark;
  }
  .calendar-days, .calendar-months, .calendar-years {
    button[disabled] {
      color: $calendar-disabled-color-dark !important;
      background-color: $calendar-disabled-bg-dark !important;
    }
  }
  .select-day.selected-date, .select-day.selected-date:hover {
    background-color: $calendar-selected-bg-dark !important;
    color: $calendar-selected-color-dark !important;
  }
}
