@import 'src/definitions';

:host {
  display: block;
  margin: auto;
}

@include media-breakpoint-up(sm) {
  :host {
    max-width: 30rem;
  }
}

.qr-container {
  text-align: center;
  position: relative;

  button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.rejected {
  opacity: 0.1;
}