<alert *ngIf="alertMessage" type="info"> {{ alertMessage }} </alert>
<div *ngIf="!canConfirm" class="pt-2 mb-3 text-center font-weight-bold">
  {{ confirmationMessage$ | async }}
</div>
<ng-container *ngIf="canConfirm">
  <ng-container *ngIf="passwordInput?.allowedCredentials?.length">
    <!-- Multiple credential types are allowed. Show the options -->
    <div class="mb-3 flex-nowrap">
      <radio-group-field
        *ngIf="credentialTypeOptions?.length > 1"
        [formControl]="credentialTypeControl"
        labelPosition="side"
        [label]="i18n.password.confirmMode"
        [asColumn]="layout.ltsm$ | async"
        [fieldOptions]="credentialTypeOptions">
      </radio-group-field>
    </div>
    <div
      class="confirmation-fields"
      *ngIf="(credentialTypeControl.valueChanges | async) || credentialTypeControl.value as credentialType">
      <div *ngIf="confirmationMessage$ | async as confirmationMessage" class="text-center mb-3">
        {{ confirmationMessage }}
      </div>
      <div
        *ngIf="passwordInput.activeCredentials.includes(CredentialTypeEnum.DEVICE)"
        [hidden]="credentialType !== CredentialTypeEnum.DEVICE">
        <ng-container *ngTemplateOutlet="withDevice"></ng-container>
      </div>
      <div
        *ngIf="passwordInput.activeCredentials.includes(CredentialTypeEnum.PASSWORD)"
        [hidden]="credentialType !== CredentialTypeEnum.PASSWORD">
        <ng-container *ngTemplateOutlet="withPassword"></ng-container>
      </div>
      <div
        *ngIf="passwordInput.activeCredentials.includes(CredentialTypeEnum.TOTP)"
        [hidden]="credentialType !== CredentialTypeEnum.TOTP">
        <ng-container *ngTemplateOutlet="withTotp"></ng-container>
      </div>
    </div>
  </ng-container>
  <div class="mt-2">
    <ng-content></ng-content>
  </div>
</ng-container>

<ng-template #loading>
  <spinner></spinner>
</ng-template>

<ng-template #withDevice>
  <div class="qr-container">
    <img
      *ngIf="currentUrl$ | async as url; else loading"
      [src]="url | trust : 'url'"
      alt="QR-code"
      class="mw-100"
      [ngClass]="{ rejected: rejected$ | async }" />
    <button type="button" *ngIf="rejected$ | async" class="button button-icon" (click)="newQR()">
      <icon [icon]="SvgIcon.ArrowCounterclockwise"></icon>
    </button>
  </div>
</ng-template>

<ng-template #withPassword>
  <password-input
    [ngClass]="{ 'd-block': passwordInput.inputMethod === PasswordInputMethodEnum.VIRTUAL_KEYBOARD }"
    #passwordComponent
    [passwordInput]="passwordInput"
    [showIcon]="false"
    [formControl]="formControl"
    (enter)="confirmWithKeyboard()"
    [placeholder]="confirmPasswordPlaceholder"
    [pos]="pos"
    [paymentPreview]="paymentPreview"
    disableAutocomplete>
  </password-input>
</ng-template>

<ng-template #withTotp>
  <input-field
    required
    [formControl]="totpControl"
    type="password"
    [maxLength]="6"
    autocomplete="new-password"></input-field>
</ng-template>
