<div fxLayout="column"
  fxLayoutAlign="baseline end"
  fxLayoutGap="20px">

  <div fxFlex="grow"
    fxLayout="row"
    style="width: 100%">
    <mat-icon fxFlex="nogrow"
      color="accent"
      ngClass="mat-36">help_outline</mat-icon>
    <div fxFlex="grow"
      class="message"
      [innerHTML]="data.message | trust"></div>
  </div>

  <confirmation-password fxFlex="grow"
    [formControl]="control"
    [passwordInput]="data.passwordInput"></confirmation-password>

  <div class="buttons"
    fxLayout="row"
    fxLayoutAlign="space-between start">
    <button mat-raised-button
      (click)="cancel()">
      {{ messages.cancel() }}
    </button>
    <button mat-raised-button
      color="accent"
      (click)="confirm()">
      {{ messages.confirm() }}
    </button>
  </div>
</div>
