<div class="pt-2 mb-3 text-center font-weight-bold"
  *ngIf="confirmationMessage">
  {{ confirmationMessage }}
</div>
<ng-container *ngIf="canConfirm">
  <ng-container *ngIf="allowDevice && allowPassword">
    <!-- Both confirmations allowed. Show a selector -->
    <div class="mb-3">
      <radio-group-field [formControl]="confirmationModeControl"
        [label]="i18n.auth.password.confirmMode">
        <field-option [value]="ConfirmationMode.Device"
          [text]="i18n.auth.password.confirmModeDevice"></field-option>
        <field-option [value]="ConfirmationMode.Password"
          [text]="i18n.auth.password.confirmModePassword"></field-option>
      </radio-group-field>
    </div>
    <div
      *ngIf="((confirmationModeControl.valueChanges | async) || confirmationModeControl.value) === ConfirmationMode.Device">
      <ng-container *ngTemplateOutlet="withDevice"></ng-container>
    </div>
    <div
      *ngIf="((confirmationModeControl.valueChanges | async) || confirmationModeControl.value) === ConfirmationMode.Password">
      <ng-container *ngTemplateOutlet="withPassword"></ng-container>
    </div>
  </ng-container>
  <ng-container *ngIf="allowDevice && !allowPassword">
    <ng-container *ngTemplateOutlet="withDevice"></ng-container>
  </ng-container>
  <ng-container *ngIf="!allowDevice && allowPassword">
    <ng-container *ngTemplateOutlet="withPassword"></ng-container>
  </ng-container>
  <div class="mt-2">
    <ng-content></ng-content>
  </div>
</ng-container>

<ng-template #withDevice>
  <div class="qr-container">
    <img *ngIf="currentUrl$ | async as url" [src]="url | trust:'url'"
      alt="QR-code" class="mw-100"
      [ngClass]="{'rejected': rejected$ | async}">
    <button *ngIf="rejected$ | async" class="button button-icon"
      (click)="newQR()">
      <icon icon="refresh"></icon>
    </button>
  </div>
</ng-template>

<ng-template #withPassword>
  <password-input #passwordComponent [passwordInput]="passwordInput"
    [showIcon]="false" [formControl]="formControl"
    (enter)="confirmWithKeyboard()" [placeholder]="passwordInput.name"
    autocomplete="off">
  </password-input>
</ng-template>
