<ng-container *ngIf="hasValuesList; else specificTemplate">
  <multi-selection-field #multiSelectionField [id]="id" [label]="label"
    [name]="name" [labelPosition]="labelPosition" [fieldSize]="fieldSize"
    [required]="required" [formControl]="formControl"
    [separator]="ApiHelper.VALUE_SEPARATOR" [fieldOptions]="fieldOptions"
    [emptyLabel]="messages.general.notApplied">
  </multi-selection-field>
</ng-container>

<ng-template #specificTemplate>
  <!-- string, URL, text -->
  <input-field #inputField *ngIf="input" [id]="id" [label]="label"
    [name]="name" [labelPosition]="labelPosition" [fieldSize]="fieldSize"
    [required]="required" [formControl]="formControl"
    [type]="type == 'integer' ? 'number' : type == 'url' ? 'url' : 'text'"
    [mask]="field.pattern"></input-field>

  <!-- boolean -->
  <single-selection-field #singleSelectionField *ngIf="type == 'boolean'"
    [id]="id" [label]="label" [name]="name" [labelPosition]="labelPosition"
    [fieldSize]="fieldSize" [required]="required" [formControl]="formControl"
    [emptyOption]="messages.general.notApplied">
    <field-option [value]="true" [text]="messages.general.yes"></field-option>
    <field-option [value]="false" [text]="messages.general.no"></field-option>
  </single-selection-field>

  <!-- multi selection -->
  <multi-selection-field #multiSelectionField *ngIf="enumerated" [id]="id"
    [label]="label" [name]="name" [labelPosition]="labelPosition"
    [fieldSize]="fieldSize" [required]="required" [formControl]="formControl"
    [separator]="ApiHelper.VALUE_SEPARATOR" [fieldOptions]="fieldOptions">
  </multi-selection-field>

  <!-- linked entity: user (other linked entities are also handled as input -->
  <user-field #userField *ngIf="user" [id]="id" [label]="label" [name]="name"
    [labelPosition]="labelPosition" [fieldSize]="fieldSize"
    [required]="required" [formControl]="formControl">
  </user-field>

  <!-- TODO: No support for integer, decimal or date for now (all those should be ranges) -->

</ng-template>
