<label-value *ngIf="hasValue" [label]="field.name"
  [labelWidth]="labelWidth" [valueType]="valueType"
  [value]="directValue ? value : null">
  <a *ngIf="type == 'url'" [href]="value">{{ value }}</a>
  <span *ngIf="type == 'date'">{{ value | date }}</span>
  <span *ngIf="type == 'integer'">{{ value | number }}</span>
  <span *ngIf="type == 'decimal'">{{ value | number:field.decimalDigits }}</span>
  <div *ngIf="type == 'singleSelection' || type == 'multiSelection'">
    <span *ngFor="let pv of value; let last = last;">
      <span *ngIf="pv.category">{{ pv.category.name }} - </span>{{ pv.value }}<span *ngIf="!last">, </span>
    </span>
  </div>
  <div *ngIf="type == 'file'">
    <span *ngFor="let file of value">
      {{ file.name }}<span *ngIf="!last">, </span>
    </span>
  </div>
  <div *ngIf="type == 'image'">
    <span *ngFor="let img of value">
      {{ img.name }}<span *ngIf="!last">, </span>
    </span>
  </div>
</label-value>