@import 'src/definitions';

.custom-select {
  background: none;
}
.field-year {
  width: 4rem;
}
.field-month {
  width: 3.6rem;
}
.field-date {
  width: 2.7rem;
}

.date-field {
  position: relative;
}
.date-input {
  opacity: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0.000001px;
  pointer-events: none;
}

.dropdown-menu {
  max-height: 18.4rem;
  height: 18.4rem;
  padding: 0;
}

.calendar-toggle {
  margin-left: 0.2rem;
}

@include media-breakpoint-up(xs) {
  .field-year {
    width: 3.8rem;
  }
  .field-month {
    width: 3.2rem;
  }
  .field-date {
    width: 2.5rem;
  }
}

@include media-breakpoint-up(sm) {
  .calendar-toggle {
    margin-left: 0.5rem;
  }
  .custom-select {
    padding: 0 0.7rem;
  }
  .field-year {
    width: 4.3rem;
  }
  .field-month {
    width: 3.6rem;
  }
  .field-date {
    width: 3.2rem;
  }
}