@import 'src/definitions';

.custom-select {
  flex-grow: 1;
  background-position: right 0.3rem center !important;
}
.field-year {
  width: 4rem;
}
.field-month {
  width: 3.6rem;
}
.field-date {
  width: 2.7rem;
}

.date-field-wrapper {
  display: block;
  width: 100%;
}

.filters-form :host ::ng-deep .date-field-wrapper {
  width: 100%;
}

.field-year, .field-month, .field-date {
  width: 100%;
}

.date-field {
  flex-grow: 1;
  position: relative;
  display: flex;
}
.date-input {
  opacity: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0.000001px;
  pointer-events: none;
}

.dropdown-menu {
  height: calc(#{7 * $calendar-cell-height} + 1rem + #{$calendar-header-height} + 2px);
  max-height: unset;
  padding: 0;
  overflow: hidden;
}

.calendar-toggle {
  display: none;
}

@include media-breakpoint-up(xs) {
  .calendar-toggle {
    margin-left: 0.25rem;
    display: block;
  }
  .field-year {
    width: 3.8rem;
  }
  .field-month {
    width: 3.2rem;
  }
  .field-date {
    width: 2.5rem;
  }
}

@include media-breakpoint-up(sm) {
  .calendar-toggle {
    margin-left: 0.5rem;
  }
  .custom-select {
    padding: 0 0.4rem;
    background-position: right 0.45rem center !important;
  }
  .field-year {
    width: 3.6rem;
  }
  .field-month {
    width: 3.4rem;
  }
  .field-date {
    width: 2.8rem;
  }
}

.lt-sm :host ::ng-deep .dropdown-menu {
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  min-width: auto !important;
  z-index: $zindex-tooltip;
}