<mat-form-field fxFlex="grow" *ngIf="formatService.materialDateFormats | async">
  <input #input matInput
    [matDatepicker]="datepicker"
    [focused]="focused"
    [placeholder]="placeholder"
    [required]="required"
    [formControl]="formControl"
    (blur)="onBlur($event)">
  <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
  <mat-error>
    {{formControl?.getError('message')}}
  </mat-error>
</mat-form-field>
<mat-datepicker [touchUi]="layout.xs" #datepicker></mat-datepicker>