<label-value *ngIf="label; else widget" [formField]="self">
  <ng-container *ngTemplateOutlet="widget"></ng-container>
</label-value>

<ng-template #widget>
  <div class="input-group">
    <div class="input-group-prepend" *ngIf="prefix">
      <span class="input-group-text">{{ prefix }}</span>
    </div>
    <!-- Using type="tel" instead of "number" because maxLength doesn't work with type="number" -->
    <input #inputField [id]="id" type="tel" numbersOnly allowDecimalSeparator
      [formControl]="internalControl" class="form-control text-right"
      [placeholder]="format.formatAsNumber('0', this.scale)" (blur)="onBlur()"
      [ngClass]="{
        'is-invalid': (formControl.statusChanges | async) === 'INVALID' && formControl.touched
      }">
    <div class="input-group-append" *ngIf="suffix">
      <span class="input-group-text">{{ suffix }}</span>
    </div>
  </div>
  <field-errors [control]="formControl"></field-errors>
</ng-template>
