<div class="decimalField" fxLayout="row" fxLayoutAlign="center center">
  <md-input-container
    [fxFlex]="scale == 0 ? 'grow' : '70%'"
    [fxFlex.gt-sm]="scale == 0 ? 'grow' : '80%'">
    <input #integerField mdInput maxlength="24"
      numbersOnly [required]="required" [placeholder]="placeholder" [disabled]="disabled"
      [(ngModel)]="integerPart" [ngModelOptions]="{standalone:true}" (blur)="onBlur($event)">
    <span mdPrefix *ngIf="prefix">{{prefix}}&nbsp;</span>
  </md-input-container>
  <div *ngIf="scale > 0" class="separator" fxFlex="2%">{{decimalSeparator}}</div>
  <md-input-container *ngIf="scale > 0" 
    fxFlex="28%" fxFlex.gt-sm="18%"
    floatPlaceholder="never">
    <input #decimalField mdInput  [size]="scale" [maxLength]="scale"
      numbersOnly style="text-align:right" [disabled]="disabled"
      [(ngModel)]="decimalPart" [ngModelOptions]="{standalone:true}" 
      (blur)="onBlur($event)">
    <span mdSuffix *ngIf="suffix">&nbsp;{{suffix}}</span>
  </md-input-container>
</div>