<label-value *ngIf="label; else widget" [formField]="self">
  <ng-container *ngTemplateOutlet="widget"></ng-container>
</label-value>

<ng-template #widget>
  <!-- This div will just capture the focus when the field is invalid -->
  <div #focusHolder style="width:0;height:0;" tabindex="0" [ngClass]="{
      'is-invalid': (formControl.statusChanges | async) === 'INVALID' && formControl.touched
    }"></div>

  <div class="d-flex flex-column flex-xs-row">
    <div class="flex-grow-1 mb-2 mb-xs-0">
      <ng-container *ngIf="files.length === 0">
        {{ maxFiles > 1 ? i18n.field.file.noFiles :
        i18n.field.file.noFile}}
      </ng-container>
      <div class="text-truncate" *ngFor="let file of files; let last = last;">
        <a [href]="appendAuth(file.url)" [type]="file.contentType"
          target="_blank" (click)="downloadFile($event, file)"
          [download]="file.name">{{
          file.name
          }}</a>{{
        last ? '' : ','
        }}
      </div>
    </div>
    <div class="d-flex ml-xs-2">
      <button *ngIf="maxFiles === 1 || files.length < maxFiles"
        class="btn btn-light btn-icon d-flex align-content-center"
        [tooltip]="i18n.field.file.upload" (click)="fileUpload.perform()">
        <icon icon="cloud_upload"></icon>
      </button>
      <button *ngIf="maxFiles > 1"
        class="ml-2 btn btn-light btn-icon d-flex align-content-center"
        [tooltip]="i18n.field.file.manage" (click)="manageFiles()">
        <icon icon="edit"></icon>
      </button>
      <button *ngIf="maxFiles === 1 && files.length > 0"
        class="ml-2 btn btn-light btn-icon d-flex align-content-center"
        [tooltip]="i18n.field.file.remove" (click)="removeAllFiles()">
        <icon icon="delete"></icon>
      </button>
    </div>
  </div>
  <temp-file-upload #fileUpload containerClass="mt-3"
    [max]="maxFiles == 1 ? 1 : maxFiles - files.length"
    [customField]="customField" (uploadDone)="onFilesUploaded($event)"
    [mimeTypes]="mimeTypes"></temp-file-upload>
  <field-errors [control]="formControl"></field-errors>
</ng-template>
