<ng-container *ngIf="hasValue; else empty">
  <ng-container *ngIf="directValue">
    <ng-container *ngIf="!link && !externalLink">
      {{ value }}
    </ng-container>
    <ng-container *ngIf="link">
      <a [routerLink]="link">{{ value }}</a>
    </ng-container>
    <ng-container *ngIf="externalLink">
      <a [href]="externalLink">{{ value }}</a>
    </ng-container>
  </ng-container>
  <div *ngIf="type == 'text'" class="break-nl"
    [ngClass]="{'d-inline': inline}">{{ value }}</div>
  <rich-text-container *ngIf="type == 'richText'" [value]="value">
  </rich-text-container>
  <span
    *ngIf="type == 'decimal'">{{ value | number:field.decimalDigits }}</span>
  <ng-container *ngIf="type == 'singleSelection' || type == 'multiSelection'">
    <span *ngFor="let pv of value; let last = last;">
      <span *ngIf="pv.category">{{ pv.category.name }} - </span>{{ pv.value +
      (last ? '' : ', ') }}
    </span>
  </ng-container>
  <ng-container *ngIf="type == 'file' && (value || []).length > 0">
    <ng-container *ngFor="let file of value; let last = last;">
      <a [href]="appendAuth(file.url)" [type]="file.contentType"
        target="_blank" (click)="downloadFile($event, file)"
        [download]="file.name">{{
        file.name }}</a>
      <ng-container *ngIf="!last">, </ng-container>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="type == 'image' && (value || []).length > 0">
    <div class="flex-wrap"
      [ngClass]="{'d-flex': !inline, 'd-inline-flex': inline}">
      <avatar class="d-block mr-1" *ngFor="let img of value" size="small"
        useLightbox [image]="img" [additionalImages]="value"></avatar>
    </div>
  </ng-container>
</ng-container>
<ng-template #empty>
  <ng-content></ng-content>
</ng-template>
