<ng-container *ngIf="(hasValue | async); else empty">
  <ng-container *ngIf="directValue">{{ value.value }}</ng-container>
  <div *ngIf="type == 'text'"
    class="break-nl">{{ value.value }}</div>
  <div *ngIf="type == 'richText'"
    [innerHTML]="value.value | trust"></div>
  <a *ngIf="type == 'url'"
    [href]="value.value">{{ value.value }}</a>
  <span *ngIf="type == 'date'">{{ value.value | date }}</span>
  <span *ngIf="type == 'integer'">{{ value.value | number }}</span>
  <span *ngIf="type == 'decimal'">{{ value.value | number:field.decimalDigits }}</span>
  <div *ngIf="type == 'singleSelection' || type == 'multiSelection'">
    <span *ngFor="let pv of value.value; let last = last;">
      <span *ngIf="pv.category">{{ pv.category.name }} - </span>{{ pv.value + (last ? '' : ', ') }}
    </span>
  </div>
  <div *ngIf="type == 'file' && (value.value || []).length > 0">
    <ng-container *ngFor="let file of value.value; let last = last;">
      <a [href]="appendAuth(file.url)"
        [type]="file.contentType"
        target="_blank"
        (click)="downloadFile($event, file)"
        [download]="file.name">{{ file.name }}</a>
      <ng-container *ngIf="!last">, </ng-container>
    </ng-container>
  </div>
  <div *ngIf="type == 'image' && (value.value || []).length > 0">
    <image-viewer [additionalImages]="value.value"></image-viewer>
  </div>
</ng-container>
<ng-template #empty>
  <ng-content></ng-content>
</ng-template>
