<!-- Show only a large image -->
<div *ngIf="image != null"
  class="image-viewer image-viewer-large">
  <a fxFlex="nogrow"
    fxLayout="row"
    fxLayoutAlign.xs="center center"
    href="#"
    (click)="onClick($event, 0)">
    <avatar fxFlex="nogrow"
      size="profile"
      [image]="image"></avatar>
  </a>
</div>

<!-- Show only small images -->
<div *ngIf="image == null"
  fxLayout="row wrap"
  class="image-viewer image-viewer-small">
  <a *ngIf="additionalImages?.length > 0"
    href="#"
    (click)="onClick($event, 0)">
    <avatar size="small"
      [image]="additionalImages[0]"></avatar>
  </a>
</div>
