@import 'src/definitions';

.gt-xs :host .image-viewer-large {
  float: right;
  position: relative;
  z-index: 9999;
  padding-left: 16px;
  max-width: 250px;
}
.xs :host .image-viewer-large {
  display: block;
  margin-bottom: 16px;
}

:host /deep/ img:hover {
  -webkit-filter: brightness(80%);
  filter: brightness(80%);
  -webkit-transition: all ease-out 0.4s;
  transition: all ease-out 0.4s;
}

a, a:hover {
  text-decoration: none
}