@import 'src/definitions';

$thumb-margin: 0.5rem;

.thumbnails {
  margin-top: calc(#{-$thumb-margin} + 1rem);
  margin-left: -$thumb-margin;
  display: flex;
  flex-wrap: wrap;

  avatar {
    margin-top: $thumb-margin;
    margin-left: $thumb-margin;  
  }
}
