<label class="label-value-label col-form-label" [ngClass]="labelClasses"
  [for]="forId">
  {{ label }}<span class="required-marker" *ngIf="required">&nbsp;*</span>
</label>
<div class="label-value-value" [ngClass]="valueClasses">
  <ng-container *ngIf="value != null && valueFormat == 'plain'">{{ value }}</ng-container>
  <div *ngIf="value != null && valueFormat == 'break'" class="break-nl">{{
    value
    }}
  </div>
  <div *ngIf="value != null && valueFormat == 'html'" [innerHTML]="value | trust"></div>
  <ng-container *ngIf="value == null">
    <ng-content></ng-content>
  </ng-container>
</div>
<div *ngIf="extraCell" class="d-flex justify-content-end" [ngClass]="extraClasses">
  <ng-container *ngTemplateOutlet="extraCell"></ng-container>
</div>
