@import 'src/definitions';

.label-value-label {
  padding-top: 0 !important;
  padding-bottom: 3px !important;
  line-height: 1rem;
}
:host.field .label-value-value,
:host.field-view .label-value-value {
  min-height: $input-height;
}
.label-value-value {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

@include media-breakpoint-up(xs) {
  .filters-form :host ::ng-deep .label-value-label {
    padding-top: calc(#{$input-padding-y} + #{$input-border-width}) !important;
    padding-bottom: calc(#{$input-padding-y} + #{$input-border-width}) !important;
    padding-left: 0.5rem !important;
    padding-right: 1rem !important;
  }

  :host.field .label-value-label,
  :host.field-view .label-value-label {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    display: flex;
    align-items: center;
  }

  :host.field-view .label-value-value {
    padding-top: calc(#{$input-padding-y} + #{$input-border-width}) !important;
    padding-bottom: calc(#{$input-padding-y} + #{$input-border-width}) !important;
  }
}

@include media-breakpoint-up(sm) {
  .filters-form :host ::ng-deep .label-value-label {
    justify-content: flex-end;
    text-align: right;
  }
}

.lt-sm :host ::ng-deep {
  .label-large {
    font-size: 1.2em !important;
  }

  .label-small {
    font-size: 0.8em !important;
  }
}

.lt-sm :host.field, .lt-sm :host.field-view {
  padding-bottom: 0.5rem;
}
