<h1 i18n>Reorder / remove files</h1>

<div class="mb-3" i18n>You can drag / drop files to reorder them</div>

<ng-template #fileTemplate let-item="item">
  <div class="d-flex justify-items-center mb-2 cursor-move">
    <div class="flex-grow-1 d-flex align-items-center text-truncate">
      {{ item.value.name }}
    </div>
    <div class="ml-2">
      <button class="btn btn-light btn-icon" (click)="remove(item.value)">
        <icon icon="clear"></icon>
      </button>
    </div>
  </div>
</ng-template>

<bs-sortable [itemTemplate]="fileTemplate" [formControl]="order">
</bs-sortable>

<actions>
  <button class="btn btn-primary" i18n (click)="ok()">Confirm</button>
  <button class="btn btn-outline-primary" i18n (click)="modalRef.hide()">Cancel</button>
</actions>
