<h1>{{ i18n.field.file.manage }}</h1>

<div class="mb-3">{{ i18n.field.file.manageMessage }}</div>

<ng-template #fileTemplate let-item="item">
  <div class="d-flex justify-items-center mb-2 cursor-move">
    <div class="flex-grow-1 d-flex align-items-center text-truncate">
      {{ item.value.name }}
    </div>
    <div class="ml-2">
      <button type="button" class="btn btn-icon" (click)="remove(item.value)">
        <icon [icon]="SvgIcon.X"></icon>
      </button>
    </div>
  </div>
</ng-template>

<bs-sortable [itemTemplate]="fileTemplate" [formControl]="order">
</bs-sortable>

<actions>
  <action-button (action)="ok()" [label]="i18n.general.confirm">
  </action-button>
  <action-button outline (action)="modalRef.hide()"
    [label]="i18n.general.cancel">
  </action-button>
</actions>
