@import 'src/definitions';

a {
  text-align: left !important;
  text-decoration: none;
  display: inline-flex;
  flex-direction: row;
  position: relative;
}
a .mat-icon {
  margin-right: 10px;
}
.text {
  margin-top: 4px;
}
a:not(.active) * {
  opacity: 0.75;
}