@import 'src/definitions';

:host {
  display: block;
}
:host ::ng-deep {
  .alert {
    margin: 0rem !important;
    padding: 0.4rem;
  }
  icon {
    margin-bottom: 0.4rem;
  }
  .close {
    width: auto;
  }

  .notification-message {
    text-align: center;
  }
}
@include media-breakpoint-up(xs) {
  :host ::ng-deep .alert {
    padding: 0.75rem 1.25rem;
  }
  icon {
    margin-bottom: 0;
  }

  .notification-message {
    margin: 0 1rem;
    text-align: start;
  }
}
