@import 'src/definitions';

:host {
  display: flex;
  width: 100%;
  max-width: var(--window-width);
}

:host[mode=fullHeight], :host[mode=fullHeightTight] {
  flex-grow: 1;
}

.content-title {
  border-bottom: 1px solid $border-color;
  border-top-left-radius: $card-border-radius;
  border-top-right-radius: $card-border-radius;
  height: $title-height-xxs;
  min-height: $title-height-xxs;
  max-height: $title-height-xxs;
  position: relative;
  background-color: $title-bg;

  .title-text {
    color: $title-color;
    font-size: 1rem;
    line-height: 1em;
    margin-left: 0.6rem;
  }
}

.page-content.mode-empty .content-title {
  border-bottom-left-radius: $card-border-radius;
  border-bottom-right-radius: $card-border-radius;
  border-bottom: none;
}

@include media-breakpoint-up(xs) {
  .content-title {
    height: $title-height-xs;
    min-height: $title-height-xs;
    max-height: $title-height-xs;

    .title-text {
      margin-left: 1.1rem;
      font-size: 1.1rem;
    }
  }
}
@include media-breakpoint-up(md) {
  .content-title {
    height: $title-height;
    min-height: $title-height;
    max-height: $title-height;

    .title-text {
      margin-left: $layout-spacer;
      font-size: 1.1rem;
      padding-top: 0.1rem;
    }
  }
}
.layout-centered {
  text-align: center;

  .content-title {
    margin-top: 1.6rem;
    padding: 0;
    border-bottom: none;

    .title-text {
      justify-content: center;
    }
    .back-button {
      position: absolute;
      left: 0;
    }
  }
}

@include media-breakpoint-up(md) {
  :host {
    margin-top: $section-margin;
  }
  .layout-centered .content-title {
      margin-top: 1.75rem;
  }
}

.back-button + .title-text {
  margin-left: 0;
}

.page-content {
  max-width: var(--window-width);
}
.page-content:not(.mode-transparent) {
  box-shadow: $box-shadow-sm;
}

.page-content:not(.mode-normal):not(.mode-view-form):not(.mode-filters) {
  .page-content-body {
    padding: 0;
  }
}

:host ::ng-deep .page-content.mode-table {
  table.table {
    margin-bottom: 0;
    @include border-radius($card-border-radius);

    tr:last-of-type td {
      border-bottom: none;
    }
  }
}

.page-content.mode-table {
  border-top: none;
}

.mode-transparent {
  background: transparent !important;
  border: none;
  box-shadow: none;
  .page-content-body {
    padding: 0;
  }
}

.mode-full-height {
  .page-content-body {
    display: flex;
    flex-grow: 1;
  }
}

.lt-md :host ::ng-deep {
  .page-content {
    border: none;
    box-shadow: none;
    background-color: $card-bg;
  }
}

.page-content:not(.last) {
  padding-bottom: $layout-spacer-xxs;
  border-bottom: 1px solid $border-color;
}

.page-content-body {
  padding: $layout-spacer-xxs;
  padding-bottom: 0;
  overflow: hidden;
}
.page-content.mode-view-form .page-content-body {
  padding: $layout-spacer-xxs;
}

@include media-breakpoint-up(xs) {
  .page-content:not(.last) {
    padding-bottom: $layout-spacer-xs;
  }
  .page-content-body {
    padding: $layout-spacer-xs;
    padding-bottom: 0;
  }
  .page-content.mode-view-form .page-content-body {
    padding: $layout-spacer-xs;
    padding-top: 1rem;
    padding-bottom: 0;
  }
}
@include media-breakpoint-up(sm) {
  .page-content:not(.last) {
    padding-bottom: 0;
  }

  .page-content-body {
    padding: $card-spacer-x;
  }

  .mode-filters .page-content-body {
    padding: 0 $layout-spacer;
  }

  .page-content.mode-view-form .page-content-body {
    padding: #{$layout-spacer * 1.2} $layout-spacer;
  }

  :host ::ng-deep .mode-filters .page-content-body form {
    padding-top: 0;
    padding-bottom: 1rem;

    .any-label-value {
      margin-top: 1rem;
    }
  }
}

.xxs :host ::ng-deep .page-content.last:not(.mode-tight) {
  padding-bottom: $layout-spacer-xxs;
}
.xs :host ::ng-deep .page-content.last:not(.mode-tight) {
  padding-bottom: $layout-spacer-xs;
}

.back-button {
  width: auto;
  height: 100%;
  padding: 0 $layout-spacer-xxs;
  color: $button-icon-color;
}
.back-button:focus, .back-button:active {
  box-shadow: none !important;
}
@include media-breakpoint-up(xs) {
  .back-button {
    padding: 0 $layout-spacer-xs;
  }
}
@include media-breakpoint-up(sm) {
  .back-button {
    padding: 0 $layout-spacer;
  }
}

@include media-breakpoint-up(md) {
  .page-content {
    @include make-container-max-widths();
  }
}

@media print {
  .back-button {
    display: none !important;
  }

  :host, .page-content, .content-title {
    border: none !important;
    border-radius: 0 !important;
    margin-top: 0 !important;
    padding: 0 !important;
  }

  .page-content {
    border-top: 1px solid black !important;
    border-bottom: 1px solid black !important;
  }
  .page-content.mode-filters {
    border-bottom-width: 0 !important;
    margin-bottom: 1rem;
  }
  .content-title {
    border-bottom: 1px solid black !important;
  }
  .content-title .title-text {
    font-size: 1.5rem !important;
  }

  .page-content {
    padding: 0 !important;
  }
}

:host ::ng-deep {
  .heading-actions {
    position: absolute;
    right: -1px;
    top: -1px;
    height: calc(100% + 2px);
  }

  .heading-action {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    border: 1px solid $title-button-border-color;
    border-top-right-radius: $card-border-radius;
    background-color: $title-button-bg;
    color: $title-button-color;

    &:focus, &:active {
      outline: 0;
      box-shadow: none;
      outline: none;
    }
    &:focus:not(:active) {
      border-color: $title-button-active-border-color;
      color: $title-button-active-color;
      background-color: $title-button-active-bg;
    }

    @include media-breakpoint-up(xs) {
      .heading-action {
        padding-right: 0;
        padding-left: 0;
      }
    }
  }

  .heading-action-with-icon {
    icon {
      opacity: 0.6;
    }
  }

  .heading-actions-menu {
    transform: translateY(-3px) !important;
    background-color: $title-button-bg;
    border: 1px solid $title-button-border-color;
  }

  .heading-action-option {
    background-color: $title-button-bg;
    color: $title-button-color;
    white-space: nowrap;
    align-items: center;
    icon {
      color: $title-button-icon-color;
    }
    &:hover, &:focus {
      background-color: $title-button-option-hover-bg;
      color: $title-button-option-hover-color;
      icon {
        color: $title-button-option-hover-icon-color;
      }
    }
  }
}

.xxs :host ::ng-deep {
 .heading-actions.show .heading-actions-menu {
    position: fixed !important;
    left: 0 !important;
    top: calc(#{$top-bar-height-xxs + $title-height-xxs} - 1px) !important;
    width: 100% !important;
  }
  .page-content.mode-table .page-content-body {
    margin-top: 0;
  }
}

.lt-sm :host .page-content {
  border-radius: 0;
}

@include media-breakpoint-up(xxs) {
  :host.no-padding .page-content {
    padding-bottom: 0;
  }
  
  :host.no-padding .page-content-body {
    padding: 0 $layout-spacer-xxs;
  }
}
.xs :host.no-padding ::ng-deep .mode-filters .page-content-body form {
  padding-top: $layout-spacer-xs;
}

// Colors for dark scheme
body.dark :host ::ng-deep {
  .page-content {
    border-color: $border-color-dark;
  }

  .content-title {
    border-color: $border-color-dark;
    background-color: $title-bg-dark;
    .title-text {
      color: $title-color-dark;
    }
  }
  .back-button {
    color: $button-icon-color-dark;
  }

  .heading-action {
    border-color: $title-button-border-color-dark;
    background-color: $title-button-bg-dark;
    color: $title-button-color-dark;
    &:focus:not(:active) {
      border-color: $title-button-active-border-color-dark;
      color: $title-button-active-color-dark;
      background-color: $title-button-active-bg-dark;
    }
  }

  .heading-action-option {
    background-color: $title-button-bg-dark;
    color: $title-button-color-dark;
    icon {
      color: $title-button-icon-color-dark;
    }
    &:hover, &:focus {
      background-color: $title-button-option-hover-bg-dark;
      color: $title-button-option-hover-color-dark;
      icon {
        color: $title-button-option-hover-icon-color-dark;
      }
    }
  }

  .heading-actions-menu {
    background-color: $title-button-bg-dark;
    border-color: $title-button-border-color-dark;
  }
}

body.dark.lt-md :host ::ng-deep {
  .page-content {
    background-color: $card-bg-dark;
  }
}
