@import 'src/definitions';

:host, .page-layout {
  display: flex;
  width: 100%;
  flex-grow: 1;
}

.side-area {
  width: $side-area-width;
  margin-right: $section-margin;
  display: flex;
  flex-direction: column;
}
.content-area {
  flex: 1;
}
.lt-md :host ::ng-deep {
  .content-area {
    background-color: $card-bg;
  }
}

// Size the content area to prevent content from breaking
@include media-breakpoint-up(sm) {
  .content-area {
    max-width: var(--window-width);
  }
}
@include media-breakpoint-up(md) {
  .content-area {
    max-width: map-get($container-max-widths, md);
  }
}
@include media-breakpoint-up(lg) {
  .content-area {
    max-width: calc(#{map-get($container-max-widths, lg)} - #{$side-area-width} - #{$section-margin});
  }
}
@include media-breakpoint-up(xl) {
  .content-area {
    max-width: calc(#{map-get($container-max-widths, xl)} - #{$side-area-width} - #{$section-margin});
  }
}
.page-layout:not(.has-left-area) {
  // When there's no left area, on large displays the content can get up to the container size
  @include media-breakpoint-up(lg) {
    .content-area {
      max-width: map-get($container-max-widths, lg);
    }
  }
  @include media-breakpoint-up(xl) {
    .content-area {
      max-width: map-get($container-max-widths, xl);
    }
  }
}
body.full-width :host ::ng-deep .content-area {
  width: var(--window-width);
  max-width: var(--window-width);
  min-width: var(--window-width);
}

@include media-breakpoint-up(md) {
  body:not(.full-width) :host ::ng-deep .content-area {
    margin-top: -$section-margin;
  }
  .content-area-small {
    max-width: 400px !important;
  }
  .content-area-medium {
    max-width: 600px !important;
  }
  .content-area-large {
    max-width: 786px !important;
  }
}

body.dark.lt-md :host ::ng-deep {
  .content-area {
    background-color: $card-bg-dark;
  }
}

@media print {
  .side-area {
    display: none;
  }
}