@import 'src/definitions';

.gt-xs :host /deep/ .page-layout.extra-margin {
  margin-top: 32px;
}

.left {
  margin-right: $parts-margin;
  width: $left-area-width;
  min-width: $left-area-width;
  max-width: $left-area-width;
}
:host /deep/ .filters-hidden .mat-ink-bar {
  display: none;
}

:host /deep/ .left {
  .mat-tab-body-content {
    overflow: hidden;
  }
  .mat-tab-header {
    border-bottom-width: 0;
  }
  .mat-tab-label {
    flex: 1 1 auto !important;
    min-width: inherit !important;
    opacity: 0.9 !important;
    min-height: 56px;
  }
  .mat-tab-body {
    overflow: hidden;
  }
}

:host /deep/ .mat-card.layout {
  margin: 0 !important;
}
:host /deep/ .content, :host /deep/ .header {
  .mat-card.layout, .mat-card.layout .mat-card-content {
    padding: 0px;
  }
}

.spinner {
  opacity: 0.6;
  display: block;
  padding: 64px;
}
:host /deep/ .spinner mat-progress-spinner {
  display: block;
  margin: auto;
}

.page-wrapper-standalone {
  margin: auto;
}

.page-wrapper:not(.page-wrapper-full) {
  max-width: $max-content-width;
}
.page-wrapper-full {
  width: 100%;
}
.page-wrapper-full .mat-card {
  max-width: inherit;
}
.page-wrapper-medium {
  width: $medium-content-width;
}
.page-wrapper-small {
  width: $small-content-width;
}

.header {
  margin-bottom: $parts-margin;
}

.filters {
  padding: 20px;
}

.inline-content, .inline-header, .inline-filters {
  max-width: 100vw;
}
.inline-header, .inline-filters {
  padding: 14px 8px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.inline-filters {
  padding: 12px 12px 22px 12px;
}

:host /deep/ .inline-filters .actions {
  max-width: 90%;
  margin: 22px auto 0 auto;
}

:host /deep/ .left .mat-card.layout {
  padding: 0px;
}

.lt-md :host /deep/ .mat-card.layout {
  border: none;
  border-radius: none;
  padding: 0;
  box-shadow: none;
}

.content:not(.tight) .content-wrapper, .header-wrapper {
  padding: 16px;
}

.inline-content:not(.tight) {
  padding: 8px;
}

:host /deep/ .left .mat-tab-label-content {
  font-size: 15px;
  opacity: 1;
}

.inline-filters {
  animation: mobile-filters 1s ease-out;
}

.header-extra-margin, .filters-extra-margin {
  margin-top: 22px;
}

@keyframes mobile-filters {
  from {
    max-height: 0vh;
    display: none;
  }
  to {
    max-height: 100vh;
  }
}