<div fxLayout="column"
  [ngClass]="{
    'page-title': true,
    'no-bottom-margin': noBottomMargin
  }">
  <breadcrumb></breadcrumb>
  <div class="title-wrapper"
    fxLayout="row">
    <h1 fxFlex="grow">{{ title }}</h1>
    <button mat-button
      *ngIf="pageLayout.hasFilters"
      fxFlex="nogrow"
      class="showFilters"
      (click)="toggleFilters()">
      <mat-icon ngClass="mat-22">filter_list</mat-icon>
      {{ (pageLayout.filtersShown | async) ? messages.filtersHide() : messages.filtersShow()
      }}
    </button>
  </div>
</div>
