@import 'src/definitions';

.page-title {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.lt-md :host ::ng-deep .page-title:not(.no-bottom-margin) {
  margin-bottom: 22px;
}

.action {
  opacity: 0.7;
  float: right;
  margin-left: 12px;
}
:host ::ng-deep .action .mat-icon {
  position: relative;
  top: -1px;
}

h1 {
  font-size: 22px;
  line-height: 24px;
  opacity: 0.87;
  margin: 16px;
  padding: 0;
  border: none;
  float: left;
}

.back {
  margin: 6px -12px 0 8px;
}

.lt-md :host ::ng-deep {
  .wrapper {
    border: 0;
  }
  h1 {
    margin: 0;
    padding: 16px 0 16px 8px;
  }
}