<div class="page-content card d-flex flex-grow-1" [ngClass]="{
  'layout-normal': layout === 'normal',
  'layout-centered': layout === 'centered',
  'last': last,
  'mode-normal': mode === 'normal' || mode === 'fullHeight',
  'mode-table': mode === 'table',
  'mode-tight': mode === 'tight' || mode === 'fullHeightTight',
  'mode-view-form': mode === 'viewForm',
  'mode-filters': mode === 'filters',
  'mode-empty-filters': mode === 'emptyFilters',
  'mode-transparent': mode === 'transparent',
  'mode-full-height': mode === 'fullHeight' || mode === 'fullHeightTight',
  'mode-empty': mode === 'empty'
}">
  <div *ngIf="heading != null && layoutService.gtxxs$ | async"
    class="content-title d-flex">
    <button tabindex="0"
      *ngIf="!hideBack && (breadcrumb.breadcrumb$ | async)?.length > 1"
      class="back-button btn btn-transparent" (click)="breadcrumb.back()">
      <icon icon="arrow_back"></icon>
    </button>
    <div
      class="title-text text-truncate flex-grow-1 d-flex align-items-center">
      {{ (layoutService.gtxs$ | async) ? heading || mobileHeading : mobileHeading || heading }}
    </div>

    <ng-container *ngIf="headingActions?.length > 0">
      <heading-actions [headingActions]="headingActions"></heading-actions>
    </ng-container>
  </div>
  <div *ngIf="mode !== 'empty'"
    class="page-content-body card-body d-flex flex-column">
    <ng-content></ng-content>
  </div>
</div>
