@import 'src/definitions';

.wrapper {
  border-bottom: 1px solid mat-color($foreground, divider);
}

.showFilters {
  opacity: 0.7;
  float: right;
  margin: 8px;
}
:host /deep/ .showFilters .mat-icon {
  position: relative;
  top: -1px;
}

h1 {
  font-size: 22px;
  line-height: 24px;
  opacity: 0.87;
  margin: 16px;
  padding: 0;
  border: none;
  float: left;
}

.xs :host /deep/ {
  .wrapper {
    border: 0;
  }
  h1 {
    margin: 8px 0 20px 0;
  }
  .showFilters {
    margin: 0 0 8px 0;
  }
}