@import 'src/definitions';

.left {
  margin-right: $parts-margin;
  width: $left-area-width;
  min-width: $left-area-width;
  max-width: $left-area-width;
}

:host /deep/ .left side-menu .container {
  margin-bottom: 1px;
}
:host /deep/ .left .mat-tab-body-content {
  padding-top: 23px;
  overflow: hidden;
}
:host /deep/ .left .mat-tab-body {
  overflow: hidden;
}

.header {
  margin-bottom: $parts-margin;
}

.filters {
  padding: 0 20px 20px 20px;
}
  
:host /deep/ .left .mat-card {
  padding: 0px;
}

.lt-md :host /deep/ .mat-card {
  border: none;
  border-radius: none;
  padding: 0;
  box-shadow: none;
}
