<div *ngIf="results" class="d-flex flex-column flex-sm-row justify-content-between align-items-center"
  [formGroup]="form">
  <div class="mb-3 mb-sm-0" *ngIf="results.hasTotalCount; else noTotalCount"
    i18n>Showing {{results.firstItem}} - {{results.lastItem}} of
    {{results.totalCount}} results
  </div>
  <ng-template #noTotalCount>
    <div class="mb-3 mb-sm-0" i18n>
      Showing {{results.firstItem}} - {{results.lastItem}} results
    </div>
  </ng-template>
  <div *ngIf="results.hasNext || results.page > 0" class="mt-2 mt-xs-0">
    <pagination [totalItems]="totalCount" [itemsPerPage]="results.pageSize"
      [maxSize]="maxSize(layout.breakpointChanges$ | async)" formControlName="pageNumber"
      [rotate]="true" [boundaryLinks]="results.hasTotalCount && (layout.gtxs$ | async)"
      previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
      lastText="&raquo;"></pagination>
  </div>
</div>
