<div class="no-data" *ngIf="dataSource.empty | async">
  {{ generalMessages.searchNoResults() }}
</div>
<div class="paginator" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start center"
  *ngIf="!(dataSource.empty | async) && (dataSource.pagination | async)">
  <div fxLayout="row" fxFlex.gt-xs="grow">
    <div class="page-label" fxFlex="grow">
      {{ generalMessages.paginationPageSize() }}
    </div>
    <mat-select [(ngModel)]="pageSize" [ngModelOptions]="{standalone: true}">
        <mat-option *ngFor="let size of pageSizes" [value]="size">{{ size }}</mat-option>
    </mat-select>
  </div>
  <div fxLayout="row" class="items" [matTooltip]="generalMessages.paginationCurrent(pagination.page + 1)">
    <ng-container *ngIf="pagination.hasTotalCount">
      {{ generalMessages.paginationShowingTotal(pagination.firstItem, pagination.lastItem, pagination.totalCount) }}
    </ng-container>
    <ng-container *ngIf="!pagination.hasTotalCount">
      {{ generalMessages.paginationShowingNoTotal(pagination.firstItem, pagination.lastItem) }}
    </ng-container>
  </div>
  <div fxLayout="row">
    <button mat-icon-button [disabled]="pagination.page == 0" (click)="first()"
      [matTooltip]="generalMessages.paginationFirst()">
      <mat-icon ngClass="mat-24">first_page</mat-icon>
    </button>
    <button mat-icon-button [disabled]="pagination.page == 0" (click)="previous()"
      [matTooltip]="generalMessages.paginationPrevious()">
      <mat-icon ngClass="mat-24">navigate_before</mat-icon>
    </button>
    <button mat-icon-button [disabled]="!pagination.hasNext" (click)="next()"
      [matTooltip]="generalMessages.paginationNext()">
      <mat-icon ngClass="mat-24">navigate_next</mat-icon>
    </button>
    <button mat-icon-button *ngIf="pagination.hasTotalCount" [disabled]="!pagination.hasNext"
      [matTooltip]="generalMessages.paginationLast()"
      (click)="last()">
      <mat-icon ngClass="mat-24">last_page</mat-icon>
    </button>
  </div>
</div>  