@import 'src/definitions';

.no-data {
  padding: 24px;
}

.paginator {
  padding: 12px;
}

:host /deep/ mat-select {
  width: 150px;
  margin: 0 12px;
}
:host /deep/ .mat-select-trigger {
  width: 50px;
}

.page-label {
  text-align: end;
}
.items {
  white-space: nowrap;
  margin-right: 12px;
}
.xs :host .paginator {
  margin-top: 16px;
}
.xs :host .items {
  margin-top: 8px;
}
.xs :host .paginator {
  margin-bottom: 20px;
}