<div *ngIf="passwordInput.otpSendMediums && passwordInput.otpSendMediums.length > 0"
  class="otp" fxFlex="nogrow" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="10px">
  <button fxFlex="nogrow" *ngFor="let medium of passwordInput.otpSendMediums"         
    mat-raised-button (click)="requestOtp(medium)">
    {{otpMediums[medium]}}
    <mat-icon ngClass="mat-24" color="accent">{{otpIcons[medium]}}</mat-icon>
  </button>
</div>                  

<mat-form-field *ngIf="passwordInput.inputMethod != 'virtualKeyboard'"
  fxFlex="grow" floatPlaceholder="never">
  <input #passwordComponent matInput type="password" required
    (keyup.enter)="onEnter.emit(password)"
    [placeholder]="placeholder" [maxlength]="passwordInput.maxLength == 0 || passwordInput.maxLength == null ? 36 : passwordInput.maxLength"
    [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
  <mat-icon *ngIf="showIcon" matPrefix ngClass="mat-24">lock</mat-icon>
</mat-form-field>
<div fxLayout="row" *ngIf="passwordInput.inputMethod == 'virtualKeyboard'"
  fxFlex="grow" fxFlex.gt-sm="nogrow" fxFlexAlign.gt-sm="center"
  [class]="'virtualKeyboardDisplayContainer virtualKeyboard' + passwordInput.buttonsPerRow">
  <div fxFlex="grow" class="virtualKeyboardDisplay">
    <button *ngFor="let c of enteredVKPassword" disabled mat-icon-button>
      <mat-icon ngClass="mat-14">lens</mat-icon>
    </button>
  </div>
  <div fxFlex="nogrow" fxLayout="row">
    <button color="accent" fxFlex="nogrow" [disabled]="enteredVKPassword.length == 0"
      disableRipple="true" mat-icon-button (click)="vkBack()">
      <mat-icon ngClass="mat-18">backspace</mat-icon>
    </button>
    <button color="accent" fxFlex="nogrow" [disabled]="enteredVKPassword.length == 0" 
      disableRipple="true" mat-icon-button (click)="vkClear()">
      <mat-icon ngClass="mat-18">clear</mat-icon>
    </button>
  </div>
</div>
<div fxFlex="grow" fxFlex.lt-sm="nogrow" fxLayout="column"
  *ngIf="passwordInput.inputMethod == 'virtualKeyboard'"
  [class]="'virtualKeyboard virtualKeyboard' + passwordInput.buttonsPerRow">
  <mat-grid-list #vkButtons fxFlex="grow" rowHeight="3.2em" gutterSize="5px" [cols]="passwordInput.buttonsPerRow">
    <mat-grid-tile *ngFor="let combination of currentVKCombinations">
      <button fxFlex="grow" 
        disableRipple="true"
        [disabled]="enteredVKPassword.length == passwordInput.buttons.length"
        mat-raised-button (click)=vkKey(combination)>
        {{combination}}
      </button>
    </mat-grid-tile>
  </mat-grid-list>
</div>