<div *ngIf="passwordInput.otpSendMediums && passwordInput.otpSendMediums.length > 0"
  class="otp" fxFlex="nogrow" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="10px">
  <button fxFlex="nogrow" *ngFor="let medium of passwordInput.otpSendMediums"         
    md-raised-button (click)="requestOtp(medium)">
    {{otpMediums[medium]}}
    <md-icon class="md-24" color="accent">{{otpIcons[medium]}}</md-icon>
  </button>
</div>                  

<md-input-container *ngIf="passwordInput.inputMethod != 'virtualKeyboard'"
  fxFlex="grow" floatPlaceholder="never">
  <input #passwordComponent mdInput type="password" required
    (keyup.enter)="onEnter.emit(password)"
    [placeholder]="placeholder" [maxlength]="passwordInput.maxLength == 0 || passwordInput.maxLength == null ? 36 : passwordInput.maxLength"
    [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
  <md-icon *ngIf="showIcon" mdPrefix class="md-24">lock</md-icon>
</md-input-container>
<div fxLayout="row" *ngIf="passwordInput.inputMethod == 'virtualKeyboard'"
  fxFlex="grow" fxFlex.gt-sm="nogrow" fxFlexAlign.gt-sm="center"
  [class]="'virtualKeyboardDisplayContainer virtualKeyboard' + passwordInput.buttonsPerRow">
  <div fxFlex="grow" class="virtualKeyboardDisplay">
    <button *ngFor="let c of enteredVKPassword" disabled md-icon-button>
      <md-icon class="md-14">lens</md-icon>
    </button>
  </div>
  <div fxFlex="nogrow" fxLayout="row">
    <button color="accent" fxFlex="nogrow" [disabled]="enteredVKPassword.length == 0"
      disableRipple="true" md-icon-button (click)="vkBack()">
      <md-icon class="md-18">backspace</md-icon>
    </button>
    <button color="accent" fxFlex="nogrow" [disabled]="enteredVKPassword.length == 0" 
      disableRipple="true" md-icon-button (click)="vkClear()">
      <md-icon class="md-18">clear</md-icon>
    </button>
  </div>
</div>
<div fxFlex="grow" fxFlex.lt-sm="nogrow" fxLayout="column"
  *ngIf="passwordInput.inputMethod == 'virtualKeyboard'"
  [class]="'virtualKeyboard virtualKeyboard' + passwordInput.buttonsPerRow">
  <md-grid-list #vkButtons fxFlex="grow" rowHeight="3.2em" gutterSize="5px" [cols]="passwordInput.buttonsPerRow">
    <md-grid-tile *ngFor="let combination of currentVKCombinations">
      <button fxFlex="grow" 
        disableRipple="true"
        [disabled]="enteredVKPassword.length == passwordInput.buttons.length"
        md-raised-button (click)=vkKey(combination)>
        {{combination}}
      </button>
    </md-grid-tile>
  </md-grid-list>
</div>