<h1 i18n>Select a contact</h1>

<ng-container *ngIf="(contacts$ | async) as contacts">
  <div *ngIf="(contacts || []).length === 0; else contactLinks" i18n>
    Your contact list is empty
  </div>
  <ng-template #contactLinks>
    <a *ngFor="let user of contacts$ | async" class="d-block mb-1 text-body" href="#"
      (click)="emit(user, $event)">
      {{ user.display }}
    </a>
  </ng-template>
</ng-container>

<actions>
  <span></span>
  <button class="btn btn-outline-primary" i18n (click)="modalRef.hide()">Cancel</button>
</actions>
