<!-- any textual types -->
<mat-form-field #textComponent fxFlex="grow"
  *ngIf="!isCustomField">
  <input #usernameInput="ngModel" matInput
    [placeholder]="type.name"
    [required]="true"
    [focused]="focused"
    [type]="type.kind == 'email' ? 'email' : 'text'"
    [mask]="type.mask"
    [(ngModel)]="value" [ngModelOptions]="{standalone: true}">
</mat-form-field>

<!-- custom fields -->
<custom-field-input *ngIf="isCustomField"
  #customFieldInput="ngModel"
  fxFlex="grow"
  fxLayout="column"
  [focused]="focused"
  [field]="type.customField"
  [(ngModel)]="value" [ngModelOptions]="{standalone: true}">
</custom-field-input>