<!-- any textual types -->
<mat-form-field #textComponent fxFlex="grow"
  *ngIf="!isCustomField">
  <input #usernameInput matInput
    [placeholder]="type.name"
    [required]="true"
    [focused]="focused"
    [type]="type.kind == 'email' ? 'email' : 'text'"
    [mask]="type.mask"
    [formControl]="formControl">
</mat-form-field>

<!-- custom fields -->
<custom-field-input *ngIf="isCustomField"
  #customFieldInput
  fxFlex="grow"
  fxLayout="column"
  [focused]="focused"
  [field]="type.customField"
  [formControl]="formControl">
</custom-field-input>