<label-value *ngIf="label; else widget" [formField]="self">
  <ng-container *ngTemplateOutlet="widget"></ng-container>
</label-value>

<ng-template #widget>
  <ng-container *ngFor="let category of categories | async; let firstCat = first">
    <div *ngIf="category.name" class="font-weight-bold" [ngClass]="{'mt-3': !firstCat}">{{ category.name }}</div>
    <div #check *ngFor="let option of category.options | async; let firstOpt = first"
      class="custom-control custom-radio d-inline-flex mr-3 align-content-center"
      [ngClass]="{
        'mt-1': !(firstCat && firstOpt)
      }" (click)="value = option.value; $event.preventDefault(); $event.stopPropagation()"
      (keydown.space)="$event.preventDefault(); $event.stopPropagation()" (keyup.enter)="value = option.value; $event.preventDefault(); $event.stopPropagation()">
      <input type="radio" [name]="name" class="custom-control-input" [id]="id + '_' + option.value"
        [value]="option.value" [checked]="isSelected(option)">
      <label class="custom-control-label" [for]="id + '_' + option.value">
        {{ option.text }}
      </label>
    </div>
  </ng-container>
  <field-errors [control]="formControl"></field-errors>
</ng-template>
