@import 'src/definitions';

:host {
  display: block;
  max-width: 100%;
  width: 100%;
  overflow: auto;
  clear: both;

  p:last-child {
    margin-bottom: 0;
  }
}

:host:not(.autoheight) {
  max-height: 10rem;
}

.rich-text-content {
  display: block;
  max-width: 100%;
  width: 100%;
  p:last-child {
    margin-bottom: 0;
  }
}

:host ::ng-deep .rich-text-content * {
  max-width: 100% !important;
}

@include media-breakpoint-up(md) {
  :host:not(.autoheight) {
    max-height: 20rem;
  }
}
