@import 'src/definitions';

zxing-scanner {
  display: inline-flex;
}
zxing-scanner, spinner {
  height: 70vh;
}

@include media-breakpoint-up(md) {
  zxing-scanner, spinner {
    height: 20rem;
  }
}
