@import 'src/definitions';

:host {
  display: flex !important;
  flex-direction: column !important;
}
.sectionTitle {
  font-size: mat-font-size($typography, headline);
  line-height: mat-font-size($typography, headline);
  font-family: mat-font-family($typography);
  color: mat-color($accent);
  margin-bottom: 24px;
}
.sectionContent .sectionTitle {
  margin-top: 24px;
}
