@import 'src/definitions';

:host {
  display: flex !important;
  flex-direction: column !important;
}
.sectionTitle.margin {
  margin-top: 16px !important;
}
.sectionContent .sectionTitle {
  margin-top: 8px;
}
.sectionTitle {
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 12px;
  opacity: 0.87;
}
.sectionContent /deep/ .sectionTitle, .sectionTitle.small {
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 4px;
  margin-top: 6px;
}
.sectionContent /deep/ .sectionContent .sectionTitle, .sectionTitle.xsmall {
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 4px;
  margin-top: 2px;
  font-weight: 500;
}
