<div class="card mx-auto shadow-sm">
  <div *ngIf="(entries$ | async)?.title as title" class="side-menu-title">
    {{ title }}
  </div>

  <nav class="navbar d-flex flex-column align-items-stretch">
    <a *ngFor="let entry of (entries$ | async)?.entries" class="nav-item"
      [routerLink]="entry.url" [ngClass]="{active: (menu.activeMenu$ | async)?.matches(entry)}"
      (click)="menu.navigate(entry, $event)">
      <icon size="1.4rem" [icon]="entry.icon"></icon>
      <div class="nav-item-text">{{ entry.label }}</div>
    </a>
  </nav>
</div>
