@import 'src/definitions';

a {
  display: block;
  text-decoration: none;
}
a.account a.account {
  margin-top: 12px;
}
a.account mat-icon {
  margin-right: 10px;
  opacity: 0.65;
}
a.account .name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  opacity: 0.65;
}
a.account .balance {
  text-align: right;
  white-space: nowrap;
  opacity: 1;
  font-weight: 500;
}

:host ::ng-deep a.account .mat-button-wrapper {
  align-items: center;
  flex: 1;
}
a.account, :host ::ng-deep menu-item a {
  border-top-width: 1px;
  border-top-style: solid;
  text-align: left;
  width: 100%;
  height: 58px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 400;
}
:host ::ng-deep menu-item a.active, a.active {
  opacity: 1;
  .mat-icon {
    opacity: 1 !important;
  }
}
:host ::ng-deep a:not(.active) .mat-icon {
  opacity: 0.60 !important;
}
