@import 'src/definitions';

.navbar {
  padding: 0;
}
.side-menu-title {
  border-bottom: 1px solid $section-border-color;
  font-size: 1.2em;
  padding: 0.75rem 1.25rem;
  height: $title-height;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: $side-menu-bg;
}

a.nav-item {
  color: $side-menu-inactive-color;
  padding: 1rem;
  border-bottom: 1px solid $personal-menu-item-border-color;
  font-size: 1.1em;
  display: flex;
  flex-direction: row;

  icon {
    top: -0.1rem;
  }

  .nav-item-text {
    margin-left: 0.8rem;
    flex-grow: 1;
  }
}
a.nav-item:last-child {
  border-bottom: none;
}
a.nav-item:hover {
  text-decoration: none;
}
a.nav-item:not(.active) {
  icon {
    color: $side-menu-inactive-icon-color;
  }
  &:hover {
    background-color: $side-menu-inactive-hover-bg;
  }
}
a.nav-item.active {
  color: $side-menu-active-color;
  background-color: $side-menu-active-bg;
  //box-shadow: inset 2px 0 0 0 $menu-bar-active-border;
  &:hover {
    background-color: $side-menu-active-hover-bg;
  }
  icon {
    color: $side-menu-active-icon-color;
  }
}
