<label-value *ngIf="label; else widget" [formField]="self">
  <ng-container *ngTemplateOutlet="widget"></ng-container>
</label-value>

<ng-template #widget>
  <!-- Need a relatively-positioned element to position the dropdown corretcly -->
  <div style="position:relative" dropdown #dropdown="bs-dropdown" (onShown)="onShown()">
    <button #toggleButton dropdownToggle [id]="id" type="button" class="form-control text-left custom-select w-100"
      [title]="display$ | async" [attr.aria-controls]="'single-selectdropdown-' + id"
      [ngClass]="{
        'is-invalid': (formControl.statusChanges | async) === 'INVALID' && formControl.touched
      }">
      <div class="w-100 mw-100 text-truncate" [innerHTML]="display$ | async | trust"></div>
    </button>

    <div #dropDownMenu class="dropdown-menu" *dropdownMenu role="listbox"
      attr.id="'single-selectdropdown-' + id" attr.aria-labelledby="id"
      (click)="$event.preventDefault(); $event.stopPropagation();">
      <a *ngIf="emptyLabel != null" role="option" class="select-option mt-1"
        href="#" [ngClass]="{selected: value == null || value === ''}"
        (click)="select(''); $event.preventDefault()">{{
        emptyLabel }}</a>
      <ng-container *ngFor="let category of categories | async; let firstCat = first">
        <div *ngIf="category.name" class="mt-3 ml-2 font-weight-bold">{{
          category.name
          }}
        </div>
        <a *ngFor="let option of category.options | async; let firstOpt = first"
          class="select-option" [ngClass]="{
            'mt-1': emptyLabel != null || !(firstCat && firstOpt),
            'pl-3': category.name,
            selected: isSelected(option)
          }"
          (click)="select(option.value)">
          {{ option.text }}
        </a>
      </ng-container>
    </div>
  </div>
  <field-errors [control]="formControl"></field-errors>
</ng-template>
