<label-value *ngIf="label; else widget" [formField]="self"
  [informationText]="informationText">
  <ng-container *ngTemplateOutlet="widget"></ng-container>
</label-value>

<ng-template #widget>
  <div style="position: relative" class="w-100" dropdown
    #dropdown="bs-dropdown" (onShown)="onShown();"
    (onHidden)="onHidden(); toggleButton.focus()">
    <button #toggleButton dropdownToggle [id]="id" type="button"
      class="form-control text-left custom-select w-100"
      [title]="display$ | async" [attr.aria-controls]="dropdownMenuId"
      [ngClass]="{
        'is-invalid': (formControl.statusChanges | async) === 'INVALID' && formControl.touched
      }">
      <div class="w-100 mw-100 text-truncate pr-3"
        [innerHTML]="display$ | async | trust"></div>
    </button>

    <div #dropDownMenu class="dropdown-menu" *dropdownMenu
      [ngClass]="dropdownOnRight ? 'dropdown-menu-right' : null"
      role="listbox" style="visibility: hidden" [attr.id]="dropdownMenuId"
      attr.aria-labelledby="id"
      (click)="$event.preventDefault(); $event.stopPropagation();">
      <a *ngIf="emptyLabel != null" role="option" class="select-option mt-1"
        [id]="id + '_'" tabindex="0" href="#"
        [ngClass]="{selected: value == null || value === ''}"
        (click)="select(null); $event.preventDefault()">{{
        emptyLabel }}</a>
      <ng-container
        *ngFor="let category of categories | async; let firstCat = first">
        <div *ngIf="category.name" class="pl-2 font-weight-bold"
          [ngClass]="{'mt-3': !firstCat}">
          {{ category.name }}
        </div>
        <a *ngFor="let option of category.options | async; let firstOpt = first"
          tabindex="0" href="#" class="select-option"
          [class]="resolveStyle(option)" [id]="id + '_' + option.value"
          [ngClass]="{
            'mt-1': emptyLabel != null || !(firstCat && firstOpt),
            'pl-3': category.name,
            selected: isSelected(option)
          }" (click)="select(option);$event.preventDefault()">
          {{ option.text }}
        </a>
      </ng-container>
    </div>
  </div>
  <field-errors [control]="formControl"></field-errors>
</ng-template>
