<label-value *ngIf="label; else widget" [formField]="self">
  <ng-container *ngTemplateOutlet="widget"></ng-container>
</label-value>

<ng-template #widget>
  <div class="d-flex mw-100 w-100">
    <div class="d-flex flex-grow-1 mw-100">
      <input-field #inputField [formControl]="inputFieldControl">
      </input-field>
    </div>
    <div class="d-flex ml-2">
      <button class="btn btn-icon" [tooltip]="i18n.general.add"
        (click)="add()">
        <icon icon="add_circle"></icon>
      </button>
    </div>
  </div>
  <div *ngIf="value.length > 0" class="d-flex mw-100 w-100 flex-wrap">
    <chip icon="search" *ngFor="let str of value" class="mt-2 mr-2"
      (close)="remove(str)">
      {{ str }}
    </chip>
  </div>
  <field-errors [control]="formControl"></field-errors>
</ng-template>
