.mat-card {
  padding: 8px !important;
  min-width: 220px;
  min-height: 90px;

  div.title {
    font-weight: 500;
    margin-bottom: 8px;
  }

  div.leftAvatar {
    float: left;
    margin-right: 12px;
  }
}

.topAvatar {
  height: 80px;
}
.centered div {
  text-align: center;
}
:host .title, :host .content div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

:host {
  display: inline-block;
}

.gt-xs :host  {
  .leftAvatar {
    margin-left: 8px;
    margin-top: 8px;
    margin-right: 8px;
  }
}

.xs :host  {
  actions {
    margin-top: 8px;
    display: block;
  }
}
