:host ::ng-deep .tiled-results.tiles-1 tiled-result {
  width: 100%;
}
:host ::ng-deep .tiled-results.tiles-2 tiled-result {
  width: calc(50% - 8px);
}
:host ::ng-deep .tiled-results.tiles-3 tiled-result {
  width: calc(33.333% - 8px);
}
:host ::ng-deep .tiled-results.tiles-4 tiled-result {
  width: calc(25% - 8px);
}
:host ::ng-deep tiled-result .mat-card {
  min-width: 64px !important;
  min-height: 64px !important;
  margin: 0 0 12px 0;
}

.xs :host .tiled-results {
  padding: 8px;
}