.mat-card {
  padding: 8px;

  div.left-avatar {
    float: left;
    margin-right: 12px;
  }
}

.mat-card.with-hover-animation:hover {
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14),
    0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  -webkit-filter: brightness(95%);
  filter: brightness(95%);
  -webkit-transition: all ease-out 0.4s;
  transition: all ease-out 0.4s;
}

:host ::ng-deep {
  .tile-title {
    font-weight: 500;
  }

  .tile-title, .tile-data, .tile-title format-field-value, .tile-data format-field-value {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    max-height: 1.1em;
  }
  .tile-data {
    margin-top: 4px;
  }
}

.container {
  min-height: 32px;
}

.mat-card:not(.with-top-avatar) {
  padding: 8px !important;
}
.mat-card.with-top-avatar {
  padding: 0 !important;
}
.mat-card.with-actions {
  padding-bottom: 4px !important;
}
.mat-card:not(.with-actions) {
  padding-bottom: 10px !important;
}

.top-avatar {
  margin-bottom: 10px;
  position: relative;
}

.additional-image {
  position: absolute;
  right: 8px;
  bottom: -15px;
}

.centered div {
  text-align: center;
}
:host .title, :host .content div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

:host {
  display: inline-block;
}

.content {
  width: 100%;
}
.mat-card.with-top-avatar .content {
  width: calc(100% - 8px);
  margin: 0 auto;
}
.gt-xs :host  {
  .left-avatar {
    margin-left: 8px;
    margin-top: 8px;
    margin-right: 8px;
  }
}

.xs :host  {
  actions {
    margin-top: 8px;
    display: block;
  }
}

.no-large-image .mat-icon {
  opacity: 0.3;
}