@import 'src/definitions';

.display-text {
  flex-grow: 1;
  line-height: 1.5rem;
}

:host ::ng-deep icon {
  color: $link-color;
  opacity: 0.8;
}

@media print {
  avatar {
    display: none;
  }
}