<div fxLayout="column">
  <mat-form-field floatPlaceholder="never"
    fxFlex="grow">
    <input matInput
      #keywordsInput
      type="text"
      [focused]="focused"
      (input)="search(keywordsInput.value)"
      [placeholder]="messages.keywords()">
  </mat-form-field>

  <div class="results"
    *ngIf="((keywords | async) || '').length > 0; else noKeywords">
    <mat-radio-group [formControl]="formControl"
      fxLayout="column">
      <mat-radio-button *ngFor="let user of users$ | async"
        [value]="user.id">
        {{ user.display }}
      </mat-radio-button>
    </mat-radio-group>
  </div>

  <ng-template #noKeywords>
    {{ messages.searchUserNoKeywords() }}
  </ng-template>
</div>
