<label-value *ngIf="label; else widget" [formField]="self">
  <ng-container *ngTemplateOutlet="widget"></ng-container>
</label-value>

<ng-template #widget>
  <div class="d-flex mw-100">
    <div class="d-flex flex-grow-1 mw-100">
      <div style="position:relative" class="mw-100 d-flex align-items-center"
        dropdown #dropdown="bs-dropdown" (onShown)="onShown()">

        <chip *ngIf="selection$ | async" [image]="user.image" icon="account_circle"
          (close)="select(null)">
          {{ user.display }}
        </chip>

        <input-field #inputField *ngIf="(selection$ | async) == null"
          [formControl]="inputFieldControl" autocomplete="off" (keyup.enter)="(options$.value || []).length > 1 ? select(options$.value[0]) : null"
          (keyup.esc)="allowPrincipal ? close() : select(null)"></input-field>
        <!-- When a principal is allowed, pressing esc will just close the popup, and leave the value there -->

        <div #dropDownMenu class="dropdown-menu" *dropdownMenu role="listbox"
          attr.id="'user-dropdown-' + id" attr.aria-labelledby="id" (click)="$event.preventDefault(); $event.stopPropagation();">
          <a *ngFor="let user of options$ | async; let first = first" class="select-option"
            [ngClass]="{
              'mt-1': !first,
              selected: value === user.id
            }"
            (click)="select(user)">
            {{ user.display }}
          </a>
        </div>
      </div>
    </div>
    <div *ngIf="user == null" class="d-flex ml-2">
      <button class="btn btn-light btn-icon" *ngIf="allowContacts"
        #contactListButton i18n-tooltip tooltip="Pick from contact list"
        (click)="showContactList()">
        <icon icon="import_contacts"></icon>
      </button>
    </div>
  </div>
</ng-template>

<ng-template #autocomplete>
</ng-template>
