<label-value *ngIf="label; else widget" [formField]="self">
  <ng-container *ngTemplateOutlet="widget"></ng-container>
</label-value>

<ng-template #widget>
  <div class="d-flex mw-100">
    <div class="d-flex flex-grow-1 mw-100 w-100">
      <div style="position:relative" class="w-100 d-flex align-items-center"
        dropdown #dropdown="bs-dropdown" [autoClose]="false"
        [insideClick]="false" (onShown)="onShown()" (onHidden)="onHidden()">

        <chip *ngIf="selection$ | async" [image]="user.image" icon="user"
          (close)="select(null)">
          {{ user.display }}
        </chip>

        <input #inputField *ngIf="(selection$ | async) == null"
          class="form-control" autocomplete="off" [placeholder]="placeholder"
          [formControl]="inputFieldControl" (focus)="onInputFocus()"
          (blur)="onInputBlur()">

        <div #dropDownMenu class="dropdown-menu" *dropdownMenu role="listbox"
          attr.id="'user-dropdown-' + id" attr.aria-labelledby="id"
          (click)="$event.preventDefault(); $event.stopPropagation();">
          <a *ngFor="let user of options$ | async; let i = index;"
            class="select-option" [ngClass]="ngClassFor(user, i)" href="#"
            (click)="select(user); $event.stopPropagation(); $event.preventDefault()">
            {{ user.display }}
          </a>
        </div>
      </div>
    </div>
    <div *ngIf="user == null && allowContacts" class="d-flex ml-2">
      <button class="btn btn-icon" *ngIf="allowContacts" #contactListButton
        [tooltip]="i18n.field.user.contactTooltip"
        (click)="showContactList()">
        <icon icon="import_contacts"></icon>
      </button>
    </div>
  </div>
</ng-template>

<ng-template #autocomplete>
</ng-template>
