<div fxLayout="column"
  fxLayoutAlign="baseline end"
  fxLayoutGap="20px">

  <div fxFlex="grow"
    fxLayout="row"
    style="width: 100%">
    <mat-icon fxFlex="nogrow"
      color="accent"
      ngClass="mat-36">help_outline</mat-icon>
    <div fxFlex="grow"
      class="message"
      [innerHTML]="message | trust"></div>
  </div>

  <actions root
    buttonSpace="equidistant">
    <button mat-raised-button
      (click)="no()">
      {{ messages.no() }}
    </button>
    <button mat-raised-button
      focused
      color="accent"
      (click)="yes()">
      {{ messages.yes() }}
    </button>
  </actions>
</div>
