@import 'src/definitions';

.positive, .negative, .totalAmount {
  white-space: nowrap;
}
.positive {
  color: $positive-color !important;
}
.negative {
  color: $negative-color !important;
}

.totalAmount .label-value-value {
  color: $total-amount-color !important;
  font-size: 1.2rem;
  font-weight: 400;
}
.totalAmount .label-value-label {
  font-size: 1.125rem;
  font-weight: $font-weight-bold;
  color: $label-color;
}
@include media-breakpoint-up(md) {
  .totalAmount .label-value-value {
    color: $total-amount-color !important;
    font-size: $total-amount-size;
  }
}
.promo-price {
  color: $text-muted;
  text-decoration: line-through;
  margin-right: 0.5rem;
  font-size: $font-size-base;
}

.amount, .cell-amount {
  text-align: right;
}

body.dark {
  .positive {
    color: $positive-color-dark !important;
  }
  .negative {
    color: $negative-color-dark !important;
  }
  .totalAmount {
    color: $total-amount-color-dark !important;
  }
  .promo-price {
    color: $text-muted-dark;
  }
}