@import 'src/definitions';

.positive, .negative, .totalAmount {
  white-space: nowrap;
}
.positive {
  color: $positive-color !important;
}
.negative {
  color: $negative-color !important;
}
.totalAmount {
  color: $total-amount-color !important;
  font-size: $total-amount-size;
  font-weight: 400;
}
.promo-price {
  color: $text-muted;
  text-decoration: line-through;
  margin-right: 0.5rem;
}

.amount, .cell-amount {
  text-align: right;
}

body.dark {
  .positive {
    color: $positive-color-dark !important;
  }
  .negative {
    color: $negative-color-dark !important;
  }
  .totalAmount {
    color: $total-amount-color-dark !important;
  }
  .promo-price {
    color: $text-muted-dark;
  }
}