@import 'src/definitions';

a {
  color: $link-color;
  cursor: pointer;
  &:hover {
    color: $link-hover-color;
  }
  &:focus:not(:active) {
    outline: none;
    box-shadow: $btn-focus-box-shadow;
  }
}
a.body-color:hover {
  color: $body-color;
}
a.plain, maybe-link.plain a,
a.undecorated, maybe-link.undecorated a {
  color: $body-color;
  &:hover {
    text-decoration: none;
  }
}
a.plain, maybe-link.plain a {
  cursor: default;
  &:focus {
    outline: none;
    box-shadow: none;
  }
}
a.decorated {
  color: $link-color !important;
}
a.icon {
  outline: none;
  text-decoration: none;
}
a.ngx-gallery-thumbnail:focus {
  outline: none;
  box-shadow: none;
}

.link-with-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  icon {
    margin-right: 0.5rem;
    width: 1.2rem;
    height: 1.2rem;
  }
}
.link-with-icon.body-color icon {
  opacity: 0.7;
}

body.dark {
  a {
    color: $link-color-dark;
    &:hover {
      color: $link-hover-color-dark;
    }
  }
  a.body-color:hover {
    color: $body-color-dark;
  }
  a.plain, maybe-link.plain a,
  a.undecorated, maybe-link.undecorated a {
    color: $body-color-dark;
  }
}

@media print {
  a, a:hover, h1, h2, h3, td, th, tr, table, .positive, .negative {
    color: $body-color !important;
    border-color: black !important;
  }
  a {
    text-decoration: none !important;
  }
  .link-with-icon icon, td.avatar, th.avatar, td.actions, th.actions, pagination {
    display: none;
  }
}