@import 'src/definitions';

body.lt-md, body.full-width, body.full-width.md {
  background-color: $card-bg;
  overflow-x: hidden;
}
body.gt-sm {
  padding-bottom: 1rem;
}
body.full-width {
  padding-bottom: 0;
}
body.full-width .main-container {
  margin: 0;
}

body.lt-sm {
  overflow: auto;
  scrollbar-width: thin;
}
body.gt-md {
  overflow-y: scroll;
}

@mixin theme-transitions() {
  transition:
    background-color ease-in-out 0.4s,
    color ease-in-out 0.4s,
    border-color ease-in-out 0.4s !important;
}

top-bar nav {
  @include theme-transitions()
}
body.theme-transition {
  &, .main-container * {
    @include theme-transitions()
  }
}

body.backdrop-visible {
  overflow: hidden;
  position: fixed;
}

body.dark {
  background-color: $body-bg-dark;
  color: $body-color-dark;
}

body.lt-sm.dark {
  background-color: $card-bg-dark;
}
