@import 'src/definitions';

button, input[type=button] {
  height: $input-height;
  width: 100%;
}
@include media-breakpoint-up(xs) {
  button, input[type=button] {
    width: auto;
  }
}
button.btn-transparent {
  background: transparent;
  border: none;
  box-shadow: none;
}
.lt-sm {
  button.btn-main {
    height: 3rem;
  }
}

.btn-icon {
  padding: 0.4rem 0.4rem 0.4rem 0.6rem;
  width: 2.6rem;
  color: $button-icon-color;
  background-color: $button-icon-bg;
  border: 1px solid $button-icon-border-color;
  &.hover, &:focus {
    color: $button-icon-hover-color;
    background-color: $button-icon-hover-bg;
    border-color: $button-icon-hover-border-color;
  }
  &.active {
    color: $button-icon-active-color;
    background-color: $button-icon-active-bg;
    border-color: $button-icon-active-border-color;
  }
}

body.dark {
  .btn-icon {
    color: $button-icon-color-dark;
    background-color: $button-icon-bg-dark;
    border-color: $button-icon-border-color-dark;
    &.hover, &:focus {
      color: $button-icon-hover-color-dark;
      background-color: $button-icon-hover-bg-dark;
      border-color: $button-icon-hover-border-color-dark;
    }
    &.active {
      color: $button-icon-active-color-dark;
      background-color: $button-icon-active-bg-dark;
      border-color: $button-icon-active-border-color-dark;
    }
  }
}