@import 'src/definitions';

.primary-color {
  color: $primary;
}
.primary-bg {
  background-color: $primary;
  color: color-yiq($primary);
}
.secondary-color {
  color: $secondary;
}
.secondary-bg {
  background-color: $secondary;
  color: color-yiq($secondary);
}
.accent-color {
  color: $accent;
}
.accent-bg {
  background-color: $accent;
  color: color-yiq($accent);
}
.body-color {
  color: $body-color;
}
.body-bg {
  background-color: $body-bg;
  color: $body-color;
}
.faded-color {
  color: $faded-color;
}
.section-border-color {
  border-color: $section-border-color;
}

.card {
  color: $card-color;
  border-color: $card-border-color;
  background-color: $card-bg;
  .card-body {
    color: $card-color;
  }
}

.custom-content-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.iframe-content-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.iframe-loading-spinner {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: $zindex-popover;
  background-color: $card-bg;
}
.iframe-content {
  border: 0;
  flex-grow: 1;
}
@include media-breakpoint-up(lg) {
  .iframe-content {
    height: 32rem;
  }
}

body.dark {
  .card {
    color: $card-color-dark;
    border-color: $card-border-color-dark;
    background-color: $card-bg-dark;
    .card-body {
      color: $card-color-dark;
    }
  }
  .section-border-color {
    border-color: $section-border-color-dark;
  }
  .accent-color {
    color: $accent-dark;
  }
  .accent-bg {
    background-color: $accent-dark;
    color: color-yiq($accent-dark);
  }
  .faded-color {
    color: $faded-color-dark;
  }
  .body-color {
    color: $body-color-dark;
  }
  .body-bg {
    background-color: $body-bg-dark;
    color: $body-color-dark;
  }
}
