@import 'src/definitions';

.primary-color {
  color: $primary;
}
.primary-bg {
  background-color: $primary;
  color: color-yiq($primary);
}
.accent-color {
  color: $accent;
}
.accent-bg {
  background-color: $accent;
  color: color-yiq($accent);
}
.body-color {
  color: $body-color;
}
.body-bg {
  background-color: $body-bg;
  color: $body-color;
}
.border-color {
  border-color: $border-color;
}
.input-height {
  height: $input-height;
}
.input-min-height {
  min-height: $input-height;
}

.card {
  color: $card-color;
  border-color: $card-border-color;
  background-color: $card-bg;
  .card-body {
    color: $card-color;
    min-height: 0;
  }
}

.custom-content-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-size: 1rem;
}

.iframe-content-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.iframe-loading-spinner {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: $zindex-popover;
  background-color: $card-bg;
  color: $card-color;
  display: flex;
  justify-content: center;
  align-items: center;
}
.iframe-content {
  border: 0;
  flex-grow: 1;
}
@include media-breakpoint-up(lg) {
  .iframe-content {
    height: 32rem;
  }
}

body.dark {
  .card {
    color: $card-color-dark;
    border-color: $card-border-color-dark;
    background-color: $card-bg-dark;
    .card-body {
      color: $card-color-dark;
    }
  }
  .border-color {
    border-color: $border-color-dark;
  }
  .primary-color {
    color: $primary-dark;
  }
  .primary-bg {
    background-color: $primary-dark;
    color: color-yiq($primary-dark);
  }
  .accent-color {
    color: $accent-dark;
  }
  .accent-bg {
    background-color: $accent-dark;
    color: color-yiq($accent-dark);
  }
  .body-color {
    color: $body-color-dark;
  }
  .body-bg {
    background-color: $body-bg-dark;
    color: $body-color-dark;
  }
  .border, .border-top, .border-right, .border-bottom, .border-left {
    border-color: $border-color-dark !important;
  }
  .iframe-loading-spinner {
    background-color: $card-bg-dark;
    color: $card-color-dark;
  }
}
