@import 'src/definitions';

.dropdown-menu {
  min-width: 100%;
  max-height: 16rem;
  overflow-x: hidden;
  overflow-y: auto;
  transform: none !important;

  .custom-checkbox {
    margin-left: 0.6rem;
  }
}

alert .close {
  font-size: 2rem;
}

.toast {
  border-color: $push-notification-border-color;

  .toast-header {
    color: $push-notification-title-color;
    background-color: $push-notification-title-bg;
    border-color: $push-notification-border-color;

    icon {
      color: $push-notification-icon-color;
    }
  }

  .toast-body {
    color: $push-notification-body-color;
    background-color: $push-notification-body-bg;
  }

  button.close {
    font-size: 1.4rem;
    color: $push-notification-title-color;
  }
}

.gt-sm {
  .toast {
    min-width: 20rem;
  }
}
$toast-color:                       null !default;
$toast-background-color:            rgba($white, .85) !default;
$toast-border-width:                1px !default;
$toast-border-color:                rgba(0, 0, 0, .1) !default;


.dropdown-toggle::after {
  vertical-align: 0.15em;
}

.modal-dialog.notification {
  .modal-content {
    border: none !important;
  }
}

.modal-dialog.modal-form {
  h1 {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding-bottom: 1rem;
    margin: 0 -1rem 1rem -1rem;
  }
  .modal-content {
    padding: 1rem;
  }
}

// This is actually used to show generated password values
notification data {
  font-weight: $font-weight-bold;
  letter-spacing: 0.2rem;
}

// Force navigation on lightbox to be always visible
.lb-prev, .lb-next {
  opacity: 0.7 !important;
}

body.dark {
  .modal-content {
    color: $modal-content-color-dark;
    background-color: $modal-content-bg-dark;
    border: $modal-content-border-color-dark;
  }

  .dropdown-menu {
    color: $dropdown-color-dark;
    background-color: $dropdown-bg-dark;
    border-color: $dropdown-border-color-dark;
  }

  .dropdown-item {
    color: $dropdown-link-color-dark;
    @include hover-focus {
      color: $dropdown-link-hover-color-dark;
      @include gradient-bg($dropdown-link-hover-bg-dark);
    }
    &.active, &:active {
      color: $dropdown-link-active-color-dark;
      @include gradient-bg($dropdown-link-active-bg-dark);
    }
  }

  .toast {
    border-color: $push-notification-border-color-dark;

    .toast-header {
      color: $push-notification-title-color-dark;
      background-color: $push-notification-title-bg-dark;
      border-color: $push-notification-border-color-dark;

      icon {
        color: $push-notification-icon-color-dark;
      }
    }

    .toast-body {
      color: $push-notification-body-color-dark;
      background-color: $push-notification-body-bg-dark;
    }

    button.close {
      color: $push-notification-title-color-dark;
    }
  }
}
