@import 'src/definitions';

.filters-form > .row, .filters-row {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }

  > .col-form-label {
    padding-right: 0.5rem;
  }
}

label {
  font-weight: $font-weight-bold;
  color: $label-color;
}

.filters-form {
  display: block;
  border-color: $border-color;
  padding: 0;
  margin: 0;
  margin-left: -$layout-spacer-xxs;
  margin-right: -$layout-spacer-xxs;
  padding-left: $layout-spacer-xxs;
  padding-right: $layout-spacer-xxs;
}
.filters-row {
  margin-top: $layout-spacer-xxs;
}
.filters-form-separator {
  padding-bottom: $layout-spacer-xxs
}

.form-field {
  width: 100%;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

@include media-breakpoint-up(xs) {
  .filters-form-separator {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding-bottom: 0.5rem;
  }

  .filters-form {
    padding: 0.4rem;
    margin-left: -$layout-spacer-xs;
    margin-right: -$layout-spacer-xs;
    padding-left: $layout-spacer-xs;
    padding-right: $layout-spacer-xs;
  }
  .filters-row {
    margin-top: $layout-spacer-xs;
  }
}
@include media-breakpoint-up(sm) {

  .filters-row {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .filters-form {
    padding-bottom: 0;
    margin-left: -$layout-spacer;
    margin-right: -$layout-spacer;
    padding-left: 0;
    padding-right: $layout-spacer;

    .col-form-label {
      padding-left: $layout-spacer;
    }
  }
}

.form-control, .custom-select {
  color: $input-color;
  background-color: $input-bg;
  border: $input-border-width solid $input-border-color;
  &::placeholder {
    color: $input-placeholder-color;
  }
  &:focus {
    background-color: $input-focus-bg;
    color: $input-focus-color;
    border-color: $input-focus-border-color;
    box-shadow: $input-focus-box-shadow;
  }
  &:disabled, &[readonly] {
    background-color: $input-disabled-bg;
    color: $input-disabled-color;
    border-color: $input-disabled-border-color;
  }
}
select.form-control {
  &:focus::-ms-value {
    color: $input-color;
    background-color: $input-bg;
  }
}
.form-control-plaintext {
  color: $body-color;
}

// Disable spinners in input[type=number]
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

.input-group-icon {
  padding: 0 0.5rem;
  font-size: 1.5em;
}

.input-group-text {
  color: $input-group-addon-color;
  background-color: $input-group-addon-bg;
  border: $input-border-width solid $input-group-addon-border-color;
}

.custom-control-label {
  padding-top: 0 !important;
  padding-left: 0.2rem;
  &::before, &::after {
    top: 0.1rem !important;
  }
}
.custom-control-label::before {
  background-color: $input-bg;
  background-clip: padding-box;
  border: $input-border-width solid $input-border-color;
  @include box-shadow($input-box-shadow);
}

.custom-select, .form-control, .custom-select option {
  padding: 0 0.4rem;
}
@include media-breakpoint-up(sm) {
  .custom-select, .form-control, .custom-select option {
    padding: $input-padding-y $input-padding-x;
  }
}

.custom-control-input{
  &:focus ~ .custom-control-label::before {
    box-shadow: $input-focus-box-shadow;
  }
  &:not(:disabled):active ~ .custom-control-label::before {
    color: color-yiq($button-color);
    background-color: rgba($button-color, .5);
    border: none;
    @include box-shadow($input-focus-box-shadow);
  }
  &:checked ~ .custom-control-label::before {
    background-color: $button-color;
    border: none;
  }
  &:checked ~ .custom-control-label::after {
    color: color-yiq($button-color);
  }
}


.invalid-feedback {
  font-size: 85%;
}
.custom-control-label::before,
.custom-control-label::after {
  width: 1.25rem;
  height: 1.25rem;
}

.required-marker {
  color: $required-marker-color;
}

.input-group-icon icon {
  color: $button-icon-color;
}

$spaced-label-values: (
  '.any-label-value',
  'h1',
  'h2',
  'h3',
  'address-form',
  'user-info',
  'custom-field-value',
  'radio-group-field',
  'checkbox-group-field',
  'boolean-field'
);
@each $lv1 in $spaced-label-values {
  @each $lv2 in $spaced-label-values {
    body.xxs {
      #{$lv1} + #{$lv2} {
        margin-top: 0.3rem;
      }
    }
    body.gt-xxs {
      #{$lv1} + #{$lv2} {
        margin-top: 0.6rem;
      }
    }
  }
}
.any-label-value .any-label-value {
  margin-top: 0 !important;
}

.custom-control-label {
  padding-top: 0.15rem;
  font-weight: $font-weight-normal;
}

// Select-options are used both in single-selection field and autocomplete fields
.select-option {
  display: block;
  padding: 0.2rem 0.4rem;
  min-height: 1.5em;
  cursor: default;
  color: $input-color;
  background-color: $input-bg;
  white-space: nowrap;
  &:hover, &:focus {
    color: $list-group-hover-color;
    background-color: $list-group-hover-bg;
    text-decoration: none;
    outline: none !important;
    box-shadow: none !important;
  }
  &.selected {
    color: color-yiq($button-color) !important;
    background-color: $button-color !important;
  }
}
@include media-breakpoint-up(sm) {
  .select-option {
    padding: 0.2rem 0.7rem;
  }
}

.columns-2,
.columns-3 {
  display: inline-block !important;
  vertical-align: top;
  margin-top: 0.6rem;
}
.columns-2 > .label-value,
.columns-3 > .label-value {
  display: inline-block !important;
}
.columns-2 .label-value-label,
.columns-3 .label-value-label {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.columns-2 {
  width: 50% !important;
}
.columns-3 {
  width: 33.33% !important;
}
.columns-2.colspan-2,
.columns-3.colspan-3 {
  width: 100% !important;
}
.columns-3.colspan-2 {
  width: 66.66% !important;
}

body.dark {
  label {
    color: $label-color-dark;
  }
  .filters-form {
    border-color: $border-color-dark;
  }
  ::placeholder, :-ms-input-placeholder, ::-ms-input-placeholder {
    color: $input-placeholder-color-dark;
  }
  .custom-control-label::before {
    background-color: $input-bg-dark;
    border-color: $input-border-color-dark;
  }
  .custom-control-input{
    &:focus ~ .custom-control-label::before {
      box-shadow: $input-focus-box-shadow-dark;
    }
    &:not(:disabled):active ~ .custom-control-label::before {
      color: color-yiq($button-color-dark);
      background-color: rgba($button-color-dark, .5);
      border-color: $button-border-color-dark;
      @include box-shadow($input-focus-box-shadow-dark);
    }
    &:checked ~ .custom-control-label::before {
      background-color: $button-color-dark;
      border-color: $button-border-color-dark;
    }
    &:checked ~ .custom-control-label::after {
      color: color-yiq($button-color-dark);
    }
  }
  .required-marker {
    color: $required-marker-color-dark;
  }
  .input-group-icon icon {
    color: $button-icon-color-dark;
  }
  .select-option:hover, .select-option:focus {
    color: $list-group-hover-color-dark;
    background-color: $list-group-hover-bg-dark;
  }
  .form-control, .custom-select {
    color: $input-color-dark;
    background-color: $input-bg-dark;
    border-color: $input-border-color-dark;
    &::placeholder {
      color: $input-placeholder-color-dark;
    }
    &:focus {
      background-color: $input-focus-bg-dark;
      color: $input-focus-color-dark;
      border-color: $input-focus-border-color-dark;
      box-shadow: $input-focus-box-shadow-dark;
    }
    &:disabled,
    &[readonly] {
      background-color: $input-disabled-bg-dark;
      color: $input-disabled-color-dark;
      border-color: $input-disabled-border-color-dark;
    }
  }
  select.form-control {
    &:focus::-ms-value {
      color: $input-color-dark;
      background-color: $input-bg-dark;
    }
  }
  .form-control-plaintext {
    color: $body-color-dark;
  }
  .input-group-text {
    color: $input-group-addon-color-dark;
    background-color: $input-group-addon-bg-dark;
    border-color: $input-group-addon-border-color-dark;
  }
  .custom-select {
    color: $input-color-dark;
    background: $custom-select-background-dark;
    background-color: $input-bg-dark;
    border-color: $input-border-color-dark;
  }
  .select-option {
    color: $input-color-dark;
    background-color: $input-bg-dark;
  }
  .select-option.selected {
    color: color-yiq($button-color-dark) !important;
    background-color: $button-color-dark !important;
  }
  .select-option:hover, .select-option:focus {
    color: $list-group-hover-color-dark;
    background-color: $list-group-hover-bg-dark;
  }
}
