@import 'src/definitions';

:root {
  --font-import-url: "#{$font-import-url}";
  --theme-color: #{$theme-color};
  --theme-color-dark: #{$theme-color-dark};
  --primary-dark: #{$primary-dark};
  --chart-color: #{$chart-color};
  --chart-color-dark: #{$chart-color-dark};
  --body-color: #{$body-color};
  --body-color-dark: #{$body-color-dark};
  --border-color: #{$border-color};
  --border-color-dark: #{$border-color-dark};
  --text-muted: #{$text-muted};
  --text-muted-dark: #{$text-muted-dark};
  // Will be updated dynamically
  --window-width: "1000px";
}

.max-container-widths {
  @include make-container-max-widths();
}

b, strong {
  font-weight: $font-weight-bold;
}

.no-wrap {
  white-space: nowrap;
}

.window-width {
  width: var(--window-width);
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }

  > .col-form-label {
    padding-right: 0.5rem;
  }
}

.cursor-pointer {
  cursor: pointer !important;
}

.cursor-move {
  cursor: move !important;
}

.break-nl {
  white-space: pre-wrap;
}


hr {
  width: 100%;
  display: block;
  border-color: $border-color;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: $zindex-modal-backdrop;
  opacity: 0;
  transition: opacity 0.3s;
}

.ngx-gallery-image {
  border: 1px solid $border-color;
  z-index: 100 !important;
}
.ngx-gallery-arrow-wrapper, .ngx-gallery-icon {
  z-index: 200 !important;
}

body.dark {
  hr, .ngx-gallery-image {
    border-color: $border-color-dark;
  }
}

/* Margins / paddings according to the layout spacer */
.my-ls, .mt-ls {
  margin-top: $layout-spacer-xxs !important;
}
.my-ls, .mb-ls {
  margin-bottom: $layout-spacer-xxs !important;
}
.mx-ls, .ml-ls {
  margin-left: $layout-spacer-xxs !important;
}
.mx-ls, .mr-ls {
  margin-right: $layout-spacer-xxs !important;
}
.py-ls, .pt-ls {
  padding-top: $layout-spacer-xxs !important;
}
.py-ls, .pb-ls {
  padding-bottom: $layout-spacer-xxs !important;
}
.px-ls, .pl-ls {
  padding-left: $layout-spacer-xxs !important;
}
.px-ls, .pr-ls {
  padding-right: $layout-spacer-xxs !important;
}
@include media-breakpoint-up(xs) {
  .my-ls, .mt-ls {
    margin-top: $layout-spacer-xs !important;
  }
  .my-ls, .mb-ls {
    margin-bottom: $layout-spacer-xs !important;
  }
  .mx-ls, .ml-ls {
    margin-left: $layout-spacer-xs !important;
  }
  .mx-ls, .mr-ls {
    margin-right: $layout-spacer-xs !important;
  }
  .py-ls, .pt-ls {
    padding-top: $layout-spacer-xs !important;
  }
  .py-ls, .pb-ls {
    padding-bottom: $layout-spacer-xs !important;
  }
  .px-ls, .pl-ls {
    padding-left: $layout-spacer-xs !important;
  }
  .px-ls, .pr-ls {
    padding-right: $layout-spacer-xs !important;
  }
}
@include media-breakpoint-up(sm) {
  .my-ls, .mt-ls {
    margin-top: $layout-spacer !important;
  }
  .my-ls, .mb-ls {
    margin-bottom: $layout-spacer !important;
  }
  .mx-ls, .ml-ls {
    margin-left: $layout-spacer !important;
  }
  .mx-ls, .mr-ls {
    margin-right: $layout-spacer !important;
  }
  .py-ls, .pt-ls {
    padding-top: $layout-spacer !important;
  }
  .py-ls, .pb-ls {
    padding-bottom: $layout-spacer !important;
  }
  .px-ls, .pl-ls {
    padding-left: $layout-spacer !important;
  }
  .px-ls, .pr-ls {
    padding-right: $layout-spacer !important;
  }
}

.focusable {
  // This is only to mark anchors in the page that can receive focus, but shouldn't get any hightlight
  &:focus {
    outline: none;
  }
}

@media print {
  body {
    background-color: transparent !important;
    padding-top: 1cm;
  }
  .avatar-container.round-borders {
    border-radius: 0 !important;
  }
  hr {
    border-color: black !important;
  }
}