@import 'src/definitions';

.top-icon {
  height: $top-icon-size-xxs !important;
  width: $top-icon-size-xxs !important;
  font-size: $top-icon-size-xxs !important;
  line-height: $top-icon-size-xxs !important;
}

@include media-breakpoint-up(xs) {
  .top-icon {
    height: $top-icon-size-xs !important;
    width: $top-icon-size-xs !important;
    font-size: $top-icon-size-xs !important;
    line-height: $top-icon-size-xs !important;
  }
}
@include media-breakpoint-up(sm) {
  .top-icon {
    height: $top-icon-size !important;
    width: $top-icon-size !important;
    font-size: $top-icon-size !important;
    line-height: $top-icon-size !important;
  }
}

.spinner {
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: black;

  div {
    width: 45px;
    height: 45px;
  }

  svg {
    width: 64px;
    height: 64px;
  }
}

.solid-icon {
  background-color: $card-bg;
  color: $tiled-results-icon-color;
  border-radius: 50%;
}

body.dark {
  .spinner {
    color: white;
  }
  .solid-icon {
    background-color: $card-bg-dark;
    color: $tiled-results-icon-color-dark;
  }
}

///////////////////////////////////////////////////////////

avatar {
  & {
    display: inline-flex;
    line-height: 0;
    position: relative;
  }
  &.card-img-top {
    border-bottom: 1px solid $card-border-color;
  }
  .avatar-container {
    position: relative;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    background-repeat: no-repeat;

    img, icon {
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
    }
  }
  .avatar-container.full-size {
    width: 100%;
    height: auto;
    padding-top: 100%;
  }
  .avatar-container.round-borders {
    border-radius: 50%;
  }
  .avatar-container.with-lightbox {
    cursor: pointer;
    -webkit-transition: all ease-out 0.4s;
    transition: all ease-out 0.4s;
  }
  .avatar-container.with-lightbox:hover {
    -webkit-filter: brightness(90%);
    filter: brightness(90%);
  }
  &.management icon {
    color: $management-icon-color;
  }
}
body.dark {
  avatar {
    &.card-img-top {
      border-color: $card-border-color-dark;
    }
    &.management icon {
      color: $management-icon-color-dark;
    }
  }
}

///////////////////////////////////////////////////////////

icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  fill: currentColor;
  position: relative;
  width: 1.5rem;
  height: 1.5rem;

  svg {
    width: 100%;
    height: 100%;
  }
}

///////////////////////////////////////////////////////////

icon-with-counter {
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;

  .counter {
    border-radius: 100%;
    color: $icon-with-counter-color;
    background-color: $icon-with-counter-bg;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -0.2rem;
    right: -0.2rem;
    font-size: 0.6rem;
    height: 0.9rem;
    width: 0.9rem;
    z-index: 1;
  }
}