@import 'src/definitions';

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  display: table-cell;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.top-icon {
  height: $top-icon-size-xxs !important;
  width: $top-icon-size-xxs !important;
  font-size: $top-icon-size-xxs !important;
  line-height: $top-icon-size-xxs !important;
}

@include media-breakpoint-up(sm) {
  .top-icon {
    height: $top-icon-size-xs !important;
    width: $top-icon-size-xs !important;
    font-size: $top-icon-size-xs !important;
    line-height: $top-icon-size-xs !important;
  }
}
@include media-breakpoint-up(sm) {
  .top-icon {
    height: $top-icon-size !important;
    width: $top-icon-size !important;
    font-size: $top-icon-size !important;
    line-height: $top-icon-size !important;
  }
}

.spinner {
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;

  div {
    opacity: 0.3;
    width: 45px;
    height: 45px;
  }

  img {
    width: 64px;
    height: 64px;
  }
}

.solid-icon {
  background-color: $card-bg;
  color: $tiled-results-icon-color;
  border-radius: 50%;
}

body.dark {
  spinner img, .spinner img {
    filter: invert(1);
  }
  .solid-icon {
    background-color: $card-bg-dark;
    color: $tiled-results-icon-color-dark;
  }
}
