@import 'src/definitions';

heading-actions {
  .heading-action {
    height: 100%;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    font-size: 0.8rem;
    white-space: nowrap;
    cursor: pointer;
  }
  .heading-action-with-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.5rem;
  }
  .heading-action.dropdown-toggle::after {
    margin-left: 0;
  }

  .action-label {
    display: none;
  }

  .heading-actions-plain-buttons {
    display: flex;
    align-items: center;
    height: 100%;

    heading-action-button {
      margin-right: 0.5rem;
    }
  }

  .heading-action-option {
    display: flex;
    padding: 0.4rem;
    min-height: 1.5em;
    cursor: pointer;
    white-space: nowrap;
    align-items: center;
    icon {
      margin: 0 0.4rem 0 0;
    }

    &:hover, &:focus {
      text-decoration: none;
      outline: none;
      box-shadow: none;
    }
  }

  .heading-actions-menu {
    position: absolute;
    z-index: $zindex-dropdown;
    min-width: 100%;
    max-height: 20rem;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0.4rem 0;
  }

  .heading-action-option-text {
    line-height: 1em;
  }
}
@include media-breakpoint-up(xs) {
  heading-actions {
    .action-label {
      display: inline;
    }
    .heading-action-with-icon {
      icon {
        margin-left: 0;
        margin-right: 0.5rem;
        transform: translateX(-0.1rem);
      }
    }
    .heading-action.dropdown-toggle::after {
      margin-left: 0.3rem;
    }
    .heading-action {
      padding-left: 1rem;
      padding-right: 1.2rem;
    }
    .heading-action-dropdown {
      padding-right: 1rem;
    }
    .heading-action-option {
      padding: 0.6rem 1.3rem 0.6rem 1rem;
    }
    .heading-action-option {
      icon {
        margin: 0.075rem 0.8rem 0 0;
      }
    }
    .heading-actions-menu {
      padding: 1rem 0;
    }
  }
}
@media print {
  heading-actions {
    display: none;
  }
}

@include media-breakpoint-up(xs) {
  .heading-action-with-icon icon {
    margin: 0;
    transform: translateY(0.1rem);
  }
}

///////////////////////////////////////////////////////////

banner-card {
  margin-top: $section-margin;
  position: relative;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  color: $card-color;
  background-color: $card-bg;
  background-clip: border-box;
  border: $card-border-width solid $card-border-color;
  @include border-radius($card-border-radius);
  box-shadow: $box-shadow-sm;
  padding: $card-spacer-x;
}
body.dark banner-card {
  color: $card-color-dark;
  background-color: $card-bg-dark;
  border-color: $card-border-color-dark;
}

///////////////////////////////////////////////////////////

login {
  form {
    max-width: 400px;
    display: block;
    margin: 0 auto;
    padding: 0.5rem;
    text-align: center;
  }

  .pre-login-text {
    text-align: center;
    padding-bottom: 1rem;
  }

  .login-margin-top {
    margin-top: 0.5rem;
  }
  .login-margin-bottom {
    margin-bottom: 0.5rem;
  }

  button, .button {
    width: 100%;
  }
}
@include media-breakpoint-up(xs) {
  login {
    form {
      padding: 1rem;
    }
    .login-margin-top {
      margin-top: 1rem;
    }
    .login-margin-bottom {
      margin-bottom: 1rem;
    }
    .principal .invalid-feedback {
      margin-top: -0.75rem;
      margin-bottom: 0.5rem;
    }
    .pre-login-text {
      text-align: center;
      padding-bottom: 2rem;
      margin-top: 1rem;
    }
  }
}
@include media-breakpoint-up(md) {
  login {
    page-content:not(.with-left-area) {
      margin-top: 3rem;
      form {
        margin-bottom: 1.75rem;
        padding-left: 3rem;
        padding-right: 3rem;
      }
    }
    .pre-login-text {
      margin-top: 0;
    }
  }
}
@include media-breakpoint-up(lg) {
  login {
    page-content:not(.with-left-area) {
      margin-top: 5rem;
    }
  }
}

///////////////////////////////////////////////////////////

notification-type-setting {
  width: 100%;

  button-toggle {
    width: auto;
    flex-grow: 0 !important;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
  }

  @include media-breakpoint-up(sm) {
    button-toggle {
      margin-top: 0;
      margin-right: 0;
      margin-left: 0.5rem;
    }
    multi-selection-field,
    single-selection-field {
      width: 75% !important;
    }
  }
}

///////////////////////////////////////////////////////////

operation-callback {
  .alert {
    margin: 0;
  }
}

///////////////////////////////////////////////////////////

profile-addresses {
  .map-container {
    margin-top: 1.5rem;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    height: 260px;
    margin-left: -$layout-spacer-xxs;
    margin-right: -$layout-spacer-xxs;
  }
  agm-map {
    /* Without this 2px difference, the bottom border isn't shown */
    height: 258px;
  }
}
@include media-breakpoint-up(xs) {
  profile-addresses {
    .map-container {
      margin-left: -$layout-spacer-xs;
      margin-right: -$layout-spacer-xs;
    }
  }
}
@include media-breakpoint-up(sm) {
  profile-addresses {
    .map-container {
      margin-left: -$layout-spacer;
      margin-right: -$layout-spacer;
    }
  }
}
body.dark profile-addresses {
  .map-container {
    border-color: $border-color-dark;
  }
}

///////////////////////////////////////////////////////////

profile-images {
  & {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0.5rem 0 1.5rem 0;
  }
  icon {
    color: $tiled-results-icon-color;
  }
  .ngx-gallery-image, .ngx-gallery-thumbnail {
    border: 1px solid $border-color;
    z-index: 100 !important;
  }
  .ngx-gallery-arrow-wrapper, .ngx-gallery-icon {
    z-index: 200 !important;
  }
  &:not(.single-image) {
    ngx-gallery {
      width: 16rem !important;
      height: 16rem !important;
    }
  }
  img.single-image {
    max-width: 16rem;
    max-height: 13rem;
    margin-bottom: 0.2rem;
    object-fit: contain;
  }
}
@include media-breakpoint-up(sm) {
  profile-images {
    justify-content: end;
    margin: 0 0 0 1.5rem;
  }
}
body.dark profile-images {
  icon {
    color: $tiled-results-icon-color-dark;
  }
  .ngx-gallery-image, .ngx-gallery-thumbnail {
    border-color: $border-color-dark;
  }
}

///////////////////////////////////////////////////////////

search-references {
  .bar {
    display: inline-block;
    background-color: #fdce7e;
    border-radius: 1px;
  }
  .count, .bar {
    vertical-align: middle;
  }
}

///////////////////////////////////////////////////////////

view-profile {
  .profile-action {
    margin-left: -0.75rem;
    overflow: hidden;
  }
  .heading-action-button {
    max-width: 100% !important;
  }
  .additional-contacts {
    icon {
      opacity: 0.30;
    }
  }
}