@import 'src/definitions';

body.unsubscribe {
  .card {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border: none;
    margin-top: 1rem;
  }

  .title {
    font-size: 1.4em;
    line-height: 1.4em;
    text-align: center;
    margin: 2rem 1rem;
  }

  .content {
    flex-grow: 1;
  }

  .system {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .system-image {
    max-width: 12rem;
    max-height: 3rem;
  }

  .actions {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;

    action-button + action-button {
      margin-top: 1rem;
    }
  }
}

@include media-breakpoint-up(md) {
  body.unsubscribe {
    display: flex;
    align-items: center;
    justify-content: center;

    .card {
      width: 44rem;
      height: 25rem;
      padding: 2rem;
      border: 1px solid $border-color;
      margin: auto;

      & > *:not(.system):not(.title):not(router-outlet) {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
      }
    }

    .actions {
      flex-direction: row-reverse;
      justify-content: space-between;
      margin-top: 1rem;

      action-button {
        width: 18rem;
      }

      action-button + action-button {
        margin-top: 0;
      }
    }
  }
}

body.unsubscribe.dark {
  .card {
    border-color: $border-color-dark;
  }
}
