<page-layout [ready]="data$ | async">
  <ng-container *ngIf="data">
    <page-content mode="filters"
      [heading]="i18n.feedback.title.searchAwaiting"
      [mobileHeading]="i18n.feedback.mobileTitle.searchAwaiting"
      [headingActions]="headingActions$ | async">
    </page-content>
    <results-layout resultType="list" [results]="results$ | async"
      (update)="update($event)" [rendering$]="rendering$" [toLink]="toLink">

      <mobile-result *mobileResult="let row" [title]="row.relatedUser.display"
        [avatarImage]="row.relatedUser.image" [avatarIcon]="SvgIcon.Person"
        [date]="row.date" [amount]="row.amount"
        [currency]="findCurrency(row.currency)">
      </mobile-result>

      <table *resultTable class="table table-hover cursor-pointer">
        <thead>
          <th class="avatar"></th>
          <th width="23%">{{ i18n.general.date }}</th>
          <th>{{ i18n.transaction.to }}</th>
          <th>{{ i18n.general.description }}</th>
          <th>{{ i18n.transaction.amount }}</th>
        </thead>
        <tbody>
          <ng-container *ngFor=" let row of (results$ | async)?.results">
            <tr (click)="router.navigate(path(row))">
              <td class="avatar">
                <avatar [image]="row.related?.user?.image"
                  [icon]="SvgIcon.PersonCircle">
                </avatar>
              </td>
              <td>{{ row.date | dateTime }}</td>
              <td>{{ row.related?.user?.display }}</td>
              <td>{{ row.description }}</td>
              <td>{{ row.amount | currency: findCurrency(row.currency) }}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </results-layout>
  </ng-container>
</page-layout>
