<page-layout [ready]="data$ | async">
  <ng-container *ngIf="data">
    <div *ngIf="deadline$ | async" class="notifications"
      [ngClass]="{'mt-4' : !layout.ltmd}">
      <notification type="info">
        {{ deadline }}
      </notification>
    </div>
    <page-content mode="viewForm" [heading]="i18n.feedback.title.view"
      [mobileHeading]="i18n.feedback.mobileTitle.view"
      [headingActions]="headingActions$ | async">
      <ng-container *ngIf="data.transaction">
        <h2 class="pt-0 border-0">{{ i18n.transaction.transferkind.payment }}
        </h2>
        <label-value [label]="i18n.general.date">
          {{ data.transaction.date | dateTime }}
        </label-value>
        <label-value [label]="i18n.transaction.amount">
          {{ data.transaction.amount | currency:data.transaction.currency }}
        </label-value>
        <label-value [label]="i18n.transaction.from">
          <user-link [user]="data.from"></user-link>
        </label-value>
        <label-value [label]="i18n.transaction.to">
          <user-link [user]="data.to"></user-link>
        </label-value>
        <label-value *ngIf="data.transaction.description"
          [label]="i18n.general.description">
          {{ data.transaction.description }}
        </label-value>
      </ng-container>
      <h2>{{ i18n.feedback.buyerFeedback }}</h2>
      <label-value [label]="i18n.general.date">
        {{ data.date | dateTime }}
      </label-value>
      <label-value [label]="i18n.reference.level.level">
        <rating-stats [level]="data.level"></rating-stats>
      </label-value>
      <label-value [label]="i18n.general.comments">
        {{ data.comments }}
      </label-value>
      <ng-container *ngIf="data.replyComments">
        <h2>{{ i18n.feedback.sellerReply }}</h2>
        <label-value *ngIf="data.replyCommentsDate"
          [label]="i18n.general.date">
          {{ data.replyCommentsDate | dateTime }}
        </label-value>
        <label-value [label]="i18n.feedback.reply">
          {{ data.replyComments }}
        </label-value>
      </ng-container>
      <ng-container *ngIf="data.managerComments">
        <h2>{{ i18n.feedback.administrationComment }}</h2>
        <label-value [label]="i18n.general.date">
          {{ data.managerCommentsDate | dateTime }}
        </label-value>
        <label-value [label]="i18n.general.comments">
          {{ data.managerComments }}
        </label-value>
      </ng-container>
    </page-content>
  </ng-container>
</page-layout>
