<page-layout [title]="messages.userEditMyProfileTitle()"
  [loaded]="loaded">
  <page-content *ngIf="loaded | async">
    <form fxLayout="column"
      [formGroup]="form">
      <user-fields-form [data]="data"
        [user]="user"
        [form]="form"></user-fields-form>
    </form>
    <actions>
      <button fxFlex.gt-xs="nogrow"
        mat-raised-button
        color="accent"
        [disabled]="(form.statusChanges | async) !== 'VALID'"
        (click)="save()">
        {{ messages.save() }}
      </button>
    </actions>
  </page-content>
</page-layout>
