<div [formGroup]="form"
  fxLayout="column">
  <mat-form-field *ngIf="editable('name')">
    <input matInput
      formControlName="name"
      required
      focused
      [placeholder]="messages.userName()" />
    <mat-error>
      {{ form.get('name').getError('message') }}
    </mat-error>
  </mat-form-field>
  <label-value *ngIf="readOnly('name') && user.name"
    [label]="messages.userName()"
    [value]="user.name">
  </label-value>

  <mat-form-field *ngIf="editable('username')"
    [ngClass]="{'has-label-value': readOnly('name') && user.name}">
    <input matInput
      formControlName="username"
      required
      [focused]="!editable('name')"
      [placeholder]="messages.userUsername()" />
    <mat-error>
      {{ form.get('username').getError('message') }}
    </mat-error>
  </mat-form-field>
  <label-value *ngIf="readOnly('username') && user.username"
    [label]="messages.userUsername()"
    [value]="user.username">
  </label-value>

  <mat-form-field *ngIf="editable('email')"
    [ngClass]="{'has-label-value': readOnly('username') && user.username}">
    <input matInput
      formControlName="email"
      [required]="data.emailRequired"
      [focused]="!editable('name') && !editable('username')"
      [placeholder]="messages.userEmail()" />
    <span matSuffix
      *ngIf="managePrivacy('email')">
      <field-privacy field="email"
        [control]="form.get('hiddenFields')"></field-privacy>
    </span>
    <mat-error>
      {{ form.get('email').getError('message') }}
    </mat-error>
  </mat-form-field>
  <label-value *ngIf="readOnly('email') && user.email"
    [label]="messages.userEmail()">
    <a [href]="'mailto:' + user.email">{{ user.email }}</a>
    <!-- The e-mail can be readonly, but still can, maybe, manage privacy -->
    <field-privacy field="email"
      [control]="form.get('hiddenFields')"></field-privacy>
  </label-value>

  <ng-container *ngIf="hasMobilePhone"
    [formGroup]="form.get('mobilePhone')">
    <mat-form-field>
      <input matInput
        formControlName="number"
        [required]="mobilePhoneRequired"
        [placeholder]="messages.userMobilePhone()" />
      <span matSuffix
        *ngIf="managePrivacy('phone')">
        <field-privacy [control]="form.get('mobilePhone.hidden')"></field-privacy>
      </span>
      <mat-error>
        {{ form.get('mobilePhone').getError('message') }}
      </mat-error>
    </mat-form-field>
  </ng-container>

  <div *ngIf="hasLandLinePhone"
    [formGroup]="form.get('landLinePhone')"
    fxFlex="grow"
    fxLayout="row">
    <mat-form-field fxFlex="grow">
      <input matInput
        formControlName="number"
        [required]="landLinePhoneRequired"
        [placeholder]="messages.userLandLinePhone()" />
      <span matSuffix
        *ngIf="managePrivacy('phone')">
        <field-privacy [control]="form.get('landLinePhone.hidden')"></field-privacy>
      </span>
      <mat-error>
        {{ form.get('landLinePhone').getError('message') }}
      </mat-error>
    </mat-form-field>
    <ng-container *ngIf="hasExtension">
      <div fxFlex="nogrow">&nbsp;</div>
      <mat-form-field fxFlex="nogrow"
        ngClass="field-tiny">
        <input matInput
          formControlName="extension"
          [placeholder]="messages.userLandLinePhoneExtension()" />
      </mat-form-field>
    </ng-container>
  </div>

  <ng-container [formGroup]="form.get('customValues')">
    <ng-container *ngFor="let cf of data.customFields">
      <custom-field-input *ngIf="editable(cf.internalName)"
        fxFlex="grow"
        fxLayout="column"
        [field]="cf"
        [formControlName]="cf.internalName"
        [privacyControl]="managePrivacy(cf.internalName) ? form.get('hiddenFields') : null">
      </custom-field-input>
      <label-value *ngIf="readOnly(cf.internalName) &&
            user.customValues[cf.internalName]"
        [label]="cf.name">
        <format-field-value [fields]="data.customFields"
          [fieldName]="cf.internalName"
          [object]="user"></format-field-value>
        <!-- The custom field can be readonly, but still can, maybe, manage privacy -->
        <field-privacy *ngIf="managePrivacy(cf.internalName)"
          [field]="cf.internalName"
          [control]="form.get('hiddenFields')"></field-privacy>
      </label-value>
    </ng-container>
  </ng-container>
</div>
