<page-layout [loaded]="loaded"
  [title]="(loaded | async) ? user?.display : null">
  <page-content *ngIf="(loaded | async) && user">
    <image-viewer *ngIf="user.image"
      [profile]="true"
      [image]="user.image"
      [additionalImages]="user.additionalImages"></image-viewer>
    <label-value *ngIf="user.name != null && user.name !== user.display"
      [label]="usersMessages.userName()"
      [value]="user.name"></label-value>
    <label-value *ngIf="user.username"
      [label]="usersMessages.userUsername()"
      [value]="user.username"></label-value>
    <label-value *ngIf="user.email"
      [label]="usersMessages.userEmail()">
      <a [href]="'mailto:' + user.email">{{ user.email }}</a>
    </label-value>
    <label-value *ngFor="let phone of user.phones"
      [label]="phone.type === 'mobile' ? usersMessages.userMobilePhone() : usersMessages.userLandLinePhone()">
      <a [href]="'tel:' + phone.normalizedNumber">
        {{ phone.number }}
      </a>
    </label-value>
    <custom-field-value *ngFor="let value of user.customValues"
      [fieldValue]="value">
    </custom-field-value>

    <!-- Multiple addresses -->
    <ng-container *ngIf="(user.addresses || []).length > 1">
      <h2>{{ usersMessages.userAddresses() }}</h2>
      <ng-container *ngFor="let address of user.addresses">
        <h3>{{ address.name }}</h3>
        <view-address-details [address]="address"
          [countries]="countries | async">
        </view-address-details>
      </ng-container>
    </ng-container>

    <!-- Single address -->
    <ng-container *ngIf="(user.addresses || []).length === 1">
      <h2>{{ usersMessages.userAddress() }}</h2>
      <view-address-details [address]="user.addresses[0]"
        [countries]="countries | async">
      </view-address-details>
    </ng-container>

    <!-- Contact infos -->
    <ng-container *ngIf="(user.contactInfos || []).length > 0">
      <h2>{{ usersMessages.userContactInfos() }}</h2>
      <ng-container *ngFor="let contactInfo of user.contactInfos">
        <image-viewer *ngIf="contactInfo.image"
          [profile]="true"
          [image]="contactInfo.image"></image-viewer>
        <label-value *ngIf="contactInfo.email"
          [label]="usersMessages.userEmail()">
          <a [href]="'mailto:' + contactInfo.email">{{ contactInfo.email }}</a>
        </label-value>
        <label-value *ngIf="contactInfo.mobilePhone"
          [label]="usersMessages.userMobilePhone()">
          <a [href]="'tel:' + contactInfo.normalizedMobilePhone">
            {{ contactInfo.mobilePhone }}
          </a>
        </label-value>
        <label-value *ngIf="contactInfo.landLinePhone"
          [label]="usersMessages.userLandLinePhone()">
          <a [href]="'tel:' + contactInfo.normalizedLandLinePhone">
            {{ contactInfo.landLinePhone }}
          </a>
        </label-value>
        <custom-field-value *ngFor="let value of contactInfo.customValues"
          [fieldValue]="value">
        </custom-field-value>
        <view-address-details *ngIf="contactInfo.address"
          [address]="contactInfo.address"
          [countries]="countries | async">
        </view-address-details>
      </ng-container>
    </ng-container>

    <div class="clear-floats"></div>
  </page-content>
</page-layout>
