<h1>
  {{ i18n.phone.verify.title(phone.number) }}
</h1>

<div class="row">
  <div class="col-3 col-form-label">
    <label for="smsCode">
      {{ i18n.phone.verify.code }}
    </label>
  </div>
  <div class="col-6">
    <input-field #codeField id="smsCode" [formControl]="code" fieldSize="4"
      type="number" focused></input-field>
  </div>
  <div class="col-3">
    <button class="btn btn-primary d-block w-100" (click)="sendCode()">
      {{ i18n.phone.verify.send }}
    </button>
  </div>
</div>

<div class="mt-3 pb-1">{{ message$ | async }}</div>

<actions ngClass="mt-4">
  <button class="btn btn-primary" [disabled]="requesting$ | async"
    (click)="verify()">
    {{ i18n.general.confirm }}
  </button>
  <button class="btn btn-outline-primary" (click)="modalRef.hide()">
    {{ i18n.general.cancel }}
  </button>
</actions>
