<label-value *ngIf="address.addressLine1"
  [label]="messages.addressAddressLine1()"
  [value]="address.addressLine1"></label-value>
<label-value *ngIf="address.addressLine2"
  [label]="messages.addressAddressLine2()"
  [value]="address.addressLine2"></label-value>
<label-value *ngIf="address.street"
  [label]="messages.addressStreet()"
  [value]="address.street"></label-value>
<label-value *ngIf="address.buildingNumber"
  [label]="messages.addressBuildingNumber()"
  [value]="address.buildingNumber"></label-value>
<label-value *ngIf="address.complement"
  [label]="messages.addressComplement()"
  [value]="address.complement"></label-value>
<label-value *ngIf="address.neighborhood"
  [label]="messages.addressNeighborhood()"
  [value]="address.neighborhood"></label-value>
<label-value *ngIf="address.poBox"
  [label]="messages.addressPoBox()"
  [value]="address.poBox"></label-value>
<label-value *ngIf="address.zip"
  [label]="messages.addressZip()"
  [value]="address.zip"></label-value>
<label-value *ngIf="address.city"
  [label]="messages.addressCity()"
  [value]="address.city"></label-value>
<label-value *ngIf="address.region"
  [label]="messages.addressRegion()"
  [value]="address.region"></label-value>
<label-value *ngIf="address.country"
  [label]="messages.addressCountry()"
  [value]="country"></label-value>
