<label-value *ngIf="address.addressLine1"
  [label]="messages.userAddressAddressLine1()"
  [value]="address.addressLine1"></label-value>
<label-value *ngIf="address.addressLine2"
  [label]="messages.userAddressAddressLine2()"
  [value]="address.addressLine2"></label-value>
<label-value *ngIf="address.street"
  [label]="messages.userAddressStreet()"
  [value]="address.street"></label-value>
<label-value *ngIf="address.buildingNumber"
  [label]="messages.userAddressBuildingNumber()"
  [value]="address.buildingNumber"></label-value>
<label-value *ngIf="address.complement"
  [label]="messages.userAddressComplement()"
  [value]="address.complement"></label-value>
<label-value *ngIf="address.neighborhood"
  [label]="messages.userAddressNeighborhood()"
  [value]="address.neighborhood"></label-value>
<label-value *ngIf="address.poBox"
  [label]="messages.userAddressPoBox()"
  [value]="address.poBox"></label-value>
<label-value *ngIf="address.zip"
  [label]="messages.userAddressZip()"
  [value]="address.zip"></label-value>
<label-value *ngIf="address.city"
  [label]="messages.userAddressCity()"
  [value]="address.city"></label-value>
<label-value *ngIf="address.region"
  [label]="messages.userAddressRegion()"
  [value]="address.region"></label-value>
<label-value *ngIf="address.country"
  [label]="messages.userAddressCountry()"
  [value]="country"></label-value>
