<label-value *ngIf="address.addressLine1"
  [label]="usersMessages.userAddressAddressLine1()"
  [value]="address.addressLine1"></label-value>
<label-value *ngIf="address.addressLine2"
  [label]="usersMessages.userAddressAddressLine2()"
  [value]="address.addressLine2"></label-value>
<label-value *ngIf="address.street"
  [label]="usersMessages.userAddressStreet()"
  [value]="address.street"></label-value>
<label-value *ngIf="address.buildingNumber"
  [label]="usersMessages.userAddressBuildingNumber()"
  [value]="address.buildingNumber"></label-value>
<label-value *ngIf="address.complement"
  [label]="usersMessages.userAddressComplement()"
  [value]="address.complement"></label-value>
<label-value *ngIf="address.neighborhood"
  [label]="usersMessages.userAddressNeighborhood()"
  [value]="address.neighborhood"></label-value>
<label-value *ngIf="address.poBox"
  [label]="usersMessages.userAddressPoBox()"
  [value]="address.poBox"></label-value>
<label-value *ngIf="address.zip"
  [label]="usersMessages.userAddressZip()"
  [value]="address.zip"></label-value>
<label-value *ngIf="address.city"
  [label]="usersMessages.userAddressCity()"
  [value]="address.city"></label-value>
<label-value *ngIf="address.region"
  [label]="usersMessages.userAddressRegion()"
  [value]="address.region"></label-value>
<label-value *ngIf="address.country"
  [label]="usersMessages.userAddressCountry()"
  [value]="country"></label-value>
