<page-layout [loaded]="loaded"
  [title]="(loaded | async) ? title : null"
  [titleActions]="titleActions | async">
  <page-content *ngIf="(loaded | async) && user">
    <div>
      <image-viewer *ngIf="user.image"
        [image]="user.image"
        [additionalImages]="user.additionalImages"></image-viewer>
      <label-value *ngIf="user.name != null && user.name !== title"
        [label]="messages.userName()"
        [value]="user.name"></label-value>
      <label-value *ngIf="user.username"
        [label]="messages.userUsername()"
        [value]="user.username"></label-value>
      <label-value *ngIf="user.email"
        [label]="messages.userEmail()">
        <a [href]="'mailto:' + user.email"
          class="link-with-icon">
          <mat-icon>email</mat-icon>
          <span>
            {{ user.email }}
          </span>
        </a>
      </label-value>
      <label-value *ngFor="let phone of user.phones"
        [label]="phone.name">
        <a [href]="'tel:' + phone.normalizedNumber"
          class="link-with-icon">
          <mat-icon>
            {{ phone.type === 'mobile' ? 'smartphone' : 'phone'}}
          </mat-icon>
          <span>
            {{ phone.number }}
          </span>
        </a>
      </label-value>
      <custom-field-value *ngFor="let value of user.customValues"
        [fieldValue]="value">
      </custom-field-value>

      <ng-container *ngIf="actions.length > 0">
        <h2>{{ messages.userProfileActions() }}</h2>
        <div class="profileActions">
          <a *ngFor="let action of actions"
            class="action link-with-icon"
            href="#"
            (click)="action.onClick(); $event.preventDefault()">
            <mat-icon>{{ action.icon }}</mat-icon>
            {{ action.label }}
          </a>
        </div>
      </ng-container>

      <!-- Multiple addresses -->
      <ng-container *ngIf="(user.addresses || []).length > 1">
        <h2 class="addresses">{{ messages.userAddresses() }}</h2>
        <ng-container *ngTemplateOutlet="addressesMap"></ng-container>
        <ng-container *ngFor="let address of user.addresses; let first = first">
          <h3 [class]="first ? 'no-top-margin' : ''">{{ address['fullName'] || address.name }}</h3>
          <view-address-details [address]="address"
            [countries]="countries | async">
          </view-address-details>
        </ng-container>
      </ng-container>

      <!-- Single address -->
      <ng-container *ngIf="(user.addresses || []).length === 1">
        <h2 class="addresses">{{ messages.userAddress() }}</h2>
        <ng-container *ngTemplateOutlet="addressesMap"></ng-container>
        <view-address-details [address]="user.addresses[0]"
          [countries]="countries | async">
        </view-address-details>
      </ng-container>

      <!-- Contact infos -->
      <ng-container *ngIf="(user.contactInfos || []).length > 0">
        <h2 class="contact-infos">{{ messages.userContactInfos() }}</h2>
        <div class="contact-info"
          *ngFor="let contactInfo of user.contactInfos">
          <h3 fxHide.gt-xs>{{ contactInfo.name }}</h3>
          <image-viewer *ngIf="contactInfo.image"
            [image]="contactInfo.image"></image-viewer>
          <h3 fxHide.xs>{{ contactInfo.name }}</h3>
          <label-value *ngIf="contactInfo.email"
            [label]="messages.userEmail()">
            <a [href]="'mailto:' + contactInfo.email"
              class="link-with-icon">
              <mat-icon>email</mat-icon>
              <span>{{ contactInfo.email }}</span>
            </a>
          </label-value>
          <label-value *ngIf="contactInfo.mobilePhone"
            [label]="messages.phoneMobile()">
            <a [href]="'tel:' + contactInfo.normalizedMobilePhone"
              class="link-with-icon">
              <mat-icon>smartphone</mat-icon>
              <span>
                {{ contactInfo.mobilePhone }}
              </span>
            </a>
          </label-value>
          <label-value *ngIf="contactInfo.landLinePhone"
            [label]="messages.phoneLandLine()">
            <a [href]="'tel:' + contactInfo.normalizedLandLinePhone"
              class="link-with-icon">
              <mat-icon>phone</mat-icon>
              <span>
                {{ contactInfo.landLinePhone }}
              </span>
            </a>
            <ng-container *ngIf="contactInfo.landLineExtension">
              {{ messages.phoneExtensionNumber(contactInfo.landLineExtension) }}
            </ng-container>
          </label-value>
          <custom-field-value *ngFor="let value of contactInfo.customValues"
            [fieldValue]="value">
          </custom-field-value>
          <view-address-details *ngIf="contactInfo.address"
            [address]="contactInfo.address"
            [countries]="countries | async">
          </view-address-details>
        </div>
      </ng-container>
      <div class="clear-floats"></div>
    </div>
  </page-content>
</page-layout>

<ng-template #addressesMap>
  <div class="map-container"
    *ngIf="locatedAddresses.length > 0">
    <agm-map fxFlex="grow"
      [fitBounds]="addressMapFitBounds | async"
      [fullscreenControl]="true"
      maxZoom="17"
      (mapReady)="fitAddressesBounds()">
      <ng-container *ngFor="let addr of user.addresses">
        <agm-marker *ngIf="addr.location"
          [title]="addr.name"
          [label]="addr['label']"
          [latitude]="addr.location.latitude"
          [longitude]="addr.location.longitude">
          <agm-info-window>
            <h3 class="no-top-margin">{{ addr.name }}</h3>
            <div *ngIf="addr.addressLine1">{{ addr.addressLine1 }}</div>
            <div *ngIf="addr.addressLine2">{{ addr.addressLine2 }}</div>
            <div *ngIf="addr.street">
              {{ addr.street }}
              <ng-container *ngIf="addr.buildingNumber">, {{ addr.buildingNumber }}</ng-container>
              <ng-container *ngIf="addr.complement">, {{ addr.complement }}</ng-container>
            </div>
          </agm-info-window>
        </agm-marker>
      </ng-container>
    </agm-map>
  </div>
</ng-template>
