.contact-info {
  h2 {
    float: left;
  }
}
.addresses, .contact-infos {
  clear: both;
}

.map-container {
  float: right;
}
agm-map {
  height: 200px;
  width: 300px;
}

.profileActions a {
  margin-bottom: 8px;
}