<page-layout [loaded]="loaded"
  [title]="(loaded | async) ? title : null"
  [titleActions]="titleActions | async">
  <page-content *ngIf="(loaded | async) && user">
    <image-viewer *ngIf="user.image"
      [image]="user.image"
      [additionalImages]="user.additionalImages"></image-viewer>
    <label-value *ngIf="user.name != null && user.name !== title"
      [label]="messages.userName()"
      [value]="user.name"></label-value>
    <label-value *ngIf="user.username"
      [label]="messages.userUsername()"
      [value]="user.username"></label-value>
    <label-value *ngIf="user.email"
      [label]="messages.userEmail()">
      <a [href]="'mailto:' + user.email"
        class="link-with-icon">
        <mat-icon ngClass="mat-16">email</mat-icon>
        <span>
          {{ user.email }}
        </span>
      </a>
    </label-value>
    <label-value *ngFor="let phone of user.phones"
      [label]="phone.name">
      <a [href]="'tel:' + phone.normalizedNumber"
        class="link-with-icon">
        <mat-icon ngClass="mat-16">
          {{ phone.type === 'mobile' ? 'smartphone' : 'phone'}}
        </mat-icon>
        <span>
          {{ phone.number }}
        </span>
      </a>
    </label-value>
    <custom-field-value *ngFor="let value of user.customValues"
      [fieldValue]="value">
    </custom-field-value>

    <!-- Multiple addresses -->
    <ng-container *ngIf="(user.addresses || []).length > 1">
      <h2>{{ messages.userAddresses() }}</h2>
      <ng-container *ngFor="let address of user.addresses">
        <h3>{{ address.name }}</h3>
        <view-address-details [address]="address"
          [countries]="countries | async">
        </view-address-details>
      </ng-container>
    </ng-container>

    <!-- Single address -->
    <ng-container *ngIf="(user.addresses || []).length === 1">
      <h2>{{ messages.userAddress() }}</h2>
      <view-address-details [address]="user.addresses[0]"
        [countries]="countries | async">
      </view-address-details>
    </ng-container>

    <!-- Contact infos -->
    <ng-container *ngIf="(user.contactInfos || []).length > 0">
      <h2>{{ messages.userContactInfos() }}</h2>
      <div class="contact-info"
        *ngFor="let contactInfo of user.contactInfos">
        <h3 fxHide.gt-xs>{{ contactInfo.name }}</h3>
        <image-viewer *ngIf="contactInfo.image"
          [image]="contactInfo.image"></image-viewer>
        <h3 fxHide.xs>{{ contactInfo.name }}</h3>
        <label-value *ngIf="contactInfo.email"
          [label]="messages.userEmail()">
          <a [href]="'mailto:' + contactInfo.email"
            class="link-with-icon">
            <mat-icon ngClass="mat-16">email</mat-icon>
            <span>{{ contactInfo.email }}</span>
          </a>
        </label-value>
        <label-value *ngIf="contactInfo.mobilePhone"
          [label]="messages.phoneMobile()">
          <a [href]="'tel:' + contactInfo.normalizedMobilePhone"
            class="link-with-icon">
            <mat-icon ngClass="mat-16">smartphone</mat-icon>
            <span>
              {{ contactInfo.mobilePhone }}
            </span>
          </a>
        </label-value>
        <label-value *ngIf="contactInfo.landLinePhone"
          [label]="messages.phoneLandLine()">
          <a [href]="'tel:' + contactInfo.normalizedLandLinePhone"
            class="link-with-icon">
            <mat-icon ngClass="mat-16">phone</mat-icon>
            <span>
              {{ contactInfo.landLinePhone }}
            </span>
          </a>
          <ng-container *ngIf="contactInfo.landLineExtension">
            {{ messages.phoneExtensionNumber(contactInfo.landLineExtension) }}
          </ng-container>
        </label-value>
        <custom-field-value *ngFor="let value of contactInfo.customValues"
          [fieldValue]="value">
        </custom-field-value>
        <view-address-details *ngIf="contactInfo.address"
          [address]="contactInfo.address"
          [countries]="countries | async">
        </view-address-details>
      </div>
    </ng-container>
    <div class="clear-floats"></div>
  </page-content>
</page-layout>
