<page-layout [ready]="data$ | async">
  <page-content *ngIf="user != null" [heading]="title" [headingActions]="titleActions$ | async">

    <div *ngIf="user.image && (layout.ltsm$ | async)" class="image d-flex justify-content-center mb-4">
      <avatar size="160" imageSize="200" useLightbox [image]="user.image"
        [additionalImages]="user.additionalImages"></avatar>
    </div>

    <div class="d-flex flex-row-reverse">
      <div *ngIf="(layout.gtxs$ | async)" class="image ml-4">
        <avatar [size]="user.image ? 200 : 128" iconSize="128px" useLightbox
          [image]="user.image" [additionalImages]="user.additionalImages"></avatar>
      </div>
      <div class="d-flex flex-grow-1 flex-column">
        <label-value *ngIf="user.name" i18n-label label="Full name" [value]="user.name"></label-value>
        <label-value *ngIf="user.username" i18n-label label="Login name"
          [value]="user.username"></label-value>
        <label-value *ngIf="user.email" i18n-label label="E-mail">
          <a [href]="'mailto:' + user.email" class="link-with-icon">
            <icon icon="email"></icon>
            <span>{{ user.email }}</span>
          </a>
        </label-value>
        <label-value *ngIf="mobilePhone" i18n-label label="Mobile phone">
          <a [href]="'tel:' + mobilePhone.normalizedNumber" class="link-with-icon">
            <icon icon="smartphone"></icon>
            <span>{{ mobilePhone.number }}</span>
          </a>
        </label-value>
        <label-value *ngFor="let phone of mobilePhones" [label]="phone.name">
          <a [href]="'tel:' + phone.normalizedNumber" class="link-with-icon">
            <icon icon="smartphone"></icon>
            <span>{{ phone.number }}</span>
          </a>
        </label-value>
        <label-value *ngIf="landLinePhone" i18n-label label="Land-line phone">
          <a [href]="'tel:' + landLinePhone.normalizedNumber" class="link-with-icon">
            <icon icon="phone"></icon>
            <span>{{ landLinePhone.number }}</span>
          </a>
        </label-value>
        <label-value *ngFor="let phone of landLinePhones" [label]="phone.name">
          <a [href]="'tel:' + phone.normalizedNumber" class="link-with-icon">
            <icon icon="phone"></icon>
            <span>{{ phone.number }}</span>
          </a>
        </label-value>
        <custom-field-value *ngFor="let value of user.customValues"
          [fieldValue]="value"></custom-field-value>
      </div>
    </div>
    <div class="d-flex flex-grow-1 flex-column">
      <ng-container *ngIf="actions.length > 0">
        <h2 class="mt-3 mb-2" i18n>Actions</h2>
        <div class="profileActions">
          <a *ngFor="let action of actions; let first = first" class="action link-with-icon mt-1"
            href="#" (click)="action.onClick(); $event.preventDefault()">
            <icon [icon]="action.icon"></icon>
            <span>{{ action.label }}</span>
          </a>
        </div>
      </ng-container>

      <!-- Multiple addresses -->
      <ng-container *ngIf="(user.addresses || []).length > 1">
        <h2 class="mt-3" i18n>Addresses</h2>
        <div class="row">
          <div *ngIf="layout.ltsm$ | async" class="col col-12 mb-3">
            <ng-container *ngTemplateOutlet="addressesMap"></ng-container>
          </div>
          <div class="col col-12 col-md-6 col-xl-5">
            <ng-container *ngFor="let address of user.addresses; let first = first">
              <h3 class="mb-0" [ngClass]="{'mt-0': first, 'mt-3': !first}">{{
                address['fullName']
                || address.name }}</h3>
              <address-details [address]="address"></address-details>
            </ng-container>
          </div>
          <div *ngIf="layout.gtxs$ | async" class="col col-md-6 col-xl-7 mt-3">
            <ng-container *ngTemplateOutlet="addressesMap"></ng-container>
          </div>
        </div>
      </ng-container>

      <!-- Single address -->
      <ng-container *ngIf="(user.addresses || []).length === 1">
        <h2 class="mt-3" i18n>Address</h2>
        <div class="row">
          <div class="col col-12 col-md-6 col-xl-5 mb-3">
            <address-details [address]="user.addresses[0]"></address-details>
          </div>
          <div class="col col-12 col-md-6 col-xl-7">
            <ng-container *ngTemplateOutlet="addressesMap"></ng-container>
          </div>
        </div>
      </ng-container>

      <!-- Contact infos -->
      <ng-container *ngIf="(user.contactInfos || []).length > 0">
        <h2 class="mt-3" i18n>Additional contact information</h2>
        <div *ngFor="let contactInfo of user.contactInfos; let first=first">
          <div class="d-flex" [ngClass]="{'mt-0': first, 'mt-3': !first}">
            <div class="flex-grow-1">
              <h3>{{ contactInfo.name }}</h3>
              <div *ngIf="contactInfo.image && (layout.ltsm$ | async)" class="d-flex justify-content-center mb-4">
                <avatar size="160" imageSize="200" useLightbox [image]="contactInfo.image"></avatar>
              </div>
              <label-value *ngIf="contactInfo.email" i18n-label label="E-mail">
                <a [href]="'mailto:' + contactInfo.email" class="link-with-icon">
                  <icon icon="email"></icon>
                  <span>{{ contactInfo.email }}</span>
                </a>
              </label-value>
              <label-value *ngIf="contactInfo.mobilePhone" i18n-label label="Mobile phone">
                <a [href]="'tel:' + contactInfo.normalizedMobilePhone" class="link-with-icon">
                  <icon icon="smartphone"></icon>
                  <span>{{ contactInfo.mobilePhone }}</span>
                </a>
              </label-value>
              <label-value *ngIf="contactInfo.landLinePhone" i18n-label label="Land-line phone">
                <a [href]="'tel:' + contactInfo.normalizedLandLinePhone"
                  class="link-with-icon">
                  <icon icon="phone"></icon>
                  <span>{{ contactInfo.landLinePhone }}</span>
                </a>
                <ng-container *ngIf="contactInfo.landLineExtension" i18n>
                  ext. {{ contactInfo.landLineExtension }}
                </ng-container>
              </label-value>
              <custom-field-value *ngFor="let value of contactInfo.customValues"
                [fieldValue]="value">
              </custom-field-value>
              <ng-container *ngIf="contactInfo.address">
                <label-value i18n-label label="Address">
                  <address-details [address]="contactInfo.address"></address-details>
                </label-value>
              </ng-container>
            </div>
            <ng-container *ngIf="layout.gtxs$ | async">
              <avatar *ngIf="contactInfo.image; else emptySpace" size="200"
                useLightbox [image]="contactInfo.image"></avatar>
              <ng-template #emptySpace>
                <!-- Need this empty space to make contact infos with and without image take the same space -->
                <div style="width: 200px; height: 200px"></div>
              </ng-template>
            </ng-container>
          </div>
        </div>
      </ng-container>
    </div>
  </page-content>
</page-layout>

<ng-template #addressesMap>
  <div class="map-container" *ngIf="locatedAddresses.length > 0">
    <agm-map [fitBounds]="addressMapFitBounds$ | async" [fullscreenControl]="true"
      maxZoom="17" (mapReady)="fitAddressesBounds()">
      <ng-container *ngFor="let addr of user.addresses">
        <agm-marker *ngIf="addr.location" [title]="addr.name" [label]="addr['label']"
          [latitude]="addr.location.latitude" [longitude]="addr.location.longitude">
          <agm-info-window>
            <h3 class="mt-0">{{ addr.name }}</h3>
            <address-details [address]="addr"></address-details>
          </agm-info-window>
        </agm-marker>
      </ng-container>
    </agm-map>
  </div>
</ng-template>
