<page-layout [ready]="data$ | async">
  <ng-container *ngIf="data">
    <page-content mode="view" [heading]="i18n.operatorGroup.title.view"
      [mobileHeading]="i18n.operatorGroup.mobileTitle.view"
      [headingActions]="headingActions$ | async">
      <div class="col-12 col-md-6" *ngIf="!self">
        <label-value [label]="i18n.general.user" kind="fieldView"
          labelPosition="side">
          <user-link [user]="data.user"></user-link>
        </label-value>
      </div>
    </page-content>
  </ng-container>
</page-layout>
