<ng-container [formGroup]="form">
  <label-value *ngIf="fromUser && !fromSelf" kind="fieldView"
    [label]="i18n.transaction.fromUser">
    <user-link [user]="fromUser"></user-link>
  </label-value>

  <ng-container *ngIf="singleAccount; else multipleAccounts">
    <label-value *ngIf="singleAccount.status"
      [label]="accountBalanceLabel$ | async" kind="fieldView"
      labelPosition="sideForced" noWrapLabel>
      <!-- Single account -->
      <div class="w-100 text-nowrap text-right text-xs-left font-weight-bold"
        [ngClass]="{
          positive: format.isPositive(singleAccount.status.balance),
          negative: format.isNegative(singleAccount.status.balance),
          'text-right': layout.ltsm$ | async
        }">
        {{ singleAccount.status.balance | currency:singleAccount.currency }}
      </div>
    </label-value>
  </ng-container>
  <ng-template #multipleAccounts>
    <!-- Multiple accounts -->
    <label-value
      [label]="pos ? i18n.transaction.toAccount : i18n.transaction.fromAccount"
      required kind="field">
      <div class="w-100 row no-gutters mb-2"
        *ngFor="let account of data.accounts">
        <div [class]="pos ? 'col' : 'col-7 col-sm-8 col-md-5'">
          <div class="custom-control custom-radio">
            <input #radio type="radio" formControlName="account"
              class="custom-control-input" [id]="'from_' + account.id"
              (keyup.enter)="radio.click()" [value]="account.type.id">
            <label class="custom-control-label" [for]="'from_' + account.id">
              <div class="ml-1">
                {{ account.type.name }}
                <ng-container *ngIf="account.number">
                  <br *ngIf="layout.ltsm$ | async; else separator">
                  <ng-template #separator> - </ng-template>
                  {{ account.number }}
                </ng-container>
              </div>
            </label>
          </div>
        </div>
        <div *ngIf="!pos && account.status"
          class="col-5 col-sm-4 col-md-7 pl-2 text-right text-xs-left font-weight-bold"
          [ngClass]="{
            positive: format.isPositive(account.status.balance),
            negative: format.isNegative(account.status.balance)
          }">
          {{ account.status.balance | currency:account.currency }}
        </div>
      </div>
      <field-errors [control]="form.get('account')"></field-errors>
    </label-value>
  </ng-template>

  <label-value *ngIf="!fixedDestination" kind="field" required
    [label]="pos ? i18n.transaction.fromUser : i18n.transaction.toUser">
    <single-selection-field focused formControlName="subject"
      *ngIf="fixedUsersList; else toUserField">
      <!-- A fixed user list to pay to. Generally only applicable to restricted operators -->
      <field-option *ngFor="let user of data.allowedUsers" [value]="user.id"
        [text]="user.display"></field-option>
    </single-selection-field>
    <ng-template #toUserField>
      <user-field #toUser focused [autoSearch]="!allowPrincipal"
        [filters]="{usersToExclude: fromUser && !fromSelf ? [fromParam] : null}"
        formControlName="subject" [allowContacts]="allowContacts"
        [allowSearch]="allowSearch" [allowPrincipal]="allowPrincipal"
        [allowQrCode]="allowQrCode" [principalTypes]="data.principalTypes"
        [allowLocate]="data.allowAutocomplete"
        (selected)="$event ? setFocus(amountField) : null"></user-field>
    </ng-template>
  </label-value>

  <label-value *ngIf="fixedDestination && toUser && !toSelf" kind="fieldView"
    [label]="i18n.transaction.toUser">
    <user-link [user]="toUser"></user-link>
  </label-value>

  <single-selection-field #type formControlName="type"
    *ngIf="(paymentTypes$ | async)?.length > 1" required
    [label]="i18n.transaction.type">
    <field-option *ngFor="let pt of paymentTypes$ | async" [value]="pt.id"
      [text]="pt.name"></field-option>
  </single-selection-field>

  <label-value kind="fieldView"
    *ngIf="(paymentTypeData$ | async)?.fixedAmount; else amountTemplate"
    [label]="i18n.transaction.amount">
    {{ paymentTypeData$.value.fixedAmount |
    currency:paymentTypeData$.value.currency }}
  </label-value>
  <ng-template #amountTemplate>
    <decimal-field #amount [focused]="fixedDestination"
      formControlName="amount" required [label]="i18n.transaction.amount"
      [scale]="currency?.decimalDigits" [prefix]="currency?.prefix"
      [suffix]="currency?.suffix">
    </decimal-field>
  </ng-template>

  <custom-field-input
    *ngFor="let cf of (paymentTypeData$ | async)?.customFields" [field]="cf"
    [formControl]="customValuesControlGetter(cf)"></custom-field-input>

  <single-selection-field formControlName="scheduling" required
    [label]="i18n.transaction.scheduling"
    *ngIf="(paymentTypeData$ | async)?.allowsRecurringPayments || (paymentTypeData$ | async)?.maxInstallments > 0">
    <field-option value="direct" [text]="i18n.transaction.schedulingDirect">
    </field-option>
    <field-option *ngIf="paymentTypeData$.value?.maxInstallments > 0"
      value="futureDate" [text]="i18n.transaction.schedulingSingle">
    </field-option>
    <field-option *ngIf="paymentTypeData$.value?.maxInstallments > 1"
      value="scheduled" [text]="i18n.transaction.schedulingInstallments">
    </field-option>
    <field-option *ngIf="paymentTypeData$.value?.allowsRecurringPayments"
      value="recurring" [text]="i18n.transaction.schedulingRecurring">
    </field-option>
  </single-selection-field>

  <ng-container [ngSwitch]="form.value.scheduling">

    <date-field *ngSwitchCase="'futureDate'"
      formControlName="firstInstallmentDate" required
      [label]="i18n.transaction.dueDate" minDate="tomorrow" maxDate="future5">
    </date-field>

    <ng-container *ngSwitchCase="'scheduled'">
      <input-field type="number" fieldSize="small" required numbersOnly
        formControlName="installmentsCount"
        [label]="i18n.transaction.installmentsCount">
      </input-field>

      <radio-group-field formControlName="firstInstallmentIsNow"
        [label]="i18n.transaction.firstInstallment">
        <field-option [value]="true" [text]="i18n.general.now"></field-option>
        <field-option [value]="false" [text]="i18n.general.futureDate">
        </field-option>
      </radio-group-field>

      <date-field *ngIf="form.value.firstInstallmentIsNow === false"
        formControlName="firstInstallmentDate" required
        [label]="i18n.transaction.firstInstallmentDate" minDate="tomorrow"
        maxDate="future5">
      </date-field>
    </ng-container>

    <ng-container *ngSwitchCase="'recurring'">
      <radio-group-field formControlName="firstOccurrenceIsNow"
        [label]="i18n.transaction.firstOccurrence">
        <field-option [value]="true" [text]="i18n.general.now"></field-option>
        <field-option [value]="false" [text]="i18n.general.futureDate">
        </field-option>
      </radio-group-field>

      <date-field *ngIf="form.value.firstOccurrenceIsNow === false"
        formControlName="firstOccurrenceDate" minDate="tomorrow" required
        minDate="tomorrow" maxDate="future5"
        [label]="i18n.transaction.firstOccurrenceDate">
      </date-field>

      <radio-group-field formControlName="repeatUntilCanceled"
        [label]="i18n.transaction.repeatUntil">
        <field-option [value]="true"
          [text]="i18n.transaction.repeatUntilManual"></field-option>
        <field-option [value]="false"
          [text]="i18n.transaction.repeatUntilFixed"></field-option>
      </radio-group-field>

      <input-field *ngIf="form.value.repeatUntilCanceled === false"
        type="number" fieldSize="small" numbersOnly
        formControlName="occurrencesCount" required
        [label]="i18n.transaction.occurrencesCount">
      </input-field>

      <time-interval-field formControlName="occurrenceInterval"
        [label]="i18n.transaction.occurrenceInterval" required>
      </time-interval-field>
    </ng-container>
  </ng-container>

  <ng-container
    *ngIf="(paymentTypeData$ | async)?.descriptionAvailability || 'disabled' as descriptionAvailability">
    <textarea-field *ngIf="descriptionAvailability !== 'disabled'"
      [required]="descriptionAvailability === 'required'"
      formControlName="description" required
      [label]="i18n.general.description"></textarea-field>
  </ng-container>

</ng-container>
