<div class="content">
  <p [innerHTML]="message | trust"></p>
  <p
    [innerHTML]="i18n.unsubscribe.messageSettings(data.notificationSettingsUrl) | trust">
  </p>
  <p [innerHTML]="i18n.unsubscribe.messageConfirm | trust">
  </p>
</div>
<div class="actions actions-primary">
  <action-button [label]="i18n.unsubscribe.messageYes"
    [disabled]="state.processing$ | async" (action)="state.unsubscribe()">
  </action-button>
  <action-button [label]="i18n.unsubscribe.messageNo" outline
    (action)="state.exit()"></action-button>
</div>
