<form [formGroup]="form"
  fxLayout="column">
  <h1 class="no-top-margin">{{ messages.passwordChangeTitle(type.name) }}</h1>
  <mat-form-field>
    <input matInput
      type="password"
      formControlName="oldPassword"
      required
      focused
      [placeholder]="messages.passwordChangeOld()" />
    <mat-error>
      {{ form.get('oldPassword').getError('message') }}
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput
      type="password"
      formControlName="newPassword"
      required
      [placeholder]="messages.passwordChangeNew()" />
    <mat-error>
      {{ form.get('newPassword').getError('message') }}
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput
      type="password"
      formControlName="newPasswordConfirmation"
      required
      [placeholder]="messages.passwordChangeNew()" />
    <mat-error>
      {{ form.get('newPasswordConfirmation').getError('message') }}
    </mat-error>
  </mat-form-field>
  <actions buttonSpace="equidistant">
    <button mat-raised-button
      color="accent"
      [disabled]="!form.valid"
      (click)="submit()">{{ messages.submit() }}</button>
    <button mat-raised-button
      (click)="dialogRef.close(false)">{{ messages.cancel() }}</button>
  </actions>
</form>
