<page-layout [title]="messages.userPasswords()"
  [loaded]="loaded">
  <page-content *ngIf="loaded | async">
    <tiled-results *ngIf="data.passwords.length > 0; else noResults">
      <tiled-result *ngFor="let password of data.passwords"
        [title]="password.type.name"
        icon="vpn_key"
        [actions]="actions(password)"
        fxFlex="nogrow">
        <div *ngIf="password.status; else blankLine"
          class="tile-data">
          {{ status(password) }}
        </div>
        <div *ngIf="password.date; else blankLine"
          class="tile-data">
          {{ messages.passwordDate(password.date | dateTime) }}
        </div>
      </tiled-result>
    </tiled-results>
  </page-content>
</page-layout>
<ng-template #blankLine>
  <div class="tile-data">
    <br>
  </div>
</ng-template>
<ng-template #noResults>
  <div class="no-results">{{ messages.searchNoResults() }}</div>
</ng-template>
