@import 'src/definitions';

.balance {
  display: flex;
  margin: 0.2rem auto 0.8rem auto;
  line-height: 2rem;
  padding: 0 0.5rem;
}

.balance-label {
  font-size: 1rem;
  @include text-truncate();
  text-align: left;
  padding-right: 1rem;
}

.balance-value {
  font-size: 1.1em;
  flex-grow: 1;
  text-align: right;
  padding-right: 1em;
  white-space: nowrap;
}
