<page-content [heading]="i18n.dashboard.accounts" hideBack>
  <div class="row no-gutters flex-grow-1">
    <ng-container *ngFor="let account of accounts; let i = index">
      <div class="col" [ngClass]="cellClass(i)">
        <div class="balance">
          <div class="balance-label">
            <a href="#" class="account-name" (click)="menu.navigate({
                entry: this.menu.accountEntry(account.account.type),
                clear: false,
                event: $event
              })" [tooltip]="account.account.type.name">
              {{ account.account.type.name }}
            </a>
          </div>
          <div class="balance-value" *ngIf="account.account.status" [ngClass]="{
            negative: format.isNegative(account.account.status.balance),
            positive: format.isPositive(account.account.status.balance)
            }">
            {{ account.account.status.balance | currency:account.account.currency }}
          </div>
        </div>
        <div class="px-3">
          <canvas balanceHistoryChart [account]="account" class="mw-100"
            [width]="chartWidth(i)" [height]="chartHeight(i)"
            [darkTheme]="(layout.theme$ | async) === 'dark'"></canvas>
        </div>
      </div>
    </ng-container>
  </div>
</page-content>
