<page-content [heading]="i18n.dashboard.latestAds" hideBack
  [headingActions]="headingActions$ | async">
  <div class="container">
    <div class="row">
      <ng-container *ngFor="let ad of ads">
        <div class="col-12 col-xs-6 col-sm-4">
          <a class="d-flex flex-column undecorated" [routerLink]="path(ad)"
            (click)="navigate(ad, $event)">
            <div class="text-center">
              <div class="images">
                <avatar [roundBorders]="false" class="main-image" size="huge"
                  [image]="ad.image"></avatar>
              </div>
            </div>
            <div class="content-text" [title]="ad.name">
              {{ ad.name }}
            </div>
          </a>
        </div>
      </ng-container>
    </div>
  </div>
</page-content>
