<page-content [heading]="i18n.dashboard.latestUsers" hideBack
  [headingActions]="headingActions$ | async">
  <div class="container">
    <div class="row">
      <ng-container *ngFor="let user of users">
        <div class="col-12 col-xs-6 col-lg-4">
          <a class="d-flex flex-column undecorated" [routerLink]="path(user)"
            (click)="navigate(user, $event)">
            <div class="text-center">
              <div class="images">
                <avatar [roundBorders]="false" class="main-image" size="huge"
                  [image]="user.image"></avatar>
              </div>
            </div>
            <div class="content-text" [title]="user.display">
              {{ user.display }}
            </div>
          </a>
        </div>
      </ng-container>
    </div>
  </div>
</page-content>
