<h1 mat-dialog-title>{{ title }}</h1>
<mat-dialog-content>
  <form [formGroup]="form"
    fxLayout="column">
    <div *ngIf="id"
      tdFileDrop
      (fileDrop)="uploadImage($event)"
      class="imageWrapper"
      fxLayout="row"
      fxLayoutAlign="center center"
      fxLayoutGap="24px">
      <div class="imageHolder"
        fxFlex="grow"
        fxLayout="row"
        fxLayoutAlign="end end">
        <avatar size="huge"
          [image]="image | async"
          icon="account_circle"
          iconColor="accent"></avatar>
      </div>
      <div class="imageActions"
        fxFlex="grow"
        fxLayout="column"
        fxLayoutAlign="start start">
        <a href="#"
          (click)="fileInput.inputElement.click();$event.preventDefault()">{{ messages.contactInfoUploadNewImage() }}</a>
        <td-file-input #fileInput
          style="display:none"
          (select)="uploadImage($event)">
        </td-file-input>

        <ng-container *ngIf="image | async">
          <br>
          <a href="#"
            (click)="removeImage();$event.preventDefault()">
            {{ messages.contactInfoRemoveImage() }}
          </a>
        </ng-container>
      </div>
    </div>
    <mat-form-field>
      <input matInput
        formControlName="name"
        required
        focused
        [placeholder]="messages.name()" />
      <mat-error>
        {{ form.get('name').getError('message') }}
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput
        formControlName="email"
        [placeholder]="messages.userEmail()" />
      <mat-error>
        {{ form.get('email').getError('message') }}
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput
        formControlName="landLinePhone"
        [placeholder]="messages.phoneLandLine()" />
      <mat-error>
        {{ form.get('landLinePhone').getError('message') }}
      </mat-error>
    </mat-form-field>
    <mat-form-field *ngIf="data.phoneConfiguration.extensionEnabled">
      <input matInput
        formControlName="landLineExtension"
        [placeholder]="messages.phoneExtension()" />
      <mat-error>
        {{ form.get('landLineExtension').getError('message') }}
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput
        formControlName="mobilePhone"
        [placeholder]="messages.phoneMobile()" />
      <mat-error>
        {{ form.get('mobilePhone').getError('message') }}
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-select formControlName="address"
        [placeholder]="messages.userAddress()">
        <mat-option></mat-option>
        <mat-option *ngFor="let addr of data.addresses"
          [value]="addr.id">
          {{ addr.name }}
        </mat-option>
      </mat-select>
      <mat-error>
        {{ form.get('address').getError('message') }}
      </mat-error>
    </mat-form-field>

    <ng-container [formGroup]="form.get('customValues')">
      <ng-container *ngFor="let cf of data.customFields">
        <custom-field-input fxFlex="grow"
          fxLayout="column"
          [field]="cf"
          [formControlName]="cf.internalName">
        </custom-field-input>
      </ng-container>
    </ng-container>

    <mat-checkbox formControlName="hidden">{{ messages.contactInfoPrivate() }}</mat-checkbox>

    <confirmation-password *ngIf="data.confirmationPasswordInput"
      formControlName="confirmationPassword"
      [passwordInput]="data.confirmationPasswordInput"
      [message]="messages.phoneConfirmationPassword()"></confirmation-password>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <actions>
    <button mat-raised-button
      (click)="dialogRef.close(imageModified)">{{ messages.cancel() }}</button>
    <button mat-raised-button
      color="accent"
      [disabled]="!form.valid"
      (click)="save()">{{ messages.save() }}</button>
  </actions>
</mat-dialog-actions>
