<form [formGroup]="form"
  fxLayout="column">
  <h1 class="no-top-margin">{{ title }}</h1>
  <div *ngIf="id"
    tdFileDrop
    (fileDrop)="uploadImage($event)"
    class="imageWrapper"
    fxLayout="row">
    <div class="spacer"
      fxFlex="1 1 35%"></div>
    <div class="imageHolder"
      fxFlex="1 1 30%"
      fxLayout="row"
      fxLayoutAlign="center center">
      <avatar size="huge"
        [image]="image | async"
        *ngIf="image | async"></avatar>
    </div>
    <div class="imageActions"
      fxFlex="1 1 35%"
      fxLayout="column"
      fxLayoutAlign="space-between end">
      <td-file-input #fileInput
        (select)="uploadImage($event)">
        <mat-icon ngClass="mat22">add_a_photo</mat-icon>
        {{ messages.contactInfoUploadNewImage() }}
      </td-file-input>
      <button *ngIf="image | async"
        mat-raised-button
        (click)="removeImage()">
        <mat-icon ngClass="mat22">delete</mat-icon>
        {{ messages.contactInfoRemoveImage() }}
      </button>
    </div>
  </div>
  <mat-form-field>
    <input matInput
      formControlName="name"
      required
      focused
      [placeholder]="messages.name()" />
    <mat-error>
      {{ form.get('name').getError('message') }}
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput
      formControlName="email"
      [placeholder]="messages.userEmail()" />
    <mat-error>
      {{ form.get('email').getError('message') }}
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput
      formControlName="landLinePhone"
      [placeholder]="messages.phoneLandLine()" />
    <mat-error>
      {{ form.get('landLinePhone').getError('message') }}
    </mat-error>
  </mat-form-field>
  <mat-form-field *ngIf="data.phoneConfiguration.extensionEnabled">
    <input matInput
      formControlName="landLineExtension"
      [placeholder]="messages.phoneExtension()" />
    <mat-error>
      {{ form.get('landLineExtension').getError('message') }}
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput
      formControlName="mobilePhone"
      [placeholder]="messages.phoneMobile()" />
    <mat-error>
      {{ form.get('mobilePhone').getError('message') }}
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-select formControlName="address"
      [placeholder]="messages.userAddress()">
      <mat-option></mat-option>
      <mat-option *ngFor="let addr of data.addresses"
        [value]="addr.id">
        {{ addr.name }}
      </mat-option>
    </mat-select>
    <mat-error>
      {{ form.get('address').getError('message') }}
    </mat-error>
  </mat-form-field>

  <ng-container [formGroup]="form.get('customValues')">
    <ng-container *ngFor="let cf of data.customFields">
      <custom-field-input fxFlex="grow"
        fxLayout="column"
        [field]="cf"
        [formControlName]="cf.internalName">
      </custom-field-input>
    </ng-container>
  </ng-container>

  <mat-checkbox formControlName="hidden">{{ messages.contactInfoPrivate() }}</mat-checkbox>

  <actions buttonSpace="equidistant">
    <button mat-raised-button
      color="accent"
      [disabled]="!form.valid"
      (click)="save()">{{ messages.save() }}</button>
    <button mat-raised-button
      (click)="dialogRef.close(imageModified)">{{ messages.cancel() }}</button>
  </actions>
</form>
