<page-layout [title]="messages.userContactInfos()"
  [loaded]="loaded">
  <page-content *ngIf="loaded | async">
    <tiled-results *ngIf="data.contactInfos.length > 0; else noResults">
      <tiled-result *ngFor="let contactInfo of data.contactInfos"
        [title]="contactInfo.name"
        icon="account_circle"
        [image]="contactInfo.image"
        [actions]="actions(contactInfo)"
        fxFlex="nogrow">
        <div *ngIf="contactInfo.address; else blankLine"
          class="tile-data">
          {{ contactInfo.address.name }}
        </div>
        <div *ngIf="contactInfo.email; else blankLine"
          class="tile-data">
          <a [href]="'mailto:' + contactInfo.email"
            class="link-with-icon">
            <mat-icon>email</mat-icon>{{ contactInfo.email }}</a>
        </div>
        <div *ngIf="contactInfo.mobilePhone; else blankLine"
          class="tile-data">
          <a *ngIf="contactInfo.mobilePhone"
            [href]="'tel:' + contactInfo.mobilePhone"
            class="link-with-icon">
            <mat-icon>smartphone</mat-icon>{{ contactInfo.mobilePhone }}</a>
        </div>
        <div *ngIf="contactInfo.landLinePhone; else blankLine"
          class="tile-data">
          <a [href]="'tel:' + contactInfo.landLinePhone"
            class="link-with-icon">
            <mat-icon>phone</mat-icon>{{ contactInfo.landLinePhone }}</a>
          <ng-container *ngIf="contactInfo.landLineExtension">
            {{ messages.phoneExtensionNumber(contactInfo.landLineExtension) }}
          </ng-container>
        </div>
        <div class="tile-data">
          {{ contactInfo.hidden ? messages.visibilityPrivate() : messages.visibilityPublic()
          }}
        </div>
      </tiled-result>
    </tiled-results>
    <fab *ngIf="data.canManage"
      icon="add"
      (click)="createNew()">
    </fab>
  </page-content>
</page-layout>
<ng-template #blankLine>
  <div class="tile-data">
    <br>
  </div>
</ng-template>
<ng-template #noResults>
  <div class="no-results">{{ messages.contactInfoNoResults() }}</div>
</ng-template>
