<page-layout [title]="messages.userContactInfos()"
  [loaded]="loaded">
  <page-content *ngIf="loaded | async">
    <tiled-results>
      <tiled-result *ngFor="let contactInfo of data.contactInfos"
        [title]="contactInfo.name"
        icon="account_circle"
        [image]="contactInfo.image"
        [actions]="actions(contactInfo)"
        fxFlex="nogrow">
        <div *ngIf="contactInfo.email; else blankLine">
          <a [href]="'mailto:' + contactInfo.email">{{ contactInfo.email }}</a>
        </div>
        <div *ngIf="contactInfo.address; else blankLine">
          {{ contactInfo.address.name }}
        </div>
        <div *ngIf="contactInfo.mobilePhone != null || contactInfo.landLinePhone != null; else blankLine">
          <a *ngIf="contactInfo.mobilePhone"
            [href]="'tel:' + contactInfo.mobilePhone">{{ contactInfo.mobilePhone }}</a>
          <ng-container *ngIf="contactInfo.mobilePhone != null && contactInfo.landLinePhone != null">
            /
          </ng-container>
          <ng-container *ngIf="contactInfo.landLinePhone">
            <a [href]="'tel:' + contactInfo.landLinePhone">{{ contactInfo.landLinePhone }}</a>
            <ng-container *ngIf="contactInfo.landLineExtension">
              {{ messages.phoneExtensionNumber(contactInfo.landLineExtension) }}
            </ng-container>
          </ng-container>
          <div>
            {{ contactInfo.hidden ? messages.visibilityPrivate() : messages.visibilityPublic()
            }}
          </div>
        </div>
      </tiled-result>
    </tiled-results>
    <fab *ngIf="data.canManage"
      icon="add"
      (click)="createNew()">
    </fab>
  </page-content>
</page-layout>
<ng-template #blankLine>
  <br>
</ng-template>
