<ng-container *ngIf="initialized | async; else loading">
  <snack-bar #snackBar></snack-bar>
  <sidenav #sidenav></sidenav>
  <div class="root-container">
    <top-bar [user]="login.user$ | async" [principal]="(login.auth$ | async)?.principal"
      (toggleSidenav)="sidenav.toggle()"></top-bar>
    <menu-bar [ngClass]="{'d-none': layout.ltlg$ | async}" [activeRoot]="menu.activeRootMenu$ | async"></menu-bar>
    <div class="main-container d-flex flex-column flex-grow-1" [ngClass]="{
        'max-container-widths': (layout.gtsm$ | async) && !(layout.fullWidth$ | async)
      }">
      <router-outlet *ngIf="!(loggingOut | async)"></router-outlet>
    </div>
  </div>
</ng-container>
<ng-template #loading>
  <spinner></spinner>
</ng-template>
