<!-- The personal menu is initially hidden -->
<personal-menu #personalMenu></personal-menu>

<div *ngIf="!(initialized | async)"
  class="app-loading">
  <mat-progress-spinner color="accent"
    mode="indeterminate"></mat-progress-spinner>
</div>

<ng-container *ngIf="initialized | async">

  <!-- Top bars shown in desktop layout -->
  <top-bar *ngIf="layout.gtsm"
    (togglePersonalMenu)="personalMenu.toggle($event)"></top-bar>
  <menu-bar *ngIf="layout.gtsm"></menu-bar>

  <!-- The sidenav is used only on mobile.
    However we need a single router-outlet, or resizing a browser window
    will cause weird effects -->
  <mat-sidenav-container>
    <mat-sidenav #sidenav
      mode="over">
      <sidenav-menu fxLayout="column"
        [sidenav]="sidenav"></sidenav-menu>
    </mat-sidenav>
    <top-bar [sidenav]="sidenav"
      *ngIf="layout.ltmd"
      (togglePersonalMenu)="personalMenu.toggle($event)"></top-bar>
    <div fxLayout="row"
      fxFlex="grow"
      class="main">
      <router-outlet *ngIf="!(loggingOut | async)"></router-outlet>
    </div>
  </mat-sidenav-container>

</ng-container>
