@import 'src/definitions';

:host {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-loading {
  opacity: 0.6;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

// Sidenav
:host /deep/ .mat-sidenav-container {
  flex: 1 1 100%;
}
:host /deep/ .mat-drawer-content {
  overflow: visible;
}
.lt-md :host /deep/ .mat-drawer-content {
  width: 100%;
  flex-direction: column !important;
}
.gt-sm :host /deep/ .mat-drawer-content {
  max-width: $max-layout-width;
  margin-left: auto !important;
  margin-right: auto !important;
  flex-direction: row !important;
}

// Main area
.gt-sm :host /deep/ .main {
  padding: $parts-margin 0;
}
@media (max-width: $max-layout-width + 16px) {
  .md :host /deep/ .main {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.sm :host /deep/ .main {
  padding: 12px;
}
.xs :host /deep/ .main {
  padding: 12px 8px 8px 8px;
}

:host /deep/ .main > * {
  flex: 1 1 100%;
}
:host /deep/ .main > router-outlet {
  display: none;
}
