<ng-container *ngIf="performed.authorizationStatus === 'pending'; else processed">
  <div *ngIf="performed.transactionNumber" i18n>
    The payment with transaction number {{performed.transactionNumber}} was successfully
    submitted for further authorization.
  </div>
  <div *ngIf="performed.transactionNumber == null" i18n>
    The payment was successfully submitted for further authorization.
  </div>
</ng-container>
<ng-template #processed>
  <div *ngIf="performed.transactionNumber" i18n>
    The payment with transaction number {{performed.transactionNumber}} was successfully
    processed.
  </div>
  <div *ngIf="performed.transactionNumber == null" i18n>
    The payment was successfully processed.
  </div>
</ng-template>
