<notification class="mb-3" *ngIf="preview.pendingAuthorization" type="warning">
  {{ messages.transaction.requiresAuthorization }}
</notification>

<label-value *ngIf="layout.gtxxs$ | async" [label]="messages.transaction.fromAccount">
  {{ bankingHelper.accountDisplay(preview.fromAccount) }}
</label-value>
<label-value *ngIf="preview.toAccount.kind === 'system'; else toUser" [label]="messages.transaction.toAccount">>
  {{ bankingHelper.accountDisplay(preview.toAccount) }}
</label-value>
<ng-template #toUser>
  <label-value [label]="messages.transaction.toUser">
    {{ preview.toAccount.user.display }}
    <span *ngIf="preview.toAccount.number"> - {{ preview.toAccount.number }}</span>
  </label-value>
</ng-template>
<label-value *ngIf="showPaymentType" [label]="messages.transaction.type">
  {{ preview.paymentType.name }}
</label-value>
<label-value *ngIf="preview.mainAmount != null && preview.totalAmount !== preview.mainAmount"
  [label]="messages.transaction.amount">
  {{ preview.mainAmount | currency:preview.currency }}
</label-value>
<label-value *ngIf="fees?.length > 0" [label]="messages.transaction.appliedFees">
  <div *ngFor="let feePreview of fees">
    {{ feePreview.fee.name }}:
    {{ feePreview.amount | currency:preview.currency }}
  </div>
</label-value>
<custom-field-value *ngFor="let fv of preview.customValues" [fieldValue]="fv"></custom-field-value>
<label-value *ngIf="preview.installments?.length === 1" [label]="messages.transaction.dueDate">
  {{ preview.installments[0].dueDate | date }}
</label-value>
<label-value *ngIf="preview.installments?.length > 1" [label]="messages.transaction.installments">
  <table class="table table-hover">
    <thead *ngIf="layout.gtxs$ | async">
      <th>{{ messages.transaction.installmentNumber }}</th>
      <th>{{ messages.transaction.dueDate }}</th>
      <th class="text-right">{{ messages.transaction.amount }}</th>
    </thead>
    <tbody>
      <tr *ngFor="let installment of preview.installments">
        <td>
          {{ installment.number }}
        </td>
        <td>
          {{ installment.dueDate | date }}
        </td>
        <td class="text-right">
          {{ installment.mainAmount | currency:preview.currency }}
        </td>
      </tr>
    </tbody>
  </table>
</label-value>
<label-value *ngIf="preview.payment.scheduling === 'recurring'" [label]="messages.transaction.recurringPayment">
  <ng-container *ngIf="preview.payment.firstOccurrenceDate == null; else occurrencesDateSet">
    <ng-container *ngIf="preview.payment.occurrencesCount == null">
      {{ messages.transaction.recurringPaymentNowManual }}
    </ng-container>
    <ng-container *ngIf="preview.payment.occurrencesCount != null">
      {{
      messages.transaction.recurringPaymentNowFixed(preview.payment.occurrencesCount)
      }}
    </ng-container>
  </ng-container>
  <ng-template #occurrencesDateSet>
    <ng-container *ngIf="preview.payment.occurrencesCount == null">
      {{
      messages.transaction.recurringPaymentDateManual(preview.payment.firstOccurrenceDate
      | date) }}
    </ng-container>
    <ng-container *ngIf="preview.payment.occurrencesCount != null">
      {{
      messages.transaction.recurringPaymentDateFixed({
      date: preview.payment.firstOccurrenceDate | date,
      count: preview.payment.occurrencesCount
      }) }}
    </ng-container>
  </ng-template>
</label-value>
<label-value [label]="messages.general.description" *ngIf="preview.payment.description"
  [value]="preview.payment.description" valueFormat="break"></label-value>
<hr>
<label-value [label]="messages.transaction.totalAmount">
  <div class="totalAmount">
    {{ preview.totalAmount | currency:preview.currency }}
  </div>
</label-value>
<ng-container *ngIf="(preview.confirmationMessage || '').length > 0">
  <hr>
  <div class="break-nl">{{preview.confirmationMessage}}</div>
</ng-container>
<ng-container *ngIf="preview.confirmationPasswordInput">
  <hr>
  <form [formGroup]="form">
    <confirmation-password focused formControlName="confirmationPassword"
      [passwordInput]="preview.confirmationPasswordInput">
      {{
      messages.password.confirmationMessage(preview.confirmationPasswordInput.name)
      }}
    </confirmation-password>
  </form>
</ng-container>
