<ng-container *ngIf="performed.authorizationStatus === 'pending'; else processed">
  <div class="payment-message" *ngIf="performed.transactionNumber">
    {{ i18n.transaction.pendingWithNumber(performed.transactionNumber) }}
  </div>
  <div class="payment-message" *ngIf="performed.transactionNumber == null">
    {{ i18n.transaction.pending }}
  </div>
</ng-container>
<ng-template #processed>
  <div class="payment-message" *ngIf="performed.transactionNumber">
    {{ i18n.transaction.processedWithNumber(performed.transactionNumber)
    }}
  </div>
  <div class="payment-message" *ngIf="performed.transactionNumber == null">
    {{ i18n.transaction.processed }}
  </div>
</ng-template>
