<page-layout [ready]="data$ | async" [ngSwitch]="step$ | async">
  <page-content *ngSwitchCase="'form'" [heading]="title"
    [mobileHeading]="mobileTitle"
    [mode]="(layout.ltsm$ | async) ? 'fullHeight' : 'normal'" last>
    <div class="flex-grow-1">
      <payment-step-form [data]="data" [form]="form"
        [currency]="currency$ | async" [paymentTypeData$]="paymentTypeData$"
        (availablePaymentTypes)="availablePaymentTypes = $event"
        [customValuesControlGetter]="customValuesControlGetter">
      </payment-step-form>
    </div>
    <actions forceRow>
      <button class="btn btn-primary" [disabled]="requesting$ | async"
        (click)="toConfirm()">{{ i18n.general.next }}</button>
    </actions>
  </page-content>

  <page-content *ngSwitchCase="'confirm'" hideBack
    [heading]="i18n.transaction.title.paymentConfirmation"
    [mobileHeading]="i18n.transaction.mobileTitle.paymentConfirmation"
    [mode]="(layout.ltsm$ | async) ? 'fullHeight' : 'normal'" last>
    <div class="flex-grow-1 d-flex flex-column">
      <payment-step-confirm [preview]="preview"
        [confirmationPassword]="confirmationPassword"
        (confirmationModeChanged)="confirmationMode$.next($event)"
        (confirmed)="perform($event)"
        [showPaymentType]="(availablePaymentTypes || []).length > 1">
      </payment-step-confirm>
    </div>
    <actions forceRow>
      <button
        *ngIf="(confirmationMode$ | async) != ConfirmationMode.Device; else spacer"
        class="btn btn-primary"
        [disabled]="!canConfirm || (requesting$ | async)" (click)="perform()">
        {{ i18n.general.confirm }}
      </button>
      <ng-template #spacer>&nbsp;</ng-template>
      <button class="btn btn-outline-primary" (click)="backToForm()">
        {{ i18n.general.previous }}
      </button>
    </actions>
  </page-content>

  <page-content *ngSwitchCase="'done'" hideBack [heading]="doneTitle"
    [mobileHeading]="doneMobileTitle"
    [mode]="(layout.ltsm$ | async) ? 'fullHeight' : 'normal'" last>
    <div class="flex-grow-1 d-flex flex-column">
      <payment-step-done [performed]="performed"></payment-step-done>
    </div>
    <actions forceRow>
      <button class="btn btn-primary" (click)="viewPerformed()">
        {{ i18n.transaction.doneView }}
      </button>
      <button class="btn btn-outline-primary" (click)="reload()">
        {{ i18n.transaction.doneNew }}
      </button>
    </actions>
  </page-content>

  <page-content *ngSwitchDefault>
    <spinner></spinner>
  </page-content>
</page-layout>
