<page-layout [ready]="data$ | async" [ngSwitch]="step$ | async">
  <page-content *ngSwitchCase="'form'" [heading]="title" [mode]="(layout.ltsm$ | async) ? 'fullHeight' : 'normal'"
    last>
    <div class="flex-grow-1">
      <payment-step-form [data]="data" [form]="form" [currency]="currency$ | async"
        [paymentTypeData$]="paymentTypeData$" (availablePaymentTypes)="availablePaymentTypes = $event"
        [customValuesControlGetter]="customValuesControlGetter">
      </payment-step-form>
    </div>
    <actions ngClass="mt-3" forceRow>
      <button class="btn btn-primary" [disabled]="requesting$ | async"
        (click)="toConfirm()" i18n>Next</button>
    </actions>
  </page-content>

  <page-content *ngSwitchCase="'confirm'" i18n-heading heading="Payment confirmation"
    [mode]="(layout.ltsm$ | async) ? 'fullHeight' : 'normal'" last>
    <div class="flex-grow-1 d-flex flex-column" [ngSwitch]="step$ | async">
      <payment-step-confirm [preview]="preview" [confirmationPassword]="confirmationPassword"
        [showPaymentType]="(availablePaymentTypes || []).length > 1"></payment-step-confirm>
    </div>
    <actions ngClass="mt-3" forceRow>
      <button class="btn btn-primary" [disabled]="!canConfirm || (requesting$ | async)"
        (click)="perform()" i18n>Confirm</button>
      <button class="btn btn-outline-primary" (click)="backToForm()" i18n>Previous</button>
    </actions>
  </page-content>

  <page-content *ngSwitchCase="'done'" [heading]="doneTitle" [mode]="(layout.ltsm$ | async) ? 'fullHeight' : 'normal'"
    last>
    <div class="flex-grow-1 d-flex flex-column" [ngSwitch]="step$ | async">
      <payment-step-done [performed]="performed"></payment-step-done>
    </div>
    <actions ngClass="mt-3" forceRow>
      <button class="btn btn-primary" (click)="viewPerformed()" i18n>View
        payment</button>
      <button class="btn btn-outline-primary" (click)="reload()" i18n>New
        payment</button>
    </actions>
  </page-content>

  <page-content *ngSwitchDefault>
    <spinner></spinner>
  </page-content>
</page-layout>
