<page-layout [title]="messages.userImages()"
  [loaded]="loaded">
  <page-content *ngIf="loaded | async">
    <tiled-results *ngIf="data.images.length > 0; else noResults"
      [tileWidth]="248">
      <tiled-result *ngFor="let image of data.images"
        avatarPosition="top"
        [image]="image"
        [title]="image.name"
        [actions]="actions(image)"
        [useLightbox]="true"
        fxFlex="nogrow">
        {{ messages.imageDimensions(image.height, image.width) }}
      </tiled-result>
    </tiled-results>
    <ng-container *ngIf="data.canCreate">
      <td-file-input #fileInput
        style="display:none"
        multiple
        (select)="uploadImages($event)">
      </td-file-input>

      <fab icon="add"
        (click)="fileInput.inputElement.click()">
      </fab>
    </ng-container>
  </page-content>
</page-layout>
<ng-template #noResults>
  <div class="no-results">{{ messages.imageNoResults() }}</div>
</ng-template>
