<h1 mat-dialog-title>{{ messages.imageReorderTitle() }}</h1>
<mat-dialog-content>
  <div class="form-info">{{ messages.imageReorderMessage() }}</div>
  <reorderable-list #list
    (reordered)="onReorder($event)"
    [items]="images | async">
    <div *reorderableItem="let image"
      class="item"
      fxLayout="row"
      fxLayoutAlign="start center">
      <avatar [image]="image"
        size="medium"></avatar>
      <div>&nbsp;{{ image.name }}</div>
    </div>
    <div *reorderablePlaceholder
      class="placeholder">
    </div>
  </reorderable-list>
</mat-dialog-content>
<mat-dialog-actions>
  <actions>
    <button mat-raised-button
      (click)="dialogRef.close()">{{ messages.cancel() }}</button>
    <button mat-raised-button
      color="accent"
      [disabled]="!(list.changed | async)"
      (click)="save()">{{ messages.save() }}</button>
  </actions>
</mat-dialog-actions>
