<page-layout [title]="messages.contactListTitle()"
  [hasHeader]="true"
  [loaded]="loaded"
  [filtersForm]="form"
  [tightContent]="true"
  [invisibleContent]="resultType.value === ResultType.TILES && !(dataSource.empty | async)">
  <page-header>
    <result-type-field [formControl]="resultType"></result-type-field>
  </page-header>
  <page-filters>
    <form *ngIf="query != null"
      fxLayout="column"
      [formGroup]="form">
      <mat-form-field>
        <input formControlName="keywords"
          matInput
          [placeholder]="messages.keywords()">
      </mat-form-field>
    </form>
  </page-filters>
  <page-content>
    <ng-container *ngIf="loaded | async">
      <users-results resultKind="contact"
        [ngClass]="{
          hidden: (renderingResults | async) || (dataSource.data | async)?.length === 0
        }"
        fxFlex="grow"
        fxLayout="column"
        [rendering]="renderingResults | async"
        [dataSource]="dataSource"
        [query]="query"
        [data]="data"
        [resultType]="resultType"
        (update)="update()"
        (load)="renderingResults.next(false)"></users-results>
      <div *ngIf="(dataSource.data | async) != null
        && dataSource.data.value?.length === 0"
        class="no-results">{{ messages.searchNoResults() }}</div>
      <spinner *ngIf="(renderingResults | async)"></spinner>
    </ng-container>
  </page-content>
</page-layout>
