<page-layout [title]="messages.contactListTitle()"
  [hasHeader]="true"
  [loaded]="loaded"
  [filtersForm]="form"
  [tightContent]="true"
  [invisibleContent]="resultType.value === ResultType.TILES && !(dataSource.empty | async)">
  <page-header>
    <mat-button-toggle-group [formControl]="resultType"
      aria-label="Font Style">
      <mat-button-toggle [value]="ResultType.TILES">
        <mat-icon>view_module</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle [value]="ResultType.LIST">
        <mat-icon>view_list</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </page-header>
  <page-filters>
    <form *ngIf="query != null"
      fxLayout="column"
      [formGroup]="form">
      <mat-form-field>
        <input formControlName="keywords"
          matInput
          [placeholder]="messages.keywords()">
      </mat-form-field>
    </form>
  </page-filters>
  <page-content>
    <users-results *ngIf="loaded | async"
      resultKind="contact"
      [dataSource]="dataSource"
      [query]="query"
      [data]="data"
      [resultType]="resultType"
      (update)="update()"></users-results>
  </page-content>
</page-layout>
