<label-value *ngIf="transfer.transactionNumber" i18n-label label="Transaction number">
  {{ transfer.transactionNumber }}
</label-value>
<label-value i18n-label label="Date">
  {{ transfer.date | dateTime }}
</label-value>
<label-value i18n-label label="Amount">
  {{ transfer.amount | currency:transfer.currency }}
</label-value>
<label-value *ngIf="transfer.chargedBackBy" i18n-label label="Chargeback">
  <ng-container i18n>This transfer has been charged back at {{
    transfer.chargedBackBy.date | dateTime }}</ng-container>
</label-value>
<label-value i18n-label label="From">
  <user-link [account]="transfer.from"></user-link>
  <ng-container *ngIf="transfer.from.number">
    <ng-container *ngIf="layout.gtxs$ | async"> - </ng-container>
    <br *ngIf="layout.ltsm$ | async" /> {{ transfer.from.number }}
  </ng-container>
</label-value>
<label-value i18n-label label="To">
  <user-link [account]="transfer.to"></user-link>
  <ng-container *ngIf="transfer.to.number">
    <ng-container *ngIf="layout.gtxs$ | async"> - </ng-container>
    <br *ngIf="layout.ltsm$ | async" /> {{ transfer.to.number }}
  </ng-container>
</label-value>
<label-value i18n-label label="Payment type">
  {{ transfer.type.name }}
</label-value>
<label-value *ngIf="transfer.transaction?.by" i18n-label label="Performed by">
  {{ transfer.transaction.by.display }}
</label-value>
<label-value *ngIf="transfer.transaction?.channel" i18n-label label="Channel">
  {{ transfer.transaction.channel.name }}
</label-value>

<custom-field-value *ngFor="let value of transfer.transaction?.customValues"
  [fieldValue]="value">
</custom-field-value>
<label-value *ngFor="let status of transfer.statuses" [label]="status.flow.name">
  {{ status.name }}
</label-value>

<ng-container *ngIf="transfer.parent">
  <h2 i18n>Transfer that generated this one</h2>
  <label-value *ngIf="transfer.parent.transactionNumber" i18n-label label="Transaction number">
    {{ transfer.parent.transactionNumber }}
  </label-value>
  <label-value i18n-label label="Date">
    {{ transfer.parent.date | dateTime }}
  </label-value>
  <label-value i18n-label label="Amount">
    {{ transfer.parent.amount | currency:transfer.parent.currency }}
  </label-value>
  <label-value i18n-label label="From">
    <user-link [account]="transfer.parent.from"></user-link>
  </label-value>
  <label-value *ngIf="transfer.from.number" i18n-label label="From account number">
    {{ transfer.parent.from.number }}
  </label-value>
  <label-value i18n-label label="To">
    <user-link [account]="transfer.parent.to"></user-link>
  </label-value>
  <label-value *ngIf="transfer.to.number" i18n-label label="To account number">
    {{ transfer.parent.to.number }}
  </label-value>
  <label-value i18n-label label="Payment type">
    {{ transfer.parent.type.name }}
  </label-value>
  <actions>
    <a class="btn btn-outline-primary" [routerLink]="path(transfer.parent)"
      i18n>
      View this transfer
    </a>
  </actions>
</ng-container>

<ng-container *ngIf="(transfer.children || []).length > 0">
  <h2 class="border-0" i18n>Transfers generated by this one</h2>
  <table class="table table-hover cursor-pointer">
    <thead *ngIf="layout.gtxs$ | async">
      <th i18n>Date</th>
      <th i18n>From</th>
      <th i18n>To</th>
      <th i18n class="text-right">Amount</th>
    </thead>
    <tbody>
      <tr *ngFor="let row of transfer.children" (click)="router.navigate(path(row))">
        <td *ngIf="layout.ltsm$ | async">
          <!-- Aggregated cell for xs -->
          <a [routerLink]="path(row)">
            <div>
              <ng-container i18n>From</ng-container>
              <user-link [account]="row.from"></user-link>
            </div>
            <div>
              <ng-container i18n>To</ng-container>
              <user-link [account]="row.to"></user-link>
            </div>
            <div class="cell-text cell-date">{{ row.date | dateTime }}</div>
          </a>
        </td>
        <td *ngIf="layout.gtxs$ | async">
          <a [routerLink]="path(row)">
            {{ row.date | date }}
          </a>
        </td>
        <td *ngIf="layout.gtxs$ | async">
          <a [routerLink]="path(row)">
            <user-link [account]="row.from"></user-link>
          </a>
        </td>
        <td *ngIf="layout.gtxs$ | async">
          <a [routerLink]="path(row)">
            <user-link [account]="row.to"></user-link>
          </a>
        </td>
        <td class="text-right">
          <a [routerLink]="path(row)">
            {{ row.amount | currency:row.currency }}
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</ng-container>
