<label-value *ngIf="transfer.transactionNumber"
  [label]="messages.transactionNumber()">
  {{ transfer.transactionNumber }}
</label-value>
<label-value [label]="messages.transactionDate()">
  {{ transfer.date | dateTime }}
</label-value>
<label-value [label]="messages.transactionAmount()">
  {{ transfer.amount | currency:transfer.currency }}
</label-value>
<label-value *ngIf="transfer.transaction?.by"
  [label]="messages.transactionBy()">
  {{ transfer.transaction.by.display }}
</label-value>
<label-value *ngIf="transfer.transaction?.channel"
  [label]="messages.transactionChannel()">
  {{ transfer.transaction.channel.name }}
</label-value>

<label-value [label]="messages.transactionFrom()">
  <user-link [account]="transfer.from"></user-link>
</label-value>
<label-value *ngIf="transfer.from.number"
  [label]="messages.transactionFromAccount()">
  {{ transfer.from.number }}
</label-value>
<label-value [label]="messages.transactionTo()">
  <user-link [account]="transfer.to"></user-link>
</label-value>
<label-value *ngIf="transfer.to.number"
  [label]="messages.transactionToAccount()">
  {{ transfer.to.number }}
</label-value>
<label-value [label]="messages.transactionType()">
  {{ transfer.type.name }}
</label-value>
<custom-field-value *ngFor="let value of transfer.transaction?.customValues"
  [fieldValue]="value">
</custom-field-value>
<label-value *ngFor="let status of transfer.statuses"
  [label]="status.flow.name">
  {{ status.name }}
</label-value>

<ng-container *ngIf="transfer.parent">
  <h2>{{ messages.transferParentTitle() }}</h2>
  <label-value *ngIf="transfer.parent.transactionNumber"
    [label]="messages.transactionNumber()">
    {{ transfer.parent.transactionNumber }}
  </label-value>
  <label-value [label]="messages.transactionDate()">
    {{ transfer.parent.date | dateTime }}
  </label-value>
  <label-value [label]="messages.transactionAmount()">
    {{ transfer.parent.amount | currency:transfer.parent.currency }}
  </label-value>
  <label-value [label]="messages.transactionFrom()">
    <user-link [account]="transfer.parent.from"></user-link>
  </label-value>
  <label-value *ngIf="transfer.from.number"
    [label]="messages.transactionFromAccount()">
    {{ transfer.parent.from.number }}
  </label-value>
  <label-value [label]="messages.transactionTo()">
    <user-link [account]="transfer.parent.to"></user-link>
  </label-value>
  <label-value *ngIf="transfer.to.number"
    [label]="messages.transactionToAccount()">
    {{ transfer.parent.to.number }}
  </label-value>
  <label-value [label]="messages.transactionType()">
    {{ transfer.parent.type.name }}
  </label-value>
  <actions root>
    <a [routerLink]="path(transfer.parent)"
      mat-button>
      {{ messages.transferParentView() }}
    </a>
  </actions>
</ng-container>

<ng-container *ngIf="(transfer.children || []).length > 0">
  <h2 class="no-bottom-margin">{{ messages.transferChildrenTitle() }}</h2>
  <table mat-table
    [dataSource]="childrenDataSource">

    <!-- Aggregated (for small devices) -->
    <ng-container matColumnDef="aggregated">
      <th mat-header-cell
        *matHeaderCellDef></th>
      <td mat-cell
        *matCellDef="let row">
        <a [routerLink]="path(row)"
          fxLayout="column">
          <div class="cell-text cell-main">
            {{ fromToTemplate.prefix }}
            <user-link [account]="fromToTemplate.fromFirst ? row.from : row.to"></user-link>
            {{ fromToTemplate.separator }}
            <user-link [account]="fromToTemplate.fromFirst ? row.to : row.from"></user-link>
            {{ fromToTemplate.suffix }}
          </div>
          <div class="cell-text cell-date">{{ row.date | dateTime }}</div>
          <div *ngIf="row.transactionNumber"
            class="cell-text cell-date">{{ row.transactionNumber }}</div>
          <div *ngIf="row.description"
            class="cell-text cell-small">{{ row.description }}</div>
        </a>
      </td>
    </ng-container>

    <!-- Date column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell
        *matHeaderCellDef>{{ messages.transactionDate() }}</th>
      <td mat-cell
        *matCellDef="let row">
        <a [routerLink]="path(row)">
          {{ row.date | date }}
        </a>
      </td>
    </ng-container>

    <!-- Transaction number column -->
    <ng-container matColumnDef="transactionNumber">
      <th mat-header-cell
        *matHeaderCellDef>{{ messages.transactionNumber() }}</th>
      <td mat-cell
        *matCellDef="let row">
        <a [routerLink]="path(row)">
          {{ row.transactionNumber }}
        </a>
      </td>
    </ng-container>

    <!-- From column -->
    <ng-container matColumnDef="from">
      <th mat-header-cell
        *matHeaderCellDef>{{ messages.transactionFrom() }}</th>
      <td mat-cell
        *matCellDef="let row">
        <a [routerLink]="path(row)">
          <user-link [account]="row.from"></user-link>
          <ng-container *ngIf="row.from.number">
            <br>{{ row.from.number }}
          </ng-container>
        </a>
      </td>
    </ng-container>

    <!-- To column -->
    <ng-container matColumnDef="to">
      <th mat-header-cell
        *matHeaderCellDef>{{ messages.transactionTo() }}</th>
      <td mat-cell
        *matCellDef="let row">
        <a [routerLink]="path(row)">
          <user-link [account]="row.to"></user-link>
          <ng-container *ngIf="row.to.number">
            <br>{{ row.to.number }}
          </ng-container>
        </a>
      </td>
    </ng-container>

    <!-- Amount column -->
    <ng-container matColumnDef="amount">
      <th mat-header-cell
        *matHeaderCellDef
        style="text-align: end">{{ messages.transactionAmount() }}</th>
      <td mat-cell
        *matCellDef="let row"
        style="text-align: end">
        <a [routerLink]="path(row)">
          {{ row.amount | currency:row.currency }}
        </a>
      </td>
    </ng-container>

    <tr mat-header-row
      *matHeaderRowDef="layout.xs ? [] : displayedColumns"></tr>
    <tr mat-row
      *matRowDef="let row; columns: displayedColumns;"
      ngClass.xs="dynamic"
      ngClass="clickable"
      (click)="router.navigate(path(row))"></tr>
  </table>
</ng-container>
