<div fxLayout="column" [formGroup]="fieldsForm">
  <div class="form-info">{{bankingMessages.paymentFieldsMessage()}}</div>

  <decimal-field fxFlex="nogrow" [focused]="true" required
    placeholder="{{bankingMessages.transactionAmount()}}"
    [prefix]="paymentTypeData.currency.prefix"
    [suffix]="paymentTypeData.currency.suffix"
    [scale]="paymentTypeData.currency.decimalDigits"
    formControlName="amount">
  </decimal-field>

  <ng-container formGroupName="customValues">
    <custom-field-input *ngFor="let cf of paymentTypeData.customFields"
      fxFlex="grow"
      fxLayout="column"
      [field]="cf"
      [formControlName]="cf.internalName"></custom-field-input>
  </ng-container>

  <mat-form-field fxFlex="grow">
    <textarea matInput placeholder="{{bankingMessages.transactionDescription()}}"
      mdTextareaAutosize
      formControlName="description"
      [required]="paymentTypeData.requiresDescription"></textarea>
  </mat-form-field>
</div>