<div *ngIf="isSearch">
  <div class="form-info">{{bankingMessages.paymentUserSearch()}}</div>
  <user-selection
    [dataForSearch]="dataForSearch | async"
    [(ngModel)]="value"
    [ngModelOptions]="{standalone: true}"
    focused
    ></user-selection>
</div>
<div *ngIf="isContacts">
  <div class="form-info">{{bankingMessages.paymentUserContacts()}}</div>
  <mat-radio-group #contactsRadio fxLayout="column"
    [(ngModel)]="value"
    [ngModelOptions]="{standalone: true}">
    <mat-radio-button *ngFor="let contact of contacts | async" [value]="contact.id">
      {{contact.display}}
    </mat-radio-button>
  </mat-radio-group>
</div>
<div *ngIf="isPrincipal">
  <div class="form-info">{{bankingMessages.paymentUserPrincipal()}}</div>
  <principal-input [focused]="true" [type]="idMethod"
    [(ngModel)]="value" [ngModelOptions]="{standalone: true}">
  </principal-input>
</div>