<form fxLayout="column"
  [formGroup]="fieldsForm">
  <div class="form-info">{{ messages.paymentFieldsMessage() }}</div>

  <mat-form-field *ngIf="(paymentTypes || []).length > 1"
    ngClass="field-medium">
    <mat-select formControlName="type"
      required
      [placeholder]="messages.transactionType()">
      <mat-option *ngFor="let tt of paymentTypes"
        [value]="tt.id">
        {{ tt.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <decimal-field fxFlex="nogrow"
    focused
    required
    [placeholder]="messages.transactionAmount()"
    [prefix]="(paymentTypeData | async).currency.prefix"
    [suffix]="(paymentTypeData | async).currency.suffix"
    [scale]="(paymentTypeData | async).currency.decimalDigits"
    formControlName="amount">
  </decimal-field>

  <ng-container formGroupName="customValues">
    <custom-field-input *ngFor="let cf of (paymentTypeData | async).customFields"
      fxFlex="grow"
      fxLayout="column"
      [field]="cf"
      [formControlName]="cf.internalName"></custom-field-input>
  </ng-container>

  <mat-form-field fxFlex="grow">
    <textarea matInput
      matTextareaAutosize
      [placeholder]="messages.transactionDescription()"
      formControlName="description"
      [required]="(paymentTypeData | async).requiresDescription"></textarea>
  </mat-form-field>
</form>
