<div fxLayout="column" [formGroup]="fieldsForm">
  <div class="form-info">{{bankingMessages.paymentFieldsMessage()}}</div>

  <mat-form-field *ngIf="(paymentTypes || []).length > 1">
    <mat-select formControlName="type" required
      [placeholder]="bankingMessages.transactionType()">
      <mat-option *ngFor="let tt of paymentTypes" [value]="tt.id">
        {{tt.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <decimal-field fxFlex="nogrow" [focused]="true" required
    [placeholder]="bankingMessages.transactionAmount()"
    [prefix]="(paymentTypeData | async).currency.prefix"
    [suffix]="(paymentTypeData | async).currency.suffix"
    [scale]="(paymentTypeData | async).currency.decimalDigits"
    [disabled]="(paymentTypeData | async).fixedAmount != null"
    formControlName="amount">
  </decimal-field>

  <ng-container formGroupName="customValues">
    <custom-field-input *ngFor="let cf of (paymentTypeData | async).customFields"
      fxFlex="grow"
      fxLayout="column"
      [field]="cf"
      [formControlName]="cf.internalName"></custom-field-input>
  </ng-container>

  <mat-form-field fxFlex="grow">
    <textarea matInput matTextareaAutosize
      [placeholder]="bankingMessages.transactionDescription()"      
      formControlName="description"
      [required]="(paymentTypeData | async).requiresDescription"></textarea>
  </mat-form-field>
</div>