<div class="form-info">{{ preview.pendingAuthorization ? messages.paymentPreviewAuthMessage() : messages.paymentPreviewMessage()
  }}
</div>

<label-value [label]="messages.transactionFrom()">
  <user-link [account]="preview.fromAccount"></user-link>
</label-value>
<label-value *ngIf="preview.fromAccount.number"
  [label]="messages.transactionFromAccount()">
  {{ preview.fromAccount.number }}
</label-value>
<label-value [label]="messages.transactionTo()">
  <user-link [account]="preview.toAccount"></user-link>
</label-value>
<label-value *ngIf="preview.toAccount.number"
  [label]="messages.transactionToAccount()">
  {{ preview.toAccount.number }}
</label-value>
<label-value *ngIf="hasAmount"
  [label]="messages.transactionAmount()">
  {{ preview.totalAmount | currency:preview.currency }}
</label-value>
<label-value *ngIf="hasMainAmount"
  [label]="messages.paymentMainAmount()">
  {{ preview.mainAmount | currency:preview.currency }}
</label-value>
<label-value *ngIf="hasFees"
  [label]="messages.paymentFees()">
  <div *ngFor="let feePreview of preview.fees">
    {{ feePreview.fee.name }}: {{ feePreview.amount | currency:preview.currency }}
  </div>
</label-value>
<label-value *ngIf="hasTotalAmount"
  [label]="messages.paymentTotalAmount()">
  {{ preview.totalAmount | currency:preview.currency }}
</label-value>
<custom-field-value *ngFor="let fv of preview.customValues"
  [fieldValue]="fv">
</custom-field-value>
<label-value *ngIf="hasDescription"
  [label]="messages.description()"
  [value]="preview.payment.description"
  valueType="break">
</label-value>

<ng-container *ngIf="preview.confirmationPasswordInput"
  [formGroup]="previewForm">
  <confirmation-password formControlName="confirmationPassword"
    [passwordInput]="preview.confirmationPasswordInput"
    [message]="messages.paymentConfirmationPassword">
  </confirmation-password>
</ng-container>
