<page-layout [loaded]="initialData"
  [title]="messages.paymentPerformTitle()">
  <page-content>
    <td-steps #stepper
      [mode]="layout.ltmd ? 'vertical' : 'horizontal'">
      <td-step #kindStep
        [label]="messages.paymentKind()"
        [sublabel]="layout.ltmd ? (kindAndIdMethod | async)?.label : null">
        <payment-kind [kindForm]="kindForm"
          [allowedKindAndIdMethods]="allowedKindAndIdMethods"></payment-kind>
        <actions root>
          <button fxFlex.gt-xs="nogrow"
            mat-raised-button
            color="accent"
            [disabled]="!kindForm.valid"
            (click)="nextFromKind()">
            {{ messages.next() }}
          </button>
        </actions>
      </td-step>
      <td-step #userStep
        [label]="messages.paymentUser()"
        [sublabel]="layout.ltmd ? (toUser | async)?.display : null">
        <ng-container *ngIf="stepperControl.monitor(userStep) | async">
          <payment-user [userForm]="userForm"
            [idMethod]="(kindAndIdMethod | async)?.idMethod"
            [dataForSearch]="userDataForSearch | async"
            [contacts]="contacts | async"></payment-user>
          <actions root>
            <button mat-raised-button
              (click)="previousFromUser()">
              {{ messages.previous() }}
            </button>
            <button mat-raised-button
              color="accent"
              [disabled]="!userForm.valid"
              (click)="nextFromUser()">
              {{ messages.next() }}
            </button>
          </actions>
        </ng-container>
      </td-step>
      <td-step #fieldsStep
        [label]="messages.paymentFields()"
        [sublabel]="layout.ltmd ? (fieldsForm.value.amount | currency:(paymentTypeData | async)?.currency) : null">
        <ng-container *ngIf="stepperControl.monitor(fieldsStep) | async">
          <payment-fields [fieldsForm]="fieldsForm"
            [paymentTypes]="paymentTypes | async"
            [paymentTypeData]="paymentTypeData"></payment-fields>
          <actions root>
            <button mat-raised-button
              (click)="previousFromFields()">
              {{ messages.previous() }}
            </button>
            <button mat-raised-button
              color="accent"
              [disabled]="!fieldsForm.valid"
              (click)="nextFromFields()">
              {{ messages.next() }}
            </button>
          </actions>
        </ng-container>
      </td-step>
      <td-step #previewStep
        [label]="messages.paymentPreview()">
        <ng-container *ngIf="stepperControl.monitor(previewStep) | async">
          <payment-preview #previewComponent
            [previewForm]="previewForm"
            [preview]="preview | async"></payment-preview>
          <actions root
            topMargin="double">
            <button mat-raised-button
              (click)="previousFromPreview()">
              {{ messages.previous() }}
            </button>
            <button mat-raised-button
              color="accent"
              [disabled]="!fieldsForm.valid || !previewComponent.canConfirm"
              (click)="nextFromPreview()">
              {{ messages.confirm() }}
            </button>
          </actions>
        </ng-container>
      </td-step>
      <td-step #doneStep
        [label]="messages.paymentDone()">
        <ng-container *ngIf="(stepperControl.monitor(doneStep) | async) && (performed | async)">
          <payment-done [payment]="performed | async"></payment-done>
          <actions root
            topMargin="double">
            <a mat-raised-button
              color="accent"
              [routerLink]="viewPerformedPath">
              {{ messages.paymentViewPayment() }}
            </a>
            <button mat-raised-button
              color="accent"
              (click)="newPayment()">
              {{ messages.paymentNewPayment() }}
            </button>
          </actions>
        </ng-container>
      </td-step>
    </td-steps>
    <linear-stepper-control #stepperControl
      [stepper]="stepper"></linear-stepper-control>
  </page-content>
</page-layout>
