<page-layout [ready]="data$ | async">
  <ng-container *ngIf="data">
    <page-content mode="viewForm" [heading]="i18n.ad.title.adInterests"
      [mobileHeading]="i18n.ad.mobileTitle.adInterests"
      [headingActions]="headingActions$ | async">
      <label-value *ngIf="!self" [label]="i18n.general.user">
        <user-link [user]="data.user"></user-link>
      </label-value>
      <label-value [label]="i18n.general.name" [value]="data.name">
      </label-value>
      <h2>{{ i18n.ad.matchFields }}</h2>
      <label-value *ngIf="!empty(data.keywords)"
        [label]="i18n.general.keywords" [value]="data.keywords.join(', ')">
      </label-value>
      <label-value *ngIf="data.kind" [label]="i18n.general.type"
        [value]="resolveKindLabel()">
      </label-value>
      <label-value *ngIf="data.category" [label]="i18n.ad.category"
        [value]="data.category.name">
      </label-value>
      <label-value *ngIf="data.user" [label]="i18n.general.by">
        <user-link [user]="data.user"></user-link>
      </label-value>
      <label-value *ngIf="data.minPrice || data.maxPrice"
        [label]="i18n.ad.price"
        [value]="format.formatRange({min: data.minPrice, max: data.maxPrice}, data.currency)">
      </label-value>
    </page-content>
  </ng-container>
</page-layout>
