<page-layout [ready]="data$ | async">
  <page-content [heading]="i18n.userStatus.title.status"
    [mobileHeading]="i18n.userStatus.mobileTitle.status"
    [headingActions]="headingActions$ | async">

    <ng-container *ngIf="operator">
      <label-value [label]="i18n.user.operatorOwner">
        <user-link [user]="user"></user-link>
      </label-value>
      <label-value [label]="i18n.general.operator">
        <user-link [user]="operator"></user-link>
      </label-value>
    </ng-container>
    <label-value *ngIf="operator == null" [label]="i18n.general.user">
      <user-link [user]="user"></user-link>
    </label-value>

    <label-value [label]="i18n.userStatus.current">
      {{ usersHelper.userStatus(data.status) }}
    </label-value>

    <ng-container *ngIf="editable">
      <hr>
      <form [formGroup]="form">
        <single-selection-field formControlName="status"
          [label]="i18n.userStatus.new" required>
          <field-option *ngFor="let status of data.possibleNewStatuses"
            [value]="status" [text]="usersHelper.userStatus(status)">
          </field-option>
        </single-selection-field>
        <textarea-field formControlName="comment"
          [label]="i18n.general.comments"></textarea-field>
      </form>
      <actions>
        <button class="btn btn-primary"
          (click)="save()">{{ i18n.general.submit }}</button>
      </actions>
    </ng-container>
  </page-content>
</page-layout>
