<page-layout [ready]="data$ | async">
  <ng-container *ngIf="data then content"></ng-container>
</page-layout>

<ng-template #content>
  <page-content [heading]="i18n.userStatus.title.history"
    [mobileHeading]="i18n.userStatus.mobileTitle.history">

    <ng-container *ngIf="operator">
      <label-value [label]="i18n.user.operatorOwner">
        <user-link [user]="user"></user-link>
      </label-value>
      <label-value [label]="i18n.general.operator">
        <user-link [user]="operator"></user-link>
      </label-value>
    </ng-container>
    <label-value *ngIf="operator == null" [label]="i18n.general.user">
      <user-link [user]="user"></user-link>
    </label-value>
  </page-content>
  <results-layout [results]="data.history">
    <mobile-result *mobileResult="let row" [date]="row.period?.date">
      <div class="cell-main">
        {{ i18n.general.status }}: {{ usersHelper.userStatus(row.status) }}
      </div>
      <div class="cell-text" *ngIf="row.by">
        {{ i18n.general.performedBy }}: {{ row.by.display }}
      </div>
    </mobile-result>
    <table *resultTable class="table table-hover">
      <thead>
        <th>{{ i18n.general.date }}</th>
        <th>{{ i18n.general.status }}</th>
        <th>{{ i18n.general.performedBy }}</th>
      </thead>
      <tbody>
        <tr *ngFor="let row of data.history">
          <td>{{ row.period?.begin | date }}</td>
          <td>{{ usersHelper.userStatus(row.status) }}</td>
          <td>{{ row.by?.display }}</td>
        </tr>
      </tbody>
    </table>
  </results-layout>
</ng-template>
