<page-layout [ready]="data$ | async" [ngSwitch]="step$ | async">
  <page-content *ngSwitchCase="'form'"
    [heading]="this.i18n.transaction.title.receiveQrPayment"
    [mobileHeading]="this.i18n.transaction.mobileTitle.receiveQrPayment"
    [mode]="(layout.ltsm$ | async) ? 'fullHeight' : 'normal'" last>

    <receive-qr-payment-step-form class="flex-grow-1 d-flex flex-column"
      [data]="data" [form]="form" [transferTypes]="paymentTypes$ | async"
      [type]="paymentType$ | async" [typeData]="paymentTypeData$ | async">
    </receive-qr-payment-step-form>
    <actions forceRow>
      <action-button [disabled]="requesting$ | async" (action)="toPending()"
        [label]="i18n.transaction.receiveQrPaymentGenerateQrCode">
      </action-button>
    </actions>
  </page-content>

  <page-content *ngSwitchCase="'pending'" hideBack
    [heading]="i18n.transaction.title.receiveQrPayment"
    [mobileHeading]="i18n.transaction.mobileTitle.receiveQrPayment"
    [mode]="(layout.ltsm$ | async) ? 'fullHeight' : 'normal'" last>
    <receive-qr-payment-step-pending [ticket]="ticket$ | async"
      [qrCodeUrl]="qrCodeUrl$ | async"></receive-qr-payment-step-pending>
    <actions forceRow>
      <action-button *ngIf="supportsShare; else empty" (action)="share()"
        [label]="i18n.general.share" [disabled]="requesting$ | async">
      </action-button>
      <ng-template #empty><span></span></ng-template>
      <action-button outline (action)="reload()"
        [label]="i18n.transaction.receiveQrPaymentGenerateNewQrCode">
      </action-button>
    </actions>
  </page-content>

  <page-content *ngSwitchDefault>
    <spinner></spinner>
  </page-content>
</page-layout>
