<ng-container [formGroup]="form">
  <radio-group-field *ngIf="!singleAccount" formControlName="account"
    [label]="i18n.transaction.toAccount" required asColumn>
    <field-option *ngFor="let acc of data.accounts" [value]="acc.id"
      [text]="acc.type.name"></field-option>
  </radio-group-field>

  <single-selection-field *ngIf="transferTypes?.length > 1"
    formControlName="type" [label]="i18n.transaction.type">
    <field-option *ngFor="let tt of transferTypes" [value]="tt.id"
      [text]="tt.name"></field-option>
  </single-selection-field>

  <label-value kind="fieldView"
    *ngIf="typeData?.fixedAmount; else amountTemplate"
    [label]="i18n.transaction.amount">
    {{ typeData.fixedAmount | currency:currency }}
  </label-value>
  <ng-template #amountTemplate>
    <decimal-field formControlName="amount" focused
      [label]="i18n.transaction.amount" required [prefix]="currency?.prefix"
      [suffix]="currency?.suffix" [scale]="currency?.decimalDigits">
    </decimal-field>
  </ng-template>

  <ng-container *ngIf="typeData?.customFields?.length > 0"
    [formGroup]="form.controls.customValues">
    <label-value *ngFor="let cf of typeData.customFields" [label]="cf.name"
      [kind]="'field'"
      [labelPosition]="cf.type === 'boolean' ? 'sideForced' : 'auto'"
      [fieldSize]="fieldSize(cf)" [required]="cf.required">
      <custom-field-input [field]="cf" hideLabel
        [formControlName]="cf.internalName">
      </custom-field-input>
    </label-value>
  </ng-container>

  <textarea-field *ngIf="typeData?.descriptionAvailability !== 'disabled'"
    formControlName="description" [label]="i18n.general.description"
    [required]="typeData?.descriptionAvailability === 'required'">
  </textarea-field>
</ng-container>
