<page-layout [ready]="(data$ | async) || (emptyCart$ | async) ">
  <page-content mode="filters" [heading]="i18n.ad.title.shoppingCart"
    [mobileHeading]="i18n.ad.mobileTitle.shoppingCart"
    [headingActions]="headingActions$ | async" mode="viewForm">
    <ng-container *ngIf="!data">
      {{ i18n.ad.cartEmpty }}
    </ng-container>
    <ng-container *ngIf="data">
      <label-value [label]="i18n.ad.seller">
        <user-link [user]="data.seller"></user-link>
      </label-value>
      <label-value class="totalAmount" [label]="i18n.ad.total">
        {{ data.totalPrice | currency:data.currency }}
      </label-value>
    </ng-container>
    <!-- Put cart items inside page for bigger layouts -->
    <ng-container *ngIf="!(layout.ltsm$ | async) && data">
      <ng-container *ngTemplateOutlet="cartItems"></ng-container>
    </ng-container>
  </page-content>
  <!-- And outside for mobile -->
  <ng-container *ngIf="(layout.ltsm$ | async) && data">
    <ng-container *ngTemplateOutlet="cartItems"></ng-container>
  </ng-container>
</page-layout>

<ng-template #cartItems>
  <shopping-cart-items [detailed]="true" [items]="data.items"
    [currency]="data.currency" (changeQuantity)="changeQuantity($event)"
    (remove)="remove($event)">
  </shopping-cart-items>
</ng-template>
