<page-layout [ready]="data$ | async" size="large">
  <page-content *ngIf="data" [heading]="i18n.user.title.operatorRegistration"
    [mobileHeading]="i18n.user.mobileTitle.operatorRegistration" last>
    <form *ngIf="(result$ | async) == null; else done" [formGroup]="form">
      <label-value *ngIf="!self" [label]="i18n.user.operatorOwner">
        <user-link [user]="data.user"></user-link>
      </label-value>

      <!-- Operator group -->
      <single-selection-field *ngIf="data.groups.length > 0"
        [label]="i18n.user.group" formControlName="group"
        [emptyOption]="i18n.user.operatorNoGroup">
        <field-option *ngFor="let group of data.groups" [value]="group.id"
          [id]="group.id" [internalName]="group.internalName"
          [text]="group.name"></field-option>
      </single-selection-field>

      <!-- Basic profile fields-->
      <input-field *ngIf="canEdit('name')" formControlName="name"
        [label]="i18n.user.name" required></input-field>
      <input-field *ngIf="canEdit('username')" formControlName="username"
        [label]="i18n.user.username" required></input-field>
      <ng-container *ngIf="canEdit('email')">
        <input-field *ngIf="canEdit('email')" formControlName="email"
          [label]="i18n.user.email" [required]="data.emailRequired">
        </input-field>
        <boolean-field *ngIf="data.allowSetSendActivationEmail"
          [label]="i18n.user.registration.skipActivationEmail"
          formControlName="skipActivationEmail"></boolean-field>
      </ng-container>

      <!-- Custom profile fields -->
      <ng-container *ngFor="let cf of data.customFields"
        [formGroup]="form.get('customValues')">
        <custom-field-input *ngIf="canEdit(cf)" [field]="cf"
          [formControlName]="cf.internalName"></custom-field-input>
      </ng-container>

      <!-- Mobile phone -->
      <ng-container *ngIf="mobileAvailability !== 'disabled'"
        [formGroup]="mobileForm">
        <input-field [label]="i18n.phone.mobile"
          [required]="mobileAvailability === 'required'"
          formControlName="number"
          [placeholder]="data.phoneConfiguration.mobileExample"></input-field>
      </ng-container>

      <!-- Land-line phone -->
      <ng-container *ngIf="landLineAvailability !== 'disabled'"
        [formGroup]="landLineForm">
        <input-field [label]="i18n.phone.landLine"
          [required]="data.phoneConfiguration.landLineAvailability === 'required'"
          formControlName="number"
          [placeholder]="data.phoneConfiguration.landLineExample">
        </input-field>
        <input-field *ngIf="data.phoneConfiguration.extensionEnabled"
          formControlName="extension" fieldSize="tiny"
          [label]="i18n.phone.extension"></input-field>
      </ng-container>

      <!-- Passwords-->
      <ng-container *ngFor="let pt of data.passwordTypes; let i = index">
        <h2>{{ pt.name }}</h2>
        <ng-container [formGroup]="passwordForms[i]">
          <div *ngIf="pt.description" class="mb-2">{{ pt.description }}</div>
          <boolean-field *ngIf="login.user" formControlName="defined"
            [label]="i18n.user.registration.passwordAssign"></boolean-field>
          <ng-container *ngIf="passwordForms[i].get('defined').value">
            <input-field required formControlName="value" type="password"
              [label]="pt.name"></input-field>
            <input-field required formControlName="confirmationValue"
              type="password"
              [label]="i18n.user.passwordConfirmation(pt.name)">
            </input-field>
            <boolean-field *ngIf="pt.canForceChange"
              formControlName="forceChange"
              [label]="i18n.user.registration.passwordForceChange">
            </boolean-field>
          </ng-container>
        </ng-container>
      </ng-container>
      <actions ngClass="mt-3" forceRow>
        <button class="btn btn-primary" (click)="register()">
          {{ i18n.general.submit }}
        </button>
      </actions>
    </form>
  </page-content>

  <ng-template #done>
    <p [innerHTML]="doneMessageHtml | trust"></p>
    <actions ngClass="mt-3" forceRow>
      <button class="btn btn-primary" (click)="reload()">
        {{ i18n.user.operatorRegistrationAddAnother }}
      </button>
      <button class="btn btn-primary" (click)="viewProfile()">
        {{ i18n.user.registration.viewProfile }}
      </button>
    </actions>
  </ng-template>
</page-layout>
