<page-layout [ready]="data$ | async">
  <page-content *ngIf="ad" mode="viewForm" [heading]="ad.name">

    <div *ngIf="ad.image && (layout.ltsm$ | async)" class="d-flex justify-content-center mb-4">
      <avatar size="160" imageSize="200" useLightbox [image]="ad.image"
        [additionalImages]="ad.additionalImages"></avatar>
    </div>

    <div class="d-flex flex-row-reverse">
      <div *ngIf="layout.gtxs$ | async" class="image ml-4">
        <avatar [size]="ad.image ? 200 : 128" iconSize="128px" useLightbox
          icon="shopping_basket" [image]="ad.image" [additionalImages]="ad.additionalImages"></avatar>
      </div>
      <div class="d-flex flex-grow-1 flex-column">
        <label-value i18n-label label="Title" [value]="ad.name"></label-value>
        <label-value [label]="categoryLabel">
          <ng-container *ngFor="let category of (ad.categories || [])">
            <div>
              <ng-container *ngFor="let curr of categoryLevels(category); let first = first;">
                <ng-container *ngIf="!first">
                  &gt;
                </ng-container>
                {{ curr.name }}
              </ng-container>
            </div>
          </ng-container>
        </label-value>
        <label-value i18n-label label="Owner">
          <user-link [user]="ad.owner"></user-link>
        </label-value>
        <label-value *ngIf="ad.price" i18n-label label="Price">
          <ng-container *ngIf="ad.promotionalPrice">
            <span class="promo-price">
              {{ ad.price | number:ad.currency.decimalDigits }}
            </span>
            {{ ad.promotionalPrice | currency:ad.currency }}
          </ng-container>
          <ng-container *ngIf="ad.promotionalPrice == null">
            {{ ad.price | currency:ad.currency }}
          </ng-container>
        </label-value>
        <custom-field-value *ngFor="let value of ad.customValues"
          [fieldValue]="value"></custom-field-value>
      </div>
    </div>

    <h2 class="my-3 pt-3" i18n>Description</h2>
    <div [innerHTML]="ad.description | trust"></div>
  </page-content>
