<page-layout [ready]="data$ | async">
  <page-content *ngIf="data" mode="viewForm" [heading]="i18n.ad.title.order"
    [mobileHeading]="i18n.ad.mobileTitle.order"
    [headingActions]="headingActions$ | async">
    <div *ngIf="data.image && (layout.ltsm$ | async)"
      class="d-flex justify-content-center mt-2 mb-4">
      <avatar [roundBorders]="false" [zoom]="false" size="140" useLightbox
        [image]="data.image"></avatar>
    </div>

    <div class="d-flex flex-row-reverse">
      <div *ngIf="data.image && (layout.gtxs$ | async)" class="image ml-4">
        <avatar [roundBorders]="false" [zoom]="false" size="140" useLightbox
          [image]="data.image">
        </avatar>
      </div>
      <div class="d-flex flex-grow-1 flex-column">
        <label-value [label]="i18n.ad.order">
          {{ data.number }}
        </label-value>
        <label-value [label]="i18n.general.date">
          {{ data.creationDate | dateTime }}
        </label-value>
        <label-value [label]="i18n.general.status">
          {{ resolveStatusLabel() }}
        </label-value>
        <label-value *ngIf="!seller" [label]="i18n.ad.seller">
          <user-link [user]="data.seller"></user-link>
        </label-value>
        <label-value *ngIf="!buyer" [label]="i18n.ad.buyer">
          <user-link [user]="data.buyer"></user-link>
        </label-value>
        <label-value *ngIf="data.remarks" [label]="i18n.ad.remarks">
          {{ data.remarks }}
        </label-value>
      </div>
    </div>
    <h2 class="mt-4 mb-2">{{ i18n.ad.products }}
    </h2>
    <table class="table table-hover cursor-pointer small-height">
      <thead>
        <th *ngIf="layout.gtxs$ | async" class="no-border">
          {{ i18n.ad.number }}</th>
        <th class="no-border">{{ i18n.ad.product }}</th>
        <th class="no-border">{{ i18n.ad.quantity }}</th>
        <th *ngIf="layout.gtxs$ | async" class="no-border text-right">
          {{ i18n.ad.unitPrice }}
        </th>
        <th class="no-border text-right">{{ i18n.transaction.amount }}
        </th>
      </thead>
      <tbody>
        <tr *ngFor="let row of data.items"
          (click)="router.navigate(path(row))">
          <td *ngIf="layout.gtxs$ | async">{{ row.product.productNumber }}
          </td>
          <td class="link">{{ row.product.name }}</td>
          <td>{{ row.quantity }}</td>
          <td *ngIf="layout.gtxs$ | async" class="text-right">
            {{ row.price | currency:data.currency }}</td>
          <td class="text-right">
            {{ row.totalPrice | currency:data.currency }}
          </td>
        </tr>
        <tr class="no-hover">
          <td class="table-head-color"
            [attr.colspan]="(layout.gtxs$ | async) ? 4 : 2">
            {{ i18n.ad.subtotal }}</td>
          <td class="table-head-color text-right">
            {{ subtotal | currency:data.currency }}</td>
        </tr>
        <tr class="no-hover">
          <td [attr.colspan]="(layout.gtxs$ | async) ? 4 : 2">
            {{ i18n.ad.deliveryMethod + ': ' + resolveDeliveryLabel() }}
          </td>
          <td class="text-right">
            {{ data.deliveryPrice | currency:data.currency }}</td>
        </tr>
        <tr class="totalAmount no-hover">
          <td class="border-bottom-0 label label-value-label"
            [attr.colspan]="(layout.gtxs$ | async) ? 4 : 2">
            {{ i18n.ad.total }}</td>
          <td class="border-bottom-0 text-right label-value-value">
            {{ data.totalPrice | currency: data.currency }}</td>
        </tr>
      </tbody>
    </table>
    <h2 class="mb-2">{{ i18n.ad.deliveryInformation }}</h2>
    <label-value *ngIf="data.minDeliveryTime"
      [label]="i18n.ad.minDeliveryTime">
      {{  format.formatTimeInterval(data.minDeliveryTime) }}
    </label-value>
    <label-value *ngIf="data.maxDeliveryTime"
      [label]="i18n.ad.maxDeliveryTime">
      {{ format.formatTimeInterval(data.maxDeliveryTime) }}
    </label-value>
    <label-value *ngIf="data.deliveryPrice" [label]="i18n.ad.price">
      {{ data.deliveryPrice |currency: data.currency }}
    </label-value>
    <label-value *ngIf="hasAddressFields" [label]="i18n.ad.deliveryAddress"
      class="align-items-baseline">
      <address-details [address]="data.deliveryAddress"></address-details>
    </label-value>
    <h2 *ngIf="remarks || canSetRemarks" class="mb-2">{{ i18n.ad.remarks }}
    </h2>
    <label class="any-label-value" *ngIf="remarks">{{ remarks }}</label>
    <form *ngIf="canSetRemarks" [ngClass]="{'mt-4': remarks}"
      [formGroup]="form">
      <textarea-field formControlName="remarks"></textarea-field>
    </form>
    <actions>
      <button *ngIf="data.canAccept || data.canSetDeliveryInformation"
        class="btn btn-primary" (click)="accept()">
        {{ data.canSetDeliveryInformation ? i18n.ad.setDeliveryMethod : i18n.ad.accept }}
      </button>
      <button *ngIf="data.canReject" class="btn"
        [ngClass]="data.canAccept || data.canSetDeliveryInformation ? 'btn-outline-primary' : 'btn-primary'"
        [disabled]="requesting$ | async"
        (click)="reject()">{{ i18n.ad.reject }}</button>
    </actions>
  </page-content>
</page-layout>
