<page-layout [ready]="data$ | async">
  <page-content
    *ngIf="data"
    [heading]="operator ? i18n.userStatus.title.statusOperator : i18n.userStatus.title.statusUser"
    [mobileHeading]="operator ? i18n.userStatus.mobileTitle.statusOperator : i18n.userStatus.mobileTitle.statusUser"
    [headingActions]="headingActions$ | async">
    <user-info [user]="data.user"></user-info>

    <label-value [label]="i18n.userStatus.current">
      {{ userHelper.userStatus(data.status) }}
    </label-value>

    <ng-container *ngIf="editable">
      <hr />
      <ng-container [formGroup]="form">
        <single-selection-field formControlName="status" [label]="i18n.userStatus['new']" required>
          <field-option
            *ngFor="let status of data.possibleNewStatuses"
            [value]="status"
            [text]="userHelper.userStatus(status)">
          </field-option>
        </single-selection-field>
        <textarea-field formControlName="comment" [label]="i18n.general.comments"></textarea-field>
      </ng-container>
      <actions>
        <action-button (action)="save()" [label]="i18n.general.submit"> </action-button>
      </actions>
    </ng-container>
  </page-content>
</page-layout>
