@import '~@angular/material/theming';

@mixin ad-category-component-theme($theme) {
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  ad-category {
    .title {
      border-bottom: 1px solid mat-color($foreground, divider);
      background-color: mat-color($accent);
      color: mat-color($accent, default-contrast);
    }
    .title-text, .title-text:hover {
      color: mat-color($accent, default-contrast) !important;
    }
  }
}
