@import '~@angular/material/theming';

@mixin ad-category-component-theme($theme) {
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  ad-category {
    .title {
      border-bottom: 1px solid mat-color($foreground, divider);
      background-color: map-color($background, card);
    }
    .title-text, .title-text:hover {
      color: map-get($foreground, text);
    }
    .children a, .children a:hover {
      color: map-get($foreground, text);
    }

  }
}
