@import '~@angular/material/theming';

@mixin ad-category-component-theme($theme) {
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  ad-category {
    .title {
      border-bottom: 1px solid mat-color($foreground, divider);
      background-color: map-color($background, card);
      mat-icon {
        color: mat-color($accent);
      }
    }
    .title-text, .title-text:hover {
      color: map-get($foreground, text);
    }
    .children {
      a, a:hover {
        color: map-get($foreground, text) !important;
      }
    }
  }
}
