<mat-card [ngStyle]="{
    width: tileWidth == null || layout.xs ? 'auto' : tileWidth + 'px'
  }"
  fxFlex.xs="grow">
  <mat-card-content>
    <div class="title"
      fxLayout="row"
      fxLayoutAlign="center center">
      <div class="avatar-container"
        fxLayout="row"
        fxLayoutAlign="center center">
        <avatar [image]="image"
          [icon]="icon || 'shopping_basket'"
          [iconColor]="color == null ? 'accent' : ''"
          [iconCustomColor]="color"
          size="small"></avatar>
      </div>
      <a class="title-text"
        href="#"
        (click)="$event.preventDefault(); selection.emit(category)"
        fxFlex="grow"> {{ category.name }}
      </a>
    </div>
    <div *ngIf="!hideChildren"
      [ngClass]="{
        children: true,
        'with-show-all': showShowAll
      }">
      <ng-container *ngFor="let child of children">
        <a class="sub-category"
          href="#"
          (click)="$event.preventDefault(); selection.emit(child)">
          {{ child.name }}
        </a>
      </ng-container>
      <div class="space"
        *ngFor="let sp of spaces">&nbsp;</div>
    </div>
    <button *ngIf="showShowAll"
      class="show-all"
      mat-raised-button
      (click)="showAll()">
      {{ messages.adCategoryShowAll() }}
    </button>
  </mat-card-content>
</mat-card>
