.title-text {
  font-weight: 500;
}
:host ::ng-deep .title .mat-icon {
  opacity: 1 !important;
}
:host {
  margin-bottom: 18px;
}
.avatar-container {
  padding: 8px;
  padding-left: 12px;
}
:host ::ng-deep {
  .mat-card, .mat-card-content {
    padding: 0 !important;
    margin: 0 !important;
  }
}
.sub-category {
  display: block;
  width: 100%;
  padding: 6px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.show-all {
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  font-weight: normal;
}
:host ::ng-deep .show-all .mat-button-wrapper {
  opacity: 0.8;
}
.children {
  padding: 12px 8px 12px 16px;
  position: relative;
  opacity: 0.8;
}
.children.with-show-all {
  padding-bottom: 54px;
}
.children {
  a, .space {
    display: block;
    padding: 0;
    opacity: 0.8;
    margin-top: 6px;
  }
}
.children {
  a:first-of-type, .space:first-child {
    margin-top: 0px;
  }
}
