<mat-card [ngStyle]="{
    width: tileWidth == null || layout.xs ? 'auto' : tileWidth + 'px'
  }"
  fxFlex.xs="grow">
  <mat-card-content>
    <div class="title"
      fxLayout="row"
      fxLayoutAlign="center center">
      <div class="avatar-container">
        <avatar [image]="image"
          [icon]="icon || 'shopping_basket'"
          size="small"></avatar>
      </div>
      <a class="title-text"
        href="#"
        (click)="$event.preventDefault(); selection.emit(category)"
        fxFlex="grow"> {{ category.name }}
      </a>
    </div>
    <div class="children">
      <ng-container *ngFor="let child of children">
        <a class="sub-category"
          href="#"
          (click)="$event.preventDefault(); selection.emit(child)">
          {{ child.name }}
        </a>
      </ng-container>
    </div>
    <button *ngIf="showShowAll"
      class="show-all"
      mat-raised-button
      (click)="showAll()">
      {{ messages.adCategoryShowAll() }}
    </button>
  </mat-card-content>
</mat-card>
