agm-map {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}
:host ::ng-deep .agm-map-container-inner {
  flex: 1;
}

.promo-price {
  opacity: 0.5;
  text-decoration: line-through;
  margin-right: 6px;
}

.empty {
  height: 0;
  width: 0;
  margin: 0 0 12px 0;
  padding: 0;
}

.gt-xs :host ::ng-deep .mat-card {
  min-width: 64px !important;
  min-height: 64px !important;
  margin: 0 6px 12px 0;
}

.xs :host ::ng-deep .mat-card {
  margin: 0 0 12px 0;
}

.xs :host ::ng-deep .categories {
  padding: 8px;
}