<page-layout [title]="messages.adSearchTitle()"
  [hasHeader]="true"
  [loaded]="loaded"
  [filtersForm]="form"
  [tightContent]="true"
  [invisibleContent]="resultType.value === ResultType.CATEGORIES || !(dataSource.empty | async) && resultType.value === ResultType.TILES">
  <page-header>
    <result-type-field [formControl]="resultType"
      [allowedResultTypes]="resultTypes"></result-type-field>
  </page-header>
  <page-filters>
    <form fxLayout="column"
      [formGroup]="form">
      <mat-form-field>
        <input formControlName="keywords"
          matInput
          focused
          [placeholder]="messages.keywords()">
      </mat-form-field>
    </form>
  </page-filters>
  <page-content>
    <ng-container *ngIf="loaded | async">
      <ads-results [ngClass]="{
          hidden: resultType.value !== ResultType.CATEGORIES && ((renderingResults | async) || (dataSource.data | async)?.length === 0)
        }"
        fxFlex="grow"
        fxLayout="column"
        [dataSource]="dataSource"
        [rendering]="renderingResults | async"
        [query]="query"
        [data]="data"
        [resultType]="resultType.valueChanges | async"
        (update)="update()"
        (load)="renderingResults.next(false)"></ads-results>
      <div *ngIf="(dataSource.data | async)?.length === 0
        && resultType.value !== ResultType.CATEGORIES"
        class="no-results">{{ messages.searchNoResults() }}</div>
      <spinner *ngIf="renderingResults | async"></spinner>
    </ng-container>
  </page-content>
</page-layout>
