<page-layout [ready]="data$ | async">
  <ng-container *ngIf="loaded$ | async; else loading">
    <page-content mode="filters" i18n-heading heading="Advertisements"
      [headingActions]="headingActions$ | async">
      <form [formGroup]="form" class="filters-form border-bottom">
        <div class="row no-gutters">
          <div class="col-12 col-md-6">
            <input-field labelPosition="side" formControlName="keywords"
              i18n-label label="Keywords"></input-field>
          </div>
          <div class="col-12 col-md-6" *ngFor="let cf of basicFields">
            <custom-field-filter labelPosition="side" [field]="cf"
              [formControl]="form.get('customValues').get(cf.internalName)">
            </custom-field-filter>
          </div>
          <ng-container *ngIf="moreFilters$ | async">
            <div class="col-12 col-md-6" *ngFor="let cf of advancedFields">
              <custom-field-filter labelPosition="side" [field]="cf"
                [formControl]="form.get('customValues').get(cf.internalName)">
              </custom-field-filter>
            </div>
          </ng-container>
        </div>
      </form>
      <div class="row no-gutters filters-row">
        <div class="col-12 col-xs-7 col-md-9">
          <result-type-field [allowedResultTypes]="allowedResultTypes$ | async"
            [formControl]="resultTypeControl">
          </result-type-field>
        </div>
        <div *ngIf="resultType !== 'categories' && (layout.gtxxs$ | async)"
          class="col-12 col-xs-5 col-md-3">
          <single-selection-field [formControl]="form.get('orderBy')"
            i18n-display display="Order by" i18n-emptyOption emptyOption="Relevance">
            <field-option value="date" i18n-text text="Last published"></field-option>
            <field-option value="priceAsc" i18n-text text="Lowest price"></field-option>
            <field-option value="priceDesc" i18n-text text="Highest price"></field-option>
          </single-selection-field>
        </div>
      </div>
    </page-content>

    <page-content *ngIf="(categoryTrail$ | async)?.length > 0">
      <nav class="breadcrumb">
        <ol class="breadcrumb">
          <li *ngFor="let cat of categoryTrail$ | async; let last = last"
            class="breadcrumb-item" [ngClass]="{active: last}">
            <ng-container *ngIf="last">{{ cat.name }}</ng-container>
            <a *ngIf="!last" href="#" (click)="$event.preventDefault(); onCategorySelected(cat)">{{
              cat.name }}</a>
            <!-- Don't leave trailing spaces or they generate an extra space -->
          </li>
        </ol>
      </nav>
    </page-content>

    <ng-container *ngTemplateOutlet="resultsTemplate"></ng-container>
  </ng-container>
</page-layout>

<ng-template #loading>
  <page-content>
    <spinner></spinner>
  </page-content>
</ng-template>

<ng-template #resultsTemplate>
  <ads-results [results]="results$ | async" [rendering$]="rendering$" [data]="data$ | async"
    [resultType]="resultType$ | async" (update)="update($event)"
    (categorySelected)="onCategorySelected($event)">
  </ads-results>
</ng-template>
