:host ::ng-deep .mat-card {
  margin: 0;
}

a {
  display: block;
  margin-top: 8px;
}
a:first-of-type {
  margin-top: 0;
}

avatar {
  margin-right: 12px;
}

:host ::ng-deep .mat-icon {
  opacity: 1;
}

.children {
  opacity: 0.8;
}