<h1 mat-dialog-title
  fxLayout="row"
  fxLayoutAlign="center center">
  <avatar size="medium"
    [icon]="icon || 'shopping_basket'"
    [iconColor]="color == null ? 'accent' : ''"
    [iconCustomColor]="color"></avatar>
  <span fxFlex="grow">
    {{ category.name }}
  </span>
</h1>
<mat-dialog-content>
  <div class="children">
    <a class="sub-category"
      *ngFor="let child of category.children || []"
      href="#"
      (click)="$event.preventDefault(); select(child)">
      {{ child.name }}
    </a>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <actions reverse>
    <button mat-raised-button
      (click)="dialogRef.close()">
      {{ messages.close() }}
    </button>
  </actions>
</mat-dialog-actions>
