<page-layout [ready]="data$ | async">
  <ng-container *ngIf="loaded$ | async; else loading">
    <page-content mode="filters" [heading]="title$ | async">
      <div class="filters-row">
        <result-type-field [formControl]="resultTypeControl"
          [allowedResultTypes]="allowedResultTypes$ | async">
        </result-type-field>
      </div>
    </page-content>
    <ads-results [results]="results$ | async" [rendering$]="rendering$"
      singleUser [data]="data$ | async" [resultType]="resultType$ | async"
      (update)="update($event)">
    </ads-results>
  </ng-container>
</page-layout>

<ng-template #loading>
  <page-content>
    <spinner></spinner>
  </page-content>
</ng-template>
