<ng-container *ngIf="data.user && !authHelper.isSelf(data.user)">
  <user-info [user]="data.user">
  </user-info>
</ng-container>
<!-- description + image -->
<label-value [label]="i18n.general.type">
  {{ data.type.voucherTitle }}
</label-value>
<label-value [label]="i18n.voucher.numberOfVouchers">
  {{ buyVoucher.count }}
</label-value>
<label-value [label]="i18n.voucher.amountPerVoucher">
  {{ buyVoucher.amount | currency:data.account.currency }}
</label-value>
<!-- payment fields -->
<ng-container *ngFor="let cf of data.paymentCustomFields">
  <label-value
    [hidden]="!fieldHelper.hasValue(cf.internalName, buyVoucher.paymentCustomValues)"
    [label]="cf.name"
    [labelPosition]="labelOnTop((layout.ltsm$ | async), cf) ? 'top' : 'auto'">
    <format-field-value [customValues]="buyVoucher.paymentCustomValues"
      [fields]="data.paymentCustomFields" [fieldName]="cf.internalName">
    </format-field-value>
  </label-value>
</ng-container>
<!-- custom fields -->
<ng-container *ngFor="let cf of data.voucherCustomFields">
  <label-value
    [hidden]="!fieldHelper.hasValue(cf.internalName, buyVoucher.voucherCustomValues)"
    [label]="cf.name"
    [labelPosition]="labelOnTop((layout.ltsm$ | async), cf) ? 'top' : 'auto'">
    <format-field-value [customValues]="buyVoucher.voucherCustomValues"
      [fields]="data.voucherCustomFields" [fieldName]="cf.internalName">
    </format-field-value>
  </label-value>
</ng-container>

<ng-container *ngIf="confirmationPasswordInput">
  <hr *ngIf="layout.gtxxs$ | async">
  <confirmation-password focused
    [formControl]="form.get('confirmationPassword')"
    [passwordInput]="confirmationPasswordInput"
    [createDeviceConfirmation]="createDeviceConfirmation"
    (confirmationModeChanged)="confirmationModeChanged.emit($event)"
    (confirmed)="confirmed.emit($event)">
  </confirmation-password>
</ng-container>
