<ng-container [formGroup]="form">
  <user-info *ngIf="data.user && !authHelper.isSelf(data.user)"
    [user]="data.user"></user-info>
  <!-- description + image -->
  <label-value [label]="i18n.voucher.originAccount" kind="fieldView">
    {{ data.account.type.name }}
  </label-value>
  <label-value [label]="i18n.account.availableBalance" kind="fieldView">
    {{ data.account.status.availableBalance | currency:currency }}
  </label-value>
  <label-value *ngIf="data.minimumTimeToRedeem" kind="fieldView"
    [label]="i18n.voucher.buy.minTimeToRedeem">
    {{
    i18n.voucher.buy.minTimeToRedeemAfterBuy(format.formatTimeInterval(data.minimumTimeToRedeem))
    }}
  </label-value>
  <input-field type="number" formControlName="count" required
    fieldSize="small" [label]="i18n.voucher.numberOfVouchers">
  </input-field>
  <decimal-field formControlName="amount" required
    [label]="i18n.voucher.amountPerVoucher" [prefix]="currency.prefix"
    [suffix]="currency.suffix" [scale]="currency.decimalDigits">
  </decimal-field>
  <label-value kind="fieldView"
    *ngIf="data.amountRange?.min || data.amountRange?.max"
    [label]="i18n.voucher.buy.amountRange" [value]="format.formatRange({
    min: data.amountRange.min | currency:currency,
    max: data.amountRange.max | currency:currency
  })">
  </label-value>

  <label-value *ngFor="let cf of data.customFields" [label]="cf.name"
    [kind]="'field'" [fieldSize]="fieldSize(cf)" [required]="cf.required"
    [labelPosition]="cf.type === 'boolean' ? 'sideForced' : 'auto'">
    <custom-field-input [field]="cf" hideLabel
      [formControl]="customFieldControlsMap.get(cf.internalName)">
    </custom-field-input>
  </label-value>
</ng-container>
