<label-value [label]="i18n.general.type">
  {{ data.type.voucherTitle }}
</label-value>
<label-value [label]="i18n.voucher.numberOfVouchers">
  {{ generateVoucher.count }}
</label-value>
<label-value *ngIf="showAmount" [label]="i18n.voucher.amountPerVoucher">
  {{ generateVoucher.amount | currency : data.account.currency }}
</label-value>
<label-value *ngIf="user" [label]="i18n.general.user">
  <user-link [user]="user"></user-link>
</label-value>
<ng-container *ngFor="let cf of data.voucherCustomFields">
  <label-value
    [hidden]="!fieldHelper.hasValue(cf.internalName, generateVoucher.voucherCustomValues)"
    [label]="cf.name"
    [labelPosition]="labelOnTop(layout.ltsm$ | async, cf) ? 'top' : 'auto'">
    <format-field-value
      [customValues]="generateVoucher.voucherCustomValues"
      [fields]="data.voucherCustomFields"
      [fieldName]="cf.internalName">
    </format-field-value>
  </label-value>
</ng-container>

<ng-container *ngIf="confirmationPasswordInput">
  <hr *ngIf="layout.gtxxs$ | async" />
  <confirmation-password
    focused
    [formControl]="form.get('confirmationPassword')"
    [passwordInput]="confirmationPasswordInput"
    [createDeviceConfirmation]="createDeviceConfirmation"
    (showSubmit)="showSubmit.emit($event)"
    (confirmed)="confirmed.emit($event)">
  </confirmation-password>
</ng-container>
