<page-layout [ready]="data$ | async" [ngSwitch]="step$ | async">
  <page-content *ngSwitchCase="'token'" [heading]="i18n.voucher.title.redeem"
    [mobileHeading]="i18n.voucher.mobileTitle.redeem"
    [mode]="(layout.ltsm$ | async) ? 'fullHeight' : 'normal'">
    <ng-container *ngIf="(data$ | async); else loading">
      <voucher-transaction-step-token [data]="data" [token]="token"
        (scan)="toForm()">
      </voucher-transaction-step-token>
      <actions>
        <action-button [disabled]="requesting$ | async" (action)="toForm()"
          [label]="i18n.general.next">
        </action-button>
      </actions>
    </ng-container>
  </page-content>

  <page-content *ngSwitchCase="'form'" [heading]="i18n.voucher.title.redeem"
    [mobileHeading]="i18n.voucher.mobileTitle.redeem"
    [mode]="(layout.ltsm$ | async) ? 'fullHeight' : 'normal'">

    <ng-container *ngIf="(dataForTransaction$ | async); else loading">
      <notification *ngIf="!dataForTransaction.shouldPreview" class="mb-3"
        type="warning">
        {{ i18n.voucher.redeem.confirm }}
      </notification>

      <voucher-transaction-step-form [data]="dataForTransaction" [form]="form"
        [amountAsField]="dataForTransaction.type.allowPartialRedeems">
      </voucher-transaction-step-form>

      <ng-container *ngIf="dataForTransaction.pinInput">
        <hr *ngIf="layout.gtxxs$ | async">
        <label-value [label]="dataForTransaction.pinInput.name" kind="field"
          required>
          <password-input disableAutocomplete [formControl]="form.get('pin')"
            [passwordInput]="dataForTransaction.pinInput">
          </password-input>
        </label-value>
      </ng-container>

      <actions>
        <action-button
          *ngIf="(confirmationMode$ | async) === ConfirmationMode.Password; else emptyDiv"
          [disabled]="requesting$ | async" (action)="maybePreview()"
          [label]="dataForTransaction.shouldPreview ? i18n.general.next : i18n.general.submit">
        </action-button>
        <action-button outline (action)="backToToken()"
          [label]="i18n.general.previous">
        </action-button>
      </actions>
    </ng-container>
  </page-content>

  <page-content *ngSwitchCase="'confirm'"
    [heading]="i18n.voucher.title.redeem"
    [mobileHeading]="i18n.voucher.mobileTitle.redeem"
    [mode]="(layout.ltsm$ | async) ? 'fullHeight' : 'normal'">
    <ng-container *ngIf="(dataForTransaction$ | async); else loading">

      <notification ngClass="mb-3" type="warning">
        {{ i18n.voucher.redeem.confirm }}
      </notification>

      <voucher-transaction-step-confirm *ngIf="preview$ | async"
        [preview]="preview" [transaction]="preview.redeem">
      </voucher-transaction-step-confirm>

      <ng-container *ngIf="preview.pinInput">
        <hr *ngIf="layout.gtxxs$ | async">
        <label-value [label]="preview.pinInput.name" kind="field" required>
          <password-input disableAutocomplete [formControl]="pin"
            [passwordInput]="preview.pinInput">
          </password-input>
        </label-value>
      </ng-container>

      <actions>
        <action-button
          *ngIf="(confirmationMode$ | async) === ConfirmationMode.Password; else emptyDiv"
          [disabled]="requesting$ | async" (action)="performFromPreview()"
          [label]="i18n.general.submit">
        </action-button>
        <action-button outline (action)="backToForm()"
          [label]="i18n.general.previous">
        </action-button>
      </actions>
    </ng-container>
  </page-content>

</page-layout>

<ng-template #loading>
  <spinner></spinner>
</ng-template>

<ng-template #emptyDiv>
  <div></div>
</ng-template>
