<page-layout [ready]="data$ | async">
  <ng-container *ngIf="data then content"></ng-container>
</page-layout>

<ng-template #content>
  <voucher-filters [data]="data" [form]="form"
    [heading]="i18n.voucher.title.search"
    [mobileHeading]="i18n.voucher.mobileTitle.search"
    [moreFilters]="(moreFilters$ | async)"
    [headingActions]="(headingActions$ | async)"
    [customFieldsInSearch]="customFieldsInSearch"></voucher-filters>
  <results-layout resultType="list" [results]="results$ | async"
    [toLink]="toLink" (update)="update($event)" [rendering$]="rendering$">

    <mobile-result *mobileResult="let row" [avatarImage]="row.type.image"
      [avatarIcon]="SvgIcon.Ticket" [amount]="row.amount"
      [amountColor]="false" [currency]="row.type.configuration.currency"
      [topLeft]="apiI18n.voucherStatus(row.status)">
      <div class="cell-main">
        {{ row.type.name}}
      </div>
    </mobile-result>

    <table *resultTable class="table table-hover cursor-pointer">
      <thead>
        <th class="avatar"></th>
        <th>{{ i18n.general.creationDate }}</th>
        <th>{{ i18n.general.expirationDate }}</th>
        <th>{{ i18n.general.status }}</th>
        <th>{{ i18n.general.type }}</th>
        <th class="amount">{{ i18n.transaction.amount }}</th>
        <th class="amount">{{ i18n.voucher.balance }}</th>
      </thead>
      <tbody>
        <ng-container *ngFor="let row of (results$ | async)?.results">
          <tr (click)="router.navigate(path(row))">
            <td class="avatar">
              <avatar [image]="row.type.image" [icon]="SvgIcon.Ticket">
              </avatar>
            </td>
            <td>{{ row.creationDate | date }}</td>
            <td>{{ row.expirationDate | date }}</td>
            <td>{{ apiI18n.voucherStatus(row.status) }}</td>
            <td>{{ row.type.name}}</td>
            <td class="amount"> {{
              row.amount | currency:row.type.configuration.currency
              }} </td>
            <td class="amount"> {{
              row.balance | currency:row.type.configuration.currency
              }}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </results-layout>
</ng-template>
