<ng-container [formGroup]="form">
  <user-info *ngIf="data.user && !authHelper.isSelf(data.user)"
    [user]="data.user"></user-info>
  <!-- description + image -->
  <label-value [label]="i18n.voucher.originAccount" kind="fieldView">
    {{ data.account.type.name }}
  </label-value>
  <label-value [label]="i18n.account.availableBalance" kind="fieldView">
    {{ data.account.status.availableBalance | currency:currency }}
  </label-value>
  <label-value *ngIf="data.minimumTimeToRedeem" kind="fieldView"
    [label]="i18n.voucher.buy.minTimeToRedeem">
    {{ i18n.voucher.buy.minTimeToRedeemAfterBuy(
    format.formatTimeInterval(data.minimumTimeToRedeem)) }}
  </label-value>
  <label-value *ngIf="data.expirationDate" kind="fieldView"
    [label]="i18n.general.expirationDate">
    {{ data.expirationDate | date }}
  </label-value>
  <label-value *ngIf="data.redeemOnWeekDays" kind="fieldView"
    [label]="i18n.voucher.redeem.onDays">
    {{ format.formatWeekDays(data.redeemOnWeekDays) ||
    i18n.voucher.redeem.onDaysAny }}
  </label-value>
  <input-field formControlName="email" required [label]="i18n.user.email">
  </input-field>
  <label-value *ngIf="fixedAmount; else regularAmount" kind="fieldView"
    [label]="i18n.transaction.amount">
    {{ fixedAmount | currency:currency }}
  </label-value>
  <ng-template #regularAmount>
    <decimal-field [label]="i18n.transaction.amount" required
      formControlName="amount" [prefix]="currency.prefix"
      [suffix]="currency.suffix" [scale]="currency.decimalDigits">
    </decimal-field>
    <label-value kind="fieldView"
      *ngIf="data.amountRange?.min && data.amountRange?.max"
      [label]="i18n.voucher.buy.amountRange" [value]="
      format.formatRange({
        min: data.amountRange.min | currency:currency,
        max: data.amountRange.max | currency:currency
      })">
    </label-value>
    <label-value kind="fieldView"
      *ngIf="data.amountRange?.min && !data.amountRange?.max"
      [label]="i18n.voucher.buy.minimumAmount"
      [value]="data.amountRange.min | currency:currency">
    </label-value>
    <label-value kind="fieldView"
      *ngIf="!data.amountRange?.min && data.amountRange?.max"
      [label]="i18n.voucher.buy.maximumAmount"
      [value]="data.amountRange.max | currency:currency">
    </label-value>
  </ng-template>
  <textarea-field formControlName="message"
    [label]="i18n.voucher.send.message">
  </textarea-field>
  <custom-field-input *ngFor="let cf of data.paymentCustomFields" [field]="cf"
    [formControl]="form.controls.paymentCustomValues.get(cf.internalName)">
  </custom-field-input>
  <custom-field-input *ngFor="let cf of data.voucherCustomFields" [field]="cf"
    [formControl]="form.controls.voucherCustomValues.get(cf.internalName)">
  </custom-field-input>
</ng-container>
