<page-layout [ready]="data$ | async">
  <page-content *ngIf="data$ | async; else loading" [heading]="title"
    [mobileHeading]="mobileTitle" [headingActions]="headingActions$ | async">

    <notification class="mb-3" *ngIf="comesFromANewTransaction()" type="info"
      [icon]="SvgIcon.Check2">
      <div>{{ resolveLastTransactionNotificationMessage() }}</div>
    </notification>

    <div class="d-flex flex-grow-1 flex-column">
      <label-value [label]="i18n.voucher.voucher"
        [value]="transaction.type.voucherTitle">
      </label-value>
      <label-value *ngIf="transaction.token" [label]="i18n.voucher.token">
        <maybe-link [link]="voucherLink">{{ transaction.token }}</maybe-link>
      </label-value>
      <label-value [label]="i18n.voucher.transaction.date"
        [value]="transaction.date | dateTime">
      </label-value>
      <label-value *ngIf="!self" [label]="i18n.voucher.transaction.user"
        [value]="transaction.user?.display">
      </label-value>
      <label-value [label]="i18n.general.by"
        [value]="transaction.by?.display">
      </label-value>
      <label-value [label]="i18n.voucher.transaction.amount"
        [value]="transaction.amount | currency:transaction.type.configuration.currency">
      </label-value>
      <label-value *ngIf="transaction.payment"
        [label]="i18n.voucher.transaction.payment">
        <maybe-link
          [link]="transaction.payment.id ? bankingHelper.transactionPath(transaction.payment) : null">
          {{ transaction.payment.display }}
        </maybe-link>
      </label-value>
      <!-- Custom values -->
      <custom-field-value *ngFor="let value of data.customValues"
        [fieldValue]="value">
      </custom-field-value>
    </div>

    <ng-container *ngIf="comesFromANewTransaction()">
      <actions forceRow>
        <action-button (action)="navigateToPerformNew()"
          [label]="i18n.general.close">
        </action-button>
      </actions>
    </ng-container>
  </page-content>
</page-layout>

<ng-template #loading>
  <page-content>
    <spinner></spinner>
  </page-content>
</ng-template>
