<ng-container *ngIf="!self">
  <user-info [user]="preview.user"></user-info>
  <hr>
</ng-container>

<div class="d-flex flex-grow-1 flex-column">
  <div
    [ngClass]="{'d-flex flex-row-reverse justify-content-between': (layout.gtsm$ | async) && preview.type.image}">
    <div *ngIf="preview.type.image"
      class="image d-flex justify-content-center mt-2 mb-4"
      [ngClass]="{'flex-grow-1': !preview.type.voucherDescription}">
      <avatar-lightbox size="160" imageSize="200"
        [image]="preview.type.image">
      </avatar-lightbox>
    </div>
    <ng-container *ngIf="preview.type.voucherDescription">
      <div class="break-nl">{{ preview.type.voucherDescription }}
      </div>
    </ng-container>
  </div>
  <hr class="mt-3" />
  <label-value [label]="i18n.voucher.voucher"
    [value]="preview.type.voucherTitle" kind="fieldView">
  </label-value>
  <label-value [label]="i18n.voucher.transaction.amount"
    [value]="preview.amount | currency:currency">
  </label-value>
  <ng-container *ngIf="topUp?.email">
    <label-value
      [label]="pinIsSent ? i18n.voucher.topUp.sendPinBy : i18n.voucher.topUp.sendNotificationsBy"
      [value]="i18n.general.sendMedium.email">
    </label-value>
    <label-value [label]="i18n.user.email" [value]="topUp.email">
    </label-value>
  </ng-container>
  <ng-container *ngIf="topUp?.mobilePhone">
    <label-value
      [label]="pinIsSent ? i18n.voucher.topUp.sendPinBy : i18n.voucher.topUp.sendNotificationsBy"
      [value]="i18n.general.sendMedium.sms">
    </label-value>
    <label-value [label]="i18n.phone.mobile"
      [value]="topUpPreview.formattedMobilePhone">
    </label-value>
  </ng-container>
  <label-value *ngIf="topUpPreview?.owner" [label]="i18n.voucher.owner"
    [value]="topUpPreview.owner.display">
  </label-value>
  <custom-field-value *ngFor="let fv of topUpPreview?.voucherCustomValues"
    [fieldValue]="fv">
  </custom-field-value>
  <custom-field-value *ngFor="let fv of preview.paymentCustomValues"
    [fieldValue]="fv">
  </custom-field-value>
</div>
