<ng-container *ngIf="!self">
  <user-info [user]="result.user"></user-info>
  <hr>
</ng-container>

<div class="d-flex flex-grow-1 flex-column">
  <label-value [label]="i18n.general.type" [value]="result.type.name">
  </label-value>
  <label-value *ngIf="result.token" [label]="i18n.voucher.token"
    [value]="result.token">
  </label-value>
  <label-value [label]="i18n.voucher.transaction.date"
    [value]="result.date | dateTime">
  </label-value>
  <label-value [label]="i18n.voucher.transaction.amount"
    [value]="result.amount | currency:result.type.configuration.currency">
  </label-value>
  <label-value *ngIf="result.payment"
    [label]="i18n.voucher.transaction.payment"
    [value]="result.payment?.display">
  </label-value>
</div>
