<ng-container *ngIf="!self">
  <user-info [user]="data.user"></user-info>
  <hr>
</ng-container>

<div class="d-flex flex-grow-1 flex-column" [formGroup]="form">
  <div
    [ngClass]="{'d-flex flex-row-reverse justify-content-between': (layout.gtsm$ | async) && data.type.image}">
    <div *ngIf="data.type.image"
      class="image d-flex justify-content-center mt-2 mb-4"
      [ngClass]="{'flex-grow-1': !data.type.voucherDescription}">
      <avatar size="160" imageSize="200" useLightbox
        [image]="data.type.image">
      </avatar>
    </div>
    <ng-container *ngIf="data.type.voucherDescription">
      <div class="break-nl">{{ data.type.voucherDescription }}
      </div>
    </ng-container>
  </div>
  <hr *ngIf="data.type.image" class="mt-3" />
  <label-value [label]="i18n.voucher.voucher" [value]="data.type.voucherTitle"
    kind="fieldView">
  </label-value>

  <ng-container *ngIf="data.type.configuration.currency as currency">
    <decimal-field formControlName="amount" focused required
      *ngIf="amountAsField; else plainAmount"
      [label]="i18n.voucher.transaction.amount" [prefix]="currency.prefix"
      [suffix]="currency.suffix" [scale]="currency.decimalDigits">
    </decimal-field>
    <ng-template #plainAmount>
      <label-value [label]="i18n.transaction.amount"
        [value]="data.amount | currency:currency" kind="fieldView">
      </label-value>
    </ng-template>
  </ng-container>

  <ng-container *ngIf="topUpData?.isActivation">
    <label-value *ngIf="sendByOptions.length === 0; else sendMediumsRadio"
      [label]="i18n.voucher.topUp.sendPinBy" [value]="sendByOptions[0].text"
      kind="fieldView">
    </label-value>
    <ng-template #sendMediumsRadio>
      <radio-group-field [formControl]="sendMedium"
        [label]="pinIsSent ? i18n.voucher.topUp.sendPinBy : i18n.voucher.topUp.sendNotificationsBy"
        [fieldOptions]="sendByOptions">
      </radio-group-field>
    </ng-template>

    <ng-container
      [ngSwitch]="(sendMedium.valueChanges | async) || sendMedium.value">
      <input-field *ngSwitchCase="'email'" [label]="i18n.user.email"
        formControlName="email" required>
      </input-field>
      <input-field *ngSwitchCase="'sms'" [label]="i18n.phone.mobile"
        formControlName="mobilePhone" required>
      </input-field>
    </ng-container>

    <ng-container
      *ngIf="topUpData?.pinOnActivation === VoucherPinOnActivationEnum.INPUT">
      <boolean-field
        *ngIf="(sendMedium.value || (sendMedium.valueChanges | async)) !== 'off'"
        [formControl]="manualPin" [label]="i18n.voucher.topUp.manualPin">
      </boolean-field>
      <ng-container
        *ngIf="manualPin.value || (manualPin.valueChanges | async)">
        <label-value kind="field" [label]="i18n.voucher.topUp.pin" required
          fieldSize="small">
          <password-input disableAutocomplete formControlName="pin"
            placeholder="" [passwordInput]="topUpData.pinInput">
          </password-input>
        </label-value>
        <label-value kind="field" [label]="i18n.voucher.topUp.pinConfirm"
          required fieldSize="small">
          <password-input disableAutocomplete
            formControlName="pinConfirmation" placeholder=""
            [passwordInput]="topUpData.pinInput">
          </password-input>
        </label-value>
      </ng-container>
    </ng-container>

    <custom-field-input *ngFor="let cf of resolveCustomFields()" [field]="cf"
      [formControl]="form.controls.voucherCustomValues.get(cf.internalName)">
    </custom-field-input>
  </ng-container>

  <custom-field-input *ngFor="let cf of data.paymentCustomFields" [field]="cf"
    [formControl]="form.controls.paymentCustomValues.get(cf.internalName)">
  </custom-field-input>
</div>
