<page-layout [ready]="data$ | async">
  <page-content *ngIf="data"
    [heading]="i18n.transaction.title.paymentConfirmation"
    [mobileHeading]="i18n.transaction.mobileTitle.paymentConfirmation"
    [mode]="(layout.ltsm$ | async) ? 'fullHeight' : 'normal'" last>
    <accept-payment-request-confirm class="flex-grow-1 d-flex flex-column"
      [transaction]="transactionKey" [preview]="data"
      [confirmationPassword]="confirmationPassword"
      (confirmationModeChanged)="confirmationMode$.next($event)" [form]="form"
      (confirmed)="perform($event)" [showPaymentType]="true">
    </accept-payment-request-confirm>
    <actions forceRow>
      <action-button
        *ngIf="(confirmationMode$ | async) != ConfirmationMode.Device; else spacer"
        [disabled]="!canConfirm || (requesting$ | async)" (action)="perform()"
        [label]="i18n.general.confirm"></action-button>
      <ng-template #spacer>&nbsp;</ng-template>
    </actions>
  </page-content>
</page-layout>
