<ng-container *ngIf="layout.ltsm$ | async; else largeTable">
  <results-layout [results]="items" resultType="list" [toLink]="detailed ? toLink : null" [embedded]="true">
    <mobile-result
      *mobileResult="let row"
      [avatarImage]="row.product.image"
      [avatarIcon]="SvgIcon.Basket"
      [title]="row.product.name">
      <div class="d-flex">
        <div>
          <div class="cell-text">
            {{ i18n.transaction.amount }}:
            {{ row.totalPrice | currency : currency }}
          </div>
          <div class="cell-text">{{ i18n.ad.number }}: {{ row.product.productNumber }}</div>
          <div class="cell-text">
            {{ i18n.ad.unitPrice }}:
            {{ row.price | currency : currency }}
          </div>
          <div class="cell-text">{{ i18n.ad.quantity }}: {{ resolveQuantityLabel(row) }}</div>
        </div>
        <div *ngIf="detailed" class="ml-auto text-right d-flex flex-column">
          <button
            type="button"
            [tooltip]="i18n.ad.changeQuantity"
            class="btn btn-icon"
            (click)="changeQuantity.emit([null, row, false]); $event.stopPropagation(); $event.preventDefault()">
            <icon [icon]="SvgIcon.Pencil"></icon>
          </button>
          <button
            type="button"
            [tooltip]="i18n.general.remove"
            class="btn btn-icon mt-2"
            (click)="remove.emit(row); $event.stopPropagation(); $event.preventDefault()">
            <icon [icon]="SvgIcon.Trash"></icon>
          </button>
        </div>
      </div>
    </mobile-result>
    <table *resultTable></table>
  </results-layout>
</ng-container>
<ng-template #largeTable>
  <h2 class="mt-4 mb-2">{{ i18n.ad.products }}</h2>
  <table class="table table-hover">
    <thead>
      <th colspan="2" class="avatar no-border">{{ i18n.ad.product }}</th>
      <th class="no-border">{{ i18n.ad.number }}</th>
      <th class="no-border" width="10%">{{ i18n.ad.quantity }}</th>
      <th class="text-right no-border">{{ i18n.ad.unitPrice }}</th>
      <th class="text-right no-border">{{ i18n.transaction.amount }}</th>
      <th *ngIf="detailed" class="actions no-border"></th>
    </thead>
    <tbody>
      <tr *ngFor="let row of items; let last = last">
        <td
          class="avatar"
          [ngClass]="{
            'pb-0': layout.xxs$ | async,
            'border-0': layout.xxs$ | async,
            'border-bottom-0': last
          }">
          <avatar [image]="row.product.image" [tooltip]="row.product.name" [icon]="SvgIcon.Basket"></avatar>
        </td>

        <td
          width="30%"
          [ngClass]="{ link: detailed, 'border-bottom-0': last }"
          [ngStyle]="{ 'text-decoration': !isAvailable(row) ? 'line-through' : '' }"
          (click)="navigate(row)">
          <span>{{ row.product.name }}</span>
        </td>
        <td [ngClass]="{ 'border-bottom-0': last }">
          {{ row.product.productNumber }}
        </td>
        <td [ngClass]="{ 'border-bottom-0': last }">
          <ng-container *ngIf="useForm(layout.gtsm$ | async)" [formGroup]="form">
            <decimal-field
              *ngIf="isAvailable(row)"
              [formControlName]="row.id"
              [minRange]="minItemsRange(row)"
              [maxRange]="maxItemsRange(row)"
              [customValueLabel]="i18n.ad.customQuantity"
              [scale]="row.product.allowDecimalQuantity ? 2 : 0">
            </decimal-field>
          </ng-container>
          <ng-container *ngIf="!useForm(layout.gtsm$ | async)">
            {{ resolveQuantityLabel(row) }}
          </ng-container>
        </td>
        <td [ngClass]="{ 'border-bottom-0': last }" class="text-right">
          {{ row.price | currency : currency }}
        </td>
        <td [ngClass]="{ 'border-bottom-0': last }" class="text-right">
          {{ row.totalPrice | currency : currency }}
        </td>
        <td *ngIf="detailed" class="actions actions-multiple" [ngClass]="{ 'border-bottom-0': last }">
          <button
            type="button"
            *ngIf="!useForm(layout.gtsm$ | async) && isAvailable(row)"
            [tooltip]="i18n.ad.changeQuantity"
            class="btn btn-icon"
            (click)="changeQuantity.emit([null, row, false]); $event.stopPropagation()">
            <icon [icon]="SvgIcon.Pencil"></icon>
          </button>
          <button
            type="button"
            [tooltip]="i18n.general.remove"
            class="btn btn-icon"
            [ngClass]="{ 'ml-3': !useForm(layout.gtsm$ | async) && isAvailable(row) }"
            (click)="remove.emit(row); $event.stopPropagation()">
            <icon [icon]="SvgIcon.Trash"></icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</ng-template>
