<page-layout [ready]="data$ | async" [ngSwitch]="step$ | async" size="medium"
  hideMenu>
  <page-content *ngSwitchCase="'group'" i18n-heading heading="User registration"
    [mode]="(layout.ltsm$ | async) ? 'fullHeight' : 'normal'">
    <div class="flex-grow-1">
      <registration-step-group [groups]="groups" [control]="group"></registration-step-group>
    </div>
    <actions ngClass="mt-3" forceRow>
      <button class="btn btn-primary" (click)="showFields()" i18n>Next</button>
    </actions>
  </page-content>

  <page-content *ngSwitchCase="'fields'" i18n-heading heading="User registration"
    [mode]="(layout.ltsm$ | async) ? 'fullHeight' : 'normal'">
    <div class="flex-grow-1">
      <registration-step-fields [data]="data" [form]="form" [mobileForm]="mobileForm"
        [landLineForm]="landLineForm" [defineAddress]="defineAddress"
        [addressForm]="addressForm" (imageUploaded)="this.image = $event"
        (imageRemoved)="this.image = null">
      </registration-step-fields>
    </div>
    <actions ngClass="mt-3" forceRow>
      <button class="btn btn-primary" [disabled]="requesting$ | async"
        (click)="showConfirm()" i18n>Next</button>
      <button *ngIf="groups.length > 1" class="btn btn-outline-primary"
        (click)="backToGroup()" i18n>Back</button>
    </actions>
  </page-content>

  <page-content *ngSwitchCase="'confirm'" i18n-heading heading="Registration confirmation"
    [mode]="(layout.ltsm$ | async) ? 'fullHeight' : 'normal'">
    <div class="flex-grow-1">
      <registration-step-confirm [data]="data" [form]="confirmForm" [user]="userNew"
        [image]="image">
      </registration-step-confirm>
    </div>
    <actions ngClass="mt-3" forceRow>
      <button class="btn btn-primary" [disabled]="requesting$ | async"
        (click)="register()" i18n>Submit</button>
      <button class="btn btn-outline-primary" (click)="backToFields()" i18n>Back</button>
    </actions>
  </page-content>

  <page-content *ngSwitchCase="'done'" i18n-heading heading="Registration successful"
    [mode]="(layout.ltsm$ | async) ? 'fullHeight' : 'normal'">
    <div class="flex-grow-1">
      <registration-step-done [result]="result$ | async">
      </registration-step-done>
    </div>
    <actions ngClass="mt-3" forceRow>
      <button class="btn btn-primary" (click)="goToLogin()" i18n>Login</button>
    </actions>
  </page-content>

  <page-content *ngSwitchDefault>
    <spinner></spinner>
  </page-content>
</page-layout>
