<page-layout [loaded]="loaded"
  [hasMenu]="false"
  contentSize="medium"
  [title]="messages.registrationTitle()">
  <page-content>
    <td-steps #stepper
      [mode]="layout.ltmd ? 'vertical' : 'horizontal'">
      <td-step #groupStep
        *ngIf="groups.length > 1"
        [label]="messages.registrationGroup()"
        [sublabel]="layout.ltmd ? (group | async).name : null">
        <ng-container *ngIf="stepperControl.monitor(groupStep) | async">
          <registration-group [groups]="groups"
            [form]=groupForm></registration-group>
          <actions root>
            <button fxFlex.gt-xs="nogrow"
              mat-raised-button
              color="accent"
              [disabled]="!groupForm.valid"
              (click)="nextFromGroup()">
              {{ messages.next() }}
            </button>
          </actions>
        </ng-container>
      </td-step>
      <td-step #fieldsStep
        [label]="messages.registrationFields()"
        [sublabel]="layout.ltmd ? user.name || user.username || user.email : null">
        <ng-container *ngIf="stepperControl.monitor(fieldsStep) | async">
          <registration-fields [data]="data | async"
            [form]="fieldsForm"
            [addressForm]="addressForm"></registration-fields>
          <actions root>
            <button *ngIf="groups.length > 1"
              mat-raised-button
              (click)="previousFromFields()">
              {{ messages.previous() }}
            </button>
            <button fxFlex.gt-xs="nogrow"
              mat-raised-button
              color="accent"
              [disabled]="!fieldsForm.valid ||
                fieldsForm.value.addressDefined === true && !addressForm.valid"
          
              (click)="nextFromFields()">
              {{ messages.next() }}
            </button>
          </actions>
        </ng-container>
      </td-step>
      <td-step #confirmStep
        [label]="messages.registrationConfirm()">
        <ng-container *ngIf="stepperControl.monitor(confirmStep) | async">
          <registration-confirm [data]="data | async"
            [form]=confirmForm></registration-confirm>
          <actions root>
            <button *ngIf="groups.length > 1"
              mat-raised-button
              (click)="previousFromConfirm()">
              {{ messages.previous() }}
            </button>
            <button fxFlex.gt-xs="nogrow"
              mat-raised-button
              color="accent"
              [disabled]="!confirmForm.valid"
              (click)="nextFromConfirm()">
              {{ messages.confirm() }}
            </button>
          </actions>
        </ng-container>
      </td-step>
      <td-step #doneStep
        [label]="messages.registrationDone()">
        <ng-container *ngIf="stepperControl.monitor(doneStep) | async">
          <registration-done [result]="result | async"></registration-done>
          <actions *ngIf="(result | async).status == 'active'"
            root>
            <button fxFlex.gt-xs="nogrow"
              mat-raised-button
              color="accent"
              (click)="goToLogin()">
              {{ messages.registrationDoneGoToLogin() }}
            </button>
          </actions>
        </ng-container>
      </td-step>

    </td-steps>
    <linear-stepper-control #stepperControl
      [stepper]="stepper"></linear-stepper-control>
  </page-content>
</page-layout>
