<form fxLayout="column"
  [formGroup]="form">
  <div class="form-info">{{ messages.registrationFieldsMessage() }}</div>

  <user-fields-form [data]="data"
    [form]="form"></user-fields-form>

  <ng-container *ngIf="hasAddress">
    <h2>{{ messages.registrationAddressTitle() }}</h2>
    <div fxLayout="column">
      <mat-slide-toggle fxFlex="grow"
        *ngIf="optionalAddress"
        formControlName="addressDefined">
        {{ messages.registrationAddressDefine() }}
      </mat-slide-toggle>
      <ng-container *ngIf="form.value.addressDefined">
        <ng-container *ngFor="let field of addressFields; let first = first">
          <ng-container [formGroup]="addressForm">
            <mat-form-field *ngIf="field == 'country'; else addressField"
              fxFlex="grow">
              <mat-select [formControlName]="field"
                [required]="requiredAddressField(field) | async"
                [placeholder]="addressFieldLabel(field)">
                <mat-option></mat-option>
                <mat-option *ngFor="let country of countries | async"
                  [value]="country.code">
                  {{ country.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <ng-template #addressField>
              <mat-form-field fxFlex="grow">
                <input matInput
                  [focused]="optionalAddress && first"
                  [formControlName]="field"
                  [required]="requiredAddressField(field) | async"
                  [placeholder]="addressFieldLabel(field)" />
              </mat-form-field>
            </ng-template>
          </ng-container>
        </ng-container>
        <agm-map *ngIf="(location | async) as loc"
          [latitude]="loc.latitude"
          [longitude]="loc.longitude"
          [zoom]="16"
          [maxZoom]="18">
          <agm-marker [latitude]="loc.latitude"
            [longitude]="loc.longitude">
          </agm-marker>
        </agm-map>
      </ng-container>
    </div>
  </ng-container>
</form>
