<ng-container *ngFor="let pt of data.passwordTypes; let i = index">
  <h2>{{ pt.name }}</h2>
  <div fxLayout="column"
    [formGroup]="passwordsForm(i)">
    <div class="form-info-light"
      fxFlex="grow">{{ pt.description }}</div>
    <mat-form-field fxFlex="grow">
      <input matInput
        type="password"
        formControlName="value"
        required
        [focused]="i == 0"
        [placeholder]="pt.name" />
    </mat-form-field>

    <mat-form-field fxFlex="grow">
      <input matInput
        type="password"
        formControlName="confirmationValue"
        required
        [placeholder]="usersMessages.registrationPasswordConfirm(pt.name)" />
    </mat-form-field>
  </div>
</ng-container>

<ng-container *ngIf="data.securityQuestions != null && data.securityQuestions.length > 0">
  <h2>{{ usersMessages.registrationSecurityQuestionTitle() }}</h2>
  <div fxLayout="column"
    [formGroup]="form">
    <div class="form-info-light"
      fxFlex="grow">{{ usersMessages.registrationSecurityQuestionMessage() }}</div>
    <mat-form-field fxFlex="grow">
      <mat-select formControlName="securityQuestion"
        [placeholder]="usersMessages.registrationSecurityQuestionQuestion()"
        (change)="focusDelayed(securityAnswer)">
        <mat-option value="">
          {{ usersMessages.registrationSecurityQuestionLeaveBlank() }}
        </mat-option>
        <mat-option *ngFor="let q of data.securityQuestions"
          [value]="q.internalName">
          {{ q.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Must use [fxHide] instead of *ngIf. The [required] adds a validation on the control,
        and doesn't removes it when removed from DOM -->
    <mat-form-field fxFlex="grow"
      [fxHide]="!(requiredSecurityAnswer | async)">
      <input #securityAnswer
        matInput
        formControlName="securityAnswer"
        [required]="requiredSecurityAnswer | async"
        [placeholder]="usersMessages.registrationSecurityQuestionAnswer()" />
    </mat-form-field>
  </div>
</ng-container>

<ng-container *ngIf="data.agreements != null && data.agreements.length > 0"
  [formGroup]="form">
  <h2>{{ usersMessages.registrationAgreementTitle() }}</h2>
  <div class="form-info-light">
    {{ usersMessages.registrationAgreementMessage() }}
  </div>
  <div class="agreements">
    <ng-container *ngFor="let agreement of data.agreements">
      <h3>{{ agreement.name }}</h3>
      <div [innerHTML]="agreement.content | trust"></div>
    </ng-container>
  </div>

  <mat-checkbox formControlName="acceptAgreement">
    {{ usersMessages.registrationAgreementCheck() }}
  </mat-checkbox>
</ng-container>

<ng-container *ngIf="data.captchaType != null">
  <h2>{{ usersMessages.registrationCaptchaTitle() }}</h2>
  <div fxLayout="column">
    <div class="form-info-light"
      fxFlex="grow">{{ usersMessages.registrationCaptchaMessage() }}</div>
    <captcha [form]="form.get('captcha')"></captcha>
  </div>
</ng-container>
