@import 'src/definitions';

button, .button {
  display: block !important;
  width: 100%;
}

@include media-breakpoint-up(sm) {
  button, .button {
    width: 18rem;
    margin-left: auto;
    margin-right: auto;
  }
}