<form fxLayout="column"
  [formGroup]="form">
  <div class="form-info">{{ messages.registrationFieldsMessage() }}</div>

  <mat-form-field *ngIf="hasName">
    <input matInput
      formControlName="name"
      required
      focused
      [placeholder]="messages.userName()" />
    <mat-error>
      {{ form.get('name').getError('message') }}
    </mat-error>
  </mat-form-field>

  <mat-form-field *ngIf="hasUsername">
    <input matInput
      formControlName="username"
      required
      [focused]="!hasName"
      [placeholder]="messages.userUsername()" />
    <mat-error>
      {{ form.get('username').getError('message') }}
    </mat-error>
  </mat-form-field>

  <mat-form-field *ngIf="hasEmail">
    <input matInput
      formControlName="email"
      [required]="data.emailRequired"
      [focused]="!hasName && !hasUsername"
      [placeholder]="messages.userEmail()" />
    <span matSuffix
      *ngIf="managePrivacy('email')">
      <field-privacy field="email"
        [control]="form.get('hiddenFields')"></field-privacy>
    </span>
    <mat-error>
      {{ form.get('email').getError('message') }}
    </mat-error>
  </mat-form-field>

  <ng-container *ngIf="hasMobilePhone"
    [formGroup]="form.get('mobilePhone')">
    <mat-form-field>
      <input matInput
        formControlName="number"
        [required]="data.phoneConfiguration.mobileAvailability == 'required'"
        [placeholder]="messages.userMobilePhone()" />
      <span matSuffix
        *ngIf="managePrivacy('phone')">
        <field-privacy [control]="form.get('mobilePhone.hidden')"></field-privacy>
      </span>
      <mat-error>
        {{ form.get('mobilePhone').getError('message') }}
      </mat-error>
    </mat-form-field>
  </ng-container>

  <div *ngIf="hasLandLinePhone"
    [formGroup]="form.get('landLinePhone')"
    fxFlex="grow"
    fxLayout="row">
    <mat-form-field fxFlex="grow">
      <input matInput
        formControlName="number"
        [required]="data.phoneConfiguration.landLineAvailability == 'required'"
        [placeholder]="messages.userLandLinePhone()" />
      <span matSuffix
        *ngIf="managePrivacy('phone')">
        <field-privacy [control]="form.get('landLinePhone.hidden')"></field-privacy>
      </span>
      <mat-error>
        {{ form.get('landLinePhone').getError('message') }}
      </mat-error>
    </mat-form-field>
    <ng-container *ngIf="hasExtension">
      <div fxFlex="nogrow">&nbsp;</div>
      <mat-form-field fxFlex="nogrow"
        ngClass="field-tiny">
        <input matInput
          formControlName="extension"
          [placeholder]="messages.userLandLinePhoneExtension()" />
      </mat-form-field>
    </ng-container>
  </div>

  <ng-container [formGroup]="form.get('customValues')">
    <custom-field-input *ngFor="let cf of data.customFields"
      fxFlex="grow"
      fxLayout="column"
      [field]="cf"
      [formControlName]="cf.internalName"
      [privacyControl]="managePrivacy(cf.internalName) ? form.get('hiddenFields') : null">
    </custom-field-input>
  </ng-container>

  <ng-container *ngIf="hasAddress">
    <h2>{{ messages.registrationAddressTitle() }}</h2>
    <div fxLayout="column">
      <mat-slide-toggle fxFlex="grow"
        *ngIf="optionalAddress"
        formControlName="addressDefined">
        {{ messages.registrationAddressDefine() }}
      </mat-slide-toggle>
      <ng-container *ngIf="form.value.addressDefined">
        <ng-container *ngFor="let field of addressFields; let first = first">
          <ng-container [formGroup]="addressForm">
            <mat-input-container *ngIf="field == 'country'; else addressField"
              fxFlex="grow">
              <mat-select [formControlName]="field"
                [required]="requiredAddressField(field) | async"
                [placeholder]="addressFieldLabel(field)">
                <mat-option></mat-option>
                <mat-option *ngFor="let country of countries | async"
                  [value]="country.code">
                  {{ country.name }}
                </mat-option>
              </mat-select>
            </mat-input-container>
            <ng-template #addressField>
              <mat-input-container fxFlex="grow">
                <input matInput
                  [focused]="optionalAddress && first"
                  [formControlName]="field"
                  [required]="requiredAddressField(field) | async"
                  [placeholder]="addressFieldLabel(field)" />
              </mat-input-container>
            </ng-template>
          </ng-container>
        </ng-container>
      </ng-container>
    </div>
  </ng-container>
</form>
