<div *ngIf="image && (layout.ltsm$ | async)" class="image d-flex justify-content-center mt-2 mb-4">
  <avatar size="160" imageSize="200" useLightbox [image]="image"></avatar>
</div>

<div class="d-flex flex-row-reverse">
  <div *ngIf="image && (layout.gtxs$ | async)" class="image ml-4 mb-3">
    <avatar [size]="image ? 200 : 128" iconSize="128px" useLightbox [image]="image"></avatar>
  </div>
  <div class="flex-grow-1">
    <label-value [label]="i18n.user.group" *ngIf="group" [value]="group.name"></label-value>
    <label-value [label]="i18n.user.name" *ngIf="!empty(name)" [value]="name"></label-value>
    <label-value [label]="i18n.user.username" *ngIf="!empty(username)"
      [value]="username"></label-value>
    <label-value [label]="i18n.user.email" *ngIf="!empty(email)" [value]="email"></label-value>
    <label-value *ngFor="let cf of customFields" [label]="cf.name"
      valueFormat="component">
      <format-field-value [fields]="customFields" [fieldName]="cf.internalName"
        [object]="user"></format-field-value>
    </label-value>
    <label-value [label]="i18n.phone.mobile" *ngIf="!empty(mobile)"
      [value]="mobile"></label-value>
    <label-value [label]="i18n.user.phoneAddLandLine" *ngIf="!empty(landLine)"
      [value]="landLine"></label-value>
    <label-value [label]="i18n.address.address" *ngIf="address"
      valueFormat="component">
      <address-details [address]="address"></address-details>
    </label-value>
  </div>
</div>

<form [formGroup]="form">
  <ng-container *ngFor="let pt of data.passwordTypes; let i = index">
    <h2>{{ pt.name }}</h2>
    <ng-container [formGroup]="passwordForm(i)">
      <div *ngIf="pt.description" class="mb-2">{{ pt.description }}</div>
      <input-field required formControlName="value" type="password" [label]="pt.name"></input-field>
      <input-field required formControlName="confirmationValue" type="password"
        [label]="i18n.user.passwordConfirmation(pt.name)"></input-field>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="data.securityQuestions?.length > 0">
    <h2>{{ i18n.auth.securityQuestion.question }}</h2>
    <div class="mb-2">
      {{ i18n.user.securityQuestionMessage }}
    </div>
    <single-selection-field formControlName="securityQuestion" [label]="i18n.auth.securityQuestion.question"
      [emptyOption]="i18n.user.securityQuestionEmpty">
      <field-option *ngFor="let q of data.securityQuestions" [value]="q.internalName"
        [text]="q.name">
      </field-option>
    </single-selection-field>
    <input-field #securityAnswer *ngIf="!empty(form.get('securityQuestion').valueChanges | async)"
      formControlName="securityAnswer" required [label]="i18n.auth.securityQuestion.answer">
    </input-field>
  </ng-container>

  <h2 *ngIf="data.agreements?.length > 0 || data.captchaType != null">
    {{ i18n.user.title.registrationConfirmation }}
  </h2>
  <boolean-field *ngIf="data.agreements?.length > 0" formControlName="acceptAgreement"
    [label]="i18n.auth.registrationAgreement">
    <div #agreementsContent class="pl-2"></div>
  </boolean-field>

  <ng-container *ngIf="data.captchaType != null">
    <label-value kind="field" [label]="i18n.user.captcha">
      <captcha [form]="form.get('captcha')"></captcha>
    </label-value>
  </ng-container>

</form>
