<div *ngIf="image && (layout.ltsm$ | async)"
  class="image d-flex justify-content-center mt-2 mb-4">
  <avatar size="160" imageSize="200" useLightbox [image]="image"></avatar>
</div>

<div class="d-flex flex-row-reverse">
  <div *ngIf="image && (layout.gtxs$ | async)" class="image ml-4 mb-3">
    <avatar [size]="image ? 200 : 128" iconSize="128px" useLightbox
      [image]="image"></avatar>
  </div>
  <div class="flex-grow-1 mb-ls">
    <label-value [label]="i18n.user.group" *ngIf="group" [value]="group.name">
    </label-value>
    <label-value [label]="i18n.user.name" *ngIf="!empty(name)" [value]="name">
    </label-value>
    <label-value [label]="i18n.user.username" *ngIf="!empty(username)"
      [value]="username"></label-value>
    <label-value [label]="i18n.user.email" *ngIf="!empty(email)"
      [value]="email"></label-value>
    <label-value *ngFor="let cf of customFields" [label]="cf.name"
      valueFormat="component">
      <format-field-value [fields]="customFields"
        [fieldName]="cf.internalName" [object]="user" [images]="customImages"
        [files]="customFiles"></format-field-value>
    </label-value>
    <label-value [label]="i18n.phone.mobile" *ngIf="!empty(mobile)"
      [value]="mobile"></label-value>
    <label-value [label]="i18n.user.phoneAddLandLine" *ngIf="!empty(landLine)"
      [value]="landLine"></label-value>
    <label-value [label]="i18n.address.address" *ngIf="address"
      valueFormat="component">
      <address-details [address]="address"></address-details>
    </label-value>
  </div>
</div>

<form [formGroup]="form">
  <ng-container *ngFor="let pt of data.passwordTypes; let i = index">
    <h2>{{ pt.name }}</h2>
    <ng-container [formGroup]="passwordForm(i)">
      <div *ngIf="pt.description" class="mb-2">{{ pt.description }}</div>
      <boolean-field *ngIf="login.user" formControlName="defined"
        [label]="i18n.user.registration.passwordAssign"></boolean-field>
      <ng-container *ngIf="passwordForm(i).get('defined').value">
        <input-field required formControlName="value" type="password"
          autocomplete="new-password" [label]="pt.name">
        </input-field>
        <input-field required formControlName="confirmationValue"
          type="password" autocomplete="new-password"
          [label]="i18n.user.passwordConfirmation(pt.name)">
        </input-field>
        <boolean-field *ngIf="pt.canForceChange" formControlName="forceChange"
          [label]="i18n.user.registration.passwordForceChange">
        </boolean-field>
      </ng-container>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="!login.user">
    <!-- The following are only for public registration -->
    <ng-container *ngIf="data.securityQuestions?.length > 0">
      <h2>{{ i18n.securityQuestion.question }}</h2>
      <div class="mb-2">
        {{ i18n.user.securityQuestionMessage }}
      </div>
      <single-selection-field formControlName="securityQuestion"
        [label]="i18n.securityQuestion.question"
        [emptyOption]="i18n.user.securityQuestionEmpty">
        <field-option *ngFor="let q of data.securityQuestions"
          [value]="q.internalName" [text]="q.name">
        </field-option>
      </single-selection-field>
      <input-field #securityAnswer
        *ngIf="!empty(form.get('securityQuestion').valueChanges | async)"
        formControlName="securityAnswer" required
        [label]="i18n.securityQuestion.answer">
      </input-field>
    </ng-container>

    <ng-container
      *ngIf="data.agreements?.length > 0 || data.captchaType != null">
      <h2>
        {{ i18n.user.title.registrationConfirmation }}
      </h2>

      <div class="row no-gutters">
        <div class="col-12 col-sm-6 col-md-7"
          *ngIf="data.agreements?.length > 0">
          <div class="mb-3">{{ i18n.pendingAgreements.preface }}</div>
          <accept-agreements [agreements]="data.agreements"
            formControlName="acceptAgreements"></accept-agreements>
        </div>

        <div class="col-12 col-sm-6 col-md-5"
          *ngIf="data.captchaType != null">
          <div class="mb-3">{{ i18n.user.captcha }}</div>
          <div class="mb-3">
            <captcha [form]="form.get('captcha')"></captcha>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>
</form>
