<ng-container *ngIf="login.user; else asGuest">
  <div class="mb-3">{{ i18n.user.registration.groupManager }}</div>
  <ng-container *ngFor="let groupSet of groupSets">
    <div>
      <div *ngIf="groupSet" class="mt-3 mb-2" font-weight-bold>
        {{ groupSet.name }}</div>
      <div *ngFor="let group of groupsForSet(groupSet)"
        class="custom-control custom-radio" [ngClass]="{'ml-3': groupSet}">
        <input type="radio" [formControl]="control"
          class="custom-control-input" [id]="'group_' + group.id"
          [value]="group.id">
        <label class="custom-control-label" [for]="'group_' + group.id">
          <div class="ml-1">
            {{ group.name }}
          </div>
        </label>
      </div>
    </div>
  </ng-container>
</ng-container>

<ng-template #asGuest>
  <div class="mb-3">{{ i18n.user.registration.groupPublic }}</div>
  <div class="row" *ngFor="let group of groups">
    <div class="col-12 col-6 col-sm-8">
      <div class="custom-control custom-radio">
        <input type="radio" [formControl]="control"
          class="custom-control-input" [id]="'group_' + group.id"
          [value]="group.id">
        <label class="custom-control-label" [for]="'group_' + group.id">
          <div class="ml-1">
            {{ group.name }}
            <div *ngIf="group['description']" class="text-muted mt-2 mb-3">
              {{ group['description'] }}
            </div>
          </div>
        </label>
      </div>
    </div>
  </div>
</ng-template>
