<div class="doneContainer"
  [ngSwitch]="result.status">

  <div *ngSwitchCase="'active'">
    <p>{{ messages.registrationDoneActivePrefix() }}</p>
    <p [innerHTML]="principalsHtml | trust"></p>
    <p>{{ passwordsMessage }}</p>
  </div>

  <div *ngSwitchCase="'inactive'">
    <p>{{ messages.registrationDonePrefix() }}</p>
    <p>{{ messages.registrationDoneInactive() }}</p>
  </div>

  <div *ngSwitchCase="'emailValidation'">
    <p>{{ messages.registrationDonePrefix() }}</p>
    <p>{{ messages.registrationDoneEmailValidation() }}</p>
  </div>

</div>
