<div class="mb-3">{{ messages.user.title.group }}</div>
<div class="row" *ngFor="let group of groups">
  <div class="col-12 col-6 col-sm-8">
    <div class="custom-control custom-radio">
      <input type="radio" [formControl]="control" class="custom-control-input"
        [id]="'group_' + group.id" [value]="group.id">
      <label class="custom-control-label" [for]="'group_' + group.id">
        <div class="ml-1">
          {{ group.name }}
          <div *ngIf="group.description" class="text-muted mt-2 mb-3">
            {{ group.description }}
          </div>
        </div>
      </label>
    </div>
  </div>
</div>
