<page-layout [ready]="step$ | async" [ngSwitch]="step$ | async" size="large">
  <page-content *ngSwitchCase="'group'"
    [heading]="i18n.user.title.registration"
    [mobileHeading]="i18n.user.mobileTitle.registration"
    [mode]="(layout.ltsm$ | async) ? 'fullHeight' : 'normal'" last>
    <div class="flex-grow-1">
      <registration-step-group [groupSets]="groupSets" [groups]="groups"
        [control]="group">
      </registration-step-group>
    </div>
    <actions ngClass="mt-3" forceRow>
      <button class="btn btn-primary" (click)="showFields()">
        {{ i18n.general.next }}
      </button>
    </actions>
  </page-content>

  <page-content *ngSwitchCase="'fields'"
    [heading]="i18n.user.title.registration"
    [mobileHeading]="i18n.user.mobileTitle.registration"
    [mode]="(layout.ltsm$ | async) ? 'fullHeight' : 'normal'" last>
    <div class="flex-grow-1">
      <registration-step-fields [data]="data" [form]="form"
        [mobileForm]="mobileForm" [landLineForm]="landLineForm"
        [defineAddress]="defineAddress" [addressForm]="addressForm"
        (imageUploaded)="this.image = $event"
        (imageRemoved)="this.image = null">
      </registration-step-fields>
    </div>
    <actions ngClass="mt-3" forceRow>
      <button class="btn btn-primary" [disabled]="requesting$ | async"
        (click)="showConfirm()">
        {{ i18n.general.next }}
      </button>
      <button *ngIf="groups.length > 1" class="btn btn-outline-primary"
        (click)="backToGroup()">
        {{ i18n.general.previous }}
      </button>
    </actions>
  </page-content>

  <page-content *ngSwitchCase="'confirm'"
    [heading]="i18n.user.title.registrationConfirmation"
    [mobileHeading]="i18n.user.mobileTitle.registrationConfirmation"
    [mode]="(layout.ltsm$ | async) ? 'fullHeight' : 'normal'" last>
    <div class="flex-grow-1">
      <registration-step-confirm [data]="data" [form]="confirmForm"
        [user]="userNew" [image]="image">
      </registration-step-confirm>
    </div>
    <actions ngClass="mt-3" forceRow>
      <button class="btn btn-primary" [disabled]="requesting$ | async"
        (click)="register()">
        {{ i18n.general.submit }}
      </button>
      <button class="btn btn-outline-primary" (click)="backToFields()">
        {{ i18n.general.previous }}
      </button>
    </actions>
  </page-content>

  <page-content *ngSwitchCase="'done'"
    [heading]="i18n.user.title.registrationDone"
    [mobileHeading]="i18n.user.mobileTitle.registrationDone"
    [mode]="(layout.ltsm$ | async) ? 'fullHeight' : 'normal'" last>
    <div class="flex-grow-1">
      <registration-step-done [result]="result$ | async">
      </registration-step-done>
    </div>
    <actions ngClass="mt-3" forceRow>
      <button *ngIf="login.user" class="btn btn-primary" (click)="reload()">
        {{ i18n.user.registration.registerAnotherUser }}
      </button>
      <button *ngIf="login.user" class="btn btn-primary"
        (click)="viewProfile()">
        {{ i18n.user.registration.viewProfile }}
      </button>

      <button *ngIf="!login.user" class="btn btn-primary"
        (click)="goToLogin()">
        {{ i18n.menu.login }}
      </button>
    </actions>
  </page-content>

  <page-content *ngSwitchDefault>
    <spinner></spinner>
  </page-content>
</page-layout>
