<page-layout [ready]="data$ | async" size="small" hideMenu>
  <page-content *ngIf="data" layout="centered"
    [heading]="i18n.password.title.changeSelf"
    [mobileHeading]="i18n.password.mobileTitle.changeSelf">
    <ng-container [formGroup]="form">
      <notification
        *ngIf="(generatedValue$ | async) === null; else generatedValue"
        type="warning">
        <div>{{ i18n.password.expired.preface(typeName) }}</div>
        <div *ngIf="generated"
          [innerHTML]="i18n.password.expired.messageGenerated | trust">
        </div>
        <div *ngIf="!generated"
          [innerHTML]="i18n.password.expired.messageManual | trust">
        </div>
      </notification>

      <ng-template #generatedValue>
        <notification *ngIf="generatedValue$ | async">
          <div [innerHTML]="i18n.password.expired.generatedValue({
            type: typeName,
            value: generatedValue$.value
          }) | trust"></div>
        </notification>
      </ng-template>

      <ng-container *ngIf="!generated">
        <input-field *ngIf="data.requireOldPasswordForChange" ngClass="mt-3"
          labelPosition="above" required formControlName="oldPassword"
          type="password" focused [placeholder]="i18n.password.oldPassword">
        </input-field>
        <input-field class="mt-3" labelPosition="above" required
          formControlName="newPassword" type="password"
          [focused]="!data.requireOldPasswordForChange"
          [placeholder]="i18n.password.newPassword"></input-field>
        <input-field class="mt-3" labelPosition="above" required
          formControlName="newPasswordConfirmation" type="password"
          [placeholder]="i18n.password.passwordConfirmation">
        </input-field>
      </ng-container>

      <actions>
        <action-button *ngIf="generated && (generatedValue$ | async) === null"
          [disabled]="requesting$ | async" (action)="submit()"
          [label]="i18n.password.expired.generateNew">
        </action-button>

        <action-button *ngIf="generated && (generatedValue$ | async) !== null"
          [disabled]="requesting$ | async" (action)="reload()"
          [label]="i18n.general.close">
        </action-button>

        <action-button *ngIf="!generated" [disabled]="requesting$ | async"
          (action)="submit()" [label]="i18n.general.submit">
        </action-button>

        <action-button *ngIf="(generatedValue$ | async) === null" outline
          (action)="cancel()" [label]="i18n.general.cancel">
        </action-button>
      </actions>
    </ng-container>
  </page-content>
</page-layout>
