<page-layout [ngSwitch]="step$ | async" size="medium" hideMenu>
  <page-content *ngSwitchCase="'request'" hideBack
    [layout]="(layout.ltmd$ | async) ? 'normal' : 'centered'"
    [heading]="i18n.password.title.forgotten"
    [mobileHeading]="i18n.password.mobileTitle.forgotten" last>
    <forgot-password-step-request [data]="data" [form]="form">
    </forgot-password-step-request>
    <actions>
      <action-button (action)="toCode()" [label]="i18n.general.submit">
      </action-button>
      <action-button outline (action)="cancel()"
        [label]="i18n.general.cancel">
      </action-button>
    </actions>
  </page-content>

  <page-content *ngSwitchCase="'code'"
    [layout]="(layout.ltmd$ | async) ? 'normal' : 'centered'"
    [heading]="i18n.password.title.forgotten"
    [mobileHeading]="i18n.password.mobileTitle.forgotten" last>
    <forgot-password-step-code [form]="form">
    </forgot-password-step-code>
    <actions>
      <action-button (action)="toChange()" [label]="i18n.general.submit">
      </action-button>
      <action-button outline (action)="cancel()"
        [label]="i18n.general.cancel">
      </action-button>
    </actions>
  </page-content>

  <page-content *ngSwitchCase="'change'"
    [layout]="(layout.ltmd$ | async) ? 'normal' : 'centered'"
    [heading]="i18n.password.title.forgotten"
    [mobileHeading]="i18n.password.mobileTitle.forgotten" last>
    <forgot-password-step-change [data]="changeData" [form]="form">
    </forgot-password-step-change>
    <actions>
      <action-button (action)="change()" [label]="changeData.passwordType.mode === 'generated'
      ? i18n.password.forgotten.generate : i18n.general.submit">
      </action-button>
      <action-button outline (action)="cancel()"
        [label]="i18n.general.cancel">
      </action-button>
    </actions>
  </page-content>

</page-layout>
