<form [formGroup]="form" (submit)="$event.preventDefault()">
  <div class="mt-0 mt-xs-3 mt-sm-0 mb-4 text-left">
    {{ i18n.password.forgotten.preface }}
    <ul>
      <li *ngFor="let pt of principalTypes">{{ pt.name }}</li>
    </ul>
  </div>

  <input-field formControlName="user" fieldSize="medium" focused
    [label]="i18n.password.forgotten.principal" required></input-field>

  <radio-group-field formControlName="sendMedium"
    *ngIf="data.forgotPasswordMediums?.length > 1"
    [label]="i18n.password.forgotten.sendMedium">
    <field-option value="email" [text]="i18n.general.sendMedium.email">
    </field-option>
    <field-option value="sms" [text]="i18n.general.sendMedium.sms">
    </field-option>
  </radio-group-field>

  <label-value *ngIf="data.forgotPasswordCaptchaProvider != null"
    [label]="i18n.password.forgotten.captcha" kind="field">
    <captcha [form]="form.get('captcha')"></captcha>
  </label-value>
</form>
