<ng-container [formGroup]="form">
  <label-value [label]="i18n.general.user" [value]="data.user.display"> </label-value>
  <label-value *ngFor="let p of data.principals" [label]="p.type.name" [value]="p.value"></label-value>
  <ng-container *ngIf="data.securityQuestion || data.passwordType.mode === 'manual'">
    <h2>{{ i18n.password.forgotten.titleChangePassword }}</h2>
    <div *ngIf="data.passwordType.description" class="mb-2">
      {{ data.passwordType.description }}
    </div>
    <ng-container *ngIf="data.securityQuestion">
      <label-value
        [label]="i18n.securityQuestion.question"
        [value]="data.securityQuestion"
        kind="fieldView"></label-value>
      <input-field
        [label]="i18n.securityQuestion.answer"
        formControlName="securityAnswer"
        focused
        required></input-field>
    </ng-container>
    <ng-container *ngIf="data.passwordType.mode === 'manual'">
      <input-field
        [label]="i18n.password.newPassword"
        type="password"
        formControlName="newPassword"
        kind="fieldView"
        [focused]="!data.securityQuestion"
        required></input-field>
      <input-field
        [label]="i18n.password.passwordConfirmation"
        type="password"
        formControlName="newPasswordConfirmation"
        required>
      </input-field>
    </ng-container>
  </ng-container>
</ng-container>
