<page-layout [ready]="data$ | async">
  <ng-container *ngIf="data;">
    <page-content mode="filters" [heading]="this.data.type.pluralName"
      [mobileHeading]="this.data.type.pluralName"
      [headingActions]="headingActions$ | async">
      <form [formGroup]="form"
        class="filters-form filters-form-separator border-0">
        <div class="row">
          <div class="col-12 col-md-6">
            <input-field labelPosition="side" formControlName="keywords"
              [label]="i18n.general.keywords" fieldSize="full"></input-field>
          </div>
          <div class="col-12 col-md-6">
            <user-field labelPosition="side" formControlName="user"
              [label]="i18n.record.createdBy"></user-field>
          </div>
          <div class="col-12 col-md-6">
            <date-field labelPosition="side" formControlName="beginDate"
              [label]="i18n.general.beginDate" minDate="past5"
              maxDate="todayEnd" fieldSize="full">
            </date-field>
          </div>
          <div class="col-12 col-md-6">
            <date-field labelPosition="side" formControlName="endDate"
              [label]="i18n.general.endDate" minDate="past5"
              maxDate="todayEnd" fieldSize="full">
            </date-field>
          </div>
          <div class="col-12 col-md-6" *ngFor="let cf of this.fieldsInSearch">
            <custom-field-filter labelPosition="side" [field]="cf"
              [formControl]="form.get('customValues').get(cf.internalName)">
            </custom-field-filter>
          </div>
        </div>
      </form>
    </page-content>
    <results-layout resultType="list" [results]="results$ | async"
      (update)="update($event)" [rendering$]="rendering$" [toLink]="toLink">

      <mobile-result *mobileResult="let row">
        <div class="d-flex">
          <div>
            <label-value [label]="i18n.general.creationDate"
              labelPosition="above">
              {{ row.creationDate | dateTime }}
            </label-value>
            <label-value *ngFor="let field of this.fieldsInList"
              [label]="field.name" labelPosition="above">
              <format-field-value [fields]="data.customFields"
                [plainText]="true" [fieldName]="field.internalName"
                [object]="row" [customValues]="row.customValues">
              </format-field-value>
            </label-value>
          </div>
          <div class="ml-auto text-right">
            <button *ngIf="this.hasEditAction" [tooltip]="i18n.general.edit"
              class="btn btn-icon"
              (click)="router.navigate(editPath(row)); $event.stopPropagation(); $event.preventDefault()">
              <icon icon="edit"></icon>
            </button>
            <button *ngIf="this.data.remove" [tooltip]="i18n.general.remove"
              class="btn btn-icon" [ngClass]="{'ml-3': this.hasEditAction}"
              (click)="remove(row); $event.stopPropagation(); $event.preventDefault()">
              <icon icon="clear"></icon>
            </button>
          </div>
        </div>
      </mobile-result>

      <table *resultTable class="table table-hover cursor-pointer">
        <thead>
          <th>{{ i18n.general.creationDate }}</th>
          <th *ngFor="let field of this.fieldsInList">
            {{ fieldName(field.internalName) }}
          </th>
          <th class="actions"></th>
        </thead>
        <tbody>
          <tr *ngFor="let row of results.results"
            (click)="router.navigate(toLink)">
            <td>{{ row.creationDate | dateTime }}</td>
            <td *ngFor=" let field of this.fieldsInList">
              <format-field-value [fields]="data.customFields"
                [plainText]="true" [fieldName]="field.internalName"
                [object]="row" [customValues]="row.customValues">
              </format-field-value>
            </td>
            <td class="actions actions-multiple">
              <button *ngIf="this.hasEditAction" [tooltip]="i18n.general.edit"
                class="btn btn-icon"
                (click)="router.navigate(editPath(row)); $event.stopPropagation()">
                <icon icon="edit"></icon>
              </button>
              <button *ngIf="this.data.remove" [tooltip]="i18n.general.remove"
                class="btn btn-icon"
                [ngClass]="this.hasEditAction ? 'ml-3' : ''"
                (click)="remove(row); $event.stopPropagation()">
                <icon icon="clear"></icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </results-layout>
  </ng-container>
</page-layout>
