// Angular material theme
@import '~@angular/material/theming';

// For the available palletes, see https://material.io/guidelines/style/color.html#color-color-palette

// *** Primary color palletes ***
$primary: mat-palette($mat-blue, 600, 400, 700);
$accent: mat-palette($mat-blue, 500, 400, 700);
$warn: mat-palette($mat-red);

// *** Angular Material theme ***
$theme: mat-light-theme($primary, $accent, $warn);
$is-dark: map-get($theme, is-dark);
$foreground: map-get($theme, foreground);
$background: map-get($theme, background);
$typography: mat-typography-config();

// *** General variables ***
// Maximum width for layout area
$max-layout-width: 1160px;
// Width of the left area on medium to large displays
$left-area-width: 320px;
// Width of the main content area
$max-content-width: $max-layout-width - $left-area-width;
$small-content-width: 400px;
$medium-content-width: 600px;
// Margin between parts like left area, header and page in medium - large displays
$parts-margin: 28px;
// Width of the login card
$login-width: 400px;
// Maximum size of forms
$max-form-width: 600px;
// Side margin in small - xsmall displays
$small-margin: 8px;
// Contrast color on left menu
$side-menu-hue: if($is-dark, 900, 50);