// Angular material theme
@import '~@angular/material/theming';

// For the available palletes, see https://material.io/guidelines/style/color.html#color-color-palette

// *** Material color palletes ***
$primary: mat-palette($mat-blue, 800, 700, 900);
$accent: mat-palette($mat-light-blue, A200, A100, A400);
$warn: mat-palette($mat-red);

// *** Application variables ***
// Maximum width for layout area
$max-layout-width: 1160px;
// Width of the left area on medium to large displays
$left-area-width: 320px;
// Margin between parts like left area, header and page
$parts-margin: 28px;
// Width of the sidenav on small displays
$sidenav-width: 300px;
// Maximum width for form fields
$max-form-width: 600px;

// *** Angular Material theme ***
$theme: mat-light-theme($primary, $accent, $warn);
$foreground: map-get($theme, foreground);
$background: map-get($theme, background);
$typography: mat-typography-config();