// Primary and secondary colors
$primary: #1e88e5;
$secondary: #f29220;

// Import the basic Bootstrap definitions, so we can override the variables
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

$faded-color: #757575;
$theme-color: darken($primary, 10%);

// Make sure the font import URL and the font family (sans serif) are in sync
$font-import-url: "https://fonts.googleapis.com/css?family=Roboto:400,500";
$font-family-sans-serif: 'Roboto', sans-serif;
$font-size-base: 0.875rem;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 500;
$input-btn-padding-y: .475rem;

// Toggle for enabling / disabling shadows on most parts
$enable-shadows: true;

// Bootstrap grid system breakpoints. Basically we add xxs.
// Attention! If modified, adjust the `BREAKPOINTS` in `layout.service.ts` as well.
$grid-breakpoints: (
  xxs: 0,
  xs: 316px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

@if $enable-shadows == false {
  .shadow, .shadow-sm, .shadow-lg {
    box-shadow: none !important;
  }
}

// Main body
$body-bg: $gray-100;
$body-color: $gray-800;

// Global layout
$layout-spacer-xxs: 0.4rem;
$layout-spacer-xs: 0.7rem;
$layout-spacer: 1.25rem;
$section-border-color: $gray-300;
$section-margin: 1.5rem;
$side-area-width: 18rem;

// Headers
$h1-color: $primary;
$h2-color: $primary;
$h3-color: $primary;

// Top bar (shows title, hamburger menu on mobile / tablet, profile link, logout)
$top-bar-bg: $primary;
$top-bar-color: color-yiq($primary);
$top-bar-height-xxs: 2.6rem;
$top-bar-height-xs: 3.4rem;
//// Recommented for split top and menu bar (setting SPLIT_MENU_BAR = true in configuration.ts)
$top-bar-height: 3.25rem;
$top-icon-size: 1.6rem;
//// Recommented for single top bar (setting SPLIT_MENU_BAR = false in configuration.ts)
// $top-icon-size: 1.4rem;
// $top-bar-height: 4rem;

// Menu bar (main menu on desktop)
$menu-bar-height: 3.2rem;
$menu-bar-bg: $input-bg;
$menu-bar-color: $faded-color;
$menu-bar-hover-bg: #f5f5f5;
$menu-bar-inactive-color: $faded-color;
$menu-bar-inactive-icon-color: lighten($faded-color, 5%);
$menu-bar-active-icon-color: $primary;
$menu-bar-active-color: $primary;
$menu-bar-active-border: $primary;

// Side menu (second-level menu on desktop)
$side-menu-bg: $menu-bar-bg;
$side-menu-active-bg: $menu-bar-bg;
$side-menu-active-color: $primary;
$side-menu-active-hover-bg: $menu-bar-hover-bg;
$side-menu-active-icon-color: $primary;
$side-menu-inactive-color: $menu-bar-inactive-color;
$side-menu-inactive-icon-color: $menu-bar-inactive-icon-color;
$side-menu-inactive-hover-bg: $menu-bar-hover-bg;

// Quick access (icons in the dashboard)
$quick-access-bg: $menu-bar-hover-bg;
$quick-access-color: $body-color;
$quick-access-icon-color: $primary;
$quick-access-hover-bg: darken($menu-bar-hover-bg, 5%);
$quick-access-hover-color: $body-color;
$quick-access-hover-icon-color: $primary;

// Sidenav (menu revealed on the left for mobiles / tablets)
$sidenav-bar-bg: $top-bar-bg;
$sidenav-bar-color: $top-bar-color;
$sidenav-bg: $menu-bar-bg;
$sidenav-color: $menu-bar-color;
$sidenav-active-bg: $menu-bar-hover-bg;
$sidenav-icon-color: $faded-color;

// Forms
$required-marker-color: $red;
$list-group-hover-bg: $menu-bar-hover-bg;
$input-placeholder-color: $gray-500;
$input-group-addon-bg: $gray-100;
$button-icon-color: $gray-700;
$label-weight: $font-weight-bold;
$label-color: $gray-700;

// Snack bars (small and non-intrusive notifications shown on bottom)
$snack-bar-bg: $gray-900;
$snack-bar-color: white;

// Page title
$title-height-xxs: 2.6rem;
$title-height-xs: 3.4rem;
$title-height: 3.4rem;
$title-button-bg: $light;
$title-button-color: color-yiq($light);
$title-button-border-color: $section-border-color;
$title-button-icon-color: $faded-color;

// Tiled results
$card-border-color: $section-border-color;
$tiled-results-spacing-xxs: 0.3rem;
$tiled-results-spacing-xs: 0.5rem;
$tiled-results-spacing: 0.6rem;
$tiled-results-icon-color: #ddd;
$tiled-results-hover-bg: $menu-bar-hover-bg;

// Date-picker calendar
$calendar-header-bg: $primary;
$calendar-header-color: color-yiq($calendar-header-bg);
$calendar-hover-bg: $gray-200;
$calendar-hover-color: color-yiq($gray-200);
$calendar-today-border-color: $secondary;
$calendar-selected-bg: $primary;
$calendar-selected-color: color-yiq($calendar-selected-bg);
$calendar-disabled-color: $faded-color;

// Breadcrumb (shown when selecting an advertisement category)
$breadcrumb-divider: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjkiPjxwYXRoIGQ9Ik0yLjUgMEwxIDEuNSAzLjUgNCAxIDYuNSAyLjUgOGw0LTQtNC00eiIgZmlsbD0iIzc1NzU3NSIvPjwvc3ZnPg==);
$breadcrumb-padding-y: 0;
$breadcrumb-padding-x: 0;
$breadcrumb-margin-bottom: 0;
$breadcrumb-bg: transparent;

// General
$manage-passwords-icon-color: $gray-500;
$account-indicator-font-size: 16px;
$positive-color: $green;
$negative-color: $red;
$total-amount-color: $green;
$total-amount-size: 2rem;
$table-icon-color: #cecece;
$table-hover-bg: #f9f9f9;
$backdrop-bg: rgba(0, 0, 0, 0.5);