@import 'definitions';
@import '../node_modules/bootstrap/scss/bootstrap';

body.lt-md {
  background-color: $card-bg;
  overflow-x: hidden;
}
body.gt-sm {
  padding-bottom: 1rem;
}

.no-gutters, .filters-form > .row, .filters-row {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }

  > .col-form-label {
    padding-right: 0.5rem;
  }
}

.tiled-results, .category-results {
  width: 100%;
  margin-top: $layout-spacer-xxs;
  margin-right: -$tiled-results-spacing-xxs / 2;
  margin-left: -$tiled-results-spacing-xxs / 2;
  padding-left: $tiled-results-spacing-xxs;

  > .col,
  > [class*="col-"] {
    padding-right: $tiled-results-spacing-xxs / 2;
    padding-left: $tiled-results-spacing-xxs / 2;
  }

  a, a:hover {
    color: $body-color;
    text-decoration: none !important;
  }

  .tiled-result, .category-result {
    display: flex;
    justify-content: stretch;
  }

  .tiled-result > a, .tiled-result > maybe-link, .card {
    width: 100%;
  }

  .card {
    margin-bottom: $tiled-results-spacing-xxs;
    height: calc(100% - $tiled-results-spacing-xxs);
    box-shadow: $box-shadow-sm;

    .card-body {
      padding: 0.6rem 0.8rem;

      .card-title {
        font-weight: $font-weight-bold;
        margin-bottom: 0;
      }
      .card-title, .card-text {
        text-align: center;
      }
    }

    icon {
      color: $tiled-results-icon-color;
    }

    .avatar-container {
      -webkit-transition: all ease-out 0.4s;
      transition: all ease-out 0.4s;

      &:hover {
        -webkit-filter: brightness(80%);
        filter: brightness(80%);
      }
    }
  }
}

@include media-breakpoint-up(xs) {
  .tiled-results, .category-results {
    margin-top: $layout-spacer-xs;
    margin-right: -$tiled-results-spacing-xs / 2;
    margin-left: -$tiled-results-spacing-xs / 2;
    padding-left: $tiled-results-spacing-xs;

    > .col,
    > [class*="col-"] {
      padding-right: $tiled-results-spacing-xs / 2;
      padding-left: $tiled-results-spacing-xs / 2;
    }

    .card {
      margin-bottom: $tiled-results-spacing-xs;
      height: calc(100% - $tiled-results-spacing-xs);
    }
  }
}

@include media-breakpoint-up(sm) {
  .tiled-results, .category-results {
    margin-top: 0;
    margin-right: -$tiled-results-spacing / 2;
    margin-left: -$tiled-results-spacing / 2;
    padding-left: $tiled-results-spacing;

    > .col,
    > [class*="col-"] {
      padding-right: $tiled-results-spacing / 2;
      padding-left: $tiled-results-spacing / 2;
    }

    .card {
      margin-bottom: $tiled-results-spacing;
      height: calc(100% - $tiled-results-spacing);
    }
  }
}

.xxs {
  .tiled-result {
    max-width: 70%;
    margin: auto;
  }
  .tiled-result, .category-result {
    margin-bottom: 1rem;
  }
}

@include media-breakpoint-up(md) {
  .tiled-results, .category-results {
    width: auto;
    padding-left: 22px;
    padding-right: 14px;
    margin-right: -$tiled-results-spacing / 2;
    margin-left: -$tiled-results-spacing / 2;
    padding-left: 0;
    padding-right: 0;

    > .col,
    > [class*="col-"] {
      padding-right: $tiled-results-spacing / 2;
      padding-left: $tiled-results-spacing / 2;
    }

    .card {
      margin-bottom: $tiled-results-spacing;
      height: calc(100% - $tiled-results-spacing);
    }
  }
}

.category-results {
  .category-title {
    display: flex;
    border-bottom: 1px solid $card-border-color;
    justify-content: center;
    align-items: center;
    padding: 0.6rem 0.8rem;
  }
  .category-title-text {
    flex-grow: 1;
    padding: 0.1rem 0 0 0.5rem;
    font-weight: $font-weight-bold;
  }
  .sub-category-text {
    display: block;
  }
  .category-footer {
    display: block;
    border-top: 1px solid $card-border-color;
    text-align: center;
    padding: 0.6rem 0.5rem;
  }
}

table.table {
  td {
    vertical-align: middle;
    border-top: none;
    border-bottom: 1px solid $table-border-color;
  }
  th {
    font-weight: $font-weight-bold;
    border-bottom-width: 1px;
  }
  a, a:hover {
    color: $body-color;
    text-decoration: none !important;
  }
  avatar {
    icon {
      color: $table-icon-color;
    }
  }
  td {
    padding: 0.8rem 0.4rem;
  }
  td.amount, th.amount {
    padding-left: 0.1rem;
    padding-right: 0.9rem;
    text-align: right;
  }
  td.avatar {
    padding-left: 0.9rem;
    padding-right: 0.1rem;
  }
  td.avatar, th.avatar {
    width: 3.7rem;
    $avatar-size: 42px;
    avatar {
      display: table-cell !important;
      icon {
        width: $avatar-size !important;
        height: $avatar-size !important;
        font-size: $avatar-size !important;
        line-height: $avatar-size !important;
      }
      svg path {
        width: $avatar-size !important;
        height: $avatar-size !important;
      }
    }
  }
  td.actions {
    text-align: right;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
  }
}

.lt-md table.table {
  border-top: 1px solid $table-border-color;
}

@include media-breakpoint-up(md) {
  table.table {
    td {
      padding: 0.75rem;
    }
    td.amount, th.amount {
      padding-right: 1rem;
    }
    td.avatar {
      padding-left: 1rem;
    }
    td.actions {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}

.paginator-container {
  border: none !important;
}

.tile-floating-avatar {
  position: absolute;
  right: 0.5rem;
  top: 0;
  transform: translateY(-75%)
}

.tile-floating-avatar avatar {
  $avatar-size: 58px;
  icon {
    width: $avatar-size !important;
    height: $avatar-size !important;
    font-size: $avatar-size !important;
    line-height: $avatar-size !important;
  }
  svg path {
    width: $avatar-size !important;
    height: $avatar-size !important;
  }
}

a.plain, maybe-link.plain a {
  color: $body-color;
  &:hover {
    text-decoration: none;
  }
}

.cursor-pointer {
  cursor: pointer !important;
}

.positive, .negative, .totalAmount {
  white-space: nowrap;
}
.positive {
  color: $positive-color !important;
}
.negative {
  color: $negative-color !important;
}
.totalAmount {
  color: $total-amount-color !important;
  font-size: $total-amount-size;
  font-weight: 400;
  transform: translateY(-0.5rem);
}

.promo-price {
  color: $faded-color;
  text-decoration: line-through;
  margin-right: 0.5rem;
}
.break-nl {
  white-space: pre-wrap;
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  display: table-cell;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

ul.pagination {
  margin-bottom: 0;
}

.paginator-container {
  padding: 1em;
  border-top: 1px solid $section-border-color;
}

label {
  font-weight: $label-weight;
  color: $label-color;
}

.filters-form {
  display: block;
  border-color: $section-border-color;
  padding: 0;
  margin: 0;
  margin-left: -$layout-spacer-xxs;
  margin-right: -$layout-spacer-xxs;
  padding-left: $layout-spacer-xxs;
  padding-right: $layout-spacer-xxs;
}
.filters-row {
  margin-top: $layout-spacer-xxs;
}
@include media-breakpoint-up(xs) {
  .filters-form {
    padding: 0.4rem;
    margin-left: -$layout-spacer-xs;
    margin-right: -$layout-spacer-xs;
    padding-left: $layout-spacer-xs;
    padding-right: $layout-spacer-xs;
  }
  .filters-row {
    margin-top: $layout-spacer-xs;
  }
}
@include media-breakpoint-up(sm) {
  .filters-row {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .filters-form {
    padding-bottom: 0;
    margin-left: -$layout-spacer;
    margin-right: -$layout-spacer;
    padding-left: 0;
    padding-right: $layout-spacer;

    .col-form-label {
      padding-left: $layout-spacer;
    }
  }
}

// Disable spinners in input[type=number]
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

::placeholder, :-ms-input-placeholder, ::-ms-input-placeholder {
  color: $input-placeholder-color;
  opacity: 1;
}

.input-group-icon {
  padding: 0 0.5rem;
  font-size: 1.5em;
}

.custom-control-label {
  padding-top: 0.05rem !important;
  padding-left: 0.2rem;
}
.custom-control-label::before {
  background-color: $input-bg;
  background-clip: padding-box;
  border: $input-border-width solid $input-border-color;
  @include box-shadow($input-box-shadow);
}

.custom-control-input:checked ~ .custom-control-label::before {
  border: none;
}

.invalid-feedback {
  font-size: 85%;
}

button, input[type=button] {
  height: $input-height;
  width: 100%;
}
@include media-breakpoint-up(xs) {
  button, input[type=button] {
    width: auto;
  }
}
button.btn-transparent {
  background: transparent;
  border: none;
  box-shadow: none;
}
.lt-sm {
  button.btn-main {
    height: 3rem;
  }
}

.custom-control-label::before,
.custom-control-label::after {
  width: 1.25rem;
  height: 1.25rem;
}

.required-marker {
  color: $required-marker-color;
}

.link-with-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  icon {
    margin-right: 0.5rem;
  }
}

.dropdown-menu {
  min-width: 100%;
  max-height: 16rem;
  overflow-x: hidden;
  overflow-y: auto;
  transform: none !important;

  .custom-checkbox {
    margin-left: 0.6rem;
  }
}

.dropdown-toggle::after {
  vertical-align: 0.15em;
}

$spaced-label-values: (
  '.any-label-value',
  'h1',
  'h2',
  'h3',
  'address-form',
  'custom-field-value',
  'radio-group-field',
  'checkbox-group-field',
  'boolean-field'
);
@each $lv1 in $spaced-label-values {
  @each $lv2 in $spaced-label-values {
    #{$lv1} + #{$lv2} {
      margin-top: 0.6rem;
    }
  }
}
.any-label-value .any-label-value {
  margin-top: 0 !important;
}

.custom-control-label {
  padding-top: 0.15rem;
  font-weight: $font-weight-normal;
}

.cursor-move {
  cursor: move;
}

// Select-options are used both in single-selection field and autocomplete fields
.select-option {
  display: block;
  padding: 0.2rem 0.7rem;
  min-height: 1.5em;
  cursor: default;
  color: color-yiq($white) !important;
}
.select-option:hover {
  background-color: $list-group-hover-bg;
  text-decoration: none;
}
.select-option.selected {
  background-color: $primary !important;
  color: color-yiq($primary) !important;
}


// Titles
h1, h2, h3 {
  font-weight: $font-weight-normal;
  border-color: $section-border-color;
  position: relative;
}
h1, h2, h3, hr {
  margin-left: -$layout-spacer-xxs;
  margin-right: -$layout-spacer-xxs;
  padding-left: $layout-spacer-xxs;
  padding-right: $layout-spacer-xxs;
}
.section-title-action {
  position: absolute;
  right: $layout-spacer-xxs;
  top: 0.75rem;
}
@include media-breakpoint-up(xs) {
  h1, h2, h3, hr {
    margin-left: -$layout-spacer-xs;
    margin-right: -$layout-spacer-xs;
    padding-left: $layout-spacer-xs;
    padding-right: $layout-spacer-xs;
  }
  .section-title-action {
    right: $layout-spacer-xs;
  }
}
@include media-breakpoint-up(sm) {
  h1, h2, h3, hr {
    margin-left: -$layout-spacer;
    margin-right: -$layout-spacer;
    padding-left: $layout-spacer;
    padding-right: $layout-spacer;
  }
  .section-title-action {
    right: $layout-spacer;
  }
}
h1, h2 {
  border-top: 1px solid $section-border-color;
  padding-top: $layout-spacer-xxs;
  margin-bottom: $layout-spacer-xxs;
}
@include media-breakpoint-up(xs) {
  h1, h2 {
    padding-top: $layout-spacer;
    margin-bottom: $layout-spacer-xs;
  }
}
@include media-breakpoint-up(sm) {
  h1, h2 {
    margin-bottom: $layout-spacer;
  }
}
.modal-content {
  h1, h2 {
    border-top: none;
    padding-top: 0;
  }
}
h1.border-0, h1.border-top-0, h2.border-0, h2.border-top-0 {
  padding-top: 0;
}
h1 {
  font-size: 1.5em;
  color: $h1-color;
}
h2 {
  font-size: 1.3em;
  color: $h2-color;
}
h3 {
  font-size: 1.1em;
  color: $h3-color;
  margin-top: 0.5rem;
  margin-bottom: 0.6rem;
}

.gm-style-iw > div {
  overflow: visible !important;
}
.agm-info-window-content {
  h1, h2, h3 {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

.modal-dialog.notification {
  .modal-content {
    border: none !important;
  }
  .alert {
    border-width: 2px;
  }
}

.modal-dialog.modal-form {
  h1 {
    border-bottom: 1px solid $section-border-color;
    padding-bottom: 1rem;
  }
  .modal-content {
    padding: 1rem;
  }
}

.btn-icon {
  padding: 0.4rem 0.4rem 0.4rem 0.6rem;
  width: 2.6rem;
  color: $button-icon-color;
}

.input-group-icon icon {
  color: $button-icon-color;
}

agm-map {
  display: block;
}
agm-map, .map-container, .agm-map-container-inner {
  height: 100%;
  min-height: 16rem;
}
.agm-info-window-content {
  icon {
    color: $tiled-results-icon-color;
  }
}

.btn-light, .btn-light:hover {
  border: 1px solid $input-border-color;
}

hr {
  width: 100%;
  display: block;
}


// This is actually used to show generated password values
notification data {
  font-weight: $font-weight-bold;
  letter-spacing: 0.2rem;
}

// Force navigation on lightbox to be always visible
.lb-prev, .lb-next {
  opacity: 0.7 !important;
}

// DatePicker tweaks
.bs-datepicker-container {
  padding: 0;
  border: none;
  box-shadow: none;
}
bs-datepicker-navigation-view {
  display: flex;
  .current {
    flex-grow: 1;
    width: auto !important;
    max-width: 100% !important;
  }
}
.xs .bs-datepicker {
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  z-index: 9999 !important;
  transform: translate(-50%, -50%);
}
.xxs .bs-datepicker {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  z-index: 9999 !important;
  display: flex !important;

  button {
    padding: 0 !important;
  }
  .bs-datepicker-container {
    flex-grow: 1 !important;
    width: 100% !important;
    height: 100% !important;
  }
  .bs-datepicker-body {
    min-width: auto !important;
    min-height: auto !important;

    table.days {
      td {
        width: 14.29% !important;
      }
    }
  }
  .bs-datepicker-body table td:before, .bs-datepicker-body table td span:before {
    display: none !important;
  }
}

.profile-actions {
  padding-top: 0.6rem;

  .profile-action + .profile-action {
    margin-top: 0.6rem;
  }
}
