@import 'src/definitions';
@import 'src/cyclos-theme';
@import '~@covalent/core/theming/all-theme';

// Angular material theme with variables defined in _definitions.scss
@include mat-core();

// Application style
* {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

html {
  overflow-y: scroll;
  @include cyclos-theme($light-theme);
}

html.dark {
  @include cyclos-theme($dark-theme);
}

.clear-floats {
  clear: both;
}

.mat-card {
  max-width: $max-content-width;
}

// Titles
h1, h2, h3 {
  opacity: 0.87;
  font-weight: 400;
}
h1, h2 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding-bottom: 9px;
}
h1 {
  margin: 24px 0 12px 0;
  font-size: 20px;
  line-height: 24px;
}
h2 {
  font-size: 16px;
  line-height: 16px;
  margin: 32px 0 16px 0;
}
h3 {
  font-size: 14px;
  line-height: 14px;
  margin: 24px 0 16px 0;
  padding: 0;
  border: 0;
  font-weight: 500;
}
h2 + h3 {
  margin-top: 16px;
}
h1.no-bottom-margin, h2.no-bottom-margin, h3.no-bottom-margin {
  margin-bottom: 0 !important;
}

// Forms
form {
  max-width: $max-form-width;
}
.lt-md form {
  max-width: 80vw;
  display: block;
  margin: auto;
}

.mat-input-prefix mat-icon {
  margin-right: 10px;
  opacity: 0.65;
}
.mat-select-placeholder {
  left: -2px;
}
.mat-select-panel {
  max-height: 350px !important;
}
mat-checkbox + mat-checkbox,
mat-checkbox + mat-radio-group,
mat-radio-group + mat-radio-group, mat-radio-group + mat-checkbox {
  margin-top: 1.25em;
}
mat-radio-group mat-radio-button {
  margin-bottom: 18px;
}
mat-radio-group mat-radio-button::last-of-type {
  margin-bottom: 0px;
}
mat-radio-group.horizontal mat-radio-button + mat-radio-button {
  margin-left: 18px;
}
.mat-button, .mat-raised-button {
  min-width: inherit !important;
  min-height: 40px;
  line-height: 40px !important;
}
.form-info, .form-info-light {
  margin-bottom: 24px;
}
.form-info {
  font-weight: 500;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
.mat-form-field-subscript-wrapper {
  top: calc(100% - 1.9em);
}
.mat-error {
  font-size: 12px;
}

.has-label-value {
  display: block;
}
.has-label-value + .has-label-value {
  margin-top: 16px;
}

// Tabs
.mat-tab-group.mat-primary .mat-tab-label:focus,
.mat-tab-group.mat-primary .mat-tab-link:focus,
.mat-tab-nav-bar.mat-primary .mat-tab-label:focus,
.mat-tab-nav-bar.mat-primary .mat-tab-link:focus {
  background-color: transparent !important;
}
.mat-tab-label, .mat-tab-link {
  font-weight: 400 !important;
}

// Steppers
.td-step-content {
  margin: 0 !important;
  padding: 16px !important;
}
.td-edit-icon {
  display: none !important;
}
.td-steps-header {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

// Data tables
.mat-header-cell {
  font-size: 14px;
  opacity: 0.87;
}
.mat-header-row, .mat-row {
  padding: 4px 14px !important;
}
.mat-header-row.dynamic, .mat-row.dynamic {
  height: auto !important;
}
.clickable {
  cursor: pointer;
}
.mat-table .mat-icon {
  opacity: 0.25;
}
.xs .mat-cell {
  padding: 6px 0;
}
mat-cell.avatar, mat-header-cell.avatar {
  max-width: 58px;
}
mat-cell.avatar avatar .container {
  position: relative;
  left: 1px;
}
mat-cell.selection, mat-header-cell.selection {
  max-width: 32px;
}
mat-cell .cell-main {
  font-weight: 500;
}
mat-cell .cell-small {
  font-size: 12px;
}
.mat-table a, .mat-table a:hover {
  text-decoration: none;
}
.mat-header-row {
  min-height: 48px !important;
}

// Material icons
mat-icon.mat-14 {
  font-size: 14px;
  width: 14px;
  height: 14px;
}
mat-icon.mat-18 {
  font-size: 18px;
  width: 18px;
  height: 18px;
}
mat-icon.mat-22 {
  font-size: 22px;
  width: 22px;
  height: 22px;
}
mat-icon.mat-24 {
  font-size: 24px;
  width: 24px;
  height: 24px;
}
mat-icon.mat-30 {
  font-size: 30px;
  width: 30px;
  height: 30px;
}
mat-icon.mat-36 {
  font-size: 36px;
  width: 36px;
  height: 36px;
}
mat-icon.mat-44 {
  font-size: 44px;
  width: 44px;
  height: 44px;
}
mat-icon.mat-48 {
  font-size: 48px;
  width: 48px;
  height: 48px;
}
mat-icon.mat-96 {
  font-size: 96px;
  width: 96px;
  height: 96px;
}
.mat-table mat-icon {
  opacity: 0.45;
}

.mat-form-field-prefix .mat-icon-button .mat-icon,
.mat-form-field-suffix .mat-icon-button .mat-icon {
  height: 1.2em;
  line-height: 1.2em;
  font-size: 1.2em !important;
}

a.plain {
  text-decoration: none;
}
