<div class="content" [formGroup]="form">
  <label-value class="voucher-token" kind="fieldView"
    [label]="i18n.voucher.token" [value]="state.token"></label-value>

  <boolean-field formControlName="enableNotifications" switch
    [label]="i18n.voucher.enableNotifications">
  </boolean-field>
  <label-value kind="field" [label]="i18n.voucher.email"
    [required]="emailRequired$ | async">
    <input-field formControlName="email">
    </input-field>
  </label-value>
  <input-field formControlName="mobilePhone"
    *ngIf="state.voucher.phoneConfiguration"
    [placeholder]="state.voucher.phoneConfiguration.mobileExample"
    [label]="i18n.voucher.mobilePhone"></input-field>
</div>

<div class="actions actions-primary">
  <action-button (action)="confirm()" [label]="i18n.general.confirm">
  </action-button>
  <action-button (action)="cancel()" outline [label]="i18n.general.cancel">
  </action-button>
</div>
