<div class="content">
  <div class="message">{{ i18n.voucher.info.messageToken }}</div>

  <label-value required [label]="i18n.voucher.token" kind="field">
    <input-field #inputField required focused [formControl]="token" [mask]="state.data.mask" (enter)="proceed()">
    </input-field>
    <button
      *extraCell
      type="button"
      class="btn btn-icon ml-2"
      #scanQrCodeButton
      [tooltip]="i18n.field.user.scanQrCodeTooltip"
      (click)="showScanQrCode()">
      <icon [icon]="SvgIcon.QrCodeScan"></icon>
    </button>
  </label-value>
</div>
<div class="actions actions-primary">
  <action-button [label]="i18n.general.submit" [disabled]="state.processing$ | async" (action)="proceed()">
  </action-button>
</div>
