<nav class="navbar">
  <div class="navbar-container">
    <a #sidenavTrigger class="never-active"
      *ngIf="!(state.processing$ | async) && (state.voucherHasActions$ | async)"
      id="sidenav-trigger" href="#"
      (click)="toggleSidenav.emit(); $event.preventDefault(); blurIfClick('sidenav-trigger', $event);"
      [attr.aria-label]="i18n.menu.menu">
      <icon [icon]="SvgIcon.List"></icon>
    </a>

    <!--We use a link here only to apply the right CSS styles but we do not want to navigate -->
    <a #brand class="navbar-brand" id="home-trigger"
      (click)="$event.preventDefault(); blurIfClick('home-trigger', $event);">
      <!-- The title -->
      <div class="top-title">{{ state.title$ | async }}</div>
    </a>

    <a [routerLink]="" *ngIf="state.voucher$ | async" class="icon"
      id="exit-trigger"
      (click)="state.exit($event); $event.preventDefault(); blurIfClick('exit-trigger', $event);"
      [attr.aria-label]="i18n.voucher.info.exit">
      <icon [icon]="SvgIcon.Logout2">
      </icon>
    </a>
  </div>
</nav>
