@import 'src/definitions';

.one-column, .full-columns {
  display: flex;
  flex-direction: column;
}

.two-columns, .full-columns {
  @include make-container-max-widths();
}

.two-columns {
  display: flex;
  flex-direction: row;

  .left-column, .right-column {
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  .left-column {
    padding-right: $layout-spacer / 2;
  }
  .right-column {
    padding-left: $layout-spacer / 2;
  }
}

:host ::ng-deep .dashboard page-content {
  margin-top: 0 !important;
}

@include media-breakpoint-up(md) {
  .dashboard {
    padding-top: $layout-spacer;
  }
}
