<page-layout [ready]="content | async" hideMenu>
  <ng-container *ngIf="login.user; else guest">
    <page-content>
      <dashboard></dashboard>
    </page-content>
    <page-content [mode]="(layout.ltsm$ | async) ? 'tight' : 'normal'">
      <div [ngClass]="{'px-3': layout.ltsm$ | async }" [innerHTML]="content.value | trust"></div>
    </page-content>
  </ng-container>
</page-layout>

<ng-template #guest>
  <page-content *ngIf="layout.ltlg$ | async" [heading]="title">
    <dashboard></dashboard>
  </page-content>
  <page-content [heading]="(layout.gtmd$ | async) ? title : null" [mode]="(layout.ltsm$ | async) ? 'tight' : 'normal'">
    <div [ngClass]="{'px-3': layout.ltsm$ | async }" [innerHTML]="content.value | trust"></div>
  </page-content>
</ng-template>
