<page-layout hideMenu [ready]="ready$ | async">
  <content-page [contentPage]="homePage" *ngIf="login.user == null; else dashboard"></content-page>
</page-layout>

<ng-template #dashboard>
  <div class="dashboard">

    <!-- Mobile / tablet -->
    <div class="one-column window-width" *ngIf="layout.ltlg$ | async">
      <ng-container *ngFor="let config of configs$ | async">
        <ng-container *ngIf="layout.visible(config.breakpoints, layout.breakpointChanges$ | async)">
          <dashboard-item debug="OneColumn" [config]="config"></dashboard-item>
        </ng-container>
      </ng-container>
    </div>

    <!-- Desktop -->
    <div class="two-columns" *ngIf="layout.gtmd$ | async">
      <div class="left-column">
        <ng-container *ngFor="let config of leftConfigs$ | async">
          <ng-container *ngIf="layout.visible(config.breakpoints, layout.breakpointChanges$ | async)">
            <dashboard-item debug="TwoColumns-Left" [config]="config"></dashboard-item>
          </ng-container>
        </ng-container>
      </div>
      <div class="right-column">
        <ng-container *ngFor="let config of rightConfigs$ | async">
          <ng-container *ngIf="layout.visible(config.breakpoints, layout.breakpointChanges$ | async)">
            <dashboard-item debug="TwoColumns-Right" [config]="config"></dashboard-item>
          </ng-container>
        </ng-container>
      </div>
    </div>
    <div class="full-columns">
      <ng-container *ngFor="let config of fullConfigs$ | async">
        <ng-container *ngIf="layout.visible(config.breakpoints, layout.breakpointChanges$ | async)">
          <dashboard-item debug="FullColumns" [config]="config"></dashboard-item>
        </ng-container>
      </ng-container>
    </div>

  </div>
</ng-template>
