@import 'src/definitions';

.dashboard-container {
  margin: -0.4rem 0 0 -0.4rem;
}

.dashboard-item {
  border: 2px solid $dashboard-border-color;
  background-color: $dashboard-bg;
  color: $dashboard-color;
  text-decoration: none;
  padding: 1rem 0.1rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.4rem 0 0 0.4rem;
  transition: background-color .4s;
  min-height: 6.2rem;

  icon {
    margin-bottom: 0.4rem;
    color: $dashboard-icon-color;
    opacity: 0.8;
  }
}
.dashboard-item:hover {
  text-decoration: none;
  background-color: $dashboard-hover-bg;
  color: $dashboard-hover-color;
  border-color: $dashboard-hover-border-color;

  icon {
    color: $dashboard-hover-icon-color;
  }
}

@include media-breakpoint-up(sm) {
  .dashboard-container {
    margin: -1rem 0 0 -1rem;
  }

  .dashboard-item, .dashboard-item:hover {
    margin: 1rem 0 0 1rem;
  }

  .dashboard-item icon {
    margin-bottom: 0.8rem;
  }
}

@include media-breakpoint-up(md) {
  .dashboard-item {
    padding: 2rem 0.1rem;
  }
}