<page-layout [ready]="data$ | async">
  <ng-container *ngIf="data">
    <page-content
      [heading]="create ? i18n.ad.title.deliveryMethodNew : i18n.ad.title.deliveryMethod"
      [mobileHeading]="create ? i18n.ad.mobileTitle.deliveryMethodNew : i18n.ad.mobileTitle.deliveryMethod"
      [headingActions]="headingActions$ | async">
      <form [formGroup]="form">
        <input-field formControlName="name" [label]="i18n.general.name"
          required>
        </input-field>
        <radio-group-field [label]="i18n.ad.chargeType"
          formControlName="chargeType">
          <field-option value="fixed" [text]="i18n.ad.fixed"></field-option>
          <field-option value="negotiated" [text]="i18n.ad.negotiated">
          </field-option>
        </radio-group-field>
        <single-selection-field *ngIf="((form.get('chargeType').valueChanges | async) || form.get('chargeType').value) === 'fixed' &&
          data.currencies && data.currencies.length > 1"
          formControlName="chargeCurrency" [label]="i18n.general.currency"
          required>
          <field-option *ngFor="let c of data.currencies"
            [value]="ApiHelper.internalNameOrId(c)" [id]="c.id"
            [internalName]="c.internalName" [text]="c.name">
          </field-option>
        </single-selection-field>
        <decimal-field *ngIf="currency$ | async"
          formControlName="chargeAmount" [label]="i18n.ad.deliveryPrice"
          [scale]="currency.decimalDigits" [prefix]="currency.prefix"
          [suffix]="currency.suffix" fieldSize="full" required>
        </decimal-field>
        <time-interval-field formControlName="minTime"
          [label]="i18n.ad.minDeliveryTime">
        </time-interval-field>
        <time-interval-field formControlName="maxTime"
          [label]="i18n.ad.maxDeliveryTime" required>
        </time-interval-field>
        <textarea-field formControlName="description"
          [label]="i18n.general.description">
        </textarea-field>
      </form>
      <actions forceRow>
        <button class="btn btn-primary" (click)="save()"
          [disabled]="requesting$ | async">
          {{ i18n.general.submit }}
        </button>
      </actions>
    </page-content>
  </ng-container>
</page-layout>
