<page-layout [ready]="data$ | async">
  <ng-container *ngIf="data">
    <page-content [heading]="i18n.ad.title.deliveryMethods"
      [mobileHeading]="i18n.ad.mobileTitle.deliveryMethods"
      [headingActions]="headingActions$ | async"
      [mode]="!self ? 'normal' : 'empty'">
      <user-info *ngIf="!self" [user]="data.user"></user-info>
    </page-content>

    <results-layout [results]="data.deliveryMethods" [toLink]="toLink">
      <mobile-result *mobileResult="let row">
        <div class="d-flex">
          <div>
            <div class="cell-main">{{ row.name }}</div>
            <div class="cell-text">
              {{ i18n.ad.chargeType }}:
              {{ resolveChargeTypeLabel(row.chargeType) }}</div>
            <div class="cell-text">
              {{ i18n.ad.price }}:
              {{ row.chargeAmount | currency: row.chargeCurrency }}</div>
            <div *ngIf="row.minDeliveryTime" class="cell-text">
              {{ i18n.ad.minDeliveryTime }}:
              {{ format.formatTimeInterval(row.minDeliveryTime) }}</div>
            <div class="cell-text">
              {{ i18n.ad.maxDeliveryTime }}:
              {{ format.formatTimeInterval(row.maxDeliveryTime) }}</div>
            <div class="cell-text">
              {{ i18n.general.enabled }}:
              {{ row.enabled ?
                      i18n.general.yes :
                      i18n.general.no }}</div>
          </div>
          <div *ngIf="data.canManage" class="ml-auto text-right">
            <button [tooltip]="i18n.general.remove" class="btn btn-icon"
              (click)="remove(row); $event.stopPropagation(); $event.preventDefault()">
              <icon icon="clear"></icon>
            </button>
          </div>
        </div>
      </mobile-result>
      <table *resultTable class="table table-hover cursor-pointer">
        <thead>
          <th>{{ i18n.general.name }}</th>
          <th>{{ i18n.ad.chargeType }}</th>
          <th class="text-right">{{ i18n.ad.price }}</th>
          <th>{{ i18n.ad.minDeliveryTime }}</th>
          <th>{{ i18n.ad.maxDeliveryTime }}</th>
          <th>{{ i18n.general.enabled }}</th>
          <th *ngIf="data.canManage" class="actions"></th>
        </thead>
        <tbody>
          <ng-container *ngFor="let row of data.deliveryMethods">
            <tr (click)="router.navigate(viewPath(row))">
              <td>
                {{ row.name }}
              </td>
              <td>
                {{ resolveChargeTypeLabel(row.chargeType) }}
              </td>
              <td class="text-right">
                {{ row.chargeAmount | currency: row.chargeCurrency }}
              </td>
              <td>
                {{ format.formatTimeInterval(row.minDeliveryTime) }}
              </td>
              <td>
                {{ format.formatTimeInterval(row.maxDeliveryTime) }}
              </td>
              <td>
                {{ row.enabled ?
                i18n.general.yes :
                i18n.general.no }}
              </td>
              <td *ngIf="data.canManage" class="actions">
                <button [tooltip]="i18n.general.remove" class="btn btn-icon"
                  (click)="remove(row); $event.stopPropagation()">
                  <icon icon="clear"></icon>
                </button>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </results-layout>
  </ng-container>
</page-layout>
