<ng-container *ngIf="roots$ | async as roots">
  <ng-container
    *ngIf="density(roots, uiLayout.breakpointChanges$ | async) as dens">
    <nav class="navbar shadow-sm" [ngClass]="{
        'full-width': uiLayout.fullWidth$ | async,
        'dense': dens === 'dense'
      }">
      <div class="navbar-container justify-content-start">
        <menus [roots]="roots" [menuType]="MenuType.BAR"
          [activeMenu]="activeMenu" [density]="dens"></menus>
      </div>
    </nav>
  </ng-container>
</ng-container>
