<nav *ngIf="roots$ | async as roots" class="navbar navbar-expand-md">
  <div class="navbar-container container-lg">
    <!-- The sidenav toggle on mobile / tablet -->
    <a #sidenavTrigger class="never-active" *ngIf="layout.ltlg$ | async"
      id="sidenav-trigger" href="#"
      (click)="toggleSidenav.emit(); $event.preventDefault(); blurIfClick('sidenav-trigger', $event);"
      [attr.aria-label]="i18n.menu.menu">
      <icon [icon]="SvgIcon.List"></icon>
    </a>
    <a #brand class="navbar-brand" routerLink="/">
      <!-- The application logo -->
      <img *ngIf="layout.gtxs$ | async" class="logo"
        [src]="dataForFrontendHolder.dataForFrontend.logoUrl">

      <!-- The title -->
      <div class="top-title">{{
        (layout.xxs$ | async)
        ? (uiLayout.title$ | async) ||
        dataForFrontendHolder.dataForFrontend.mobileTitle
        : (layout.ltmd$ | async)
        ? dataForFrontendHolder.dataForFrontend.mobileTitle
        : dataForFrontendHolder.dataForFrontend.title
        }}</div>
    </a>
    <div #menuContainer class="menu-container">
      <ng-container *ngIf="layout.xxs$ | async; else mobileOrGreater">
        <!-- When on xxs, show an icon that integrates navigation and page actions -->
        <ng-container *ngTemplateOutlet="xxsMenu"></ng-container>
      </ng-container>
      <ng-template #mobileOrGreater>
        <ng-container *ngIf="hasMenu && (layout.gtmd$ | async)">
          <!-- The menu is integrated in the top bar -->
          <menus class="expanded" [roots]="roots" [density]="density"
            [tooltipForNonActive]="density === 'dense' && (layout.lg$ | async)"
            [menuType]="MenuType.TOP" [activeMenu]="activeMenu"
            [userName]="userName" (dropdownShown)="dropdownShown($event)"
            (dropdownHidden)="dropdownHidden()"></menus>
          <div [ngClass]="separatorNgClass"></div>
        </ng-container>
        <!-- We also have custom menus (profile, notifications, logout, etc) -->
        <ng-container *ngTemplateOutlet="customMenus"></ng-container>
      </ng-template>
    </div>
  </div>
</nav>
<ng-template #customMenus>
  <div class="custom-menus">
    <ng-container *ngIf="(user != null) && (layout.gtxxs$ | async)">
      <div *ngIf="authHelper.restrictedAccess; else profileLink"
        class="profile-label">
        <avatar *ngIf="user.image" size="small-medium" [image]="user.image"
          [icon]="SvgIcon.Person">
        </avatar>
        <icon *ngIf="!user.image" [icon]="SvgIcon.Person">
        </icon>
        <div *ngIf="(layout.gtsm$ | async)" class="personal-label">
          {{ userName }}
        </div>
      </div>
      <ng-template #profileLink>
        <a routerLink="/users/self/profile" id="profile-link"
          (click)="navigate(Menu.MY_PROFILE, $event); blurIfClick('profile-link', $event);"
          [ngClass]="customNgClass(Menu.MY_PROFILE)"
          [tooltip]="hasMenu ? i18n.menu.personal : null">
          <avatar *ngIf="user.image" size="small-medium" [image]="user.image">
          </avatar>
          <icon *ngIf="!user.image" [icon]="SvgIcon.Person">
          </icon>
          <div *ngIf="(layout.gtsm$ | async)" class="personal-label">
            {{ userName }}
          </div>
        </a>
      </ng-template>
      <ng-container
        *ngIf="(layout.gtxxs$ | async) && (messageHelper.messageStatus$ | async)">
        <a routerLink="/users/messages/search" id="messages-link"
          (click)="navigate(messageHelper.resolveMenu(), $event); blurIfClick('messages-link', $event);"
          [ngClass]="customNgClass(messageHelper.resolveMenu())"
          [tooltip]="hasMenu ? messageHelper.resolveLabel() : null"
          [attr.aria-label]="messageHelper.resolveLabel()">
          <icon-with-counter [icon]="SvgIcon.Envelope"
            [count]="(messageHelper.messageStatus$ | async).newMessages">
          </icon-with-counter>
          <div *ngIf="(layout.gtmd$ | async) && !hasMenu" class="ml-2">
            {{ messageHelper.resolveLabel() }}
          </div>
        </a>
      </ng-container>
    </ng-container>
    <ng-container
      *ngIf="(layout.gtxxs$ | async) && (notification.notificationsStatus$ | async)">
      <a routerLink="/personal/notifications" id="notifications-link"
        (click)="navigate(Menu.NOTIFICATIONS, $event); blurIfClick('notifications-link', $event);"
        [ngClass]="customNgClass(Menu.NOTIFICATIONS)"
        [tooltip]="hasMenu ? i18n.menu.personalNotifications : null"
        [attr.aria-label]="i18n.menu.personalNotifications">
        <icon-with-counter [icon]="SvgIcon.Bell"
          [count]="(notification.notificationsStatus$ | async).newNotifications">
        </icon-with-counter>
        <div *ngIf="(layout.gtmd$ | async) && !hasMenu" class="ml-2">
          {{ i18n.menu.personalNotifications }}
        </div>
      </a>
    </ng-container>

    <a href="#" *ngIf="user != null && shoppingCart" id="shopping-cart"
      routerLink="/marketplace/shopping-cart" class="nav-item"
      [ngClass]="customNgClass(Menu.SHOPPING_CART)"
      [tooltip]="hasMenu ? i18n.menu.shoppingCart : null"
      [attr.aria-label]="i18n.menu.shoppingCart"
      (click)="navigate(Menu.SHOPPING_CART, $event); blurIfClick('shopping-cart', $event);">
      <icon-with-counter [icon]="SvgIcon.Cart3"
        [count]="marketplaceHelper.cartItems$ | async"></icon-with-counter>
      <div *ngIf="(layout.gtmd$ | async) && !hasMenu" class="ml-2">
        {{ i18n.menu.shoppingCart }}
      </div>
    </a>

    <a href="#" *ngIf="(layout.gtxxs$ | async) && user != null"
      id="logout-trigger" class="nav-item"
      [ngClass]="customNgClass(Menu.LOGOUT)"
      [tooltip]="hasMenu ? i18n.menu.logout : null"
      [attr.aria-label]="i18n.menu.logout"
      (click)="navigate(Menu.LOGOUT, $event); blurIfClick('logout-trigger', $event);">
      <icon [icon]="SvgIcon.Logout2"></icon>
      <div *ngIf="(layout.gtmd$ | async) && !hasMenu" class="ml-2">
        {{ i18n.menu.logout }}
      </div>
    </a>
    <ng-container *ngIf="user == null">
      <a *ngIf="(layout.gtsm$ | async) && menu.menuEntry(Menu.PUBLIC_REGISTRATION)"
        routerLink="/users/registration" id="register-link"
        [attr.aria-label]="i18n.menu.register"
        (click)="navigate(Menu.PUBLIC_REGISTRATION, $event); blurIfClick('register-link', $event);"
        [ngClass]="customNgClass(Menu.PUBLIC_REGISTRATION)">
        <icon [icon]="SvgIcon.PersonPlus"></icon>
        <div *ngIf="layout.gtsm$ | async" class="ml-2">
          {{ i18n.menu.register }}
        </div>
      </a>
      <a routerLink="/login" id="login-link"
        [attr.aria-label]="i18n.menu.login"
        (click)="navigate(Menu.LOGIN, $event); blurIfClick('login-link', $event);"
        [ngClass]="customNgClass(Menu.LOGIN)">
        <icon [icon]="SvgIcon.Login2"></icon>
        <div *ngIf="layout.gtsm$ | async" class="ml-2">
          {{ i18n.menu.login }}
        </div>
      </a>
    </ng-container>
  </div>
</ng-template>

<ng-template #xxsMenu>
  <heading-actions root [headingActions]="xxsActions(
      uiLayout.headingActions$ | async,
      router.events | async,
      login.user$ | async)">
  </heading-actions>
</ng-template>
