<page-layout [title]="messages.userAddresses()"
  [loaded]="loaded">
  <page-content *ngIf="loaded | async">
    <tiled-results *ngIf="data.addresses.length > 0; else noResults">
      <tiled-result *ngFor="let address of data.addresses"
        [title]="address.defaultAddress
          ? messages.addressDefaultName(address.name)
          : address.name"
        icon="place"
        [actions]="actions(address)"
        fxFlex="nogrow">
        <ng-container *ngIf="enabled('addressLine1')">
          <div *ngIf="address.addressLine1; else blankLine"
            class="tile-data">{{ address.addressLine1 }}</div>
        </ng-container>
        <ng-container *ngIf="enabled('addressLine2')">
          <div *ngIf="address.addressLine2; else blankLine"
            class="tile-data">{{ address.addressLine2 }}</div>
        </ng-container>
        <ng-container *ngIf="enabled('street')">
          <div *ngIf="address.street; else blankLine"
            class="tile-data">
            {{ addressStreet(address) }}
          </div>
        </ng-container>
        <ng-container *ngIf="enabled('zip')">
          <div *ngIf="address.zip; else blankLine"
            class="tile-data">{{ address.zip }}</div>
        </ng-container>
        <ng-container *ngIf="enabled('neighborhood')">
          <div *ngIf="address.neighborhood; else blankLine"
            class="tile-data">{{ address.neighborhood }}</div>
        </ng-container>
        <ng-container *ngIf="enabled('city')">
          <div *ngIf="address.city; else blankLine"
            class="tile-data">{{ address.city }}</div>
        </ng-container>
        <ng-container *ngIf="enabled('region')">
          <div *ngIf="address.region; else blankLine"
            class="tile-data">{{ address.region }}</div>
        </ng-container>
        <ng-container *ngIf="enabled('country')">
          <div *ngIf="address.country; else blankLine"
            class="tile-data">{{ country(address.country) }}</div>
        </ng-container>
        <div class="tile-data">
          {{ address.hidden ? messages.visibilityPrivate() : messages.visibilityPublic() }}
        </div>
      </tiled-result>
    </tiled-results>
    <fab *ngIf="data.canCreate"
      icon="add"
      (click)="createNew()">
    </fab>
  </page-content>
</page-layout>
<ng-template #blankLine>
  <div class="tile-data">
    <br>
  </div>
</ng-template>
<ng-template #noResults>
  <div class="no-results">{{ messages.addressNoResults() }}</div>
</ng-template>
