<page-layout [title]="messages.userAddresses()"
  [loaded]="loaded">
  <page-content *ngIf="loaded | async">
    <tiled-results *ngIf="data.addresses.length > 0; else noResults">
      <tiled-result *ngFor="let address of data.addresses"
        [title]="address.defaultAddress
          ? messages.addressDefaultName(address.name)
          : address.name"
        icon="place"
        [actions]="actions(address)"
        fxFlex="nogrow">
        <div *ngIf="address.addressLine1"
          class="tile-data">{{ address.addressLine1 }}</div>
        <div *ngIf="address.addressLine2"
          class="tile-data">{{ address.addressLine2 }}</div>
        <div *ngIf="address.street"
          class="tile-data">
          {{ address.street }}
          <ng-container *ngIf="address.buildingNumber">, {{ address.buildingNumber }}</ng-container>
          <ng-container *ngIf="address.complement">, {{ address.complement }}</ng-container>
        </div>
        <div *ngIf="address.zip"
          class="tile-data">{{ address.zip }}</div>
        <div *ngIf="address.neighborhood"
          class="tile-data">{{ address.neighborhood }}</div>
        <div *ngIf="address.city"
          class="tile-data">{{ address.city }}</div>
        <div *ngIf="address.region"
          class="tile-data">{{ address.region }}</div>
        <div *ngIf="address.country"
          class="tile-data">{{ country(address.country) }}</div>
        <div class="tile-data">
          {{ address.hidden ? messages.visibilityPrivate() : messages.visibilityPublic() }}
        </div>
      </tiled-result>
    </tiled-results>
    <fab *ngIf="data.canCreate"
      icon="add"
      (click)="createNew()">
    </fab>
  </page-content>
</page-layout>
<ng-template #noResults>
  <div class="no-results">{{ messages.addressNoResults() }}</div>
</ng-template>
