@import '~@angular/material/theming';

@mixin menu-bar-component-theme($theme) {
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  menu-bar .outer {
    background-color: map-get($background, card);
    color: map-get($foreground, text);
    border-bottom-color: mat-color($foreground, divider)
  }
}
