@import '~@angular/material/theming';

@mixin sidenav-menu-component-theme($theme) {
  $foreground: map-get($theme, foreground);
  $primary: map-get($theme, primary);

  sidenav-menu {
    .outer {
      background-color: mat-color($primary);
      color: mat-color($primary, default-contrast);
    }

    .rootMenu:not(.first) {
      border-top-color: mat-color($foreground, divider);
    }

    .rootContainer.guest menu-item {
      border-bottom-color: mat-color($foreground, divider);
    }
  }
}
