@import 'src/definitions';

:host /deep/ a.active {
  color: mat-color($primary);
  border-bottom: 1px solid mat-color($primary);
  opacity: 1;
}

:host /deep/ a {
  border-radius: 0px !important;
  padding: 10px 14px 10px 0;
  margin-right: 24px;
  font-weight: 400;
}
:host /deep/ a * {
  font-size: 16px !important;
}

:host /deep/ .outer {
  background-color: map-get($background, card);
  color: map-get($foreground, text);
  border-bottom: 1px solid mat-color($foreground, divider);
  padding: 0 16px;
}