<nav class="navbar shadow-sm" [ngStyle]="{
  boxShadow: (layout.fullWidth$ | async) ? 'none' : '',
  border: (layout.fullWidth$ | async) ? 'none' : ''
}">
  <div class="navbar-container justify-content-start">
    <ng-container *ngFor="let root of roots | async">
      <a *ngIf="root.entries[0]" [routerLink]="root.entries[0].url" (click)="onClick($event, root);$event.target.blur()"
        class="nav-item d-inline-flex align-items-center" [ngClass]="{active: activeRoot === root.rootMenu}">
        <icon class="mr-2" size="1.4rem" [icon]="root.icon"></icon>
        <span class="menu-text">{{ root.label }}</span>
      </a>
    </ng-container>
  </div>
</nav>
