@import 'src/definitions';

a {
  text-align: left !important;
  text-decoration: none;
  color: mat-color($foreground, text);
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  top: 1px;
  position: relative;
}
a:not(.active) {
  opacity: 0.65;
}
a.active {
  color: mat-color($accent);
}
a .mat-icon {
  margin-right: 10px;
}
.text {
  margin-top: 4px;
}