@import 'src/definitions';

$lg-padding: 1.4rem;
$xl-padding: 1.9rem;

:host {
  display: flex;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: $zindex-sticky;
  height: $menu-bar-height;
}

nav {
  background-color: $menu-bar-bg;
  padding: 0 0.7rem;
  border-bottom: 1px solid $menu-bar-line-color;
  flex-grow: 1;
  display: flex;
  align-items: stretch;
}
nav.full-width {
  box-shadow: none;
  border-bottom: 1px solid transparent;
}
.navbar-container {
  display: flex;
  padding: 0;
  margin: 0 auto;
  flex-grow: 1;
  @include make-container-max-widths();
}

:host ::ng-deep menus {
  .nav-item {
    display: inline-flex;
    align-items: center;
    position: relative;
  }
  .sub-menu-item {
    display: flex;
    align-items: center;
  }
  .dropdown-menu {
    transform: translateY(-2px) !important;
  }
  a {
    padding: 0.9rem $lg-padding;
    position: relative;
  }
  a.sub-menu-item {
    padding: 0.7rem calc(#{$lg-padding} + 0.2rem) 0.7rem $lg-padding;
  }
  .menu-text, .sub-menu-text {
    font-size: 1.2em;
    line-height: 1em;
    white-space: nowrap;
  }
  a:not(.active) {
    color: $menu-bar-inactive-color;
    background-color: $menu-bar-inactive-bg;
    icon {
      color: $menu-bar-inactive-icon-color;
    }
    &:hover, &:focus {
      color: $menu-bar-inactive-hover-color;
      background-color: $menu-bar-inactive-hover-bg;
      text-decoration: none;
      box-shadow: none;
    }
  }
  a.active {
    color: $menu-bar-active-color;
    icon {
      color: $menu-bar-active-icon-color;
    }
    &:hover, &:focus {
      color: $menu-bar-active-hover-color;
      background-color: $menu-bar-active-hover-bg;
      text-decoration: none;
      box-shadow: none;
    }
  }
  a.active:not(.sub-menu-item)::before {
    content: "";
    background-color: $menu-bar-active-border-color;
    height: 2px;
    bottom: -1px;
    width: 100%;
    left: 0;
    position: absolute;
  }
  .dropdown-menu {
    icon {
      color: $menu-bar-inactive-icon-color !important;
    }
  }
  .dropdown-menu a.active {
    box-shadow: none !important;
    icon {
      color: $menu-bar-active-icon-color !important;
    }
  }

  .dropdown-toggle::after {
    margin-left: 0.5rem;
  }

  @include media-breakpoint-up(xl) {
    a {
      padding: 0 $xl-padding;
    }
    a.sub-menu-item {
      padding-left: $xl-padding;
      padding-right: calc(#{$xl-padding} + 0.2rem);
    }
  }

  .logout a {
    padding: 0 0.5rem;
  }
}

@media print {
  :host {
    display: none;
  }
}

// Colors for dark scheme
body.dark :host ::ng-deep {
  nav {
    background-color: $menu-bar-bg-dark;
    border-color: $menu-bar-line-color-dark;
  }
  menus {
    a.active {
      color: $menu-bar-active-color-dark;
      icon {
        color: $menu-bar-active-icon-color-dark;
      }
      &:hover, &:focus {
        color: $menu-bar-active-hover-color-dark;
        background-color: $menu-bar-active-hover-bg-dark;
      }
    }
    a:not(.active) {
      color: $menu-bar-inactive-color-dark;
      background-color: $menu-bar-inactive-bg-dark;
      icon {
        color: $menu-bar-inactive-icon-color-dark;
      }
      &:hover, &:focus {
        color: $menu-bar-inactive-hover-color-dark;
        background-color: $menu-bar-inactive-hover-bg-dark;
        text-decoration: none;
        box-shadow: none;
      }
    }
  }
}