@import 'src/definitions';

:host {
  display: block;
}

nav {
  background-color: $menu-bar-bg;
  padding: 0 0.7rem;
  border-bottom: 1px solid $section-border-color;
}
a {
  color: $menu-bar-color;
  padding: 0.9rem 2rem;
}
.menu-text {
  font-size: 1.2em;
}
a:not(.active) {
  color: $menu-bar-inactive-color;
}
a:hover {
  background-color: $menu-bar-hover-bg;
  text-decoration: none;
}
a.active {
  box-shadow: inset 0 -2px 0 0 $menu-bar-active-border;
}