<ng-container *ngFor="let root of roots">
  <a #dropdownAnchor [id]="menuAnchorId(root)" *ngIf="root.dropdown"
    class="nav-item dropdown-toggle" href="#"
    (onShown)="dropdownShown.emit(root)"
    (onHidden)="dropdownHidden.emit(root)"
    [attr.aria-controls]="'menu-dropdown-' + root.rootMenu"
    [tooltip]="!onTop || activeRoot === root.rootMenu || (layout.gtlg$ | async) ? undefined : root.label"
    (mouseenter)="dropdown.show()" (mouseleave)="dropdown.hide()"
    (click)="onClick($event, dropdownAnchor, root)" dropdown
    #dropdown="bs-dropdown" [ngClass]="{
            active: activeRoot === root.rootMenu
          }">
    <icon [ngClass]="onTop ? 'top-icon' : null" size="1.4rem"
      [icon]="root.icon"></icon>
    <div class="menu-text">{{ root.label }}</div>
    <div *dropdownMenu class="dropdown-menu" role="listbox"
      [attr.id]="'menu-dropdown-' + root.rootMenu" attr.aria-labelledby="id"
      (click)="$event.preventDefault(); $event.stopPropagation();">
      <ng-container *ngFor="let entry of root.entries">
        <a #subAnchor [id]="menuAnchorId(entry)" *ngIf="entry.url"
          [routerLink]="entry.url" (click)="onClick($event, subAnchor, entry)"
          class="sub-menu-item" [ngClass]="{
                active: (breadcrumb.url$ | async) === entry.url
              }">
          <icon [ngClass]="onTop ? 'top-icon' : null" size="1.4rem"
            [icon]="entry.icon"></icon>
          <div class="sub-menu-text">{{ entry.label }}</div>
        </a>
      </ng-container>
    </div>
  </a>

  <a [id]="menuAnchorId(root)" *ngIf="!root.dropdown && root.entries[0]"
    #anchor [routerLink]="root.entries[0].url"
    [tooltip]="!onTop || activeRoot === root.rootMenu || (layout.gtlg$ | async) ? undefined : root.label"
    (click)="onClick($event, anchor, root)" class="nav-item" [ngClass]="{
          active: activeRoot === root.rootMenu
        }">
    <icon [ngClass]="onTop ? 'top-icon' : null" size="1.4rem"
      [icon]="root.icon"></icon>
    <div class="menu-text">{{ root.label }}</div>
  </a>

</ng-container>
