@import 'src/definitions';

:host ::ng-deep .outer {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding: 0 16px;
}

:host ::ng-deep .mat-icon {
  margin-right: 8px;
}
:host ::ng-deep a {
  opacity: 1 !important;
}
:host ::ng-deep a:not(.mat-tab-label-active) {
  .item-text, .mat-icon {
    opacity: 0.65 !important;
  }
}
:host ::ng-deep a.mat-tab-label-active {
  .mat-icon {
    opacity: 1 !important;
  }
}
:host ::ng-deep .mat-button-focus-overlay {
  display: none !important;
}

:host ::ng-deep .mat-tab-link {
  height: 60px !important;
  padding: 10px !important;
  min-width: 150px;
}
:host ::ng-deep {
  .item-text, .mat-icon {
    font-weight: 400;
  }
  .item-text {
    font-size: 1.2em;
  }
}
:host ::ng-deep .mat-tab-nav-bar {
  border-bottom-width: 0px !important;
}