<nav class="navbar shadow-sm" [ngStyle]="{
  boxShadow: (layout.fullWidth$ | async) ? 'none' : '',
  border: (layout.fullWidth$ | async) ? 'none' : ''
}">
  <div class="navbar-container justify-content-start">
    <ng-container *ngFor="let root of roots | async">
      <a *ngIf="root.entries[0]" #rootLink [routerLink]="root.entries[0].url"
        (click)="onClick($event, root);$event.target.blur()" class="nav-item d-inline-flex align-items-center"
        [ngClass]="{active: activeRoot === root.rootMenu}">
        <icon class="mr-2" size="1.4rem" [icon]="root.icon"></icon>
        <span class="menu-text">{{ root.label }}</span>
      </a>
    </ng-container>
    <div *ngIf="(login.user$ | async) != null" class="logout d-flex align-items-center flex-grow-1 justify-content-end">
      <a href="#" class="nav-item d-inline-flex align-items-center" (click)="logout($event)">
        <icon class="mr-2" size="1.4rem" icon="logout"></icon>
        <span class="menu-text" i18n>
          Logout
        </span>
      </a>
    </div>
  </div>
</nav>
