<div #container style="display:none" class="container" (click)="$event.stopPropagation()">
  <div class="popup mat-elevation-z6" fxLayout="row">
    <div class="avatar-container">
      <avatar [image]="user?.image" size="huge"></avatar>
    </div>
    <div class="details-container" fxLayout="column">
      <div class="display">{{user?.display}}</div>
      <div class="principal">{{auth?.principal}}</div>
      <div class="menu" fxLayout="column">
        <menu-item 
          url="/personal/profile" icon="account_box"
          [label]="generalMessages.personalMenuProfile()"></menu-item>
        <menu-item 
          url="/personal/passwords" icon="lock"
          [label]="generalMessages.personalMenuPasswords()"></menu-item>
        <menu-item 
          url="/personal/contacts" icon="contacts"
          [label]="generalMessages.personalMenuContacts()"></menu-item>
        <menu-item #logout (click)="login.logout();hide();" icon="exit_to_app"
        [label]="generalMessages.personalMenuLogout()"></menu-item>      
      </div>
    </div>
  </div>
</div>