@import 'src/definitions';

.personal-menu-container {
  position: absolute;
  z-index: 99999;
  transition: opacity 400ms;
  right: 0;
  @if $enable-shadows == false {
    border: 1px solid $section-border-color;
  }
}
@include media-breakpoint-up(sm) {
  .personal-menu-container {
    right: inherit;
  }
}

.personal-menu-popup {
  background-color: $personal-menu-bg;
}

a:hover {
  text-decoration: none;
  background-color: $personal-menu-hover-bg;
}

.personal-menu-user {
  color: $personal-menu-color;
}
.personal-menu-actions a {
  color: $personal-menu-item-color;
}
