<div #container
  style="display:none"
  class="container">
  <div class="popup mat-elevation-z6"
    fxLayout="row"
    fxLayoutAlign="center center">
    <a routerLink="/users/my-profile"
      class="avatar-container"
      (click)="clearState()"
      [ngClass]="{'no-image': user?.image == null}">
      <avatar [image]="user?.image"
        icon="account_circle"
        size="huge"></avatar>
    </a>
    <div class="details-container"
      fxLayout="column">
      <a class="details"
        (click)="clearState()"
        routerLink="/users/my-profile">
        <div class="display">{{ user?.display }}</div>
        <div class="principal">{{ auth?.principal }}</div>
      </a>
      <div class="menu"
        fxLayout="column">
        <menu-item *ngFor="let entry of menuEntries | async"
          [entry]="entry"
          (click)="hide()"></menu-item>
      </div>
    </div>
  </div>
</div>
