@import 'src/definitions';

:host {
  width: 100%;
  margin-bottom: 0.5rem;
}

:host ::ng-deep a {
  color: $body-color;
}
body.dark :host ::ng-deep a {
  color: $body-color-dark;
}

.subject {
  font-weight: $font-weight-bold;
  flex-grow: 1;
  padding: 0 0.5rem;
}

.toast {
  max-width: 100%;
}

.toast-body {
  display: none;
}

.close {
  cursor: pointer;
}

@include media-breakpoint-up(sm) {
  :host {
    max-width: 20rem;
  }

  .toast-body {
    max-height: 6rem;
    overflow: auto;
    display: block;
  }
}