@import 'src/definitions';

:host {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  z-index: $zindex-tooltip;
}

@include media-breakpoint-up(sm) {
  :host {
    left: unset;
    right: 0.5rem;
    width: auto;
  }
}