<nav class="navbar navbar-expand-md">
  <div class="d-flex container-fluid" style="display: none" [ngClass]="{
      'px-1': layout.ltmd$ | async
    }">
    <span class="navbar-brand flex-grow-1">
      <span class="d-inline-block ml-2">{{ format.appTitleMenu }}</span>
    </span>
    <span>
      <a class="d-table-cell" [ngClass]="{'px-2': layout.gtxxs$ | async}"
        [attr.tabindex]="(opened$ | async) ? undefined : '-1'" href="#"
        (click)="toggle(); $event.preventDefault()">
        <icon size="1.5rem" icon="clear"></icon>
      </a>
    </span>
  </div>
</nav>
<div class="sidenav-menu d-flex flex-column">
  <ng-container *ngFor="let root of roots$ | async; let last = last">
    <ng-container *ngIf="!root.dropdown && (login.user$ | async) == null || isHome(root)">
      <div class="menu-standalone">
        <ng-container *ngTemplateOutlet="menuEntry; context: {$implicit: root.entries[0]}"></ng-container>
      </div>
    </ng-container>
    <ng-container *ngIf="root.dropdown || ((login.user$ | async) != null && !isHome(root))">
      <div class="menu-group" [ngClass]="{'border-bottom-0': last}">
        <div class="group-title">
          {{ root.label }}
        </div>
        <div class="group-entries">
          <ng-container *ngFor="let entry of root.entries; let first = first">
            <ng-container *ngTemplateOutlet="menuEntry; context: {$implicit: entry}"></ng-container>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>

<ng-template #menuEntry let-entry>
  <a [routerLink]="entry.url" [attr.tabindex]="(opened$ | async) ? undefined : '-1'"
    (click)="onClick(entry, $event)" class="menu-item d-flex align-items-center">
    <icon class="mr-3" size="1.4rem" [icon]="icon(entry)"></icon>
    <span class="menu-text">{{ label(entry) }}</span>
  </a>
</ng-template>
