<layout-bar>
  <div fxLayout="row">
    <button fxFlex="40px"
      class="close-sidenav"
      mat-icon-button
      (click)="close()">
      <mat-icon ngClass="mat-24">close</mat-icon>
    </button>
    <div fxFlex="grow"
      class="title">{{ format.appTitleMenu }}</div>
  </div>
</layout-bar>

<div *ngFor="let root of roots | async; let first = first"
  [ngClass]="{
    rootContainer: true,
    guest: login.user == null
  }"
  fxLayout="column">
  <div *ngIf="root.rootMenu !== 'home'"
    [ngClass]="{rootMenu: true, first: first}">{{ root.label }}</div>
  <menu-item *ngFor="let entry of root.entries"
    [ngClass]="{
      first: first,
      home: root.rootMenu === 'home'
    }"
    [active]="(layout.menu | async) === entry.menu"
    [entry]="entry"
    (click)="onMenuClicked($event)"></menu-item>
</div>
