@import 'src/definitions';
@import './top-bar';

:host {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: $zindex-modal;
  top: 0;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  background-color: $sidenav-bg;
  color: $sidenav-color;
  transform: translateX(-100%);
  transition: transform 0.1s;
}

.sidenav-menu icon {
  color: $sidenav-icon-color;
}
@include media-breakpoint-up(sm) {
  :host {
    transition: transform 0.3s;
  }
}
@include media-breakpoint-up(md) {
  :host {
    max-width: 20rem;
    box-shadow: $box-shadow;
  }
}

.navbar-brand {
  font-size: 1.2rem;
}

.sidenav-menu {
  a {
    display: block;
    padding: 0.2rem 0;
    color: $sidenav-color;
  }
  a, a:hover {
    text-decoration: none;
  }
  a:active {
    background-color: $sidenav-active-bg;
  }
}

@include media-breakpoint-up(xs) {
  .sidenav-menu {
    a {
      padding: 0.4rem 1rem;
    }
  }
}

.menu-standalone {
  padding: 0.3rem 0.5rem;
  border-bottom: 1px solid $section-border-color;
  font-size: 1.1em;
  font-weight: $font-weight-bold;
}

.menu-group {
  border-bottom: 1px solid $section-border-color;

  .group-title {
    padding: 0.6rem 0.4rem 0.1rem 0.4rem;
    font-weight: $font-weight-bold;
    font-size: 1.1em;
  }

  .group-entries {
    padding: 0 0.5rem 0.5rem 0.5rem;
  }
}

@include media-breakpoint-up(xs) {
  .menu-standalone {
    padding: 0.5rem;
  }
  .menu-group {
    margin-bottom: 0.3rem;

    .group-title {
      padding: 0.7rem 1.5rem 0.2rem 1.5rem;
    }
  }
}

@media print {
  :host {
    display: none;
  }
}