@import 'src/definitions';

:host {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

:host /deep/ .outer {
  background-color: mat-color($primary);
  color: mat-color($primary, default-contrast);
  padding: 16px 0 17px 0;
}
:host /deep/ .title {
  text-align: center;
  padding: 0;
  font-size: 20px;
}

.rootContainer {
  margin-top: 22px;
}
.rootMenu {
  font-weight: 500;
  padding-top: 14px;
  padding-left: 22px;
  padding-bottom: 4px;
}
.rootMenu:not(.first) {
  border-top: 1px solid mat-color($foreground, divider);
}

:host /deep/ menu-item a {
  width: 100%;
  padding: 0 20px;
}