@import 'src/definitions';

.title {
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.lt-md .title {
  left: -6px;
  position: relative;  
}
.title span {
  font-size: 20px;
}
.logo {
  max-height: 36px;
  margin-right: 22px;
}
:host /deep/ .outer {
  background-color: mat-color($primary);
  color: mat-color($primary, default-contrast);
  padding: 16px;
}
.lt-md :host /deep/ .outer {
  padding-top: 8px;
  padding-bottom: 8px;
}
.menu-toggle {
  left: -10px;
}
.personalMenuToggle {
  text-decoration: none;
  color: mat-color($primary, default-contrast);
}
.personalMenuToggle avatar {
  margin-right: 8px;
}
.user {
  white-space: nowrap;
}