<nav class="navbar navbar-expand-md">
  <div [ngClass]="{
      container: layout.gtsm$ | async,
      'container-fluid': layout.ltmd$ | async,
      'px-1': (layout.xs$ | async) || (layout.sm$ | async)
    }">
    <span class="d-flex justify-content-center mr-2" *ngIf="layout.ltlg$ | async">
      <a class="d-table-cell" [ngClass]="{'px-2': layout.gtxxs$ | async}"
        href="#" (click)="toggleSidenav.emit(); $event.preventDefault()">
        <icon size="1.5rem" icon="menu"></icon>
      </a>
    </span>
    <span class="navbar-brand flex-grow-1">
      <img *ngIf="layout.gtxs$ | async" class="logo d-inline-block align-top mr-3"
        src="images/logo.png">
      <span class="d-inline-block">
        {{ (layout.ltsm$ | async) ? format.appTitleSmall : format.appTitle }}
      </span>
    </span>
    <div *ngIf="user != null" class="personal-menu-toggle">
      <a #personalMenuLink href="#" class="d-flex align-items-center" (click)="togglePersonalMenu.emit(personalMenuLink); $event.preventDefault()">
        <avatar [image]="user.image" icon="account_circle"></avatar>
        <div *ngIf="layout.gtsm$ | async" class="ml-2 personal-menu-toggle-text dropdown-toggle">
          {{ user.display }}
        </div>
      </a>
    </div>
    <div *ngIf="user == null && (layout.ltlg$ | async) && (router.events | async) && router.url !== '/login'"
      class="d-flex justify-content-center mr-2">
      <a routerLink="/login" class="d-flex align-items-center">
        <icon icon="input"></icon>
      </a>
    </div>
  </div>
</nav>
