@import 'src/definitions';
@import './top-bar';

:host {
  display: block;
  /* Is normally sticky... */
  position: -webkit-sticky; /* Safari */
  position: sticky;
  z-index: $zindex-sticky;
  top: 0;
}
@include media-breakpoint-up(lg) {
  /*
   * ... except on large displays when not having integrated menu.
   * In that case, the menu bar is sticky.
   */
  :host:not(.has-menu) {
    position: relative;
  }
}
.logo {
  max-width: 64px;
  max-height: 32px;
  margin-right: $top-bar-item-spacing-spacious;
}
.menu-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
}
.menu-separator {
  opacity: 0.3;
  border-left: 1px solid $top-bar-color;
  margin: 0 $top-bar-item-spacing-spacious;
  height: 50%;
  width: 0;

  &.density-medium {
    margin:
      0 #{$top-bar-item-spacing-medium + $top-bar-item-spacing-custom / 2}
      0 $top-bar-item-spacing-medium;
  }

  &.density-dense {
    margin:
      0 #{$top-bar-item-spacing-dense + $top-bar-item-spacing-custom / 2}
      0 $top-bar-item-spacing-dense;
  }

  &.density-custom {
    margin: 0 $top-bar-item-spacing-custom;
  }

  &:after {
    content: '.';
    visibility: hidden;
  }
}
:host.has-user .menu-separator {
  margin-right: $top-bar-item-spacing-medium;
}

:host ::ng-deep .nav-item .menu-text {
  transition: width ease-in-out 0.4s;
  overflow: hidden;
  height: 100%;
  display: flex;
  align-items: center;
}

:host ::ng-deep a.nav-item {
  & {
    padding-left: $top-bar-item-spacing-spacious;
    padding-right: $top-bar-item-spacing-spacious;
  }

  &.density-medium {
    padding-left: $top-bar-item-spacing-medium;
    padding-right: $top-bar-item-spacing-medium;
  }

  &.density-dense {
    padding-left: $top-bar-item-spacing-dense;
    padding-right: $top-bar-item-spacing-dense;
  }

  &.density-custom {
    padding-left: $top-bar-item-spacing-custom;
    padding-right: $top-bar-item-spacing-custom;
  }
}

#profile-link {
  icon {
    // The icon is smaller than images. So, to make them have the same visual margin, add this.
    margin-left: -4px;
  }
}

@include media-breakpoint-up(lg) {
  :host ::ng-deep a.menu-item:not(.never-active) {
    &::before {
      content: " ";
      display: block;
      position: absolute;
      bottom: 10px;
      height: 1px;
      background-color: $top-bar-color;
      transition: opacity ease-in-out 0.4s;
      opacity: 0;
      left: calc(#{$top-bar-item-spacing-spacious} - 0.1rem);
      width: calc(100% - #{2 * $top-bar-item-spacing-spacious} + 0.2rem);
    }

    &.density-medium::before {
      left: calc(#{$top-bar-item-spacing-medium} - 0.1rem);
      width: calc(100% - #{2 * $top-bar-item-spacing-medium} + 0.2rem);
    }

    &.density-dense::before {
      left: calc(#{$top-bar-item-spacing-dense} - 0.1rem);
      width: calc(100% - #{2 * $top-bar-item-spacing-dense} + 0.2rem);
    }

    &.density-custom::before {
      left: calc(#{$top-bar-item-spacing-custom} - 0.1rem);
      width: calc(100% - #{2 * $top-bar-item-spacing-custom} + 0.2rem);
    }

    &:hover::before {
      opacity: 0.7 !important;
    }

    &.active::before {
      opacity: 1 !important;
    }
  }
}

.personal-label {
  margin-left: 0.5rem;
}
:host.has-menu .personal-label {
  @include text-truncate();
  max-width: 7rem;
}

.custom-menus {
  display: flex;
  align-items: center;
}

:host ::ng-deep {
  .dropdown-toggle::after {
    margin-left: 0.5rem;
  }
  .menu-container, menus, .custom-menus {
    justify-content: flex-end;
  }
  menus, .custom-menus {
    height: 100%;
  }
}

.navbar-brand {
  flex-grow: 1;
}

:host.has-menu ::ng-deep nav {
  .navbar-brand {
    flex-grow: 0;
  }

  .dropdown-menu {
    color: $top-bar-color;
    background-color: $top-bar-bg;
    transform: translateY(-2px) !important;
    border: none !important;
    border-top: 1px solid $top-bar-popup-separator-color !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    padding: 0 !important;
  }
  .sub-menu-item {
    white-space: nowrap;
    padding-top: 0.7rem !important;
    padding-bottom: 0.7rem !important;
  }
  .sub-menu-item {
    border-bottom: 1px solid $top-bar-popup-separator-color;
  }
  .sub-menu-item:last-of-type {
    border-bottom: none;
  }
  .sub-menu-item:hover {
    background-color: $top-bar-sub-item-hover-bg;
    color: $top-bar-sub-item-hover-color;
  }

  @include media-breakpoint-up(lg) {
    height: $top-bar-with-menu-height;
  }
}

body.lg :host ::ng-deep menus {
  .menu-item.density-dense:not(.active) {
    // On large displays, hide non-active labels when dense
    icon {
      margin-right: 0 !important;
    }
    .menu-text {
      width: 0 !important;
    }
  }

  .menu-item:not(.density-dense) {
    // Similarly, never hide them when not dense
    icon {
      margin-right: 0.5rem !important;
    }
    .menu-text {
      width: auto !important;
    }
  }
}

body.xl :host ::ng-deep menus {
  // Never hide labels on xl
  icon {
    margin-right: 0.5rem !important;
  }
  .menu-text {
    width: auto !important;
  }
}


/* Heading actions */

:host ::ng-deep {
  heading-actions, .heading-actions {
    height: 100%;
  }

  .heading-action {
    height: 100%;
    border: none;
    background-color: transparent;
    color: $top-bar-color;

    &:focus, &:active {
      outline: 0;
      box-shadow: none;
      outline: none;
    }
  }

  .heading-actions-menu {
    color: $top-bar-color;
    background-color: $top-bar-bg;
    transform: translateY(-2px) !important;
    border: none !important;
    border-top: 1px solid $top-bar-popup-separator-color !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    padding: 0 !important;
  }
  .heading-action-option {
    background-color: $top-bar-bg;
    color: $top-bar-color;
    white-space: nowrap;
    align-items: center;
    icon {
      color: $top-bar-color;
    }
    &:hover, &:focus {
      background-color: $top-bar-sub-item-hover-bg;
      color: $top-bar-sub-item-hover-color;
      icon {
        color: $top-bar-sub-item-hover-icon-color;
      }
    }
  }
}

/* Dark theme */

body.dark :host ::ng-deep {
  .dropdown-menu {
    color: $top-bar-color-dark;
    background-color: $top-bar-bg-dark;
    border-top-color: $top-bar-popup-separator-color-dark !important;
  }

  .navbar {
    .dropdown-menu {
      color: $top-bar-color-dark;
      background-color: $top-bar-bg-dark;
      border-top-color: $top-bar-popup-separator-color-dark !important;
    }
    .sub-menu-item {
      border-bottom-color: $top-bar-popup-separator-color-dark;
    }
    .sub-menu-item:hover {
      background-color: $top-bar-sub-item-hover-bg-dark;
      color: $top-bar-sub-item-hover-color-dark;
    }

    .menu-separator {
      border-color: $top-bar-color-dark;
    }

    a:not(.never-active):not(.sub-menu-item)::before {
      background-color: $top-bar-color-dark;
    }
  }

  .heading-action {
    color: $top-bar-color-dark;
  }
  .heading-actions-menu {
    color: $top-bar-color-dark;
    background-color: $top-bar-bg-dark;
    border-color: $top-bar-popup-separator-color-dark !important;
  }
  .heading-action-option {
    background-color: $top-bar-bg-dark;
    color: $top-bar-color-dark;
    icon {
      color: $top-bar-color-dark;
    }
    &:hover, &:focus {
      background-color: $top-bar-sub-item-hover-bg-dark;
      color: $top-bar-sub-item-hover-color-dark;
      icon {
        color: $top-bar-sub-item-hover-icon-color-dark;
      }
    }
  }
}
