@import 'src/definitions';

.title {
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.xs :host .title {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 0;
}
.lt-md .title {
  left: -6px;
  position: relative;
}
.title span {
  font-size: 20px;
}
.logo {
  max-height: 28px;
  margin: 0 12px;
}
:host /deep/ .outer {
  padding: 16px;
  min-height: 36px;
}
.lt-md :host /deep/ .outer {
  padding-top: 8px;
  padding-bottom: 8px;
}
:host /deep/ .inner {
  align-items: center;
}
.menu-toggle {
  left: -10px;
}
.xs :host /deep/ {
  .menu-toggle, .back {
    left: -6px;
    z-index: 1;
  }
}
.personalMenuToggle {
  text-decoration: none;
}
.gt-xs :host .personalMenuToggle avatar {
  margin-right: 8px;
}
.user {
  white-space: nowrap;
}