<layout-bar role="top">
  <button class="menu-toggle" fxHide.gt-sm md-icon-button (click)="sidenav ? sidenav.toggle() : null">
    <md-icon class="md-24">menu</md-icon>
  </button>
  <div class="title" fxFlex="grow">
    <span [ngStyle.lt-md]="{'display': sidenav != null && sidenav.opened ? 'none' : ''}">
      {{format.appTitle}}
    </span>
  </div>
  <a #personalMenuToggle *ngIf="user != null" href="#"
    class="personalMenuToggle" fxLayout="row" fxLayoutAlign="center center"
    (click)="personalMenuToggleClick($event)">
    <avatar [image]="user.image"></avatar>
    <span fxHide.xs class="user">{{user.display}}</span>
    <md-icon fxHide.xs class="md-24">arrow_drop_down</md-icon>
  </a>
</layout-bar>