<nav class="navbar navbar-expand-md">
  <div class="navbar-container">
    <span class="d-flex justify-content-center align-items-center" *ngIf="layout.ltlg$ | async">
      <a class="d-flex align-items-center justify-content-center" href="#"
        (click)="toggleSidenav.emit(); $event.preventDefault()">
        <icon size="1.5rem" icon="menu"></icon>
      </a>
    </span>
    <span class="navbar-brand flex-grow-1">
      <img *ngIf="layout.gtxs$ | async" class="logo d-inline-block align-top mr-3"
        src="images/logo.png">
      <span class="d-inline-block">
        {{ (layout.ltsm$ | async) ? format.appTitleSmall : format.appTitle
        }}
      </span>
    </span>
    <div *ngIf="user != null" class="d-flex">
      <a [routerLink]="['users', 'my-profile']" class="d-flex align-items-center justify-content-center flex-grow-1"
        (click)="goToProfile($event)">
        <avatar *ngIf="user.image && (layout.xxs$ | async)" size="small"
          [image]="user.image"></avatar>
        <avatar *ngIf="user.image && (layout.gtxxs$ | async)" size="medium"
          [image]="user.image"></avatar>
        <icon *ngIf="!user.image" icon="account_circle"></icon>
        <div *ngIf="layout.gtsm$ | async" class="ml-2">
          {{ user.display }}
        </div>
      </a>
      <a href="#" *ngIf="(login.user$ | async) != null && (layout.ltlg$ | async)"
        class="d-flex align-items-center flex-grow-1" (click)="logout($event)">
        <icon size="1.4rem" icon="logout"></icon>
        <div *ngIf="layout.gtsm$ | async" class="ml-2" i18n>
          Logout
        </div>
      </a>
    </div>
    <div *ngIf="(login.user$ | async) == null && (layout.ltlg$ | async)"
      class="d-flex justify-content-center login-icon">
      <a routerLink="/login" class="d-flex align-items-center" (click)="goToLogin($event)">
        <icon size="1.4rem" icon="exit_to_app"></icon>
      </a>
    </div>
  </div>
</nav>
