@import 'src/definitions';

nav {
  transition: background-color ease-in-out 0.3s, color ease-in-out 0.4s;
}
.navbar-brand {
  padding: 0px;
}
.menu-container {
  height: 100%;
}

// Contains shared definitions for top-bar and sidenav, as both shows similar top bars
:host ::ng-deep {
  .navbar {
    color: $top-bar-color;
    background-color: $top-bar-bg;
    height: $top-bar-height-xxs;
    padding: 0;

    a {
      display: flex;
      align-items: center;
      height: 2rem;
      margin: 0;
      padding: 0 $top-bar-item-padding-xxs;
      line-height: 1em;
      position: relative;
    }
    a, a:hover {
      color: $top-bar-color;
      text-decoration: none;
    }
  }
  .navbar-container {
    flex-grow: 1;
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 0 $top-bar-item-padding-xxs;
    height: 100%;
  }
  .navbar-brand {
    margin: 0;
    display: flex;
    align-items: center;
    margin-left: $top-bar-item-padding-xxs;
  }
  .top-title {
    font-size: 1rem;
    line-height: 1em;
  }

  @include media-breakpoint-up(xs) {
    .top-title {
      font-size: 1.2rem;
    }
    .navbar {
      height: $top-bar-height-xs;
      a {
        height: 2.6rem;
        padding: 0 $top-bar-item-padding-xs;
      }
    }
    .navbar-container {
      padding: 0 $top-bar-item-padding-xs;
    }
    .navbar-brand {
      font-size: 1.3rem;
    }
  }
  @include media-breakpoint-up(md) {
    .navbar {
      height: $top-bar-height;
      a {
        height: 100%;
        padding: 0 $top-bar-item-padding;
      }
    }
    .navbar-container {
      padding: 0 $top-bar-item-padding;
    }
  }
  @include media-breakpoint-up(lg) {
    .navbar-container {
      padding: 0;
      @include make-container-max-widths();
    }

    .navbar-brand {
      margin-left: 0;
    }
  }

  @media print {
    :host {
      display: none;
    }
  }
}