@import 'src/definitions';

:host {
  width: 100%;
}

button-toggle {
  width: auto;
  flex-grow: 0;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
}

@include media-breakpoint-up(xs) {
  button-toggle {
    margin-top: 0;
    margin-right: 0;
    margin-left: 0.5rem;
  }
  multi-selection-field,
  single-selection-field {
    width: 75%;
  }
}