<page-layout [ready]="data$ | async">
  <ng-container *ngIf="loaded$ | async; else loading">

    <page-content [ngClass]="{'d-none': layout.xxs$ | async}" mode="filters"
      [heading]="i18n.userAlerts.title.search"
      [mobileHeading]="i18n.userAlerts.mobileTitle.search">
      <div class="filters-row">
        <result-type-field [formControl]="resultTypeControl"
          [allowedResultTypes]="allowedResultTypes$ | async">
        </result-type-field>
      </div>
    </page-content>

  </ng-container>
</page-layout>

<ng-template #loading>
  <page-content>
    <spinner></spinner>
  </page-content>
</ng-template>
