<page-layout [ready]="data$ | async">
  <ng-container *ngIf="data then content"></ng-container>
</page-layout>

<ng-template #content>
  <page-content mode="filters" [heading]="data?.type.pluralName"
    [mobileHeading]="data?.type.pluralName"
    [headingActions]="headingActions$ | async">
    <form [formGroup]="form" class="filters-form filters-form-separator">
      <div class="row no-gutters">
        <div class="col-12 col-md-6">
          <user-field labelPosition="side" formControlName="user"
            [label]="i18n.general.user">
          </user-field>
        </div>
        <!-- Force a new line to keep date range in same row -->
        <div class="w-100"></div>
        <div class="col-12 col-md-6">
          <date-field labelPosition="side"
            formControlName="activationBeginDate"
            [label]="i18n.token.activationBeginDate" minDate="past100"
            maxDate="today" fieldSize="full">
          </date-field>
        </div>
        <div class="col-12 col-md-6">
          <date-field labelPosition="side" formControlName="activationEndDate"
            [label]="i18n.token.activationEndDate" minDate="past100"
            fieldSize="full">
          </date-field>
        </div>
        <!-- Force a new line to keep date range in same row -->
        <div class="w-100"></div>
        <div class="col-12 col-md-6">
          <date-field labelPosition="side" formControlName="expiryBeginDate"
            [label]="i18n.token.expiryBeginDate" minDate="past100"
            fieldSize="full">
          </date-field>
        </div>
        <div class="col-12 col-md-6">
          <date-field labelPosition="side" formControlName="expiryEndDate"
            [label]="i18n.token.expiryEndDate" minDate="past100"
            fieldSize="full">
          </date-field>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <multi-selection-field labelPosition="side" formControlName="statuses"
          [emptyLabel]="i18n.general.notApplied" [label]="i18n.general.status"
          [fieldOptions]="statusOptions">
        </multi-selection-field>
      </div>
      <div *ngIf="data.groups?.length > 1" class="col-12 col-md-6">
        <multi-selection-field labelPosition="side"
          hierarchyProperty="groupSet" formControlName="groups"
          [label]="i18n.user.groupFilter">
          <field-option *ngFor="let group of data.groups"
            [value]="ApiHelper.internalNameOrId(group)"
            [internalName]="group.internalName" [id]="group.id"
            [text]="group.name" [parent]="group.groupSet">
          </field-option>
        </multi-selection-field>
      </div>
    </form>
  </page-content>

  <results-layout [results]="results$ | async" [rendering$]="rendering$">
    <mobile-result *mobileResult="let row">
      <div class="d-flex">
        <div>
          <label-value [label]="i18n.general.user" labelPosition="above">
            {{ row.user ? row.user.display : i18n.token.unassigned }}
          </label-value>
          <label-value [label]="isNfc() ? i18n.token.label : i18n.token.value"
            labelPosition="above">
            {{ row.value }}
          </label-value>
          <label-value [label]="i18n.token.creationDate"
            labelPosition="above">
            {{ row.creationDate | date }}
          </label-value>
          <label-value [label]="i18n.token.activationDate"
            labelPosition="above">
            {{ row.activationDate | date }}
          </label-value>
          <label-value [label]="i18n.token.expiryDate" labelPosition="above">
            {{ row.expiryDate | date }}
          </label-value>
          <label-value [label]="i18n.general.status" labelPosition="above">
            {{ statusDisplay(row.status) }}
          </label-value>
        </div>
        <div class="ml-auto text-right d-flex flex-column">
          <button [tooltip]="i18n.general.view" class="btn btn-icon"
            (click)="router.navigate(view(row)); $event.stopPropagation(); $event.preventDefault()">
            <icon icon="search"></icon>
          </button>
        </div>
      </div>
    </mobile-result>

    <table *resultTable class="table table-hover cursor-pointer">
      <thead>
        <th>{{ i18n.general.user }}</th>
        <th>{{ isNfc() ? i18n.token.label : i18n.token.value }}</th>
        <th>{{ i18n.token.creationDate }}</th>
        <th>{{ i18n.token.activationDate }}</th>
        <th>{{ i18n.token.expiryDate }}</th>
        <th>{{ i18n.general.status }}</th>
      </thead>
      <tbody>
        <tr *ngFor="let row of (results$ | async)?.results"
          (click)="router.navigate(view(row)); $event.stopPropagation(); $event.preventDefault()">
          <td>{{ row.user ? row.user.display : i18n.token.unassigned }}</td>
          <td>{{ row.value }}</td>
          <td>{{ row.creationDate | date }}</td>
          <td>{{ row.activationDate | date }}</td>
          <td>{{ row.expiryDate | date }}</td>
          <td>{{ statusDisplay(row.status) }}</td>
        </tr>
      </tbody>
    </table>
  </results-layout>
</ng-template>
