<section [title]="bankingMessages.accountsOverviewTitle()">
  <!-- No accounts: show a notification -->
  <notification *ngIf="noAccountsNotification" [notification]="noAccountsNotification"></notification>

  <md-table *ngIf="noAccountsNotification == null" [dataSource]="dataSource">
    <!-- Account type column -->
    <ng-container mdColumnDef="type">
      <md-header-cell *mdHeaderCellDef>{{bankingMessages.accountType()}}</md-header-cell>
      <md-cell *mdCellDef="let row">{{row.type.name}}</md-cell>
    </ng-container>

    <!-- Number column -->
    <ng-container mdColumnDef="number">
      <md-header-cell *mdHeaderCellDef>{{bankingMessages.accountNumber()}}</md-header-cell>
      <md-cell *mdCellDef="let row">{{row.number}}</md-cell>
    </ng-container>

    <!-- Aggregated column -->
    <ng-container mdColumnDef="aggregated">
      <md-header-cell *mdHeaderCellDef></md-header-cell>
      <md-cell *mdCellDef="let row">
        <div class="cell-main">{{row.type.name}}</div>
        <div>{{row.number}}</div>
      </md-cell>
    </ng-container>

    <!-- Balance column -->
    <ng-container mdColumnDef="balance">
      <md-header-cell *mdHeaderCellDef style="text-align: end">{{bankingMessages.accountBalance()}}</md-header-cell>
      <md-cell *mdCellDef="let row" style="text-align: end">
        <div *ngIf="layout.xs" class="cell-main">{{bankingMessages.accountBalance()}}</div>
        {{row.status?.balance | currency:row.currency}}
      </md-cell>
    </ng-container>
    
    <md-header-row *mdHeaderRowDef="layout.xs ? [] : displayedColumns"></md-header-row>
    <md-row class="clickable" *mdRowDef="let row; columns: displayedColumns;"
      (click)="showHistory(row)"></md-row>
  </md-table>
</section>