@import 'src/definitions';

.status-label, .status-value {
  font-weight: $font-weight-bold;
  white-space: nowrap;
  margin: 0;
  line-height: 1em;
  min-height: 1.4rem;
  display: flex;
  align-items: center;
}
.status-label{
  color: $label-color;
}
.status-value {
  text-align: right;
}

.status-value:not(.status-value-last) {
  margin-bottom: 0.4rem;
}

:host {
  width: 100%;
}

hr {
  margin-top: 0.8rem;
  margin-bottom: 0.9rem;
}

@include media-breakpoint-up(xs) {
  .status-label {
    padding-left: 0.4rem;
  }
}

@include media-breakpoint-up(md) {
  :host {
    padding: 1em 0;
  }
  .status-label, .status-value {
    padding: 0;
  }
  .status-value {
    text-align: left;
  }
}

body.dark {
  .status-label{
    color: $label-color-dark;
  }
}