<page-layout [ready]="data$ | async">
  <ng-container *ngIf="loaded$ | async; else loading">
    <page-content mode="filters" [heading]="title" [headingActions]="headingActions$ | async">
      <form *ngIf="moreFilters$ | async" [formGroup]="form" class="filters-form border-bottom">
        <div class="row">
          <div *ngIf="data.preselectedPeriods?.length > 1" class="col-12 col-md-6">
            <single-selection-field labelPosition="side" formControlName="preselectedPeriod"
              i18n-label label="Period">
              <field-option *ngFor="let period of data.preselectedPeriods"
                [id]="period['id']" [value]="period" [text]="period.name"></field-option>
            </single-selection-field>
          </div>
          <div *ngIf="data.transferFilters?.length > 1" class="col-12 col-md-6">
            <single-selection-field labelPosition="side" formControlName="transferFilter"
              i18n-label label="Filter" i18n-emptyOption emptyOption="Not applied">
              <field-option *ngFor="let filter of data.transferFilters" [id]="filter.id"
                [value]="filter" [text]="filter.name"></field-option>
            </single-selection-field>
          </div>
          <div *ngIf="(form.value || (form.valueChanges | async))?.preselectedPeriod?.begin == null"
            class="col-12 col-md-6">
            <date-field labelPosition="side" formControlName="periodBegin"
              i18n-label label="Begin date" minDate="past5" maxDate="today"
              fieldSize="full">
            </date-field>
          </div>
          <div *ngIf="(form.value || (form.valueChanges | async))?.preselectedPeriod?.end == null"
            class="col-12 col-md-6">
            <date-field labelPosition="side" formControlName="periodEnd"
              i18n-label label="End date" minDate="past5" maxDate="today"
              fieldSize="full">
            </date-field>
          </div>
          <div class="col-12 col-md-6">
            <decimal-field labelPosition="side" formControlName="minAmount"
              i18n-label label="From amount" fieldSize="full" [prefix]="currency.prefix"
              [suffix]="currency.suffix" [scale]="currency.decimalDigits">
            </decimal-field>
          </div>
          <div class="col-12 col-md-6">
            <decimal-field labelPosition="side" formControlName="maxAmount"
              i18n-label label="To amount" fieldSize="full" [prefix]="currency.prefix"
              [suffix]="currency.suffix" [scale]="currency.decimalDigits">
            </decimal-field>
          </div>
          <div class="col-12 col-md-6">
            <single-selection-field labelPosition="side" formControlName="direction"
              i18n-label label="Direction" i18n-emptyOption emptyOption="Any">
              <field-option value="credit" i18n-text text="Credits"></field-option>
              <field-option value="debit" i18n-text text="Debits"></field-option>
            </single-selection-field>
          </div>
          <div class="col-12 col-md-6">
            <user-field labelPosition="side" formControlName="user"
              i18n-label label="User"></user-field>
          </div>
          <div *ngIf="data.transactionNumberMask" class="col-12 col-md-6">
            <input-field labelPosition="side" formControlName="transactionNumber"
              [mask]="data.transactionNumberMask" i18n-label label="Transaction number"></input-field>
          </div>
          <div *ngIf="data.operators?.length > 0" class="col-12 col-md-6">
            <single-selection-field labelPosition="side" formControlName="by"
              i18n-label label="Operator" i18n-emptyOption emptyOption="Any">
              <field-option *ngFor="let operator of data.operators" [value]="operator.id"
                [text]="operator.display"></field-option>
            </single-selection-field>
          </div>
        </div>
      </form>

      <!-- Account status -->
      <div *ngIf="status$ | async as account" [ngClass]="{
          'py-3': layout.gtsm$ | async,
          'pt-ls': (layout.ltmd$ | async) && (moreFilters$ | async)
        }">
        <account-status-view [account]="account" [mode]="(moreFilters$ | async) ? 'period' : 'current'"></account-status-view>
      </div>
      <spinner *ngIf="(status$ | async) == null"></spinner>

    </page-content>

    <results-layout resultType="list" [results]="results$ | async" (update)="update($event)">
      <table *resultTable class="table table-hover cursor-pointer">
        <thead *ngIf="layout.gtxs$ | async">
          <th class="avatar"></th>
          <th i18n>Date</th>
          <th i18n>From / to</th>
          <th *ngIf="layout.gtsm$ | async" width="30%" i18n>Description</th>
          <th i18n class="amount">Amount</th>
        </thead>
        <tbody>
          <ng-container *ngFor="let row of (results$ | async).results">
            <tr (click)="router.navigate(path(row))">
              <td class="avatar" [ngClass]="{
                  'pb-0': layout.xxs$ | async,
                  'border-0': layout.xxs$ | async
                }">
                <avatar [image]="avatarImage(row)" [icon]="avatarIcon(row)"></avatar>
              </td>
              <td *ngIf="layout.xs$ | async">
                <!-- Aggregated cell for xs -->
                <a [routerLink]="path(row)">
                  <div class="cell-text cell-main">{{ subjectName(row) }}</div>
                  <div class="cell-text cell-date">{{ row.date | dateTime }}</div>
                  <div *ngIf="row.description" class="cell-text cell-small">
                    {{ row.description }}
                  </div>
                </a>
              </td>
              <td *ngIf="layout.gtxs$ | async">
                <a [routerLink]="path(row)">
                  {{ row.date | date }}
                </a>
              </td>
              <td *ngIf="layout.gtxs$ | async">
                <a [routerLink]="path(row)">
                  {{ subjectName(row) }}
                </a>
              </td>
              <td *ngIf="layout.gtsm$ | async">
                <a *ngIf="row.description" class="d-inline-block"
                  [routerLink]="path(row)">
                  {{ row.description }}
                </a>
              </td>
              <td class="amount" [ngClass]="{
                  'pb-0': layout.xxs$ | async,
                  'border-0': layout.xxs$ | async
                }">
                <a [routerLink]="path(row)" [ngClass]="{
                        positive: format.isPositive(row.amount),
                        negative: format.isNegative(row.amount)
                      }">
                  {{ row.amount | currency:currency:true }}
                </a>
              </td>
            </tr>
            <tr *ngIf="layout.xxs$ | async" (click)="router.navigate(path(row))">
              <td class="border-bottom-1 pt-0" colspan="3">
                <a [routerLink]="path(row)">
                  <div class="cell-text cell-main">{{ subjectName(row) }}</div>
                  <div class="cell-text cell-date">{{ row.date | dateTime }}</div>
                </a>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </results-layout>
  </ng-container>
</page-layout>

<ng-template #loading>
  <page-content>
    <spinner></spinner>
  </page-content>
</ng-template>

<ng-template #loadingIndicators>
  <spinner class="p-3"></spinner>
</ng-template>
