@import 'src/definitions';

.indicators {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}
.indicator {
  display: inline-flex;
  flex-direction: column-reverse;
  flex: 1;
  align-items: baseline;
}
.indicator .label {
  font-size: 12px;
  opacity: 0.75;
  text-align: right;
  margin-top: 4px;
  white-space: nowrap;
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.indicator .amount {
  font-size: 16px;
  font-weight: 500;
  opacity: 0.85;
  text-align: right;
  color: mat-color($accent, darker);
  white-space: nowrap;
}
.indicator-separator {
  margin: 0 16px;
  border-left: 1px solid mat-color($foreground, divider);
  width: 1px;
}