@import 'src/definitions';

.status-label, .status-value {
  font-weight: $font-weight-bold;
  white-space: nowrap;
  margin: 0;
  line-height: 1.2rem;
}
.status-value {
  text-align: right;
  padding-right: 0.2rem;
}

.status-value:not(.status-value-last) {
  margin-bottom: 0.4rem;
}

:host {
  width: 100%;
}

@include media-breakpoint-up(xs) {
  .status-label {
    padding-left: 0.4rem;
  }
}

@include media-breakpoint-up(md) {
  :host {
    padding: 1em 0;
  }
  .status-label, .status-value {
    padding: 0;
  }
  .status-value {
    text-align: left;
  }
}