<page-layout [loaded]="loaded"
  [title]="messages.settingsTitle()">
  <page-content *ngIf="(loaded | async)">
    <form [formGroup]="form"
      fxLayout="column">
      <mat-slide-toggle fxFlex="grow"
        formControlName="darkTheme">
        {{ messages.settingsDarkTheme() }}
      </mat-slide-toggle>
      <actions>
        <button mat-raised-button
          color="accent"
          (click)="save()">
          {{ messages.save() }}
        </button>
      </actions>
    </form>
  </page-content>
</page-layout>
